<div class="error-selection-modal" >
  <button data-remodal-action="close" class="remodal-close"></button>
  <h2>Error selection</h2>
  <div> you have selected this piece of text: <strong> {{selected_string}}</strong></div>

  <h3>Select the issue type</h3>
  <table>
    <tr>
      <th>Error Type </th>
      <th>Severity </th>
    </tr>
    {{log "Foo" severities }}
    {{#each typologies as |typology| }}
    <tr>
      <td>{{typology.name}}</td>
      <td>
        {{> review_improved/_error_selection_checkboxes }}
      </td>
    {{/each}}
  </table>

  <div class="error-message-container">
    <h3>Type an optional comment here</h3>

    <textarea></textarea>
    <input type="submit" id="error-selection-button" />
  </div>

</div>
