<div class="tab sub-editor review open" id="segment-{{segment_id}}-review">

  <div class="segment-footer-panel segment-footer-left-panel">
    <h3>Original target</h3>

    <div class="original-target-wrapper">
      <div data-mount="original-target" class="original-target">
        <div class="loading">Loading...</div>
      </div>
    </div>
  </div>

  <div class="segment-footer-panel segment-footer-right-panel">
    <h3>Errors</h3>
    <div data-mount="translation-issues">
      <div class="loading">Loading...</div>
    </div>
  </div>
</div>
