<li class="right">
  <a id="segment-{{id_segment}}-button-translated"
     data-segmentid="segment-{{id_segment}}"
     {{#if disabled }} disabled="disabled" {{/if}}
     href="javascript:;" class="approved"
     >APPROVED</a>
  <p>{{ ctrl }}+ENTER</p>
</li>

<li class="right">
  <a class="button button-default goToNextToReview" href="javascript:;">Next</a>
  <p>{{ ctrl }}+DOWN</p>
</li>
