<div class="textarea-container">

  <div class="tab">
    <div class="tab-content errorTaggingArea" readonly="readonly">{{{decoded_translation}}}</div>
    <div class="tab-content editableTarget" eadonly="readonly">{{{decoded_translation}}} </div>
    <div class="tab-content trackChanges" readonly="readonly">{{{ track_changes }}}</div>
  </div>

  <ul class="tabs-menu">
    <li class="current">
      <a href="#" data-ref=".errorTaggingArea">Error tagging</a>
    </li>
    <li>
      <a href="#" data-ref=".editableTarget">Post edited</a>
    </li>
    <li>
      <a href="#" data-ref=".trackChanges">Track changes</a>
    </li>
  </ul>
</div>
