<div class="textarea-container">
  <div class="tab">
    <div class="errorTaggingArea" readonly="readonly">{{{decoded_translation}}}</div>
  </div>

  <ul class="tabs-menu">
    <li class="current"><a href="#tab-1">Error tagging</a></li>
    <li><a href="#tab-2">Post edited</a></li>
    <li><a href="#tab-3">Diff</a></li>
  </ul>
</div>
