<div class="textarea-container">

  <div class="tab">
    <div class="tab-content issuesHighlightArea errorTaggingArea" >{{{decoded_translation}}}</div>
    <div class="tab-content editableTarget" >{{{ decoded_translation }}} </div>
    <div class="tab-content trackChanges" >Track changes
      not ready yet</div>
  </div>

  <ul class="tabs-menu">
    <li class="current">
      <a href="#" data-id="errorTaggingArea" data-ref=".errorTaggingArea">Error tagging</a>
    </li>
    <li>
      <a href="#" data-id="editableTarget" data-ref=".editableTarget">Editable target</a>
    </li>
    <li>
      <a href="#" data-id="trackChanges" data-ref=".trackChanges">Track changes</a>
    </li>
  </ul>
</div>
