<div class="issuesHighlightArea">{{{decoded_translation}}}</div>

{{#if versions}}
<div class="version-picker-container">

  <label>Select a version: </label>

  <select class="version-picker">
      <option {{#unless revertingVersion}}
        selected="selected"
        {{/unless}}
        value="">current</option>
      {{#each versions as |version|}}
        <option
        {{#ifCond ../revertingVersion version.version_number }}
          selected="selected"
        {{/ifCond}}
          value="{{version.version_number}}" >{{ formatDate version.created_at 'lll' }}</option>
      {{/each}}
    </select>

</div>
{{/if}}
