{{#if versions}}

<li>
  <label>Select a version: </label>
  <select class="version-picker" name="version">
    <option {{#unless revertingVersion}}
      selected="selected"
      {{/unless}}
      value="">current</option>
    {{#each versions as |version|}}
      <option
      {{#ifCond ../revertingVersion version.version_number }}
        selected="selected"
      {{/ifCond}}
        value="{{version.version_number}}" >{{ version.version_number }}</option>
    {{/each}}
  </select>
</li>

{{/if}}
