# IDE stuffs
.settings
.idea
.vscode
.project
nbproject/
webgrind/
_dic_cache
.phpunit.result.cache

# Configuration files
.num_processes
inc/*.dat
inc/oauth_config.ini
/inc/oauth_config.*.ini

inc/Error_Mail_List.ini
inc/config.ini
inc/config.ini*
inc/config.test.ini
inc/config.development.ini

inc/.globalmessage.ini
inc/oauth-token-key.txt
.passwd.ini

# Ignore artifacts
public/css/build/app.css
public/css/build/app.css.map
public/css/build/*-build.css
public/js/build
public/css/build
/coverage

# NodeJs stuff
nodejs/*.log
node_modules

# Npm lock file
package-lock.json

# Development env config files
.agignore
.vagrant

# More stuffs
Test_Local/*
unitTest/xhGui/
unitTest/coverage/*
local_storage
test_storage
lib/View/fileupload/thumbnails/*
tmp/

task_manager_config.ini

# advised local folder for test files
test-storage

# composer files
composer.phar
vendor

.env

phinx.yml

.lastjobprocessed_jpeer
.maxJobToProcess_jpeer

mmt_fallback_key.ini

inc/google_translate/mmt_fallback_credentials.json
.DS_Store
certs
/public/build/
/public/buildResources/
/lib/View/*.html
/lib/View/APIDoc.php
/.phpunit.result.cache
/.phpunit.cache
/CallGraph
/PHP-SQL-Parser
/storage