# Configuration files
inc/login_secret.dat
inc/config.inc.php
inc/oauth_config.ini
inc/Error_Mail_List.ini
inc/config.ini
lib/Utils/Analysis/.num_processes

# Ignore artifacts
public/css/app.css
public/js/app.js
public/js/cat.js
public/js/cat.min.js

# NodeJs stuff
nodejs/*.log
node_modules

# Development env config files
.agignore
.vagrant
