php_value magic_quotes_gpc off
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond "%{HTTP_HOST}"   "!^www\.matecat\.com" [NC]
RewriteRule ^robots\.txt$ robots-whitelabel.txt [L]

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

#RewriteRule ^offline\.html$ /lib/View/offline.html [L]
#RewriteCond %{REQUEST_URI} !/offline.html [NC]
#RewriteCond %{REQUEST_URI} !/public/build/runtime\.(.+)\.js [NC]
#RewriteCond %{REQUEST_URI} !/public/build/commonCss\.(.+)\.(css|js) [NC]
#RewriteCond %{REQUEST_URI} !/public/build/images/(.+)\.svg [NC]
#RewriteCond %{REQUEST_URI} !/img/meta/favicon(.+)\.svg [NC]
#RewriteRule $ /offline.html [R=307,L]
RewriteCond %{REQUEST_URI} /offline.html
RewriteRule $ / [R=307,L]

RewriteRule ^$ index.php?action=newProject [QSA,L]
RewriteRule ^fileupload/$ lib/View/fileupload/index.php [QSA,L]

RewriteRule ^action/convertFile[/]?$ index.php?action=convertFile [QSA,L]

RewriteRule ^(translate)/([^/]*)/([^/]*)/([^/\-]*)-(?:[0-9]*-)?([^/]*)[/]*$ index.php?action=cat&jid=$4&password=$5 [L]

RewriteRule ^(revise)[/]?$ index.php?action=cat [L]
RewriteRule ^(revise)([^/]*)?/([^/]*)/([^/]*)/([^/\-]*)-(?:[0-9]*-)?([^/]*)[/]*$ index.php?action=cat&jid=$5&password=$6&revision=$2 [L]

RewriteRule ^activityLog/([^/]*)/([^/]*)[/]?(download)?$ index.php?action=activityLog&id_project=$1&password=$2&download=$3 [QSA,L]

RewriteRule ^utils/xliff-to-target$ index.php?action=xliffToTargetView [L]
RewriteRule ^api/docs$ lib/View/APIDoc.php [L]

# Page Views (replacing old viewController until we can definitely remove it by routing everything through the router)
RewriteRule ^manage$ router.php [QSA,L]
RewriteRule ^analyze/(.*)$ router.php [L]
RewriteRule ^jobanalysis/(.*)$ router.php [L]
RewriteRule ^signin$ router.php [L]
RewriteRule ^revise-summary/(.*)$ router.php [QSA,L]
RewriteRule ^views/(.*)$ router.php [QSA,L]


RewriteRule ^api/(.*)$ router.php [QSA,L]
RewriteRule ^webhooks/(.*)$ router.php [QSA,L]
RewriteRule ^gdrive/(.*)$ router.php [QSA,L]

RewriteRule ^utils/pee$ router.php [L]

RedirectMatch 404 ^/\.git
RedirectMatch 404 ^/vendor
RedirectMatch 404 ^/storage

</IfModule>

ErrorDocument 401 /lib/View/401.html
ErrorDocument 403 /lib/View/403.html
ErrorDocument 404 /lib/View/404.html
ErrorDocument 409 /lib/View/409.html
ErrorDocument 410 /lib/View/410.html
ErrorDocument 503 /lib/View/503.html
ErrorDocument 500 /lib/View/500.html

SetEnvIf ^ ^ no-gzip
SetEnvIfNoCase Request_URI \.(?:css|js)$ !no-gzip

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/html "access plus 1 hour"
    ExpiresByType text/css "access plus 1 hour"
    ExpiresByType text/javascript "access plus 1 hour"
    ExpiresByType application/javascript "access plus 1 hour"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType image/jpg "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/vnd.microsoft.icon "access plus 1 month"
    ExpiresByType image/ico "access plus 1 month"
</IfModule>

<IfModule mod_headers.c>
    Header append Vary User-Agent env=!dont-vary
    Header always append X-Frame-Options SAMEORIGIN
    Header always append X-Content-Type-Options nosniff
    Header always append X-XSS-Protection "1; mode=block"
</IfModule>

php_value display_errors 0
php_value log_errors 1
php_value error_log storage/log_archive/php_errors.txt
php_value short_open_tag on
