php_value magic_quotes_gpc off
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteCond "%{HTTP_HOST}"   "!^www\.matecat\.com" [NC]
RewriteRule ^robots\.txt$ robots-whitelabel.txt [L]


#RewriteRule ^offline\.html$ /lib/View/offline.html [L]
#RewriteCond %{REQUEST_URI} !/offline.html [NC]
#RewriteCond %{REQUEST_URI} !/public/css/build/common.css [NC]
#RewriteCond %{REQUEST_URI} !/public/img/logo.png [NC]
#RewriteCond %{REQUEST_URI} !/public/img/offline.png [NC]
#RewriteRule $ /offline.html [R=307,L]
RewriteCond %{REQUEST_URI} /offline.html
RewriteRule $ / [R=307,L]


RewriteCond %{QUERY_STRING} submit=Search
RewriteRule ^$ /support [QSA,L]

RewriteRule ^$ index.php?action=newProject [QSA,L]

RewriteRule ^action/convertFile[/]?$ index.php?action=convertFile [QSA,L]

RewriteRule ^(translate)[/]?$ index.php?action=cat [L]
RewriteRule ^(translate)/([^/]*)/([^/]*)/([^/\-]*)-(?:[0-9]*-)?([^/]*)[/]*$ index.php?action=cat&jid=$4&password=$5 [L]

RewriteRule ^(revise)[/]?$ index.php?action=cat [L]
RewriteRule ^(revise)([^/]*)?/([^/]*)/([^/]*)/([^/\-]*)-(?:[0-9]*-)?([^/]*)[/]*$ index.php?action=cat&jid=$5&password=$6&revision=$2 [L]

RewriteRule ^(analyze-old)/([^/]*)/([^/]*)-([^/]*)$ index.php?action=analyzeOld&pid=$3&password=$4 [L]
RewriteRule ^(jobanalysis-old)/([^/]*)-([^/]*)-([^/]*)/?$ index.php?action=analyzeOld&pid=$2&jid=$3&password=$4 [L]

RewriteRule ^(analyze)/([^/]*)/([^/]*)-([^/]*)$ index.php?action=analyze&pid=$3&password=$4 [L]
RewriteRule ^(jobanalysis)/([^/]*)-([^/]*)-([^/]*)/?$ index.php?action=analyze&pid=$2&jid=$3&password=$4 [L]

RewriteRule ^(login)[/]?$ index.php?action=loginPage [L,QSA]

RewriteRule ^(oauth)/(response)[/]?$ index.php?action=oauthResponseHandler [L,QSA]

RewriteRule ^(manage)[/]?$ index.php?action=manage [QSA,L]
RewriteRule ^(manageNew)[/]?$ index.php?action=manageNew [QSA,L]

RewriteRule ^(editlog)/([^/]*)-([^/]*)/?$ index.php?action=editlog&jid=$2&password=$3 [QSA,L]
RewriteRule ^(revise-summary)/([^/]*)-([^/]*)/?$ index.php?action=reviseSummary&jid=$2&password=$3 [L]
RewriteRule ^(referenceFile)/([^/]*)/([^/]*)/([^/]*)?$ index.php?action=referenceFile&job_id=$2&job_password=$3&segment_id=$4 [L]

RewriteRule ^activityLog/([^/]*)/([^/]*)[/]?(download)?$ index.php?action=activityLog&id_project=$1&password=$2&download=$3 [QSA,L]

RewriteRule ^utils/xliff-to-target$ index.php?action=xliffToTargetView [L]
RewriteRule ^api/docs$ lib/View/APIDoc.php [L]

RewriteRule ^api/v1/new$ index.php?api=true&action=newDetatched [QSA,L]

RewriteRule ^(api)[/]?([^/]*)?[/]?$ index.php?api=true&action=$2 [QSA,L]
RewriteRule ^api/(.*)$ router.php [QSA,L]
RewriteRule ^webhooks/(.*)$ router.php [QSA,L]
RewriteRule ^gdrive/(.*)$ router.php [QSA,L]

RewriteRule ^utils/pee$ router.php [L]



RewriteRule ^TMX/([^/]*)/([^/]*)[/]?$ index.php?action=exportTMX&jid=$1&jpass=$2 [L]
RewriteRule ^SDLXLIFF/([^/]*)/([^/]*)/([^/]*)[/]?$ index.php?action=downloadFile&id_job=$1&password=$2&filename=$3&forceXliff=1 [L]
RewriteRule ^translation/([^/]*)/([^/]*)[/]?$ index.php?action=downloadFile&id_job=$1&password=$2 [L]

RedirectMatch 404 /\.git
RedirectMatch 404 /vendor
RedirectMatch 404 /storage

</IfModule>

ErrorDocument 401 /lib/View/401.html
ErrorDocument 403 /lib/View/403.html
ErrorDocument 404 /lib/View/404.html
ErrorDocument 409 /lib/View/409.html
ErrorDocument 503 /lib/View/503.html
ErrorDocument 500 /lib/View/500.html

<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType text/html "access plus 1 hour"
ExpiresByType text/css "access plus 1 hour"
ExpiresByType text/javascript "access plus 1 hour"
ExpiresByType application/javascript "access plus 1 hour"
ExpiresByType image/gif "access plus 1 month"
ExpiresByType image/jpeg "access plus 1 month"
ExpiresByType image/jpg "access plus 1 month"
ExpiresByType image/png "access plus 1 month"
ExpiresByType image/vnd.microsoft.icon "access plus 1 month"
ExpiresByType image/ico "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
</IfModule>

<IfModule mod_deflate.c>
#SetOutputFilter DEFLATE

AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript
AddOutputFilterByType DEFLATE font/truetype
AddOutputFilterByType DEFLATE application/xml application/xhtml+xml appalication/rss+xml
AddOutputFilterByType DEFLATE application/javascript application/x-javascript application/json
#AddOutputFilterByType DEFLATE application/x-httpd-php
</IfModule>
	
<IfModule mod_setenvif.c>
SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ no-gzip dont-vary
SetEnvIfNoCase Request_URI \.(?:exe|t?gz|zip|bz2|sit|rar)$ no-gzip dont-vary
SetEnvIfNoCase Request_URI \.(?:avi|mov|mp3|mp4|rm)$ no-gzip dont-vary
SetEnvIfNoCase Request_URI \.pdf$ no-gzip dont-vary

BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
</IfModule>

<IfModule mod_headers.c>
SetEnvIfNoCase Origin "https?://.*?$" CORS=$0
Header set Access-Control-Allow-Origin %{CORS}e env=CORS
Header set Access-Control-Allow-Credentials "true"
Header set Access-Control-Allow-Methods "POST,PUT,OPTIONS,DELETE"
Header append Vary User-Agent env=!dont-vary
Header always append X-Frame-Options SAMEORIGIN
Header always append X-Content-Type-Options nosniff
Header always append X-XSS-Protection "1; mode=block"
</IfModule>

php_value display_errors 0
php_value log_errors 1
php_value error_log storage/log_archive/php_errors.txt
php_value short_open_tag on
