RewriteEngine On
RewriteRule ^$ index.php?action=newProject [L]
RewriteRule ^(translate)/$ index.php?action=cat [L]
RewriteRule ^(translate)/([^/]*)/([^/]*)/([^/]*)-([^/]*)$ index.php?action=cat&jid=$4&password=$5 [L]
RewriteRule ^(analyze)/([^/]*)/([^/]*)-([^/]*)$ index.php?action=analyze&pid=$3&password=$4 [L]
RewriteRule ^(manage)/([^/]*)/([^/]*)-([^/]*)$ index.php?action=manage&pid=$3&password=$4 [L]

