/node_modules
/public/api/dist
/public/**/build
/public/css/fonts
/public/css/sass/components/segment/Editor.scss
/public/holidays
/public/js
/nodejs
/lib
/test
/inc
/README.md
/LICENSE.md
/composer.*

package-lock.json
*.min.js
