<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
             bootstrap="tests/test_helper.php"
             colors="true"
             processIsolation="false"
             stopOnError="false"
             stopOnFailure="false"
             syntaxCheck="true"
             reportUselessTests="true"
             beStrictAboutTestsThatDoNotTestAnything="true">
    <php>
        <includePath>tests/TestHelpers</includePath>
    </php>
    <testsuites>
        <!--<testsuite name="cURL based tests">-->
            <!--<directory>test/integration</directory>-->
        <!--</testsuite>-->
        <testsuite name="Unit tests">
            <directory>tests/unit/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./lib</directory>
        </whitelist>
    </filter>

</phpunit>
