<phpunit bootstrap="tests/test_helper.php"
             colors="true"
             processIsolation="false"
             stopOnError="false"
             stopOnFailure="false"
             syntaxCheck="true"
             reportUselessTests="true"
             beStrictAboutTestsThatDoNotTestAnything="true">
    <php>
        <includePath>test/support</includePath>
        <includePath>test/support/lib</includePath>
    </php>
    <testsuites>
        <!--<testsuite name="cURL based tests">-->
            <!--<directory>test/integration</directory>-->
        <!--</testsuite>-->
        <testsuite name="Unit tests">
            <directory>test/unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
