@use '../commons/colors';
.instructions-modal {
  min-height: 230px;
  max-width: 900px;
  h2 {
    padding-top: 16px;
  }

  span.fileFormat {
    padding: 4px 5px 4px 47px;
    background-size: 25px !important;
    line-height: 25px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .ui.accordion {
    max-height: 400px;
    overflow: auto;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    border-radius: 0px;
    margin-bottom: 20px;
    ul {
      list-style: disc;
      padding-left: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
      li {
        margin-bottom: 4px;
        line-height: 24px;
      }
    }
    .title {
      display: flex;
      align-items: center;
      color: colors.$grey6;
      &:hover {
        color: colors.$black;
      }
      &.current {
        //color: #fff;
        background: colors.$grey3;
        &:hover {
          background: colors.$grey3;
          //color: #fff;
        }
        .current-icon {
          display: block;
          float: right;
          margin-left: 10px;
        }
      }
    }
    .transition {
      line-height: 25px;
      padding: 10px 72px;

      p {
        line-height: 26px;
        word-break: break-word;
      }
    }
  }
  .instructions-container {
    background-color: colors.$white;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 400px;
    overflow: auto;
    p {
      line-height: 26px;
      word-break: break-all;
    }
    blockquote {
      border-left: 5px solid colors.$grey8;
      margin: 1.5em 10px;
      padding: 0.5em 10px;
    }
  }

  .description {
    margin: 10px 20px 0 20px;
  }
}

.instructions-accordion {
  .accordion-component-title {
    border-radius: unset !important;
  }

  &:not(:first-child) {
    .accordion-component-title {
      border-top: solid 1px colors.$grey2;
    }

    &:has(.accordion-expanded) {
      .accordion-component-title {
        border-radius: unset !important;
      }
    }
  }

  &:not(:last-child) {
    .accordion-component-content {
      border-radius: unset !important;
    }
  }

  &:first-child {
    .accordion-component-title {
      border-radius: 8px 8px 0 0 !important;
    }
  }

  &:last-child {
    .accordion-component-title:not(.accordion-expanded) {
      border-radius: 0 0 8px 8px !important;
    }
  }

  &:has(.accordion-expanded) {
    .accordion-component-title > :first-child {
      color: black;
    }
  }
}

.instructions-accordion {
  .accordion-component-title {
    border-radius: unset !important;
  }

  &:not(:first-child) {
    .accordion-component-title {
      border-top: solid 1px colors.$grey2;
    }

    &:has(.accordion-expanded) {
      .accordion-component-title {
        border-radius: unset !important;
      }
    }
  }

  &:not(:last-child) {
    .accordion-component-content {
      border-radius: unset !important;
    }
  }

  &:first-child {
    .accordion-component-title {
      border-radius: 8px 8px 0 0 !important;
    }
  }

  &:last-child {
    .accordion-component-title {
      border-radius: 0 0 8px 8px !important;
    }
  }

  &:has(.accordion-expanded) {
    .accordion-component-title > :first-child {
      color: black;
    }
  }
}

.instructions-accordion {
  .accordion-component-title {
    border-radius: unset !important;
  }

  &:not(:first-child) {
    .accordion-component-title {
      border-top: solid 1px colors.$grey2;
    }

    &:has(.accordion-expanded) {
      .accordion-component-title {
        border-radius: unset !important;
      }
    }
  }

  &:not(:last-child) {
    .accordion-component-content {
      border-radius: unset !important;
    }
  }

  &:first-child {
    .accordion-component-title {
      border-radius: 8px 8px 0 0 !important;
    }
  }

  &:last-child {
    .accordion-component-title:not(.accordion-expanded) {
      border-radius: 0 0 8px 8px !important;
    }
  }

  &:has(.accordion-expanded) {
    .accordion-component-title > :first-child {
      color: black;
    }
  }

  &:first-child:nth-last-child(1) {
    .accordion-component-title:not(.accordion-expanded) {
      border-radius: 8px !important;
    }
  }
}
