@use '../tokens/colors';
@use 'commons/variables';

.supported-formats .fileformat {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - 94px);
  padding: 24px;
  gap: 16px;
  overflow: auto;
}

.supported-formats .fileformat h4 {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 6px 16px;
  font-size: variables.$font-size-small;
  line-height: 24px;
  background-color: colors.$grey100;
}

.supported-formats .fileformat .format-box {
  display: grid;
  grid-template-columns: 180px 1fr;
  float: none;
}

.supported-formats .fileformat .format-box .file-list {
  display: grid;
  align-items: center;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(112px, 1fr));
  gap: 2px 8px;
  padding: 4px 0 4px 16px;
}

.supported-formats .fileformat .format-box .file-list > div {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 2px;
  font-size: variables.$font-size-xsmall;

  > svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
  }

  > span {
    white-space: nowrap;
  }
}

.supported-formats .fileformat .zip-note {
  margin: 0;
  font-size: variables.$font-size-xsmall;
  color: colors.$grey600;
}
