/* GENERALI */
body {margin:0;   min-width: 1150px;padding: 30px 0 0 0!important;font-family:calibri, Arial, Helvetica, sans-serif;text-align:center;background:#f0f0f0;}
th, td { padding: 0px; }
table { border-collapse:separate; border-spacing: 0; border: 0; width: 100%;}
header{background:#4D4D4D;top:0;left:0;text-align:left;width:100%;position:fixed;z-index:999999999;border-bottom:1px solid #5F5F5F;padding:2px 0 0px 0;height:45px;}
.logo{float:left;border:0;background:url(../img/logo.png) 0px 2px no-repeat;width:145px;height:31px; background-size: 130px 26px;margin-top:4px}
/*.wrapper{width:960px;margin:0 auto;text-align:left}*/
.wrapper{width:96%;min-width:1024px;margin:0px auto 0 auto;padding:5px 0 0 0;font-size:14px;position:relative;text-align:left;}
header .wrapper{width:98%;min-width:960px;margin:0px auto 0 auto;padding:5px 0 0 0;width:92%;font-size:14px;position:relative;text-align:left;}
h1{font-size:30px;margin:30px 0 0px 0;max-height:80px;overflow:hidden;}
h2{font-size:28px;margin:-30px 0 0px 0 ;color:#6d6e71;font-weight:normal;display:none}
.details h2{margin:10px 0 -10px 0 ; }
.details{position:relative;z-index:999;background:#c5351c url(../img/warning.png) 920px center no-repeat;background-size:20px 20px;border-radius:5px;padding:20px;border:1px solid #9e280e;color:#fff !important;-moz-box-shadow: 0 1px 3px #ccc;-webkit-box-shadow: 0 1px 3px #ccc;width:918px;display:block;margin-bottom:20px;}
.percentuage{position:absolute;margin:-54px -5px 0 0;right:0;}
.body h3{margin:33px 0 10px 0;padding-top:10px; float:left;}
.body h2:first-child{border-top:0 !important;padding-top:0px !important;margin:20px 0 10px 0 !important;}
.part1files, .part2files, .part3files, .part4files{display:none;}
.right {float:right;}
.left{float:left;}
h3{margin:0px 0 0 0;padding:0;font-size:22px;color:#333 !important;font-weight:800;}
/*
a{color:#0d8fb2;text-decoration:underline}
a:hover{text-decoration:none}
*/
.box{position:relative}
.payable {border:1px solid #333 !important; color:#000;position:relative;}
.payable span{color:#000 !important;}
.savings{background:#197b30;border-top:1px solid #197b30;margin:0;padding:10px 0;color:#fff;font-weight:bold;}	
.days{font-size:14px !important;font-weight:normal;}
.word-number{font-size:35px;font-weight:bold;	height:20px;margin:5px auto -5px auto;	display:block;line-height:22px;}
.loading{background: url(../img/loading.gif) 50% 5px no-repeat;background-size: 15px 15px;display:block;}
.cost-table{color:#6d6e71;text-align:center;font-size:20px;list-style:none;float:left;width:29.2%;margin:0 0px 0px 0;padding:0; }
.cost-table .box{color:#aaa;text-align:center;width:100%;margin:37px 0px 0px 0;height:90px;padding:20px 0 20px 0;background:#f0f0f0;border:1px solid #ccc;float:left;border-radius: 3px;}
.costbig {width:34.9%;margin-right:40px !important}
.costbig .box{font-size:130%;padding:20px 10px 20px 10px !important; }
.costbig .word-number{font-size:200%;margin:5px auto -20px auto;}
.costbig .days{margin-top:4px !important;display:block;}
.red{color:#FF0000;font-weight:bold}
.desc{font-size:14px;line-height:20px;}
.desc p {float:left}
.cost-table li{text-align:left;padding:0;margin:0;}
.count{float:right;font-size:12px;margin:-20px -15px 0 0;display:none}
.count a{padding-right:10px;color:#0d8fb2}
.count a:hover{text-decoration:none}
.count li{float:left;list-style:none;margin-right:10px;}
.payable{background:#c4df9b;-moz-box-shadow: 0 0px 6px #888;-webkit-box-shadow: 0 0px 6px #888;color:#000 !important}
.first{width:250px;font-weight:bold;}
.numbers{text-align:right;width:100px;}
.last{float:right !important;}
.error-count{color:#FF0000;font-size:16px}
.last a{display:block;background:#f0f0f0;color:#333;text-decoration:none;padding:5px 10px;font-size:13px;font-weight:bold;-moz-border-radius: 15px;
		border-radius: 15px;-moz-box-shadow: 0 1px 1px #888;
		-webkit-box-shadow: 0 1px 1px #888;
		box-shadow: 0 1px 1px #888;border:1px solid #ccc}
.body{background:#f0f0f0;margin:0px 0 0px 0;border-top:1px solid #ababac;padding:0px 0 100px 0;}
.cl{clear:both}

/* TABELLA */
.tablestats{font-size:16px;clear: both;}
.tablestats th, .tablestats td{ background:#fff;padding:7px;text-align:right;border-bottom:1px solid #ccc;border-right:1px solid #ccc;font-weight:normal;}
.tablestats th{border-top:1px solid #ccc;background:#F6F6F6;text-align:center;font-size:14px;}
.tablestats th:first-child {width: 35%; min-width: 250px; border-left:1px solid #ccc;}
.tablestats td:first-child {width: 35%; min-width: 250px;border-left:1px solid #ccc;}
.tablestats th.new, .tablestats td.stat_new,
.tablestats th.repetition, .tablestats td.repetition,
.tablestats th.internal-matches, .tablestats td.internal-matches,
.tablestats th.tm-partial, .tablestats td.tm-partial,
.tablestats th.tm-100, .tablestats td.tm-100,
.tablestats th.tm-100-context, .tablestats td.tm-100-context,
.tablestats th.mt, .tablestats td.mt {width: 60px;}
.languages{font-weight:bold;font-size:18px;text-align:left !important; width:35%;}
.loadingbar.start #shortloading {
    display: none;
}

/* SPLIT JOB */
.uploadbtn, .continuebtn, .standardbtn {
	background: #09beec; font-weight: bold;
	/*   background: -webkit-gradient(linear, left top, left bottom, from(#09beec), to(#119ec4));
	   background: -moz-linear-gradient(top,  #09beec,  #119ec4);
	   background: linear-gradient(top,  #09beec,  #119ec4);
	   padding: 3px 20px;
	   margin: 12px 10px 20px 10px;
	   float: left;
   
   width: auto !important;*/
	width:88px;
	-webkit-transition: all  100ms ease-in;
	-moz-transition: all  100ms ease-in;
	font-size: 20px !important;
	cursor: pointer;
	color: #fff;
	-moz-box-shadow: 0 1px 2px #ccc;
	-webkit-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
	border: 1px solid #666;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration: none;
	opacity: 0.9;
	text-align:center;
	padding: 5px 10px !important;
	margin: 0 0 -3px 10px !important;
	float: right;
}
.standardbtn {
    width: auto !important;
}
.downloadAnalysisReport {
    margin-top: -8px !important;
    text-decoration: underline;
    cursor: pointer;
}
.analysisNotPerformed {
	margin-top: -8px !important;
    text-decoration: underline;
}
span.complete {
    margin-right: 30px !important;
}

.uploadbtn:hover, .continuebtn:hover, .standardbtn:hover {-moz-box-shadow: 0 1px 2px #666;
				  -webkit-box-shadow: 0 1px 2px #666;
				  box-shadow: 0 1px 2px #666;
				  background: #12b4df;}
.continuebtn,  .continuebtn:hover {background:#7eaf3e;}

.uploadbtn:active, .continuebtn:active, .modal.outsource .standardbtn:active {-moz-box-shadow: inset 0 0 1px 1px #888;
				   -webkit-box-shadow: inset 0 0 1px 1px #888;
				   box-shadow: inset 0 0 1px 1px #888;}

.empty:hover .totaltable{background:#FF0000 !important}

.icon-spin {
	display: inline-block;
	-webkit-animation: rotation 2s infinite linear;
	width: 13px;
	height: 30px;
	padding-right: 3px;
}

.loader.active {
	cursor:progress!important;
}

.uploadloader {
	background: url(../img/loader.gif) center center no-repeat;
	width: 20px;
	height: 20px;
	float: right;
	margin-top: 5px;
	display: none;
	position: absolute;
	right: 144px;
	background-size: 20px 20px;
}

.dosplit.splitbtn.disabled {
background: #ccc;
}

.splitbtn-cont {
	margin: 0 auto;
	overflow: hidden;
	margin-top: 20px;
	margin-right: 140px;
	margin-top: 40px;
	float: right;
	font-size: 20px;
	color:#666;
}
	.jobcontainer.splitted .splitbtn-cont {
		display: none;
	}
.splitbtn-cont .label {padding:5px 10px;}

.nosplit
{
	float: right;
	font-size: 20px;
	color: #666;
	display: none;
	margin: 45px 140px 0 0;
}
	.jobcontainer.splitted .nosplit
	{
		display: block;
	}
.btnsplit {
	width: 300px;
	float: right;
	margin: 0 auto;
	padding:10px 0 20px 0;
	overflow: hidden;
}
.none {display:none;}
.splitbtn.done {background:#09beec;float: right;
				padding: 2px 15px 2px 15px!important; margin-bottom:0;}
.splitbtn.done:hover {background:#12b4df;}
.popup-split input[type="text"][disabled] {background:#f0f0f0;}
.stopsplitbtn{
	display: block;
	float:right;
	background: #f26522 url(../img/xbtn.gif) 13px 14px no-repeat !important;
	font-weight:bold;
	padding:5px 15px 5px 30px !important;
	width:auto !important;
	-webkit-transition: all  100ms ease-in; 
	-moz-transition: all  100ms ease-in;
	font-size:20px !important;
	cursor:pointer;
	color:#fff;
	-moz-box-shadow: 0 1px 2px #ccc;
	-webkit-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;border:1px solid #666;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-decoration:none;
	opacity:0.9;
}

.splitbtn, .mergebtn {margin: 0 0 10px 0;
					  font-weight: bold;
					  width: auto !important;
					  -webkit-transition: all 100ms ease-in;
					  -moz-transition: all 100ms ease-in;
					  font-size: 20px !important;
					  cursor: pointer;
					  color: #fff;
					  background: #12b4df;
					  -moz-box-shadow: 0 1px 2px #ccc;
					  -webkit-box-shadow: 0 1px 2px #ccc;
					  box-shadow: 0 1px 2px #ccc;
					  border: 1px solid #666;
					  -moz-border-radius: 2px;
					  border-radius: 2px;
					  text-decoration: none;
					  opacity: 0.9;
					  padding: 5px 10px 5px 10px !important;
					  margin-left: 12px;
					  float: left;
}

.splitbtn-cont.disabled {
	background: none;
	border: none;
	opacity: 1!important;
}


div.popup-split .uploadbtn {padding:2px 15px!important;}

.splitbtn:hover {-moz-box-shadow: 0 1px 2px #666;
				 -webkit-box-shadow: 0 1px 2px #666;
				 box-shadow: 0 1px 2px #666;}


.mergebtn:hover {-moz-box-shadow: 0 1px 2px #666;
				 -webkit-box-shadow: 0 1px 2px #666;
				 box-shadow: 0 1px 2px #666;}

.splitbtn:active, .mergebtn:active, .btn-cancel:active {-moz-box-shadow: inset 0 0 1px 1px #888;
														-webkit-box-shadow: inset 0 0 1px 1px #888;
														box-shadow: inset 0 0 1px 1px #888;}

.splitselect
{
    float: left;
    width: auto;  
    height: 37px;  
    padding: 4px;   
    color:#666;
    font-size: 18px;  
    border: 1px solid #ccc;  
}

.splitmsg {display:none;color:#666;margin-top:5px;}
div.disabled .splitmsg, div.disabled .mergebtn {display:block!important; float:left;}
div.disabled .label, div.disabled .splitselect, div.disabled .splitbtn {display:none;}

.cancel-btn{background:#f26522 url(../img/xbtn.gif) 13px 14px no-repeat !important}
.cancel-btn:hover{background:#d1581c url(../img/xbtn.gif) 13px 14px no-repeat !important}

.stopsplitbtn:hover {	background: #d1581c url(../img/xbtn.gif) 13px 14px no-repeat !important;}
.empty:hover .totaltable{background:#FF0000 !important}
.operation-btn{background: #09beec;background: -webkit-gradient(linear, left top, left bottom, from(#09beec), to(#119ec4));
			   background: -moz-linear-gradient(top,  #09beec,  #119ec4);
			   background: linear-gradient(top,  #09beec,  #119ec4);font-weight:bold;padding:4px 10px;width:auto !important; margin:0px 3px;-webkit-transition: all  100ms ease-in; -moz-transition: all  100ms ease-in;font-size:16px !important;cursor:pointer;color:#fff;-moz-box-shadow: 0 1px 2px #ccc;-webkit-box-shadow: 0 1px 2px #ccc;box-shadow: 0 1px 2px #ccc;border:1px solid #666;-moz-border-radius: 2px;border-radius: 2px;text-decoration:none;float:left;opacity:0.9;}

.subfile{
	display: none;
	/*
			visibility: hidden;
			position: absolute;
			left: -10000px;
	*/
}

.subfile.open {
	display: table-row;
}

.subfile td{
	color:#000;background:#f8f8f8;
}



.subfile p{margin:0;	word-break: break-word;
		   padding:0 5px;}
.totaltable td{font-size:18px;}
.totaltable td.languages{border-left:1px solid #ccc;}
table tr.totaltable td.stat-payable {
	background: #c4df9b;
}
table tr.subfile td.stat-name
{
	border-left: 1px solid #ccc;
	text-align: left !important;
	  font-size: 15px;
}
table tr.totaltable td.total
{
	text-align: right;
}
.tablespace td{
	background:#F0F0F0 !important;
	padding:0 !important;
	border-bottom: 0!important;
	border-left:0 !important;
	border-right:0 !important;height:0px !important;line-height:5px !important}


tbody:nth-child(3) tr td:not(.empty) {
  border-top: 1px solid #ccc;
}

.empty{border:0 !important;background:#F0F0F0 !important;width: 120px;
}

.operation-btn:hover{opacity:1;}

/* SPLIT JOB POPUP */

.popup-split .popup {
	width:670px;margin:0 auto;position:fixed;padding:0px 0 0px 0;top:50%;left:50%;margin:-300px 0 0 -350px;background:#fff;box-shadow: 0px 0px 25px #000;border-radius:7px;text-align:left;font-size:18px;border:1px solid #666;
}

/* split box */

/*.grayed{display:none;background:#000;width:100%;height:100%;position:fixed;top:0;left:0;opacity: 0.2;z-index:9;}*/
.split-box, .split-box2{display:none;width:670px;margin:0 auto;position:fixed;padding:0px 0 0px 0;top:50%;left:50%;margin:-300px 0 0 -350px;z-index:999999;background:#fff;box-shadow: 0px 0px 25px #000;border-radius:2px;text-align:left;font-size:18px;border:1px solid #666;}
.split-box .input, .split-box3 .input, .split-box2 .input{font-size:16px;width:20px;margin-top:-1px;text-align:center;}
.split-box3 {margin: 5px 15px;}
.split-box  .input-big, .split-box3 .input-big, .split-box2  .input-big{width:60px;text-align:right;width:70px;margin-right:5px;padding:5px;font-weight:bold;}
.input-small{height:20px;float:left;text-align:right;width:70px;margin-right:0px;padding:6px 5px 5px 5px;font-size:18px;background:#fff;border:1px solid #ccc;background-size:13px 11px}

.split-box h2, .split-box2 h2{text-align:left;margin:0px 20px !important;padding:20px 0 5px 0;font-weight:bold;font-size:36px;}
.split-box h3, .split-box2 h3{text-align:left;float:left;margin:0 5px 0 20px;}

.split-box h2 span, .split-box2 h2 span{float:right;font-size:18px;margin:13px 12px 0 0;color:#333}


.split-box .jobs, .split-box3 .jobs{list-style:none;padding:0;overflow-y:auto;max-height:325px;width:645px; margin-top:20px;}
.split-box .jobs li, .split-box3 .jobs li{float:left;margin:0px 0 10px 0;padding:0px;width:99%;border-radius: 3px;background:#f0f0f0;border:1px solid #ccc}

.popup-split .btn-cancel {padding:2px 15px!important;}

.split-box3 .jobs li.void{ border:1px solid red !important; }

.error-perc{float:left;width:82%;margin:25px 0 -20px 20px;text-align:right;color:#FF0000;font-size:12px}

.error-message {
	background: #d65757;
	color: #fff;
	margin: 0 0 10px 0;
	float: left;
	font-weight: bold;
	width: 100%;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid #c45f5f;
}

.jobcontainer {
padding-bottom:50px;
	border-bottom: 1px dashed #ccc;
}

div.wrapper div:last-child {border:none;}

.error-message p {padding: 0 10px 0 10px;}
/* Fix for IE 6: */
*html .fileinput-button {
	margin-right: -2px;
}
*html .fileinput-button .ui-button-text {
	line-height: 24px;
}
*html .fileupload-buttonbar .ui-button {
	margin-left: 3px;
}

/* Fix for IE 7: */
*+html .fileinput-button {
	margin-right: 1px;
}
*+html .fileinput-button .ui-button-text {
	line-height: 24px;
}
*+html .fileupload-buttonbar .ui-button {
	margin-left: 3px;
}

.visible {display:block!important;}

.btnsplit .disabled, .splitbtn.done, div.popup-split .uploadbtn {
    margin: 0 0 0 35px !important;
}

.disabled,
.disabled:hover,
.disabled:active 
{
    opacity: 0.5 !important;
    cursor: default;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #666;
    background: #ccc;
}


.splitmore{float:right;margin:0px 20px 0 0}

.short-message{color:#999;font-size:12px;text-align:center;line-height:16px}


.total strong{display: inline-block;width: 80px;}

.total .wordsum{font-size:20px;color:#000;text-align:right;margin-right:15px; margin-top:10px;/*margin:0 45px 0 0;padding:0px 20px 0 20px;*/}

/*
.popup-split.error-number .total .wordsum .total-w {
	text-decoration: line-through;
}
*/

.total .wordsum .total-w,
.total .curr-w,
.total .diff-w
{
	float: right;
	clear: both;
	width: 83px;
	font-weight: bold;
}

.total-btn{float:right;margin:0 50px 10px 0}



.endfile td{padding:20px 10px 30px 10px;border:none !important; background:#f0f0f0}
.sendit p, .job p, .input{float:left}
.sendit .input, .job .input{margin:12px 5px 0 10px;}
.sendit{margin:5px -10px -25px 0}
.job{border-top:1px solid #ccc;height:50px;margin:-10px 0 20px 0;padding:0 0 0 20px;float:left;width:935px;background:#fff;border-bottom:1px dotted #ccc;display:none}
.add{padding:2px 10px !important;margin-top:10px;float:right}
.filedetails{color:#999;background-size:12px 12px;float:left;font-weight:normal;color:#0d8fb2}
a:hover{text-decoration:none}


.clicked{-moz-box-shadow: inset 0 0 5px 5px #888;
		 -webkit-box-shadow: inset 0 0 5px 5px #888;
		 box-shadow: inset 0 1px 2px 2px #a7a9ac;background:#ccc}
.trados{
	text-decoration: line-through;color:#FF0000
}

.saving{color:#999;font-size:16px}


/*upload table*/



.dragging .file-drop{display:block !important}
.uploaded.dragging .file-drop{display:none !important}
.uploaded .upload-footer{display:block !important}
.file-drop{margin:40px 0 50px 0!important}
#fileupload{margin:0 !important;padding:0 !important}
.upload-table
{

	border:1px solid #ccc;

	background:#fbfbfb;

	width:960px;
	margin:-4px auto 0 auto;
}
.upload-table td{padding:10px;border-bottom:1px solid #ccc}

.upload-table tr:hover{background:#fff}
.upload-table tr{-webkit-transition: all  200ms ease-in; -moz-transition: all  100ms ease-in;}


.error-count
{
    display: none;
    margin-right: 15px;
    font-size: 20px;
    text-align: right;
    color: #d65757!important;
    margin-top: -20px!important;
}
.popup-split.error-number .error-count
{
    display: block;
}
.popup-split.error-number .error-count.current{
    color: black !important;
}

.preview{width:40px;}
.name{width:230px;}
.size{width:200px}
.more{font-weight:bold !important;text-decoration:none;}
.more-table{font-weight:bold;color:#fff;}
.more-table:hover{text-decoration:none;}

.upload-table, .content{display:none;}
.content{margin-bottom:20px;}



.input{padding:5px;width:250px;	border:1px solid #ccc;
	   -moz-border-radius: 2px;
	   border-radius: 2px;}



.wrapper-container {background:#fff !important;width:100%;}






.job-details{float:right}
.job-perc{color:#999;margin:0;float:left;padding:10px;font-size:18px;color:#000 ;text-align:right;}

.job-perc p{float:left;font-size:14px;margin:1px 6px 0 3px !important}
.job-perc .operation-btn{opacity:0.5;background: -webkit-gradient(linear, left top, left bottom, from(#b7b7b7), to(#999));
						 background: -moz-linear-gradient(top,  #b7b7b7,  #999);
						 background: linear-gradient(top,  #b7b7b7,  #999);

						 padding:5px 6px 6px 6px; margin:2px 3px 0 3px;}
.jobs li:hover .operation-btn{opacity:0.7;}

.job-perc .operation-btn:hover{opacity:1 !important;}




.job-words{color:#999;margin:0;float:left;padding:22px 20px 0 0;width:220px;font-size:14px;color:#666 ;text-align:right;}

.total-words{margin:0;float:right;padding:10px 10px 25px 10px;font-size:14px;color:#999 ;text-align:right;}
.total-words {margin:0;float:right;padding:12px 10px 15px 10px;color:#000 !important;text-align:right;}
.jobs h4{margin:11px 0 0 10px;float:left;}
.split-box .uploadbtn{float:right;padding:10px 20px;margin-right:20px;}
.splitnum {float: left;
	  margin-top: 2px;
		   margin-right: 10px;
		   font-weight: bold;}

/*scrollbar*/

.split-box3 ::-webkit-scrollbar, .outsource.modal .popup-box ::-webkit-scrollbar  {
    width: 16px;
}

.split-box3 ::-webkit-scrollbar-track, .outsource.modal .popup-box ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);


}

.split-box3 ::-webkit-scrollbar-thumb, .outsource.modal .popup-box ::-webkit-scrollbar-thumb {

	background:#ccc url(../img/bgscrollbar.png) center center no-repeat;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/*end-scrollbar*/


.editarea
{
	resize: none;
	overflow:hidden;


	border:1px solid transparent;

	transition: all  50ms ease-in;
	-webkit-transition: all  50ms ease-in;
}
/*.editarea:hover 
	{
	border:1px solid #666;
	box-shadow: inset 0 1px 2px #888;
	-webkit-box-shadow: inset 0 1px 2px #888;
	cursor:text;
	color:#000;
	}
*/

.close{background:url(../img/x.png) center 1px no-repeat;width:22px;height:20px;display:block;position:absolute;right:0;top:0;}
.close:hover, .close:focus, .x-stats:hover, .x-com:hover, .x-addcom:hover{background:url(../img/x.png) center -30px no-repeat;width:22px;height:20px;display:block;position:absolute;right:0;}

.billed-message{display:none;text-align:center;width:100%;margin:7px 0px 20px 0;padding:20px 0 20px 0;background:#ffffdd;border:1px solid #ccc;float:left;border-radius: 3px;-webkit-transition: all  200ms ease-in; -moz-transition: all  100ms ease-in;font-size:18px}
.promo-text
{
    display: none;
    background: url(../img/percentuage.png) 0 0 no-repeat;
    width:109px;
    height:109px;
    font-size:16px;
    padding:26px 0 0 5px;
    line-height:14px;
    text-align:center;
    color:#fff;
    right:-16px;
    top:-45px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    position:absolute;
}


.popup-opened{overflow:hidden}

.loadingbar{background:#fff;position:absolute;z-index:9;width:100%;top:360px;left:0;z-index:100;padding:15px 0 10px 0;-webkit-transition: all  300ms ease-in; -moz-transition: all  300ms ease-in;height:0;overflow:hidden;padding:0;}
.loadingbar p
{
    float: left;
    color: #666;
    font-size: 18px;
    margin: 0px 10px 0 0px;
    padding: 0px 0 0 0px;
	line-height: 13px;
}
.loadingbar p.label
{
    background: url(../img/loading.gif) left center no-repeat;
    background-size: 20px 20px;
}
.loadingbar p.loaded{background: none;}

.open{height:28px;padding:15px 0 7px 0px;border-top:1px solid #ababac;}

#shortloading p{margin:0 auto;	
}

.meter {
	height: 15px;  /* Can be anything */
	width:55%;
	/*
		float: none;
	*/
	float:right;
	-moz-box-shadow: inset 0 1px 3px 0px #ccc;
	-webkit-box-shadow: inset 0 1px 3px 0px #ccc;
	box-shadow: inset 0 1px 3px 0px #ccc;
	margin:-2px 0 0 5px !important;
	/*
		margin:3px auto 0px auto !important;
	*/
	border:1px solid #939598;
	background:#fff;
	border-radius:10px;
	overflow:hidden;
	margin-right:105px !important;
}

.approved-bar
{
    width: 0%;
    background-color: #7cc576;
}

.draft-bar  {	background-color: #d0d1d1;}
.rejected-bar  {	background-color: #ed1c24;}
.translated-bar{	background-color: #09beec;}


.meter > a {
	display: block;
	height: 100%;
	float:left;
	cursor:default !important;
	border-radius:10px;
	position: relative;

	border-right:1px solid #939598;
	overflow: hidden;
	-webkit-transition: all  200ms ease-in; transition: all  200ms ease-in;
	animation: myfirst 5s;
	-moz-animation: myfirst 5s; /* Firefox */
	-webkit-animation: myfirst 5s; /* Safari and Chrome */
	-o-animation: myfirst 5s; /* Opera */
}





.meter > a:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background-image:
		-webkit-gradient(linear, 0 0, 100% 100%,
		color-stop(.25, rgba(255, 255, 255, .2)),
		color-stop(.25, transparent), color-stop(.5, transparent),
		color-stop(.5, rgba(255, 255, 255, .2)),
		color-stop(.75, rgba(255, 255, 255, .2)),
		color-stop(.75, transparent), to(transparent)
		);
	background-image:
		-webkit-linear-gradient(
		-45deg,
		rgba(255, 255, 255, .2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 75%,
		transparent 75%,
		transparent
		);
	background-image:
		-moz-linear-gradient(
		-45deg,
		rgba(255, 255, 255, .2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 75%,
		transparent 75%,
		transparent
		);
	background-image:
		-ms-linear-gradient(
		-45deg,
		rgba(255, 255, 255, .2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 75%,
		transparent 75%,
		transparent
		);
	background-image:
		-o-linear-gradient(
		-45deg,
		rgba(255, 255, 255, .2) 25%,
		transparent 25%,
		transparent 50%,
		rgba(255, 255, 255, .2) 50%,
		rgba(255, 255, 255, .2) 75%,
		transparent 75%,
		transparent
		);
	z-index: 1;
	-webkit-background-size: 50px 50px;
	-moz-background-size:    50px 50px;
	background-size:         50px 50px;
	-webkit-animation: move 2s linear infinite;

	overflow: hidden;
}

#close{position:absolute;right:30px;display:none}




/*browser supported box */

.iepopup{width:800px;margin:0 auto;position:fixed;padding:30px 0 30px 0;display:none;top:50%;left:50%;margin:-230px 0 0 -400px;z-index:999999;background:#fff;box-shadow: 0px 0px 25px #000;border-radius:2px;font-size:18px;border:1px solid #666;}
.iepopup{display:block;}
.iepopup ul{height:200px;margin:30px auto 0 auto;width:90%;}
.iepopup img{border:0}
.iepopup ul li{float:left;width:33.3%;}
.iepopup ul a{width:100%;float:left;padding:0px 0 0 0;display:block;color:#39699A}
.iepopup a:hover{text-decoration:none}
.logoblack{border:0;background:url(../img/logoblack.png) 0px 2px no-repeat;display:block;width:145px;height:31px; background-size: 130px 28px;clear:both;margin:0 auto 10px auto}
.nobrowser #outer, .nobrowser header, .nobrowser footer, .nobrowser .wrapper{display:none !important}
.iepopup p{line-height:27px}


footer{background:#6d6e71;height:27px;text-align:right;border-top:1px solid #333;color:#fff;position:fixed;bottom:0;left:0;width:100%;z-index:999999999999;}
footer a {color:#fff;text-shadow:none;}
footer a:hover{text-decoration:none}

#authentication
{
	float:right; 
	margin-left:50px;
}

#longloading
{
	display: none;
}        

#longloading .details
{
	font-size: 80%;
}        

#standard-equivalent-words .days,
#standard-equivalent-words .promo-text
{
	display: none;
} 

#matecat-equivalent-words
{
    margin: 0 20px;
}      

.payable-rate-breakdown
{
    font-style: italic;
    background: #fff;
    border-left: 1px solid #ccc;
}         
.numfiles
{
    margin-left: 10px;
}         
.outsource.modal section.outs
{
	display: none;
}

.outsource.modal .popup {
top: 25%;
}
.chunks-container
{
	max-height: 250px;
	overflow: auto;
}

@media only screen and (max-width : 1370px) {
	
	.tablestats th, .tablestats td {
		padding: 5px;
	}
}

@media only screen and (max-width : 1270px) {
	
	.tablestats th, .tablestats td {
		padding: 4px;
	}
	.wrapper {
  		width: 98%;
	}
}

@media only screen and (max-width : 1200px) {

	.tablestats th {
		font-size: 13px;
	}

	.tablestats th:first-child,
	.tablestats td:first-child {
		min-width: 200px;
	}

	.subfile p {
		width: 215px;
	}
}
