.comment-area{position:absolute;width:250px;z-index:9999;right:-307px;}
.comment-area ul{border:1px solid #36698e;background:#fff;padding:0px 0px 0 0px;text-align:left;font-size:12px;-moz-border-radius: 2px;border-radius: 2px;line-height:16px;margin-top:-1px;border-bottom:none}
.comment-area li{padding:5px 0 5px 0;border-bottom:1px solid #36698e;}
.corner{background:url(../img/comment-corner.png) 0 0 no-repeat;display:block;width:25px;height:20px;position:absolute;margin:10px 0 0 -14px;}
.date{color:#999;float:right}
.comment-area ul p{margin:0;padding:0 10px}
.spancomm {background:url(../img/bg-cmt.png) 0 0 repeat-x;padding:2px 5px 2px 0; }
.spancomm .lft, .spancomm .rgt{background:url(../img/cm-left.png) 0 0 no-repeat;display:block;width:10px;height:25px;float:left;margin:-3px 0 0 0}
.spancomm .rgt{background:url(../img/cm-right.png) 0 0 no-repeat;}
.con-input{float:left;width:77%;margin:10px 0 30px 10px;border:1px solid #727272;-moz-box-shadow: inset 0 1px 2px #888;
-webkit-box-shadow: inset 0 1px 2px #888;-moz-border-radius: 2px;border-radius: 2px;box-shadow: inner 0 1px 2px #888;padding:5px 5px 6px 5px;}
.comment-area .h-notification{text-align:left;margin:0;padding:2px 0 0 10px;}
.comment-area .x{margin-top:-2px;height:22px}



.main{position:relative;width:60%;margin-left:5%}
.color{top:-30px}
