.green{	background: #7cc576 url(../img/meter-bg.png) 0px 0px repeat-x;}
.orange  {	background: #f5f5f5 url(../img/meter-bg.png) 0px 0px repeat-x;}
.red  {	background: #f0a3a3 url(../img/meter-bg.png) 0px 0px repeat-x;}
.blue{	background: #09beec url(../img/meter-bg.png) 0px 0px repeat-x;}
