/*
 ==============================
        LEXIQA OVERRIDES
 ==============================
 */


@import url(//fonts.googleapis.com/css?family=Open+Sans:300);

#lexiqabox {   
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    width: 60px;
    padding-top: 8px;
    margin-left: 20px;
}

#lexiqabox.warningbox {
    background-color: #046380;
}

#lexiqabox.warningbox:hover {
    background-color: #068BB4;
}

#lexiqabox .numbererror {
    color: #046380;
    background: #efecca;
    border: none;
    font-weight: normal;
    margin-left: 5px;
    margin-top: -4px;
}

.lexnotific::before {
    content: "lexiQA";
    padding-top: 8px;
    display: block;
    color: #777;
}

.lexnotific a {
    position: absolute;
    display: none;
}

#go2lexiqa {
    color: #efecca;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

#go2lexiqa:hover {
    cursor: pointer;
}

#go2lexiqa::after {
    content: "lexiQA";
    padding-top: 12px;
    display: block;
    width: 100%;
    height: 100%;
}

#go2lexiqa::after,
.lexnotific::before {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}