/*
 ==============================
        LEXIQA OVERRIDES
 ==============================
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

#lexiqabox {   
    text-align: center;
    width: 60px;
    padding-top: 8px;
    margin-left: 20px;
}

#lexiqabox .numbererror {
    color: #046380;
    background: #efecca;
    border: none;
    font-weight: bold;
    margin-left: 8px;
    margin-top: 12px;
}

.lexnotific::before {
    content: url(../img/lexiqa_whitebg.svg);
    display: block;
    height: 100%;
}

#lexiqabox.warningbox {
    background-color: #046380;
}

#lexiqabox.warningbox::after {
    content: url(../img/lexiqa_bluebg.svg);
    display: block;
}


/*
 ==============================
        POWERTIP STYLING
 ==============================
 */
#powerTip {
	background-color: #046380;
    color: #fff;
	border-radius: 0; 
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	font-size: 0.8rem;
	line-height: 1.5rem;
	padding: 0;
    transform: scale(1,1);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

#powerTip.sw::before {
    border-bottom: 10px solid #046380;
} 

#powerTip .tooltip-error-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#powerTip .tooltip-error-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    max-width: 100%;
    border-bottom: 1px solid #efecca;
}

#powerTip .tooltip-error-category {
    padding: 0.5rem;
}

#powerTip .tooltip-error-ignore {
	background-color: #efecca;
	color: #046380;
    padding: 0.5rem;
	text-decoration: none;
	cursor: pointer;
}

#powerTip .tooltip-error-ignore:hover {
	background-color: white;
}