body{padding-top:30px;font-family:Calibri, Arial, Helvetica, sans-serif;text-align:center}
header
{
	background-color: #4D4D4D;
	top:0;
	left:0;
	text-align:left;
	width:100%;
	position:fixed;
	z-index:999999999;
	border-bottom:1px solid #5F5F5F;
	padding:4px 0 5px 0;
	height:38px;
	margin-top: 0;
}


h1{font-size:40px}

body.manage h1
	{
	margin-bottom: 0px;
	z-index: 1;
	float: left;
	}

body.manage h2
	{
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 5px;
    word-break: break-all;
	}
		
h2{font-size:30px;margin:0;}
h3{margin:0px 0 0 0;padding:0;font-size:18px;color:#999999 !important;font-weight:normal !important;}
.tablestats{border-right:1px solid #ccc;}
.tablestats th{background-color:#efefef;}

.tablestats td, .tablestats th{border-bottom:1px solid #ccc;border-left:1px solid #ccc;padding:6px 8px;margin:1px 0;text-align:center}
.tablestats  tr:hover{background:#f7f8f9}
.tablestats{border-top:1px solid #ccc;margin-bottom:40px;-moz-box-shadow: 0 1px 2px #ccc;background:#fff}
.tablestats.continue{margin-bottom:4px !important;}
.logo{margin-top:6px!important;}

.error-symbol{
	position:absolute;
	margin:42px 0 0 -30px;
	display:block;
	width:23px;
	height:23px;
}

body.manage th.header
	{
	float: none;
	width: auto;
	color: #000;
	}


.field
	{
	float: left;
	width: 35%;
	margin: 10px 0 20px 0;
	}

.field h3
	{
	float: left;
	width: auto;
	margin-right: 40px;
	font-weight: bold !important;
	font-family: Calibri, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000 !important;
	}

body.manage .head
	{
/*
        float: left;
	width: 100%;
*/
display: block;	
margin-bottom: 8px;
	}

body.manage th
	{
	font-size: 16px;
	}

body.manage .field .value
	{
	font-size: 16px;
	}

body.manage .urls
	{
	float: left;
	width: 100%;
	text-align: left;
	}



body.manage .buttons
	{
	float: right;
/*
	width: 10%;
*/
	}

	body.manage tr.disabled a.change
		{
		display: none;
		}
body.manage a.copy
	{
	width: 16px;
	height: 16px;
	margin-top: 24px;
	text-indent: -10000px;
	position: absolute;
	background: url(../img/copy_url.gif) 0 0 no-repeat;
	}


table .btn{width:auto !important;padding:0px 20px 0 20px !important;}

body.manage .article:last-child .wrapper-dropdown-5 .dropdown {
	bottom: 100%;
top: inherit;
border-top: 0;
}

body.manage .article:last-child .wrapper-dropdown-5 .dropdown li:first-child{
border-top:1px solid #ccc;
}



body.manage input[type=button].revise {
	cursor: pointer;
	height: 29px;
	width: 77% !important;
	border-radius: 2px 0 0 2px;
	-moz-box-shadow: 0 1px 2px #ccc;
	-webkit-box-shadow: 0 1px 2px #ccc;
	box-shadow: 0 1px 2px #ccc;
}



	body.manage tr[data-status=active] .actions a.resume,
	body.manage tr[data-status=active] .actions a.unarchive,
	body.manage tr[data-status=cancelled] .actions a.cancel,
	body.manage tr[data-status=cancelled] .actions a.archive,
	body.manage tr[data-status=cancelled] .actions a.unarchive,
	body.manage tr[data-status=archived] .actions a.archive,
	body.manage tr[data-status=archived] .actions a.resume
		{
		display: none;
		}

		
body.manage a.cancel-project,
body.manage a.archive-project,
body.manage a.resume-project,
body.manage a.unarchive-project,
body.manage a.activity-log {
	text-decoration: none;
	color:#999;
	margin-left: 10px;
	font-size: 16px;
	position: relative;
}

body.manage a.cancel-project:hover,
body.manage a.archive-project:hover,
body.manage a.resume-project:hover,
body.manage a.unarchive-project:hover,
body.manage a.activity-log:hover {
	color:#000;
}

/*body.manage a.archive-project,
body.manage a.resume-project,
body.manage a.unarchive-project
	{
	display: inline-block;
	position: relative;
	width: 18px;
	height: 18px;
	text-indent: -10000px;
	margin-left: 10px;
	top: 5px;
	background: url(../img/sprite.png) -13px -78px no-repeat;
	}
*/
	body.manage .article.allCancelled a.cancel-project
		{
		display: none;
		}	

/*body.manage a.archive-project
	{
	background: url(../img/sprite.png) -13px -59px no-repeat;
	}*/
	body.manage .article.allArchived a.archive-project,
	body.manage[data-filter-status=archived] a.archive-project,
	body.manage[data-filter-status=cancelled] a.archive-project
		{
		display: none;
		}
/*body.manage a.resume-project
	{
	background: url(../img/sprite.png) -13px -98px no-repeat;
	}*/
	body.manage[data-filter-status=archived] a.resume-project
		{
		display: none;
		}

/*body.manage a.unarchive-project
	{
	background: url(../img/sprite.png) -13px -39px no-repeat;
	}*/
	body.manage[data-filter-status=cancelled] a.unarchive-project
		{
		display: none;
		}

	
body.manage tr.alt
	{
	background: #f8f8f8;
	}

body.manage .progress div.progress-bar
	{
	border: 1px solid #999;
	height: 16px;
	background: #fff;
	}

body.manage .progress div span
	{
	float: left;
	height: 16px;
	background: #999;
	}

body.manage .article
	{
	float: left;
	display: block;
	width: 100%;
	margin-bottom: 20px;
	}
	body.manage .article.invisible
		{
		display: none;
		}
/*
.tablefilter
	{
	float: right;
	padding-top: 24px;
	}

.tablefilter label
	{
	color: #666;
	}
*/
body.manage object
	{
	margin-bottom: 25px !important;
	margin-left: 10px !important;
	}

body.manage .meter
	{
	width: 100%;
	margin-top: 5px !important;
	}

body.manage th.create-date
	{
	width: 100px;
	}

body.manage th.job-detail
	{
	width: 33%;
	}
body.manage th.private-tm-key
	{
	min-width: 180px;
	}

body.manage th.words
	{
	width: 80px;
	}
	
body.manage th.progress
	{
	width: 10%;
	}

body.manage th.actions
	{
	width: 150px;
	}

body.manage tr.row
	{
	display: none;
	}
	body.manage[data-filter-status=active] tr[data-status=active]
		{
		display: table-row;
		}

.tm-key .key,
.tm-key .rgrant,
.tm-key .wgrant
{
    min-width: 140px;
    float:left;
    padding: 6px 4px;
    display: block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
}

.tm-key .rgrant,
.tm-key .wgrant{
    min-width: 40px;
    width: 40px;
}

.tm-key .clear{
    clear: both;
}

#projects {
float: left;
margin-bottom: 30px;
}

/*	
body.manage tr.disabled
	{
	display: none;
	}
	body.manage div.showCancelled tr.disabled
		{
		display: table-row;
		}

body.manage tr.archived
	{
	display: none;
	}
*/
body.manage tr[data-status=archived]
	{
	color: #C41919;
	display: none;
	}
	body.manage[data-filter-status=archived] tr[data-status=archived]
		{
		display: table-row;
		}
/*
	body.manage .article.showArchived tr[data-status=archived]
		{
		display: table-row;
		}
*/		
body.manage tr[data-status=cancelled]
	{
	color: #999;
	display: none;
	}
	body.manage[data-filter-status=cancelled] tr[data-status=cancelled]
		{
		display: table-row;
		}
/*
	body.manage .article.showCancelled tr[data-status=cancelled]
		{
		display: table-row;
		}
*/	
body.manage .article.allCancelled thead th
	{
	color: #999;
	}
/*
	body.manage .article.showCancelled.allCancelled thead th
		{
		color: #000 !important;
		}
*/
body.manage td.words
	{
	text-align: right;
	}

th.header {
	background: #efefef url(../img/bg.gif) right center no-repeat !important;
}
th.headerSortUp, th.tablesorter-headerAsc {
	background: #efefef url(../img/asc.gif) right center no-repeat !important;
}
th.headerSortDown, th.tablesorter-headerDesc {
	background: #efefef url(../img/desc.gif) right center no-repeat !important;
}

body.manage .pagination
	{
	border: none;
	margin-top: 40px;
	}
	body.manage .pagination.bottom
		{
		margin-bottom: 40px;
		}
body.manage .pagination a,
body.manage .pagination strong
	{
	border: none;
	color: #000;
	padding-left: 7px !important;
	padding-right: 7px !important;
	text-decoration: underline;
	}
body.manage .pagination strong
	{
	color: #999;
	margin-right: 0 !important;
	text-decoration: none;
	}



body.manage .pagination a:hover
	{
	text-decoration: underline;
	}

body.manage .pagination a:active
	{
	box-shadow: none;
	-webkit-box-shadow: none;
	}

body.manage .pagination a.previous
	{
	color: #000;
/*
	border-right: 1px solid #999;
*/
	}
	
body.manage .pagination a:hover
	{
	background: none !important;
	}

body.manage header .filter
	{
	display: block !important;
	text-decoration: none;
	color: #eee;
	padding: 12px;
	font-size: 20px;
	text-align: center;
	}

body.manage .search
	{
	position: absolute;
	left: -99999px;
	}
/*
body.manage .searchbox
	{
	display: none;
	position: fixed;
	float: left;
	width: 100%;
	min-height: 20px;
	font-size:12px;
	border-bottom: 1px solid #666;
	background:#efefef url(../img/point.gif) 0 0 repeat-x;
	margin-top: 18px;
	padding:5px 4% 0px 4%;
	-moz-box-shadow: 0 1px 3px #666;
	-webkit-box-shadow: 0 1px 10px #666;
	-moz-border-radius-bottom-right:2px;
	-webkit-border-bottom-right-radius:2px;
	-moz-border-radius-bottomleft:2px;
	-webkit-border-bottom-left-radius:2px;
	z-index:10;
	}
	body.manage.filterOpen .searchbox
		{
		display: block;
		}
	
body.manage .searchbox label
	{
	display: inline;
	width: auto !important;
	margin-right: 5px;
	text-transform: uppercase;
	}

body.manage .searchbox #exec-filter
	{
	float: right;
	}

body.manage .searchbox .block
	{
	float: left;
	margin-right: 20px;
	text-align: left;
	margin-top: 2px;
	}
body.manage .searchbox .block.right
	{
	float: right !important;
	margin-right: 8% !important;
	margin-top: -5px !important;
	}
*/
.searchbox
	{
	margin-top: 18px !important;
	}
.searchbox .block
	{
	margin-bottom: 8px;
	}
body.manage.filterOpen #contentBox
	{
	margin-top: 40px;
	}

body.manage input[type=button],
body.manage input[type=submit]
	{
	width: 80px !important;
	background: #dcdedf!important;
	}

body.manage .message
	{
	display: none;
	background: #ffde33;
	position: absolute;
	margin: 30px 35%;
	width: 30%;
	padding: 4px;
	text-align: center;
	}
	body.manage.filterOpen .message
		{
		margin-top: 60px !important;
		}
body.manage .message:hover
	{
	background: #ffde33 !important;

	}

body.manage .project-filter
	{
	display: inline;
	margin-left: 20px;
	}

body.manage.filterActive .project-filter
	{
	display: none !important;
	}
/*
body.manage.filterActive tr[data-status=archived],
body.manage.filterActive tr[data-status=cancelled]
	{
	display: table-row !important;
	}
*/
/*
body.manage .article[data-hascancelled='0'] .project-filter.cancelled
	{
	display: none;
	}

body.manage .article[data-hasarchived='0'] .project-filter.archived
	{
	display: none;
	}
*/
body.manage #spinner
	{
	display: none;
	position: fixed;
	margin: 25px 0 0 50%;
	}

body.manage.loading #spinner
	{
	display: block;
	}

body.manage .article.msg
	{
	width: 100%;
	margin: 20px auto;
	font-size: 26px;
	font-style: italic;
	color: #999;
	}

body.manage .project-details
	{
	display: block;
/*    
	width: 100%;
	height: 30px;
*/
	}
body.manage .id-project
	{
	color: #999;
	}

body.manage .urls .jobdata .langs
    {
    font-size: 100%;
    font-weight: normal;
	margin-left:10px;
    }
body.manage .urls .jobdata
    {
    float: left;
    font-size: 120%;
    font-weight: bold;
    width: 100%;
   	margin-top: 2px; 
    
    }

body.manage .urls .url{
	position: relative;
	left: 0;
}

body.manage #display
	{
	display: inline-block;
	color: #fff;
	margin-left: 100px;
	margin-top: 22px;
	}
	
body.manage #display a
	{
	margin: 0 !important;
	color: yellow;
	font-weight: bold;
	text-decoration: none;
	}

body.manage #search-projectname
	{
	width: 170px !important;
	}
	
.api .block-swagger {
	margin-top: -20px;
}

 .api a {
            color: #39699a;
        }
		.api .menu {line-height:26px;}

	.api a:hover {
		text-decoration: none;
	}
        #contentBox pre {
           background: #fbfbfb;
	}
padding: 5px 10px;
border: 1px dashed #ccc;
font-size: 1em;
line-height:20px;
margin: 20px 0;
color: #666;
        }

#contentBox pre.literal-block {word-wrap: break-word;}


.apidesc td {
            padding: 8px;
            text-align:center;
        }
        .api dt {
            float: left;
            text-align:left;
            color:#666666;
			width: 100px;
padding-right: 20px;
        }

        .api .menu ul {
    padding-left: 30px;
}

.api .menu a {
	text-decoration: underline;
	cursor: pointer;
}

        .api dd {
            margin-left:120px;
        }
        .api dl {
            margin-left: 40px;
            line-height: 30px;
        }
        .api {padding-top:0;}
        .api header {position:relative;}
        .api h1, .api h2 {color:#000!important; margin-top:20px;}
        .api h3 {color:#000!important;font-weight:bold!important; font-size:22px!important;margin-bottom:20px;padding-top:20px;}
        .gototop {text-align: right;
            margin: 10px 0;
            display: block;
            padding-bottom: 20px;
            border-bottom: 1px dashed #ccc;}
			
			.api .gototop.last {border-bottom:none;}
			
			.api .fileformat { -webkit-column-count: 2;
            column-count: 2;
            -moz-column-count: 2;}
			



.api .tablestats tr:hover {background:none;}

/*.api .fileformat li:nth-child(2n+1) {
background: #efefef;
}*/
 ul.office {
            -webkit-column-count: 3;
            column-count: 3;
            -moz-column-count: 3;
        }			
			
        .api table ul.lang-list {
            -webkit-column-count: 5;
            column-count: 5;
            -moz-column-count: 5;
            text-align: left;
			line-height:30px;
        }
		
		.api .block:last-child {
min-height: 20px;}

.fileformat th {
padding-left:15px;
}
		
			.api .tablestats th,.api .tablestats td {text-align:left;vertical-align: top;}
table {table-layout: fixed; width:100%;}
.api .colsx {float: left;
position: fixed;
padding-right: 1%;
width: 13%;}
.api .coldx {float: right;
    width: 80%;
    margin: 20px 2% 2%;
}
.menuscroll {margin-top: -30px;
}
.logosmall {display:none;}
.menuscroll .logosmall {display:block}
.logosmall {background: url(../img/logo-ico.png) no-repeat;padding-top: 30px; background-size:45px;}


.block
{
	height: auto;
}


.menu a.active {
    font-weight: bold;
}


.api dd {
margin-left: 120px;
margin-bottom:10px;
}

.api .top {display:block;}
.param {
font-weight: 600;
}
code {padding: 2px 4px;
font-size: 90%;
color: #39699a;
background-color: #f4f4f4;
white-space: nowrap;
border-radius: 4px;}

.req, .opt {
font-family:inherit;
color: #c7254e;
background-color: #f9f2f4;
white-space: nowrap;padding: 2px 4px;
border-left: 2px solid #c7254e;
border-radius: 4px;}
.opt {background-color: #dff0d8; border-left: 2px solid #3c763d; color: #3c763d;}

.api p {margin:0; font-size: 16px; line-height: 1.6em;}


.missing-outsource-data {
	background: url(../img/loading-black.gif) 40px 10px no-repeat;
	background-size: 20px;
background-position: center;
}

.outsource-btn {
	border:1px solid #666; 
	border-radius:4px; 
	color:white; 
	outline: 0;
	opacity:0.9; 
	padding:0px!important;
	border:1px solid #ccc;
	cursor: pointer;
}

.outsource-btn:hover {
	-moz-box-shadow: 0 0px 2px #666;
-webkit-box-shadow: 0 0px 2px #666;
box-shadow: 0 0px 2px #666;
}

.outsource-btn:active .outsource-price {
-moz-box-shadow: inset 0 0 5px 2px #888;
-webkit-box-shadow: inset 0 0 5px 2px #888;
box-shadow: inset 0 0 5px 2px #888;
}

.outsource-btn:active .outsource-delivery {
-moz-box-shadow: inset 0 -1px 2px 1px #888;
-webkit-box-shadow: inset 0 -1px 2px 1px #888;
box-shadow: inset 0 -1px 2px 1px #888;
}

.outsource-price {
text-align: center;
display: block;
font-size: 18px;
background: #7eaf3e;
font-weight: bold;
padding: 10px;
}

.outsource-delivery {
	background: #f4f4f4;
display: block;
padding: 5px;
margin-top: -5px;
line-height: 18px;
font-size:12px;
	border-radius:4px; 
	color:#333;

		border-top:1px solid #ccc;

}
.outsource-delivery strong {
font-size: 14px;
}


/* revise page */

.lang-info {
margin-top: 40px;
margin-left: 10px;
color: #666;
font-size: 20px;
}

.revision-info tr[data-vote='Excellent'],
.revision-info tr[data-vote='Verygood'],
.revision-info tr[data-vote='Good'],
td[data-vote='Excellent'],
td[data-vote='Verygood'],
td[data-vote='Good']
 {
	background: #d8ead3;
}

.revision-info tr[data-vote='Poor'],
td[data-vote='Poor'] {
	background: #FDD7A4;
}

.revision-info tr[data-vote='Acceptable'],
td[data-vote='Acceptable'] {
	background: #fff3cd;
}

.revision-info tr[data-vote='Fail'],
td[data-vote='Fail'] {
	background: #f4cdcc;
}

.tablestats.revision {
	font-size: 18px;
}

.tablestats.revision td,
.tablestats.revision th {
	padding: 20px;
}

.vote-howto p {
	font-size: 18px;
	line-height: 30px;
}

.reviselog .percent {
	font-size:14px;
}

.details-anchor {
	display: block; position: relative; top: -60px; visibility: hidden;
}

#details-link {
font-size: 16px;
color: #999;
text-shadow: none;
margin-top: 15px;
display: block;
clear: both;
cursor: pointer;
}

#ribbon {
	padding: .34em 2em;
	margin: 5% -7px 0;
	position:relative;
	color: black;
	font-size: 24px;
	z-index: 100000000;
	font-weight: bold;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	/*box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
	   inset 0px 0px 20px rgba(0,0,0,0.0),
	   0px 1px 1px rgba(0, 0, 0, 0.65); */
	/* background: #09beec; */
	display: inline-block;
}

/*
#ribbon:before, #ribbon:after {
		content: "";
		width:.2em;
		bottom:-.5em;
		position:absolute;
		display:block;
		border: .9em solid #09beec;
		box-shadow:0px 1px 0px rgba(0,0,0,0.4);
		z-index:-2;
	}

#ribbon:before {
		left:-1.35em;
		border-right-width: .75em;
		border-left-color:transparent;
	}

#ribbon:after {
		right:-1.35em;
		border-left-width: .75em;
		border-right-color:transparent;
	}
	
#content:before, #content:after {
		content:"";
		bottom:-.5em;
		position:absolute;
		display:block;
		border-style:solid;
		border-color: #0675b3 transparent transparent transparent;
		z-index:-1;
	}
	
#content:before {
	  left: 0;
	  border-width: .5em 0 0 .5em;
	}
	
#content:after {
	  right: 0;
	  border-width: .5em .5em 0 0;
	}
*/
#vote-box {
width: 217px;
background: #f7f7f7;
height: 85px;
position: absolute;
right: 0px;
top: 30px;
text-align: center;
font-size: 45px;
font-weight: bold;
text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
padding: 50px 5px 10px;
z-index: 100000000;
border-radius: 4px;
border: 1px solid #ECECEC;
box-shadow: 1px 1px 0px #E6E6E6;
}

.vote-area {
margin: 0 auto;
width: 100%;
float: left;
padding: 20px 0 30px 0;
}

.vote-area h3 {
clear: both;
}

.blueline {
width: 100%;
height: 1px;
background: #09beec;
float: left;
box-shadow: 0px 1px 0px #ccc;
}

#vote-box[data-vote='Excellent'],
#vote-box[data-vote='Verygood'],
#vote-box[data-vote='Good']
 {
	color: #3C9423;
}

#vote-box[data-vote='Acceptable'] {
	color: #EABA22;
}

#vote-box[data-vote='Poor'] {
	color: #FFA935;;
}


#vote-box[data-vote='Fail']
 {
	color: #E7504D;
}

table.tablestats.revision-info td,
table.tablestats.revision-info th {
padding: 15px;
font-size: 16px;
}

/* Table Equivalent Translated Score Highlight */
.qa_eq_tr[data-vote='Excellent'] td,
.qa_eq_tr[data-vote='Verygood'] td,
.qa_eq_tr[data-vote='Good'] td {
	border-color: #3C9423 !important;
}
.qa_eq_tr[data-vote='Acceptable'] td {
	border-color: #E5B007 !important;
}
.qa_eq_tr[data-vote='Poor'] td {
	border-color: #FFA935 !important;
}
.qa_eq_tr[data-vote='Fail'] td {
	border-color: #E7504D !important;
}
.qa_eq_tr {
	font-weight: bold;
}
.qa_eq_td {
	font-size: 18px !important;
	border-top:1px solid;
	border-bottom:1px solid !important;
	border-left: 0 !important;
}
.qa_eq_td_first {
	border-left: 4px solid !important;
}
.qa_eq_td_last {
	border-right: 4px solid !important;
}
/* Table Equivalent Translated Score Highlight */

.vote-howto h3 {
	font-size: 22px;
	margin-bottom: 20px;
	font-weight: bold!important;
	color: #333!important;
}

.vote-howto h2 {
	 margin-top:20px;
	 margin-bottom:20px
}

blockquote {
padding: 10px 20px;
margin: 20px 30px 30px 30px;
background: #eee;
font-size: 16px;
border-left: 5px solid #aaa;
width: 700px;
}

/**
	QUALITY REPORT
**/
.qa-job-title{
	margin-bottom:0;
}
.weight-normal {font-weight:normal;}
.tablestats.revision th.issue {width:440px;}
.tablestats.revision th.score {width:200px;}
.tablestats.revision td, .tablestats.revision-info td {text-align: left;}


