/*
 ******
 ******
 Balloon basic layout
 ******
 ******
 */

.mbc-comment-balloon-outer {
  padding-right: 15px
}

.mbc-comment-balloon-inner {
  background: #f7f7f7;
  box-shadow: 0 1px 2px 0px rgba(0,0,0,0.3);
  padding-top: 20px;
  margin-top: -45px;  
}

section.editor .mbc-comment-balloon-inner {
  margin-top: -25px;
}

/* Give breathing space to the last comment ballon in page */
.mbc-comment-balloon-outer:last-of-type {
  margin-bottom: 100px;
}

/*
 ******
 Post new comment
 ******
 */
.mbc-reply-input {
  background: #f7f7f7;
  border-top: 1px solid #dadada;
  box-shadow: 0px -3px 6px -5px rgba(0,0,0,0.3);
  position: relative;
  padding:10px 12px 17px!important;
}


/*
 ******
 Past comments wrap
 ******
 */

.mbc-comments-wrap {
  height: 100%;
  max-height: 300px;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

/*
 ******
 Past comment wrap common
 ******
 */
.mbc-thread-wrap {
  padding: 0 12px 17px 12px;
}

/*
 ******
 Past comment thread wrap status active in history balloon
 ******
 */
.mbc-history-balloon .mbc-thread-wrap-active {
  border-bottom: 2px solid #dadada;
}

/*
 ******
 Past comment thread wrap status resolved
 ******
 */
.mbc-thread-wrap-resolved {
  background: rgba(124,197,118,.15);
  border-bottom: 2px solid rgba(124,197,118,.6); /* #7cc576 */
}

/*
 ******
 Show past comment
 ******
 */
.mbc-show-comment:not(:first-of-type) {
  margin-top: 14px;
}

.mbc-comments-wrap .mbc-show-comment:not(:last-of-type) {
  border-bottom: 1px solid #dadada;
}

/*
 ******
 Past comment details
 ******
 */
.mbc-comment-info-wrap {
  clear: both;
  margin: 4px 0;
}

.mbc-comment-info {
  color: #7f7f7f;
  display: inline-block;
  font-size: 11px;
  font-weight: lighter;
  padding-bottom: 2px;
}

/*
 Email past comment details
 */
.mbc-comment-email-label {
  color: #7f7f7f;
  font-weight: normal;
  width: 90%; /* set width below 100% and allow truncation */
}

/*
 Message past comment details
 */
.mbc-comment-body {
  color: #323232;
  font-size: 14px;
  margin: 12px 0 16px;
  word-wrap: break-word;
}


/*
 ******
 New incoming message notification
 ******
 */

.mbc-new-message-notification {
  background-color: #FFF9CC;
  color: #6d6e71;
  font-size: 14px;
  left: 0;
  line-height: 2.2;
  position: absolute;
  text-align: center;
  top: -31px;
  width: 100%;
}

/* New message link  */
a.mbc-new-message-link:link,
a.mbc-new-message-link:visited {
  color: #6d6e71;
  text-decoration: underline;
}

a.mbc-new-message-link:hover {
  text-decoration: none;
}

.mbc-new-message-icon {
  font-size: 14px;
  font-weight: bold;
  padding: 0 6px 0 0;
}


/*
 ******
 ******
 Comment input
 ******
 ******
 */

.mbc-comment-input {
  border-radius: 2px;
  float: left;
  max-width: 186px;
  outline-width: 0;
  width: 100%;
}

.mbc-comment-textarea {
  -webkit-box-shadow: inset 0 1px 2px #ccc;
  box-shadow: inset 0 1px 2px #ccc;
  border: 1px solid #999;
  font-size: 16px;
  margin: 0;
  overflow: hidden;
  padding: 4px;
  position: static; /* avoid position relative set for any textarea element in style.css line 169 */
  resize: none;
  word-break: normal;
}

.mbc-comment-textinput {
  background: #fff;
  border: 1px solid #999;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px #ddd;
  box-shadow: inset 0 1px 2px #ddd;
  font-size: 14px;
  height: auto;
  margin: 0 0 2px;
  outline: 0;
  overflow: initial;
  padding: 2px 5px;
  text-overflow: initial;
  white-space: initial;
}

.mbc-comment-textinput:hover {
  box-shadow: 0px 0px 0px 1px #ccc;
  cursor: text;
}

/*
 ******
 ******
 Labels
 ******
 ******
 */

/*
 ******
 Common label
 ******
 */
.mbc-comment-label {
  display: block;
  font-size: 14px;
}

/*
 Username label
 */
.mbc-comment-username-label {
  color: #323232;
  font-weight: bold;
  margin-bottom: 4px;
  padding: 2px 5px 2px 0;
}
/*
 Anonymous label
 Account for inline edit functionality and state
 */
.mbc-comment-anonymous-label {
  padding: 2px 5px 2px 0;
}

.mbc-comment-anonymous-label:hover {
  box-shadow: 0px 0px 0px 1px #ccc;
  cursor: text;
}

/*
 ******
 Resolved labels
 ******
 */
.mbc-resolved-comment {
  margin-top: 10px;
}

.mbc-comment-resolvedby {
  /*width: 110px;*/
}

.mbc-comment-resolved-label {
  color: #7cc576; /* per-green line 2350 style.css */
  font-size: 12px;
  font-weight: bold;
}

/*
 ******
 ******
 Buttons
 ******
 ******
 */

/*
 ******
 Common button
 ******
 */
a:link.mbc-comment-btn,
a:visited.mbc-comment-btn,
a:hover.mbc-comment-btn {
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0 0;
  padding: 6px 12px;
  text-decoration: none;
  text-transform: uppercase;
}

/*
 ******
 Button default
 ******
 */
a:link.mbc-comment-default-btn,
a:visited.mbc-comment-default-btn {
  background: #dcdedf;
  border: 1px solid #999;
  color: #333;
}

a:hover.mbc-comment-default-btn {
  border: 1px solid #666;
}

a:active.mbc-comment-default-btn {
  border: 1px solid #000; /* .btn:active line 643 style.css */
}

/*
 ******
 Comment button in comment balloon
 Now follows translated button common.css line 1188
 ******
 */
a.mbc-comment-send-btn:link,
a.mbc-comment-send-btn:visited {
  background: -webkit-gradient(linear, left top, left bottom, from(#09beec), to(#119ec4));
  background: -moz-linear-gradient(top,  #09beec,  #119ec4);
  background: linear-gradient(top,  #09beec,  #119ec4);
  border: 1px solid #848689;
  color: #fff;
}

a.mbc-comment-send-btn:hover {
  background: #12b4df;
  border: 1px solid #000;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
}

a.mbc-comment-send-btn:active {
  -moz-box-shadow: inset 0 0 1px 1px #888;
  -webkit-box-shadow: inset 0 0 1px 1px #888;
  box-shadow: inset 0 0 1px 1px #888;
}

/*
 ******
 Resolve button in comment balloon
 ******
 */
a.mbc-comment-resolve-btn:link,
a.mbc-comment-resolve-btn:visited {
  background: #dcdedf;
  border: 1px solid #999;
  color: #333;
}

a.mbc-comment-resolve-btn:hover,
a.mbc-comment-resolve-btn:active {
  background: #7cc576;
  border: 1px solid #7cc576;
  color: #fff;
}

/*
 ******
 ******
 Link in comment balloon
 ******
 ******
 */
a.mbc-comment-link-btn:link,
a.mbc-comment-link-btn:visited {
  color: #7f7f7f;
  display: inline-block;
  font-size: 14px;
  text-decoration: underline;
}

a.mbc-comment-link-btn:hover,
a.mbc-comment-link-btn:active {
  text-decoration: none;
}

/*
 ******
 Login invitation link in comment balloon
 ******
 */
a.mbc-login-link:link,
a.mbc-login-link:visited {
  padding: 0 4px 10px 0;
}

/*
 ******
 View link in history balloon
 ******
 */
a.mbc-view-link:link,
a.mbc-view-link:visited {
  color: #0798bc;
  padding: 0 4px 6px 0;
}

/*
 ******
 View comment ordinal number
 ******
 */
.mbc-nth-comment-label {
  display: block;
  border-bottom: 1px solid #CCCCCC;
  font-size: 16px;
  color: #9A9A9A;
  line-height: 1.8;
  margin-bottom: 6px;  
}


/*
 ******
 ******
 Close icon duplicate
 ******
 ******
 */

/* style.css line 1612 */
a.mbc-close-icon:link,
a.mbc-close-icon:visited {
  background: #fff;
  border-radius: 20px;
  color: #AEAEAE;
  display: block;
  font-size: 15px;
  height: 14px;
  padding: 0;
  position: absolute;
  right: 8px;
  text-decoration: none;
  top: 0;
  vertical-align: middle;
  width: 14px;
}

a.mbc-close-icon:hover {
  background: red;
  color: #fff;
  text-align: center;
}


.mbc-close-icon:before {
  content: "\ea0d";
  display: block;
  margin-left: -1px;
  margin-top: 0px;
  text-align: center;
  vertical-align: middle;
}


/*
 ******
 ******
 Comment intent next to each segment
 ******
 ******
 */

/*
 ******
 Txt in comment intent element
 ******
 */
.segment-side-buttons .txt {
  /* styles based on .sid 401 style.css */
  cursor: pointer;
  margin: 6px auto 0;
  padding: 10px 0;
  position: relative;
  width: 80px;
  display: block!important;
}

/*
 ******
 Icon in comment intent element
 ******
 */
.mbc-comment-icon {
  font-size: 23px;
}

/*
 ******
 ******
 Notification elements
 ******
 ******
 */

/*
 ******
 Common highlight element properties
 ******
 */
.mbc-comment-notification {
  border: 1px solid #fff;
  border-radius: 14px;
  display: block;
  font-size: 11px;
  font-weight: bold;
  padding: 0px 6px;
  text-align: center;
}

/*
 Highlight element unique properties
 */
.mbc-comment-highlight {
  background: #ffe400;
}

/*
 Invitation element unique properties
 */
.mbc-comment-highlight-invite {
  background: #1451CC;
  color: #fff;
  position: absolute;
}

/*
 Highlight element in segment unique properties
 */
.mbc-comment-highlight-segment {
  left: 44px;
  position: absolute;
  top: 10px;
}

/*
 Highlight element in header unique properties
 */
.mbc-comment-highlight-history {
  color:#6d6e71;
  position: absolute;
  right: 7px;
  top: 10px;
}

.mbc-comment-highlight-history:hover {
  color: #6d6e71;
}

/*
 Highlight element in history balloon unique properties
 */
.mbc-comment-highlight-balloon-history {
  color: #6d6e71;
  float: right;
}


/*
 ******
 ******
 Article state follwing comment balloon activation
 ******
 ******
 */


/*
 ******
 Commenting closed. Article width back to default
 ******
 */
article.mbc-commenting-closed {
  width: 87.5%; /* add selector to article tag line 874 style.css */
}

/*
 ******
 Commenting closed. Hide comment ballon
 ******
 */
article.mbc-commenting-closed .mbc-comment-balloon-outer {
  display: none;
}

/*
 ******
 Commenting opened. Article width reduced and room made for comment ballon
 ******
 */
article.mbc-commenting-opened {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transition: width .2s ease;
  transition: width .2s ease;
  width: 76.5%;
}

/*
 ******
 Commenting opened. Draw comment ballon
 ******
 */
article.mbc-commenting-opened .mbc-comment-balloon-outer {
  float: right;
  margin-right: -245px;
  position: absolute;
  right: 0;
  text-align: left;
  width: 210px;
  z-index: 10001;
}

.side-tools-opened article.mbc-commenting-opened .mbc-comment-balloon-outer {
  top:43px;
}

/*
 ******
 ******
 Ajax error messages
 ******
 ******
 */

.mbc-ajax-message-wrap {
  padding: 6px 4px;
}
/* Warnings style.css line 136 */
.mbc-warnings {
  color:#D65959;
  font-size:14px;
}


/*
 ******
 ******
 Header list item history balloon icon
 ******
 ******
 */

#mbc-history {
  /* #filterSwitch line 71 style.css */
  cursor: pointer;
  font-size: 23px;
  height: 27px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  width: 60px;
}

#mbc-history:hover {
  /* #filterSwitch:hover line 86 style.css */
  color:#ccc;
}

/*
 No comments icon in header
 */
.mbc-history-balloon-icon-has-no-comments {
  color: #777; /* style.css line 40 #notifbox */
}

/*
 Comments icon in header
 */
.mbc-history-balloon-icon-has-comment .icon-bubble2{
  color: #fff; /* style.css line 40 #notifbox */
  opacity: .9;
}

/*
 ******
 ******
 History ballon
 ******
 ******
 */

.mbc-history-balloon-outer {
  background-color: rgba(247,247,247,1); /* #f7f77f */
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  margin-top: 20px;
  padding-top: 10px;
  position: absolute;
  right: 10px;
  width: 300px;
  text-align: left;
}

.mbc-view-comment-wrap {
  margin-bottom: 10px;
}

.mbc-comment-segment-number-label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.mbc-history-balloon {
  background-color: rgba(247,247,247,1); /* #ffffff */
  padding: 0;
  position: relative;
}

.mbc-history-balloon .mbc-thread-wrap {
  padding: 14px 0;
}

.mbc-history-balloon .mbc-show-comment {
  padding: 0 24px;
}

.mbc-history-balloon .mbc-thread-wrap:not(:last-of-type) .mbc-show-comment {
  /*border-bottom: 1px solid #dadada;*/
}

.mbc-history-balloon-has-comment {
  max-height: 500px;
  overflow-y: auto;
}


/*
 ******
 ******
 Helpers
 ******
 ******
 */

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/*
  Truncate text in label
 */
.mbc-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
  Set box model to border and account for border's width
 */
.mbc-comment-balloon-outer *,
.mbc-history-balloon-outer * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.divider {
  background-color: #dadada;
  display:block; /* for use on default inline elements like span */
  height: 1px;
  margin: 0;
  overflow: hidden;
  width:100%;
}

/*
 ******
 Triangle in balloon
 ******
 */
.mbc-triangle {
  height: 0;
  width: 0;
}

/*
 Triangle top top in history balloon
 */
.mbc-triangle-top {
  border-right: 14px solid rgba(247,247,247,1); /* #f7f77f */
  border-top: 14px solid transparent;
  -webkit-filter: drop-shadow(-3px -1px 2px rgba(0,0,0,0.1));
  filter: drop-shadow(-3px -1px 2px rgba(0,0,0,0.1));
  float: right;
  margin-right: 20px;
  margin-top: -24px;

}

/*
 Triangle top left in comment balloon
 */
.mbc-triangle-topleft {
  border-top: 10px solid rgba(247,247,247,1); /* #f7f77f */
  border-left: 12px solid transparent;
  -webkit-filter: drop-shadow(-1px 0px 0px rgba(0,0,0,.2));
  filter: drop-shadow(-1px 0px 0px rgba(0,0,0,.2));
  margin-left: -12px;
  float: left;
}


/*
 ******
 Clearfix helpers
 ******
 */
.mbc-clearfix {
  *zoom: 1;
}
.mbc-clearfix:before,
.mbc-clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.mbc-clearfix:after {
  clear: both;
}

/*
 ******
 Display and visibility helpers
 ******
 */
.mbc-hide {
  display: none!important;
}

.mbc-visible {
  display: block!important;
}
/*
 ******
 Pure css solution to hide and unhide the button
 ******
 */


.mbc-comment-icon-button {
    opacity:0;
    -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

section:hover .mbc-comment-icon-button,
.segment-side-buttons:hover .mbc-comment-icon-button,
.mbc-comment-icon-button:hover
 { 
    opacity: 1;
    display:block;
}

