/*popup*/
#popupWrapper{display:none;}
.popup-outer{background:#000;position:fixed;top:0;left:0;width:100%;height:100%;z-index:99999999999999;opacity:0.6;}
.popup{overflow:hidden;line-height:30px;border-radius: 7px;-webkit-box-shadow: 0 1px 20px #000;box-shadow: 0 1px 20px #000;width:500px;background:#fff;margin:-200px 0 0 -250px; padding:0 0px 20px 0px;position:fixed;top:50%;left:46%;z-index:999999999999999999999999999;}
.popup p{font-size:18px}
.popup h1{overflow:visible;max-height:inherit;font-size:24px;padding:10px 10px 7px 58px;border-bottom:1px solid #000;color:#fff;margin:0 !important;text-align:left;}
.popup h2{font-weight:normal;font-size:16px;color:black;display:block;margin:20px 0 20px 0;}

.popup a.anonymous{font-size:12px;}
.popup a.anonymous:visited, .popup a.anonymous:active {color:black;}

.outer {
    background: url(../img/bg_login_button.gif) 0 0 repeat;
    border-radius: 6px;
    margin: 0 auto -10px auto;
    width: 330px;
    border: 1px solid #222;
}
.outer:hover
        {
        background: url(../img/bg_login_button_hover.gif) 0 0 repeat;
        }

.inner
    {
    width: 45px;
    border-right: 1px solid #003366;
    background: transparent url(../img/g.png) 0 5px no-repeat;
    border-radius: 0 0 0 6px;
    }

.login-button
    {
    width: 330px;
    font-weight: normal;
    padding: 8px 0 8px 45px;
    text-align: center;
    color: #fff;
    font-size: 16px !important;
    text-shadow: 0 -1px 0 #003366;
    background: transparent;
    border: none;
    cursor: pointer;
    }

.x-popup{background: url(../img/x-popup.png) center center no-repeat;display:block;height:40px;width:40px;float:right;margin:1px 0px 0 0;background-size:19px 19px;}
  .x-popup:hover{background: url(../img/x-popup-hover.png) center center no-repeat;background-size:19px 19px;}

.login-google .outer{
    margin-top: 10px;
}

.login-google .popup-box{
    width: 100%;
    min-height: 100px;
}



.btn-ok, .btn-cancel {color:#fff;background:#09beec;border:1px solid #848689;font-weight:bold;text-decoration:none;padding:8px 18px;border-radius: 2px;border-radius: 2px;font-size:18px;

background: -webkit-gradient(linear, left top, left bottom, from(#09beec), to(#119ec4));
	background: -moz-linear-gradient(top,  #09beec,  #119ec4);
	background: linear-gradient(top,  #09beec,  #119ec4);

}
.btn-cancel {color:#333;background:#f6f6f6;

background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e2e3e5));
	background: -moz-linear-gradient(top,  #f6f6f6,  #e2e3e5);
	background: linear-gradient(top,  #f6f6f6,  #e2e3e5);

}




.btn-ok:hover, .btn-cancel:hover{
cursor:pointer;-webkit-box-shadow: 0 1px 2px #ccc;box-shadow: 0 1px 2px #ccc;border:1px solid #000;
}



.btn-ok::active, .btn-cancel:active{
-moz-box-shadow: inset 0 0 1px 1px #888;
-webkit-box-shadow: inset 0 0 1px 1px #888;
box-shadow: inset 0 0 1px 1px #888;
}


.outsource.modal .popup
{
	width: 900px;
	margin: -150px 0 0 -400px;
}
.outsource.modal .popup-box {
text-align:left; padding:0 20px;
}
.outsource.modal .out-link {
padding: .3em .6em;
display: inline-block;
border: 1px solid #ccc;
box-shadow: inset 0 1px 3px #ddd;
border-radius: 4px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin-bottom: 20px;
font-size: 15px;
color: #333;
height: 43px;
width: 82%;
}
.outsource.modal h2 {
	font-size: 20px;
	font-weight: bold;
	margin: 10px 0;
}
.outsource.modal h2.loading {
	background: url(../img/loader.gif) right 6px no-repeat;
	background-size: 20px;
	padding-right: 40px;
}
.outs h2 {
background-size: 180px;
height: 41px;
margin-top: 20px;
margin-bottom:-10px;
width: 180px;
}



.revealprices .uploadbtn {
background: #7eaf3e;
width: auto;
float: left;
margin: -10px 0 5px 40% !important;
}

.revealprices img {width:140px;}

 .onyourown {
margin: 0 auto;
overflow: hidden;
border: 1px solid #ccc;
border-radius: 4px;
text-align: left;
/*margin-top: 20px;*/
padding: 10px 20px;
}

#changecurrency {
    display: none;
}


/* #changeTimezone, #changecurrency {
width: auto;
height: 20px;
padding: 5px;
font-size: 10px;
border: 1px solid #ccc;
margin: 1px 0 5px 0;
} */

/*.outsourceto:hover, .onyourown:hover {
	border: 1px solid #000;
	-moz-box-shadow: 0 0px 6px #888;
-webkit-box-shadow: 0 0px 6px #888;
}*/

.total:hover {border: 1px solid #000;
	-moz-box-shadow: 0 0px 6px #888;
-webkit-box-shadow: 0 0px 6px #888;}

.paylater, .gmt {
font-size: 14px;
font-weight: normal;
float:left;
clear: both;
margin-top:-10px;
}

/*.outsourceto .continuebtn {
float: right;
margin:90px 0 0 0!important;
}

.outsourceto .right .continuebtn {
float: right;
margin:10px 0 10px 0!important;
}*/

/*.copytext p {
border-bottom: 1px solid #ccc;
box-shadow: 0px 2px 1px -2px #E2E2E2;
padding-bottom: 10px;
}*/

.delivery span {
font-size: 20px;
font-weight: bold;
}

.delivery {
font-size: 16px!important;
font-weight:normal;
}

/*.offer {
float:left;
	width:80%;
}*/

.tprice span  {
font-weight: bold;
font-size: 40px!important;
padding-top:10px;
}

.tprice span.currency_per_word {
	font-size: 15px!important;
    font-weight: normal!important;
}

.tprice {
/*margin:20px 0;*/
font-size: 22px!important;
font-weight: bold;
}
/*.delivery, .tprice {
line-height: 0px;
clear: both;
float:left;
}*/

/* versione 2: right */
.vright .offer {
width:100%;
}



.vright .delivery, .vright .tprice, .vright .paylater, .vright .gmt{
float:right;
}

.vright .continuebtn {
margin: 10px 0!important;	
clear:both;
}

/* versione 3: box */
.revealprices {display:none;}
.pricebox .outsourceto, .pricebox .onyourown {padding:0; border:none; border-radius:0; margin-bottom:5px;}
.pricebox .outsourceto {border-top:1px solid #ccc;}
.pricebox .outsourceto h2 {
margin-top: 15px;
float:left;
}
.pricebox .copytext p {
    font-size:20px;
}
.pricebox .copytext p:first-child {
margin-top: 0!important;
}
.pricebox .copytext {float:left;width:58%;padding-right:2%;}
.pricebox .total {float: left;
width: 35%;
padding: 1% 2%;
border: 1px solid #ccc;
border-radius: 4px;
margin: 10px 0;
text-align: center;
background: #FAFAFA;}
.pricebox .continuebtn {clear: both;
float: left;
margin:10px 0 10px 30%!important;
}
.pricebox .tprice, .pricebox .tprice span, .pricebox .delivery, .pricebox .delivery span, .pricebox .zone, .pricebox .zone2, .pricebox .tprice span {display:block; float:none;}
.pricebox .tprice .tpricetitle {
border-bottom: 1px solid #ccc;
font-size:22px!important;
padding-bottom: 5px;
margin-bottom: 10px;
}

.tpricedesc{
margin-top: -10px;
}

.references {
margin-top: 35px;
text-align: center;
}

.references > img {
width: 23%;
padding-left: 1.5%;
padding-right: 1.5%;
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
}

.references > img:hover {
width: 23%;
padding-left: 1.5%;
padding-right: 1.5%;
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
filter: grayscale(0%);
}


.tprice span.displaypriceperword {
   font-weight: normal!important;
   font-size: 15px!important;
   margin: -15px 0 -5px;
}


span.zone, span.zone2 {
font-size: 14px;
font-weight:normal;
}
.pricebox .tprice .euro, .pricebox .tprice .displayprice {display:inline;}
.pricebox .tprice {line-height:30px; margin-bottom:10px;}
.pricebox delivery {line-height:30px;}
.pricebox .paybox {
    border-radius: 4px;
    background: url(../img/card.png) no-repeat 250px 37px;
    background-size: 170px;
}
.uploadbtn.showprices  
{
	display: none;
	width: auto; 
	margin-top: 15px! important;
}
.pricebox .paybox {
border-radius: 4px;
background: url(../img/card.png) no-repeat 250px 37px;
background-size: 170px;
}


.paybox, .trustbox{
    font-size: 13px !important;
    margin-bottom: 0;
    margin-top: 0;
}


table.chunks {
overflow: hidden;
border: 2px solid #ccc;
background: #fefefe;
width: 100%;
border-collapse: collapse;
}

table.chunks  th, table.chunks  td {
padding: 0.5em 1em;
border: 1px solid #ccc;
}

.thead {
background: #F6F6F6;
}


table.chunks  th:last-child {
width: 15%;	
}

table.chunks  tr:last-child {
	background:#fff;
}


table.chunks td.last {
border-right: none;
}

table.chunks td {
border-top: 1px solid #e0e0e0;
border-right: 1px solid #e0e0e0;
}

table .chunks tr:first-child {
background: #E7E7E7;
}


.footer-popup ul li {
display: inline;
}

.footer-popup a {
font-size: 13px;
padding-right: 20px;
}

.footer-popup {
border-top: 1px solid #ccc;
clear: both;
margin-top: 30px;
padding: 4px 0px 0px;
}

/* scroll pop-up
.outsourcemodal .popup-box {
	overflow-y: auto;
max-height: 525px;
}
*/

.noselect {
    -webkit-appearance: none;
    border: none;
    pointer-events: none;
    background: transparent!important;
}

.deliverychange, .currencychange {
font-size: 12px;
text-decoration: underline;
color: blue;
display: block;
cursor: pointer;
}

@media screen and ( max-height: 750px ) and (min-height: 650px) {
    .outsource.modal .popup {
top: 20px;
margin: 0 0 0 -400px;
}

.pricebox .total {
    margin-top:-30px;
}
}

@media screen and (max-height: 650px) and (min-height: 581px){
   .outsource.modal .popup p {
font-size: 18px;
line-height: 22px;
background: none;
}
.outsource.modal h2 {
font-size: 18px;
font-weight: bold;
margin: 10px 0;
}

 .outsource.modal .popup {
top: 0px;
margin: 0 0 0 -400px;
}

.pricebox .total {
    margin-top:-40px;
}
}


@media screen and (max-height: 580px) {
 .outsource.modal .popup  {
zoom: 0.8;
top: 0px;
margin: 0 0 0 -400px;
}
.outsource.modal .popup p {
background: none;
}
.pricebox .total {
    margin-top:-40px;
}
}