/*popup*/
#popupWrapper{display:none;}
.popup-outer{background:#000;position:fixed;top:0;left:0;width:100%;height:100%;z-index:99999999999999;opacity:0.6;}
.popup{overflow:hidden;line-height:30px;border-radius: 7px;-webkit-box-shadow: 0 1px 20px #000;box-shadow: 0 1px 20px #000;width:500px;background:#fff;margin:-200px 0 0 -250px; padding:0 0px 20px 0px;position:fixed;top:50%;left:50%;z-index:999999999999999999999999999;}
.popup p{font-size:18px}
.popup h1{overflow:visible;max-height:inherit;font-size:24px;padding:10px 10px 7px 58px;border-bottom:1px solid #000;color:#fff;margin:0 !important;text-align:left;}
.popup h2{font-weight:normal;font-size:16px;color:black;display:block;margin:20px 0 20px 0;}

.popup a.anonymous{font-size:12px;}
.popup a.anonymous:visited, .popup a.anonymous:active {color:black;}

.outer {
    background: url(../img/bg_login_button.gif) 0 0 repeat;
    border-radius: 6px;
    margin: 0 auto -10px auto;
    width: 330px;
    border: 1px solid #222;
}
.outer:hover
        {
        background: url(../img/bg_login_button_hover.gif) 0 0 repeat;
        }

.inner
    {
    width: 45px;
    border-right: 1px solid #003366;
    background: transparent url(http://d1gwm4cf8hecp4.cloudfront.net/images/home/g.png) 0 5px no-repeat;
    border-radius: 0 0 0 6px;
    }

.login-button
    {
    width: 330px;
    font-weight: normal;
    padding: 8px 0 8px 45px;
    text-align: center;
    color: #fff;
    font-size: 16px !important;
    text-shadow: 0 -1px 0 #003366;
    background: transparent;
    border: none;
    cursor: pointer;
    }

.x-popup{background: url(../img/x-popup.png) center center no-repeat;display:block;height:40px;width:40px;float:right;margin:1px 0px 0 0;background-size:19px 19px;}
  .x-popup:hover{background: url(../img/x-popup-hover.png) center center no-repeat;background-size:19px 19px;}  









.btn-ok, .btn-cancel {color:#fff;background:#09beec;border:1px solid #848689;font-weight:bold;text-decoration:none;padding:8px 18px;border-radius: 2px;border-radius: 2px;font-size:18px;

background: -webkit-gradient(linear, left top, left bottom, from(#09beec), to(#119ec4));
	background: -moz-linear-gradient(top,  #09beec,  #119ec4);
	background: linear-gradient(top,  #09beec,  #119ec4);

}
.btn-cancel {color:#333;background:#f6f6f6;

background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#e2e3e5));
	background: -moz-linear-gradient(top,  #f6f6f6,  #e2e3e5);
	background: linear-gradient(top,  #f6f6f6,  #e2e3e5);

}




.btn-ok:hover, .btn-cancel:hover{
cursor:pointer;-webkit-box-shadow: 0 1px 2px #ccc;box-shadow: 0 1px 2px #ccc;border:1px solid #000;
}



.btn-ok::active, .btn-cancel:active{
-moz-box-shadow: inset 0 0 1px 1px #888;
-webkit-box-shadow: inset 0 0 1px 1px #888;
box-shadow: inset 0 0 1px 1px #888;
}


.outsourcemodal .popup {
width:800px;margin: -200px 0 0 -400px;
}
.outsourcemodal .popup-box {
text-align:left; padding:0 20px;
}
.outsourcemodal .out-link {
padding: .3em .6em;
display: inline-block;
border: 1px solid #ccc;
box-shadow: inset 0 1px 3px #ddd;
border-radius: 4px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin-bottom:20px;
}
.outsourcemodal h2 {
font-size: 20px;
font-weight: bold;
margin:10px 0;
background: url(../img/logo_translated.png) no-repeat 590px 0px;
}



.outsourceto .uploadbtn {
background:#7eaf3e;	
width:auto;
}

.outsourceto {
margin: 0 auto;
overflow: hidden;
border: 1px solid #ccc;
border-radius: 4px;
text-align: left;
background: #f3f3f3;
margin: 20px 20px 20px;
padding: 10px 20px;
}




