.con-input{width:70%;}
.sugg-input{width:38%;}
.second{width:30%;}
.number{left:-40px;	}
.main{width:90.3%;margin-left:3%;}
.percentuage{left:44.3%;}
 
.editor textarea {width:112% !important;}
.ed textarea{width:105%;}

.projectbar ul {margin-left:5px}
.Translated, .draft, .approved{padding:7px 6px;}
.meter {	width:10%;}
.con-input{width:63%;}
.con-input{width:62% !important;}
.languages{text-indent:-45px }
.comment-area, .comment-area ul, .comment-area li{width:170px;}
.comment-area .h-notification{width:160px;}
.comment-area textarea{width:137px !important}
.editor .target{margin-left:-10px !important;}