<li class="arrow"><span class="arrow-mcolor"></span></li>
<li><a href="#" class="f" data-sid="segment-{{id_segment}}" title="set draft as status">DRAFT</a></li>
<li><a href="#" class="d" data-sid="segment-{{id_segment}}" title="set translated as status">TRANSLATED</a></li>
{{#if show_revision_statuses }}
<li><a href="#" class="a" data-sid="segment-{{id_segment}}" title="set approved as status">APPROVED</a></li>
<li><a href="#" class="r" data-sid="segment-{{id_segment}}" title="set rejected as status">REJECTED</a></li>
{{/if}}
