@import '../../commons/colors';

.passwordreset-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 480px;
  padding: 48px 64px 48px 64px;

  h2,
  p {
    text-align: left;
  }

  p {
    color: $grey7;
  }

  .passwordreset-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
  }
}
