@import '../../commons/colors';

.signin-page {
  fieldset {
    padding: 0;
    border: none;
  }

  button.link-underline {
    text-decoration: underline;
  }
}

.signin-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 7;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);

  .signin-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    margin: 0;
    border-radius: 8px;
    background-color: $white;
    max-width: 712px;
  }
}
