@use '../../commons/colors';

.job-container {
  display: grid;
  grid-template-columns: 20px 180px auto 140px 100px 1fr auto auto auto;
  padding: 24px;
  gap: 8px;
  border-bottom: 1px solid colors.$grey100;
}
