@import '../commons/colors';

.footer-body {
  display: flex;
  height: 64px;
  padding: 0 10px;

  .container-left,
  .container-center,
  .container-right {
    display: flex;
    align-items: center;
  }

  .container-center {
    flex-grow: 1;
    justify-content: center;
    gap: 20px;
  }

  .container-progress-bar {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 400px;
    margin-right: 20px;
    font-weight: bold;
  }

  .grey-box {
    display: flex;
    flex-direction: column;
    background-color: $grey5;
    border-radius: 4px;
    padding: 5px 10px;
    line-height: 1.2;

    > :first-child {
      font-weight: bold;
    }

    > :last-child {
      color: $grey6;
    }

    .grey-box-row {
      display: grid;
      gap: 15px;
      grid-template-columns: 80px 1fr auto;
      text-align: left;

      > :last-child:is(span) {
        font-weight: normal;
      }
    }

    .button-icon {
      width: 14px !important;
      height: 14px !important;
    }
  }

  .grey-box-speed-etc {
    font-weight: bold;
    > * {
      color: $black !important;
    }
  }
}
