#markAsCompleteButton.isMarkableAsComplete {
  background: $translatedBlue;
  color: #fff !important;
  width: auto !important;
  border-radius: 2px 0 0 2px;
  padding: 0 5px !important;
  text-transform: uppercase;
  margin: 0 !important;
}
input#markAsCompleteButton[disabled] {
  background: #d7d7d8;
}

#markAsCompleteButton {
  width: $icon-scale !important;
  height: $icon-scale;
  text-align: right;
  background: transparent;
  border: none;

  &:disabled {
    cursor: not-allowed;

    &:hover {
      opacity: 0.8;
    }
  }

  &.isMarkedComplete {
    background-image: url('/public/img/icons/icon-mark-active.svg');
    background-size: cover;
  }
  &.isMarkableAsComplete {
    opacity: 1;
    padding: 0 !important;
    border-radius: 0;
    background: transparent url('/public/img/icons/icon-mark.svg');
    background-size: cover;
  }
  &.notMarkedComplete {
    background: transparent url('/public/img/icons/icon-mark.svg');
    opacity: 0.7;
    background-size: cover;
    cursor: not-allowed;
  }
}
