@use '../commons/colors';

.members-filter-trigger-button {
  position: relative;
  min-width: 180px;
  max-width: 220px;
  border-radius: 35px !important;
  justify-content: start !important;
  padding-left: 4px !important;
  padding-right: 5px !important;
  font-size: 14px !important;
  color: black !important;

  &:disabled {
    box-shadow: unset !important;
    border: 1px solid colors.$grey200;
  }

  > :first-child {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }

  > :last-child {
    margin-left: auto;
    margin-right: 6px;
  }

  > svg {
    transition: transform 0.2s ease-in-out;
  }

  &.members-filter-open {
    > svg {
      transform: rotate(180deg);
    }
  }

  .members-filter-user-full-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.members-filter-item-filter {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 10px;
  color: black;

  > :first-child {
    font-size: 12px;
    border: 2px solid colors.$blue500;
    color: colors.$blue500;
    border-radius: 100%;
    width: 28px;
    height: 28px;
    display: flex;
    text-align: center;
    background-color: colors.$grey100;
    padding: 6px 4px;
    font-weight: bold;
    margin-right: 0.25em;
    line-height: 1;
  }

  &.members-filter-all {
    > :first-child {
      font-size: 11px;
    }
  }
}

.members-filter-popover-content {
  z-index: 7;
}

.members-filter-dropdown-content {
  background-color: white;
  padding: 5px;
  min-width: 250px;
  max-height: 450px;
  overflow: auto;
  box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    > li {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      padding: 10px;

      &:hover {
        background-color: colors.$grey75;
      }

      &.active {
        background-color: colors.$blue950;
        color: colors.$white;

        &:not(.members-filter-item-filter) {
          > :last-child {
            color: colors.$white;
          }
        }
      }

      &:not(.members-filter-item-filter) {
        justify-content: space-between;

        > :last-child {
          font-weight: bold;
          color: colors.$blue500;
        }
      }
    }
  }

  .add-new-member {
    border-bottom: 1px solid colors.$grey200;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: colors.$blue500;
    font-weight: bold;
    justify-content: space-between;

    > svg {
      border: 1px solid colors.$blue500;
      border-radius: 50%;
    }
  }

  .search-by-name {
    padding: 0 10px !important;

    &:hover {
      background-color: unset !important;
    }

    .input-component {
      width: 100%;

      input {
        border: unset;
        box-shadow: none;
      }
    }
  }

  .no-results {
    text-align: center;
    color: colors.$grey400;
  }
}
