@use '../commons/variables';
@use '../commons/colors';
/******* Notifications ************/

.notifications-wrapper-inside {
  .translator-notification-sent {
    font-weight: bold;
    line-height: 28px;
    span {
      color: colors.$blue700;
    }
  }
}

.notification-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: 12px;
  background-color: colors.$white;
  padding: 16px;
  box-shadow: 0 1px 20px rgba(colors.$grey700, 0.3);
  opacity: 0;
  @include variables.transition(0.3s ease-in-out);

  > :first-child {
    display: flex;
    gap: 12px;
  }
}

.notifications-position {
  position: fixed;
  width: variables.$notifications-width;
  height: auto;
  padding: 0 10px 10px 10px;
  z-index: 99999999;
  @include variables.box-sizing(border-box);
}
.notifications-position-bl {
  top: auto;
  bottom: 30px;
  left: 20px;
  right: auto;
}
.notifications-position-bc {
  top: auto;
  bottom: 30px;
  margin: 0 auto;
  left: 50%;
}
.notifications-position-br {
  top: auto;
  bottom: 30px;
  left: auto;
  right: 0px;
}
.notifications-position-tl {
  top: 60px;
  bottom: auto;
  left: 0px;
  right: auto;
}
.notifications-position-tc {
  top: 60px;
  bottom: auto;
  margin: 0 auto;
  left: 50%;
}
.notifications-position-tr {
  top: 60px;
  bottom: auto;
  left: auto;
}

.notification-item-icon {
  display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.notification-type-success {
  .notification-item-icon {
    background-color: rgba(variables.$notification-success, 0.1);

    svg {
      color: variables.$notification-success;
    }
  }
}

.notification-type-error {
  .notification-item-icon {
    background-color: rgba(variables.$notification-error, 0.1);

    svg {
      color: variables.$notification-error;
      transform: rotate(180deg);
    }
  }

  .notification-item-content > :first-child {
    color: variables.$notification-error;
  }
}

.notification-type-warning {
  .notification-item-icon {
    background-color: rgba(variables.$notification-warning, 0.1);

    svg {
      color: variables.$notification-warning;
      transform: rotate(180deg);
    }
  }

}

.notification-type-info {
  .notification-item-icon {
    background-color: rgba(variables.$notification-info, 0.1);

    svg {
      color: variables.$notification-info;
    }
  }
}
