@use '../commons/colors';

.project-bulk-actions-background {
  position: fixed;
  z-index: 3;
  top: 80px;
  margin-left: -100px;
  background: colors.$grey50;
  background: linear-gradient(
    180deg,
    rgba(colors.$grey50, 1) 0%,
    rgba(colors.$grey50, 1) 84%,
    rgba(colors.$grey50, 0) 100%
  );

  &.project-bulk-actions-background-hidden {
    display: none;
  }
}

.project-bulk-actions-container {
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: center;
  align-items: center;
  background-color: colors.$grey100;
  border-radius: 24px;

  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .project-bulk-actions-buttons {
    .jobs-selected {
      width: 25px;
      height: 25px;
      font-size: 12px;
      background-color: colors.$grey700;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      margin-top: 10px;
    }

    .jobs-selected-reached-limit {
      background-color: colors.$orange400;
    }

    > span:not(:first-of-type) {
      color: colors.$grey700;
    }

    > div {
      display: flex;
      align-items: center;
    }
  }

  .button-component-container:disabled {
    color: colors.$grey400 !important;
  }
}

.content-bulk-modal {
  padding: 40px;

  .content-bulk-modal-control {
    display: flex;
    margin-top: 50px;
    justify-content: end;
    gap: 20px;
  }
}

.bulk-actions-circle-button {
  border-radius: 50% !important;
}

.project-bulk-spacer {
  &::after {
    content: '';
    width: 30px;
    height: 1px;
    display: block;
    background: colors.$grey400;
  }
}
