@use '../commons/colors';

.user-project-dropdown-trigger {
  position: relative;
  padding: 10px 10px 10px 1px !important;
  transition-property:
    color, background-color, box-shadow, opacity, padding !important;

  &.not-assignee {
    box-shadow: unset !important;
    background-color: transparent !important;
    border: 1px solid colors.$grey400;

    &:hover {
      border-color: colors.$blue500;
      color: colors.$blue500 !important;
    }

    > span {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0 10px;
    }
  }

  &:hover:not(:disabled):not(.not-assignee) {
    padding-right: 32px !important;

    .button-remove-assignee {
      opacity: 1;
    }
  }
}

.button-remove-assignee {
  position: absolute;
  right: 3px;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
  background-color: rgba(colors.$grey400, 0.5);
  border-radius: 50%;
  color: colors.$white;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;

  &:hover {
    background-color: rgba(colors.$grey400, 0.7);
  }
}

.user-project-dropdown-content {
  background-color: white;
  padding: 5px;
  min-width: 250px;
  max-height: 450px;
  overflow: auto;
  box-shadow: 0px 2px 3px 0px rgba(34, 36, 38, 0.15);

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;

    > li {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      padding: 10px;

      &:hover {
        background-color: colors.$grey75;
      }

      &.active {
        background-color: colors.$blue950;
        color: colors.$white;
      }
    }
  }

  .add-new-member {
    border-bottom: 1px solid colors.$grey200;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: colors.$blue500;
    font-weight: bold;
    justify-content: space-between;

    > svg {
      border: 1px solid colors.$blue500;
      border-radius: 50%;
    }
  }

  .search-by-name {
    padding: 0 10px !important;

    &:hover {
      background-color: unset !important;
    }

    .input-component {
      width: 100%;

      input {
        border: unset;
        box-shadow: none;
      }
    }
  }

  .no-results {
    text-align: center;
    color: colors.$grey400;
  }
}
