@use '../../commons/colors';

.badge-container {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  margin: 0;
  border-radius: 20px;
  padding: 0 8px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  justify-content: center;
  > svg {
    flex-shrink: 0;
  }
}

// Type and Mode modifiers
.badge-black {
  &.badge-default {
    background-color: rgba(colors.$black, 0.5);
    color: colors.$white;
  }

  &.badge-full {
    background-color: rgba(colors.$black, 0.72);
  }

  &.badge-outline {
    border: solid 1px colors.$black;
    color: colors.$black;
  }
}

.badge-primary {
  &.badge-default {
    border: solid 1px colors.$blue200;
    background-color: rgba(colors.$blue200, 0.24);
    color: colors.$blue500;
  }

  &.badge-full {
    background-color: rgba(colors.$blue500, 0.72);
    color: colors.$white;
  }

  &.badge-outline {
    border: solid 1px colors.$blue500;
    color: colors.$blue500;
  }
}

.badge-green {
  &.badge-default {
    border: solid 1px colors.$green200;
    background-color: rgba(colors.$green200, 0.24);
    color: colors.$green700;
  }

  &.badge-full {
    background-color: rgba(colors.$green400, 0.72);
    color: colors.$white;
  }

  &.badge-outline {
    border: solid 1px colors.$green400;
    color: colors.$green700;
  }
}

.badge-yellow {
  &.badge-default {
    border: solid 1px colors.$orange100;
    background-color: rgba(colors.$orange100, 0.15);
    color: colors.$orange400;
  }

  &.badge-full {
    background-color: rgba(colors.$orange200, 0.72);
    color: colors.$white;
  }

  &.badge-outline {
    border: solid 1px colors.$orange200;
    color: colors.$orange400;
  }
}

.badge-blue {
  &.badge-default {
    border: solid 1px colors.$blue700;
    background-color: rgba(colors.$blue700, 0.15);
    color: colors.$blue700;
  }

  &.badge-full {
    background-color: rgba(colors.$blue700, 0.72);
    color: colors.$white;
  }

  &.badge-outline {
    border: solid 1px colors.$blue700;
    color: colors.$blue700;
  }
}

.badge-red {
  &.badge-default {
    border: solid 1px colors.$red500;
    background-color: rgba(colors.$red500, 0.15);
    color: colors.$red500;
  }

  &.badge-full {
    background-color: rgba(colors.$red500, 0.72);
    color: colors.$white;
  }

  &.badge-outline {
    border: solid 1px colors.$red500;
    color: colors.$red500;
  }
}

.badge-purple {
  &.badge-default {
    border: solid 1px colors.$purple500;
    background-color: rgba(colors.$purple500, 0.15);
    color: colors.$purple500;
  }

  &.badge-full {
    background-color: rgba(colors.$purple500, 0.72);
    color: colors.$white;
  }

  &.badge-outline {
    border: solid 1px colors.$purple500;
    color: colors.$purple500;
  }
}

.badge-orange {
  &.badge-default {
    border: solid 1px colors.$orange600;
    background-color: rgba(colors.$orange600, 0.15);
    color: colors.$orange600;
  }

  &.badge-full {
    background-color: rgba(colors.$orange600, 0.72);
    color: colors.$white;
  }

  &.badge-outline {
    border: solid 1px colors.$orange600;
    color: colors.$orange600;
  }
}

.badge-grey {
  &.badge-default {
    border: solid 1px colors.$grey500;
    background-color: rgba(colors.$grey500, 0.15);
    color: colors.$grey500;
  }

  &.badge-full {
    background-color: rgba(colors.$grey500, 0.72);
    color: colors.$white;
  }

  &.badge-outline {
    border: solid 1px colors.$grey500;
    color: colors.$grey500;
  }
}
