@use '../../commons/colors';
@use '../../commons/variables';

button.button-component-container,
a.button-component-container {
  position: relative;
  appearance: none;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: none;
  background-color: transparent;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border-radius: variables.$border-radius-default;
  width: auto;
  font-weight: 700;
  transition-property: color, background-color, box-shadow, opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  &:focus {
    outline: none;
  }

  &:disabled {
    cursor: not-allowed;
  }

  svg {
    flex-shrink: 0;
    pointer-events: none;
  }

  // Mode modifiers
  &.basic {
    background-color: var(--btnBgColor);
    color: var(--btnTextColor);

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background-color: var(--btnBgColorAlt);
      color: var(--btnTextColor);
    }

    &:disabled {
      background-color: var(--btnBgColorSemitransAlt);
      color: var(--btnTextColorDisabled);

      svg {
        color: var(--btnTextColorDisabled);
      }
    }
  }
  &.outline {
    box-shadow: inset 0 0 0 1px var(--btnBorderColor);
    color: var(--btnAltTextColor);

    &:not(:disabled):global(.button--active) {
      box-shadow: inset 0 0 0 1px var(--btnBorderColorActive);
      background-color: var(--btnBgColorSemitransAlt);
    }

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      box-shadow: inset 0 0 0 1px var(--btnBorderColorHover);
      background-color: var(--btnBgColorSemitrans);
      color: var(--btnAltTextColorHover);
    }

    &:disabled {
      box-shadow: inset 0 0 0 1px var(--btnBorderColorDisabled);
      color: var(--btnAltTextColorDisabled);

      svg {
        color: var(--btnAltTextColorDisabled);
      }
    }
  }
  &.outlineBg {
    box-shadow: inset 0 0 0 1px var(--btnBorderColor);
    background-color: var(--btnBgColorOutline);
    color: var(--btnTextColor);

    &:not(:disabled):global(.button--active) {
      box-shadow: inset 0 0 0 1px var(--btnBorderColorActive);
      background-color: var(--btnBgColorOutline);
    }

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      box-shadow: inset 0 0 0 1px var(--btnBorderColorHover);
      background-color: var(--btnBgColorSemitransAlt);
      color: var(--btnTextColor);
    }

    &:disabled {
      box-shadow: inset 0 0 0 1px var(--btnBorderColorDisabled);
      color: var(--btnAltTextColorDisabled);
      background-color: var(--btnBgColorSemitransAlt);
      svg {
        color: var(--btnTextColorDisabled);
      }
    }
  }
  &.ghost {
    color: var(--btnAltTextColor);

    &:not(:disabled):global(.button--active),
    &:not(:disabled):global(.button--active):hover {
      background-color: var(--btnBgColorSemitransAlt);
      color: var(--btnAltTextColor);
    }

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      background-color: var(--btnBgColorSemitrans);
      color: var(--btnAltTextColor);
    }

    &:disabled {
      color: var(--btnAltTextColorDisabled);
    }
  }
  &.link {
    color: var(--btnAltTextColor);

    &:not(:disabled):global(.button--active) {
      color: colors.$grey200;
    }

    &:not(:disabled):hover,
    &:not(:disabled):focus {
      color: colors.$black;
    }

    &:disabled {
      color: var(--btnAltTextColorDisabled);
    }
  }

  // Size modifiers
  &.small {
    height: 32px;
    padding: 6px 12px;
    gap: 6px;
    font: variables.$font-style-small;
    font-weight: 700;
  }
  &.standard {
    height: 40px;
    padding: 10px 16px;
    font: variables.$font-style-small;
    gap: 6px;
    font-weight: 700;
  }
  &.medium {
    height: 48px;
    padding: 12px 20px;
    font: variables.$font-style-base;
    gap: 8px;
    font-weight: 700;
  }
  &.big {
    height: 54px;
    padding: 14px 28px;
    gap: 10px;
    font: variables.$font-style-big;
    font-weight: 700;
  }
  &.iconSmall {
    width: 24px;
    height: 24px;
    padding: 4px;
    line-height: 24px;
    font-size: 12px;
  }
  &.iconMedium {
    width: 36px;
    height: 36px;
    padding: 4px;
    line-height: 36px;
    font-size: 14px;
  }
  &.iconStandard {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  &.iconBig {
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
  }
  &.fullWidth {
    width: 100%;
  }
  &.linkSmall {
    height: auto;
    font-size: 14px;
  }
  &.linkMedium {
    height: auto;
    font-size: 16px;
  }
  &.linkBig {
    height: auto;
    font-size: 18px;
  }

  // Waiting state
  .hiddenContent {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    white-space: nowrap;
    visibility: hidden;
  }
  &.waiting .spinner {
    position: absolute;
  }
}

// Type modifiers
.default {
  --btnTextColor: #{colors.$grey700};
  --btnTextColorDisabled: #{colors.$grey200};
  --btnAltTextColor: #{colors.$grey700};
  --btnAltTextColorHover: #{colors.$grey600};
  --btnAltTextColorDisabled: #{rgba(colors.$grey700, 0.12)};

  --btnBorderColor: #{colors.$grey200};
  --btnBorderColorHover: #{colors.$grey700};
  --btnBorderColorActive: #{colors.$grey700};
  --btnBorderColorDisabled: #{rgba(colors.$grey700, 0.12)};

  --btnBgColor: #{colors.$white};
  --btnBgColorAlt: #{colors.$grey75};
  --btnBgColorSemitrans: #{rgba(colors.$white, 0.5)};
  --btnBgColorSemitransAlt: #{rgba(colors.$white, 0.5)};
  --btnBgColorOutline: #{rgba(colors.$white, 0.5)};
}
.primary {
  --btnTextColor: #{colors.$white};
  --btnTextColorDisabled: #{colors.$white};
  --btnAltTextColor: #{colors.$blue500};
  --btnAltTextColorHover: #{colors.$blue600};
  --btnAltTextColorDisabled: #{rgba(colors.$blue500, 0.24)};

  --btnBorderColor: #{rgba(colors.$blue500, 0.24)};
  --btnBorderColorHover: #{colors.$blue600};
  --btnBorderColorActive: #{colors.$blue500};
  --btnBorderColorDisabled: #{rgba(colors.$blue500, 0.24)};

  --btnBgColor: #{colors.$blue500};
  --btnBgColorAlt: #{colors.$blue600};
  --btnBgColorSemitrans: #{rgba(colors.$blue500, 0.12)};
  --btnBgColorSemitransAlt: #{rgba(colors.$blue500, 0.24)};
  --btnBgColorOutline: #{rgba(colors.$blue500, 0.5)};
}
.info {
  --btnTextColor: #{colors.$white};
  --btnTextColorDisabled: #{colors.$white};
  --btnAltTextColor: #{colors.$blue700};
  --btnAltTextColorHover: #{colors.$blue400};
  --btnAltTextColorDisabled: #{rgba(colors.$blue700, 0.24)};

  --btnBorderColor: #{rgba(colors.$blue700, 0.24)};
  --btnBorderColorHover: #{colors.$blue700};
  --btnBorderColorActive: #{colors.$blue700};
  --btnBorderColorDisabled: #{rgba(colors.$blue700, 0.24)};

  --btnBgColor: #{colors.$blue700};
  --btnBgColorAlt: #{colors.$blue400};
  --btnBgColorSemitrans: #{rgba(colors.$blue700, 0.12)};
  --btnBgColorSemitransAlt: #{rgba(colors.$blue700, 0.24)};
  --btnBgColorOutline: #{rgba(colors.$blue700, 0.5)};
}
.success {
  --btnTextColor: #{colors.$white};
  --btnTextColorDisabled: #{colors.$white};
  --btnAltTextColor: #{colors.$green400};
  --btnAltTextColorHover: #{colors.$green600};
  --btnAltTextColorDisabled: #{rgba(colors.$green200, 0.24)};

  --btnBorderColor: #{rgba(colors.$green400, 0.24)};
  --btnBorderColorHover: #{colors.$green400};
  --btnBorderColorActive: #{colors.$green400};
  --btnBorderColorDisabled: #{rgba(colors.$green400, 0.24)};

  --btnBgColor: #{colors.$green400};
  --btnBgColorAlt: #{colors.$green600};
  --btnBgColorSemitrans: #{rgba(colors.$green400, 0.12)};
  --btnBgColorSemitransAlt: #{rgba(colors.$green400, 0.24)};
  --btnBgColorOutline: #{rgba(colors.$green400, 0.5)};
}
.warning {
  --btnTextColor: #{colors.$white};
  --btnTextColorDisabled: #{colors.$white};
  --btnAltTextColor: #{colors.$orange700};
  --btnAltTextColorHover: #{colors.$orange800};
  --btnAltTextColorDisabled: #{rgba(colors.$orange700, 0.24)};

  --btnBorderColor: #{rgba(colors.$orange700, 0.24)};
  --btnBorderColorHover: #{colors.$orange700};
  --btnBorderColorActive: #{colors.$orange700};
  --btnBorderColorDisabled: #{rgba(colors.$orange700, 0.24)};

  --btnBgColor: #{colors.$orange700};
  --btnBgColorAlt: #{colors.$orange800};
  --btnBgColorSemitrans: #{rgba(colors.$orange700, 0.12)};
  --btnBgColorSemitransAlt: #{rgba(colors.$orange700, 0.24)};
  --btnBgColorOutline: #{rgba(colors.$orange700, 0.5)};
}
.critical {
  --btnTextColor: #{colors.$white};
  --btnTextColorDisabled: #{colors.$white};
  --btnAltTextColor: #{colors.$red500};
  --btnAltTextColorHover: #{colors.$red600};
  --btnAltTextColorDisabled: #{rgba(colors.$red500, 0.24)};

  --btnBorderColor: #{rgba(colors.$red500, 0.24)};
  --btnBorderColorHover: #{colors.$red500};
  --btnBorderColorActive: #{colors.$red500};
  --btnBorderColorDisabled: #{rgba(colors.$red500, 0.24)};

  --btnBgColor: #{colors.$red500};
  --btnBgColorAlt: #{colors.$red600};
  --btnBgColorSemitrans: #{rgba(colors.$red500, 0.12)};
  --btnBgColorSemitransAlt: #{rgba(colors.$red500, 0.24)};
  --btnBgColorOutline: #{rgba(colors.$red500, 0.5)};
}
.purple {
  --btnTextColor: #{colors.$white};
  --btnTextColorDisabled: #{colors.$white};
  --btnAltTextColor: #{colors.$purple500};
  --btnAltTextColorHover: #{colors.$purple1000};
  --btnAltTextColorDisabled: #{rgba(colors.$purple500, 0.24)};

  --btnBorderColor: #{rgba(colors.$purple500, 0.24)};
  --btnBorderColorHover: #{colors.$purple500};
  --btnBorderColorActive: #{colors.$purple500};
  --btnBorderColorDisabled: #{rgba(colors.$purple500, 0.24)};

  --btnBgColor: #{colors.$purple500};
  --btnBgColorAlt: #{colors.$purple1000};
  --btnBgColorSemitrans: #{rgba(colors.$purple500, 0.12)};
  --btnBgColorSemitransAlt: #{rgba(colors.$purple500, 0.24)};
  --btnBgColorOutline: #{rgba(colors.$purple500, 0.5)};
}

.icon {
  --btnAltTextColorDisabled: #{rgba(colors.$white, 0.12)};

  --btnBorderColor: #{colors.$grey200};
  --btnBorderColorHover: #{colors.$grey700};
  --btnBorderColorActive: #{colors.$grey700};
  --btnBorderColorDisabled: #{rgba(colors.$white, 0.12)};

  --btnBgColor: #{colors.$white};
  --btnBgColorAlt: #{colors.$grey75};
  --btnBgColorSemitrans: #{rgba(colors.$white, 0.5)};
  --btnBgColorSemitransAlt: #{rgba(colors.$white, 0.5)};
  --btnBgColorOutline: #{rgba(colors.$white, 0.5)};
}
