@use '../../commons/colors';

.menu-button {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.menu-button-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  button {
    cursor: pointer;
  }

  > button {
    color: colors.$black;
    background: colors.$grey100;
    padding: 4px 8px;
    text-align: center;
    border: 1px solid colors.$grey400;
  }

  .label {
    &:hover {
      background-color: colors.$grey50;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    padding: 0 2px;

    &:hover {
      color: colors.$grey400;
    }
  }
}

.menu-button-items {
  position: absolute;
  z-index: 20;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 0 0 colors.$grey200,
    0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24);
  padding: 8px;
  background-color: colors.$white;
  margin-top: 10px;

  > :not(:last-child) {
    border-bottom: solid 1px colors.$grey100;
  }
}

.menu-button-items-rect-arrow {
  &::before {
    content: '';
    border-left: 8px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 8px solid colors.$white;
    bottom: 100%;
    left: auto;
    right: 0;
    position: absolute;
  }
}

.menu-button-items-reversed {
  transform: translateY(calc((100% + 4px) * -1));
  margin-top: 0px;
  &::after {
    content: '';
    border-left: 8px solid transparent;
    border-right: 0px solid transparent;
    border-top: 8px solid colors.$white;
    top: 100%;
    right: 0;
    left: auto;
    position: absolute;
  }
  &::before {
    visibility: hidden;
  }
}

.menu-button-item {
  display: flex;
  align-items: center;
  gap: 5px;
  border: none;
  padding: 8px;
  text-align: left;
  font-size: 16px;
  background-color: unset;
  cursor: pointer;

  &:not(:disabled):hover {
    background-color: colors.$grey75;
    color: colors.$blue500;
  }
}
