@import '../../commons/colors';

.numeric-stepper-component {
  display: flex;
  height: 32px;

  input {
    width: 100%;
    height: 100%;
  }

  .container-controls {
    display: flex;
    flex-direction: column;

    button {
      height: auto !important;
      line-height: 1 !important;
      padding: 0 !important;
    }
  }
}
