.loader {
  width: 20px;
  height: 20px;
  background: url(/public/img/loading.gif) 0 0 no-repeat !important;
  position: absolute;
  bottom: 11px;
  display: none;
  left: 50%;
  background-size: 20px 20px !important;
}
@-moz-document url-prefix() {
  .loader {
    bottom: -40px;
  }
}
