; Express expiration date in UTC
expire ="2019-12-11T21:00:01+01:00"

; Put your message here.
; It will be shown in the translation page as long as it doesn't expire.
; This message has to be single-line and can contain html
message="Matecat is great!"