; MateCat configuration File
; more configurations in INIT.php


;These two parameter are meant to check for a wrong configuration of the filesystems either
;in development, staging and production environment.
ENV = "production"    ; set to "production" for production environment

;In production environment it's supposed to have a filesystem of type nfs mounted
;If you don't need this check set the defined CHECK_FS to false
CHECK_FS = no

;Blacklist max file size
BLACKLIST_FILE_SIZE_MAX = 2097152

[development]
CLI_HTTP_HOST = "http://localhost" ; Set the hostname for batch processes ( they do not know the global variable $_SERVER )
COOKIE_DOMAIN = "localhost"
ENABLE_MULTI_DOMAIN_API = no

DB_SERVER = "localhost"
DB_DATABASE = "matecat"
DB_USER = "matecat_user"
DB_PASS = "matecat_user"

REDIS_SERVERS = "tcp://localhost:6379?database=0"
QUEUE_BROKER_ADDRESS = "tcp://localhost:61613"
QUEUE_JMX_ADDRESS = "http://localhost:8161"
QUEUE_CREDENTIALS = "admin:admin"
SSE_BASE_URL = "localhost/sse"          ;no trailing slash here
STORAGE_DIR = "/home/matecat/cattool/local_storage"         ;provide an absolute path

SMTP_HOST = 'localhost'
SMTP_PORT = '25'
SMTP_SENDER = 'no-reply@matecat.loc'
SMTP_HOSTNAME = 'localhost'

; Filters Configuration
FILTERS_ADDRESS = https://translated-matecat-filters-v1.p.rapidapi.com
FILTERS_RAPIDAPI_KEY = "Register to https://market.rapidapi.com/translated/matecat-filters to obtain your RapidAPI Key"

; THIS SHOULD BE YOUR LEXIQA LICENSE, Request your license key at
; @see http://www.lexiqa.net
LXQ_LICENSE = false
LXQ_PARTNERID = false

FILE_STORAGE_METHOD = 's3'

AUTOLOAD_PLUGINS[] = "review_extended"

;AWS_ACCESS_KEY_ID = 'xxxxxxx'
;AWS_SECRET_KEY = 'xxxxxxxxxxxx'
AWS_VERSION = 'latest'
AWS_REGION = 'us-west-2'
AWS_STORAGE_BASE_BUCKET = "xxxxxxxxxxxxxx"
AWS_CACHING = true
AWS_SSL_VERIFY = true

OPENAI_API_KEY = "xxxxxxxxxxxxxxxxxxxxx"
OPEN_AI_MODEL = "gpt-3.5-turbo"
OPEN_AI_TIMEOUT = 30

; Segments partition rule, leave unset to write to `segments` table.
; Format of configuration string is: "{id_project}:{table_name};...".
; Project ids must be sorted in ascecnding order. Match on `id_project` is "less than" ( < ).
; SEGMENTS_PARTITION_RULE="71:segments;9999999999999:segments2"

;----------------------------------------
[staging]
CLI_HTTP_HOST = "http://localhost" ; Set the hostname for batch processes ( they do not know the global variable $_SERVER )
COOKIE_DOMAIN = "localhost"
ENABLE_MULTI_DOMAIN_API = no

DB_SERVER = "localhost"
DB_DATABASE = "matecat"
DB_USER = "matecat_user"
DB_PASS = "matecat_user"

REDIS_SERVERS = "tcp://localhost:6379"
QUEUE_BROKER_ADDRESS = "tcp://localhost:61613"
QUEUE_JMX_ADDRESS = "http://localhost:8161"
QUEUE_CREDENTIALS = "admin:admin"
SSE_BASE_URL = "localhost/sse"          ;no trailing slash here
STORAGE_DIR = "/home/matecat/cattool/local_storage"         ;provide an absolute path

SMTP_HOST = 'localhost'
SMTP_PORT = '25'
SMTP_SENDER = 'no-reply@matecat.loc'
SMTP_HOSTNAME = 'localhost'

; Filters Configuration
FILTERS_ADDRESS = https://translated-matecat-filters-v1.p.rapidapi.com
FILTERS_RAPIDAPI_KEY = Register to https://market.rapidapi.com/translated/matecat-filters to obtain your RapidAPI Key

; THIS SHOULD BE YOUR LEXIQA LICENSE, Request your license key at
; @see http://www.lexiqa.net
LXQ_LICENSE = false
LXQ_PARTNERID = false

FILE_STORAGE_METHOD = 's3'

AUTOLOAD_PLUGINS[] = "review_extended"

;AWS_ACCESS_KEY_ID = 'xxxxxxx'
;AWS_SECRET_KEY = 'xxxxxxxxxxxx'
AWS_VERSION = 'latest'
AWS_REGION = 'us-west-2'
;AWS_PROFILE = 'default'
AWS_STORAGE_BASE_BUCKET = "storage-bucket"
AWS_CACHING = true

;----------------------------------------
[production]
CLI_HTTP_HOST = "http://localhost" ; Set the hostname for batch processes ( they do not know the global variable $_SERVER )
COOKIE_DOMAIN = "localhost"
ENABLE_MULTI_DOMAIN_API = no

DB_SERVER = "localhost"
DB_DATABASE = "matecat"
DB_USER = "matecat"
DB_PASS = "matecat01"

REDIS_SERVERS = "tcp://localhost:6379"
QUEUE_BROKER_ADDRESS = "tcp://localhost:61613"
QUEUE_JMX_ADDRESS = "http://localhost:8161"
QUEUE_CREDENTIALS = "admin:admin"
SSE_BASE_URL      = "localhost/sse"          ;no trailing slash here
STORAGE_DIR = "/home/matecat/cattool/storage"         ;provide an absolute path

SMTP_HOST = 'localhost'
SMTP_PORT = '25'
SMTP_SENDER = 'no-reply@matecat.loc'
SMTP_HOSTNAME = 'localhost'

; Filters Configuration
FILTERS_ADDRESS = https://translated-matecat-filters-v1.p.rapidapi.com
FILTERS_RAPIDAPI_KEY = Register to https://market.rapidapi.com/translated/matecat-filters to obtain your RapidAPI Key

; THIS SHOULD BE YOUR LEXIQA LICENSE, Request your license key at
; @see http://www.lexiqa.net
LXQ_LICENSE = false
LXQ_PARTNERID = false

FILE_STORAGE_METHOD = 's3'

AUTOLOAD_PLUGINS[] = "review_extended"

;AWS_ACCESS_KEY_ID = 'xxxxxxx'
;AWS_SECRET_KEY = 'xxxxxxxxxxxx'
AWS_VERSION = 'latest'
AWS_REGION = 'us-west-2'
;AWS_PROFILE = 'default'
AWS_STORAGE_BASE_BUCKET = "storage-bucket"