; This is a sample configuration file for email send
; Comments start with ';', as in php.ini

[server_configuration]
Host       = localhost
Port       = 25
Sender     = cattool@matecat.loc
Hostname   = matecat.loc
From       = cattool@matecat.loc
FromName   = Matecat Tool
ReturnPath = no-reply@matecat.loc

[email_list]
;admin@example.org = John Doe

