[GOOGLE_OAUTH_CONFIG]
GOOGLE_OAUTH_CLIENT_ID       = #<YOUR_CLIENT_ID>
GOOGLE_OAUTH_CLIENT_SECRET   = #<YOUR_CLIENT_SECRET>
GOOGLE_OAUTH_CLIENT_APP_NAME = Matecat
GOOGLE_OAUTH_BROWSER_API_KEY = #<YOUR_BROWSER_API_KEY>

[MICROSOFT_OAUTH_CONFIG]
MICROSOFT_OAUTH_CLIENT_ID       = xxxxxxxxxxx
MICROSOFT_OAUTH_CLIENT_SECRET   = yyyyyyyyyyy
MICROSOFT_OAUTH_REDIRECT_URL    = zzzzzzzzzz

[LINKEDIN_OAUTH_CONFIG]
LINKEDIN_OAUTH_CLIENT_ID       = 111111111
LINKEDIN_OAUTH_CLIENT_SECRET   = 222222222
LINKEDIN_OAUTH_REDIRECT_URL    = 333333333

[GITHUB_OAUTH_CONFIG]
GITHUB_OAUTH_CLIENT_ID       = hhhhhhhhhhhhhh
GITHUB_OAUTH_CLIENT_SECRET   = tttttttttttttt
GITHUB_OAUTH_REDIRECT_URL    = aaaaaaaaaaaaaa

[FACEBOOK_OAUTH_CONFIG]
FACEBOOK_OAUTH_CLIENT_ID       = hhhhhhhhhhhhhh
FACEBOOK_OAUTH_CLIENT_SECRET   = tttttttttttttt
FACEBOOK_OAUTH_REDIRECT_URL    = aaaaaaaaaaaaaa