; Tasks definition file

loggerName = 'TaskManager.log'             ;Master Logger for the Task Manager

;;####################################
;;######  Executors Definition  ######
;;####################################
[context_definitions]

;;########## ANALYSIS ##########
;;###### Configuration by  #####
;;######      Key Name     #####
;;##############################
;;##############################
;;######    Key Name P1    #####
;;##############################
P1[queue_name]    = "analysis_queue_P1"         ;AMQ queue name
P1[max_executors] = 10                         ;Number of executors
;;##############################
;;######    Key Name P2    #####
;;##############################
P2[queue_name]    = "analysis_queue_P2"
P2[max_executors] = 5
;;##############################
;;######    Key Name P3    #####
;;##############################
P3[queue_name]    = "analysis_queue_P3"
P3[max_executors] = 5
;;##############################
;;######    Key Name P4    #####
;;##############################
P4[queue_name]    = "analysis_queue_P4"
P4[max_executors] = 5

;;##############################
;;##### Key Name MailQueue #####
;;##############################
MAIL[queue_name]    = "mail_queue"
MAIL[max_executors] = 0

;;###################################
;;##### Propagation             #####
;;###################################
PROPAGATION[queue_name] = "propagation"
PROPAGATION[max_executors] = 1

;;##############################
;;##### Key Name setContribution #####
;;##############################
CONTRIBUTION[queue_name]    = "set_contribution"
CONTRIBUTION[max_executors] = 5

;;##############################
;;##### Key Name setContribution #####
;;##############################
CONTRIBUTION_GET[queue_name]    = "get_contribution"
CONTRIBUTION_GET[max_executors] = 5

;;##############################
;;##### Key Name activity_log #####
;;##############################
ACTIVITYLOG[queue_name]    = "activity_log"
ACTIVITYLOG[max_executors] = 1

;;##################################
;;##### Key Name project_queue #####
;;##################################
PROJECT_QUEUE[queue_name]    = "project_queue"
PROJECT_QUEUE[max_executors] = 1

;;##############################
;;##### Key Name setContributionMT #####
;;##############################
CONTRIBUTION_MT[queue_name]    = "set_contribution_mt"
CONTRIBUTION_MT[max_executors] = 5

;;##############################
;;##### Key Name jobs      #####
;;##############################
JOBS[queue_name]    = "jobs"
JOBS[max_executors] = 1

;;##################################
;;##### Key Name GlossaryRead  #####
;;##################################
GLOSSARY_READ[queue_name]    = "glossary_read"
GLOSSARY_READ[max_executors] = 5

;;###################################
;;##### Key Name GlossaryWrite  #####
;;###################################
GLOSSARY_WRITE[queue_name]    = "glossary_write"
GLOSSARY_WRITE[max_executors] = 1

;;###############################
;;#####   Align Job Small   #####
;;###############################
ALIGNER_ALIGN_JOB_SMALL[queue_name]    = "aligner_align_job_small"
ALIGNER_ALIGN_JOB_SMALL[max_executors] = 1

;;###############################
;;#####   Align Job Medium  #####
;;###############################
ALIGNER_ALIGN_JOB_MEDIUM[queue_name]    = "aligner_align_job_medium"
ALIGNER_ALIGN_JOB_MEDIUM[max_executors] = 1

;;###############################
;;#####    Align Job Big    #####
;;###############################
ALIGNER_ALIGN_JOB_BIG[queue_name]    = "aligner_align_job_big"
ALIGNER_ALIGN_JOB_BIG[max_executors] = 1

;;###############################
;;#####   Segment Create    #####
;;###############################
ALIGNER_SEGMENT_CREATE[queue_name]    = "aligner_segment_create"
ALIGNER_SEGMENT_CREATE[max_executors] = 5

;;###############################
;;##### Key Name tmx import #####
;;###############################
ALIGNER_TMX_IMPORT[queue_name]   = "aligner_tmx_import"
ALIGNER_TMX_IMPORT[max_executors] = 1

;;###################################
;;##### AI Assistant            #####
;;###################################
AI_ASSISTANT_EXPLAIN_MEANING[queue_name]    = "ai_assistant_explain_meaning"
AI_ASSISTANT_EXPLAIN_MEANING[max_executors] = 1