@use '../../commons/colors';
@use '../../commons/variables';
.job-analyze-header {
  display: flex;
  height: 40px;
  align-items: center;
  align-self: stretch;
  background: colors.$grey100;
  font: variables.$font-style-small;
  padding: 0 24px;
  .job-analyze-header__id {
    color: colors.$grey700;
    font: variables.$font-style-xsmall;
    min-width: 80px;
  }
  .job-analyze-header__languages {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
  }
  .job-analyze-header__words {
    color: colors.$blue500;
    margin-left: auto;
    font-weight: 700;
  }
}

.chunks-analyze {
  width: 100%;
  background-color: colors.$white;
}

.job-table-header {
  display: grid;
  grid-template-columns: minmax(100px, 150px) repeat(11, 1fr) minmax(
      80px,
      100px
    );
  grid-template-rows: 68px;
  background-color: colors.$grey50;
  font: variables.$font-style-xsmall;
  &.mtqe {
    grid-template-columns: minmax(100px, 150px) repeat(8, 1fr) minmax(80px, 100px);
  }
  > div {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: right;
    min-width: 46px;
    color: colors.$grey400;
    &:first-child {
      border-left: none;
      > div {
        border-bottom: none;
      }
    }
    :first-child {
      height: 85px;
      color: colors.$black;
    }
    > div {
      height: 32px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      padding-bottom: 2px;
      padding-right: 6px;
      white-space: pre-wrap
    }
  }
  .job-table-header-title {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: right;
    color: colors.$grey400;
    padding-right: 6px;
    border-right: 1px solid colors.$grey100;
     :first-child {
      height: 85px;
      font-weight: normal;
       color: colors.$grey400;
    }
    > div {
      height: 32px;
    }
  }
  .job-table-header-total {
    min-width: 60px;
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    text-align: right;
    align-items: flex-end;
    padding-right: 2px;
    > div {
      justify-content: center;
      border-bottom: none;
      padding-bottom: 10px;
    }
  }
}

.chunk-analyze-container {
  width: 100%;
  padding: 0 !important;
  font: variables.$font-style-xsmall;
  .chunk-analyze-info {
    display: grid;
    grid-template-columns: minmax(100px, 150px) repeat(11, 1fr) minmax(
        80px,
        100px
      );
    background-color: colors.$white;
    position: relative;
    &.mtqe {
      grid-template-columns: minmax(100px, 150px) repeat(8, 1fr) minmax(80px, 100px);
    }
    .chunk-analyze-info-background {
      position: absolute;
      width: 86%;
      background: colors.$grey600;
      height: 24px;
      right: 10px;
      top: 40px;
      opacity: 0.1;
      border-radius: 4px 4px 0 0;
    }
    .chunk-analyze-info-header {
      height: 56px;
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 0 6px;
      &.open {
        border-radius: 4px 4px 0 0;
      }
      .chunk-analyze-info-index {
        color: colors.$black !important;
        font-weight: 700 !important;
      }
      .chunk-analyze-info-files {
        color: colors.$blue500 !important;
        display: flex;
        align-items: center;
        gap: 4px;
        text-decoration: underline;
        cursor: pointer;
        svg {
          color: colors.$blue500 !important;
        }
      }

      :first-child {
        color: colors.$grey600;
      }
      > div {
        height: 28px;
        width: 100%;
        color: colors.$black;
        justify-content: space-between;
        display: flex;
        padding: 2px 8px;
        font-weight: 700;
        align-items: center;
      }
    }
    .chunk-analyze-info-total {
      background-color: colors.$grey50;
      :last-child {
        font-weight: 700;
      }
    }
    > div {
      > div:not(.chunk-analyze-info-header) {
        height: 28px;
        justify-content: right;
        display: flex;
        padding-right: 6px;
        line-height: 24px;
        font-weight: 700;
        align-items: center;
      }
      :first-child {
        font-weight: 400 !important;
        color: colors.$grey600;
      }
    }
  }
}

.chunk-file-detail {
  grid-template-columns: minmax(100px, 150px) repeat(11, 1fr) minmax(
      80px,
      100px
    );
  grid-template-rows: 24px;
  display: grid;
  padding: 0;
  color: colors.$grey600;
  position: relative;
  &.mtqe {
    grid-template-columns: minmax(100px, 150px) repeat(8, 1fr) minmax(80px, 100px);
  }
  .chunk-file-detail-background {
    position: absolute;
    width: 100%;
    background: colors.$grey50;
    height: 24px;
    top: 0px;
    z-index: 1;
    &.last {
      border-radius: 0 0 4px 4px;
    }
  }
  :first-child {
    border-right: none;
    justify-content: left;
  }
  > div {
    justify-content: right;
    display: flex;
    padding-right: 6px;
    line-height: 24px;
    z-index: 2;
  }
  .chunk-file-detail-filename {
    justify-content: space-between;
    padding: 0 12px;
    svg {
      margin-top: 5px;
    }
    .chunk-file-detail-name {
      height: 24px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100px;
      text-align: right;
    }
    > div {
      align-items: flex-start;
      width: 100%;
      gap: 4px;
      cursor: default;
    }
  }

}
.analyze-page .more-columns {
  grid-template-columns: minmax(100px, 150px) repeat(12, 1fr) minmax(80px,100px) !important;
}