// rewrite semantic CSS

body.analyze{
    min-width: 1024px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    background-color: #e4e6e8;
    overflow: visible;

}

.project-list {
    padding-top: 100px;
    padding-bottom: 160px;

    .project {
        background-color: #cbcbcb;
        .project-header {
            background-color: #f3f3f3;
            //padding-bottom: 10px !important;
            border-bottom: 1px solid #ccc;

            .left-analysis {
                padding: 20px 25px 0px 30px;
                .h1 {
                    font-size: 38px;
                    font-weight: 100;
                    color: grey;
                    margin-bottom: 0px;
                }
                .ui.ribbon.label {
                    position: relative;
                    top: 0px;
                    z-index: 2;
                    left: -45px;
                    max-width: 110%;
                    min-width: 340px;
                    background-color: #d8d8d8;
                    color: #000000;
                    border-radius: 0px 2px 2px 0px;
                    padding-right: 10px;
                    .project-id, .project-name {
                        display: inline-block;
                        vertical-align: text-bottom;
                        position: relative;
                    }
                    .project-id {
                        font-size: 14px;
                        font-weight: 700;
                        margin-right: 5px;
                        margin-left: 15px;
                        color: #5a5a5a;
                        top: -2px;
                    }
                    .project-name {
                        font-size: 20px;
                        max-width: 90%;
                        min-width: 30px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        top: 1px;
                    }
                }
                .project-create {
                    top: 10px;
                    position: relative;
                }
                .analysis-create {
                    margin-top: 45px;
                    .search-tm-matches {
                        h5 {
                            display: inline-block;
                            margin-bottom: 0;
                        }
                        .complete {
                            display: inline-block;
                            margin-left: 5px;
                            .number {
                                font-weight: 700;
                            }
                        }
                        .progress-bar {
                            width: 100%;
                        }
                        .downloadAnalysisReport {
                            color: #4183C4;
                            text-decoration: underline;
                            font-weight: 700;
                            margin-left: 5px;
                            cursor: pointer;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }

            }

            .word-count {
                .word-percent {
                    background-color: #f3f3f3;
                    padding: 20px 15px 10px 20px;
                    border: 1px solid #7eaf3e;
                    .percent {
                        font-size: 56px;
                        font-weight: 700;
                        display: inline-block;
                        vertical-align: -webkit-baseline-middle;
                        margin-right: 10px;
                    }
                }
                .word-raw, .matecat-raw {
                    background-color: #f3f3f3;
                    padding: 5px;
                    border: 1px solid #7eaf3e;
                    text-align: center;
                    transition: 0.4s ease;
                    h3, h4 {
                        margin: 0;
                    }
                }
                .word-raw {

                }
                .overlay {
                    background-color: rgba(243, 243, 243, 0.7);
                    border: 1px solid #a7c3a7;
                    margin-top: -54px;
                    z-index: 10;
                    position: relative;
                    height: 100%;
                }
                .updated-count {
                    background-color: #f9ffb5;
                }
            }

            .saving-count {
                background-color: white;
                position: relative;
                top: 10px;
                margin-bottom: 15px;
                padding: 15px;
                border: 1px solid green;
                border-radius: 0px;
                .percent {
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }


        .project-body {
            margin-top: 0;

            .jobs {
                /*margin-top: 0px;*/
            }
            .job {
                padding: 0 15px;
                margin-top: 35px;
                margin-bottom: 20px;
                .job-header {
                    background-color: #ffffff !important;
                    padding: 0 0 !important;
                }
                .job-body {
                    .chunks {
                        .chunk-container {
                            
                            .analysis {
                                background-color: #e4e6e8;
                                &.outsource-open {
                                    margin-left: -35px;
                                    margin-right: -35px;
                                }

                                .head-chunk {
                                    transition: 0.3s ease;
                                    background-color: #ffffff;
                                    padding: 8px 15px;
                                    text-align: center;
                                    position: relative;
                                    z-index: 4;
                                    .source-target {
                                        min-width: 140px;
                                        float: left;
                                        margin-right: 10px;
                                        font-weight: bold;
                                        position: relative;
                                        top: 1px;
                                        .source-box {
                                            float: left;
                                            line-height: 30px;
                                        }
                                        .in-to {
                                            float: left;
                                            top: 3px;
                                            color: #5a5a5a;
                                            line-height: 28px;
                                            position: relative;
                                        }
                                        .target-box {
                                            float: left;
                                            line-height: 30px;
                                        }
                                    }
                                    .job-not-payable {
                                        display: inline-block;
                                        padding: 0 0 0 10px !important;
                                        float: left;
                                        line-height: 30px;
                                        position: relative;
                                        top: 1px;
                                        color: #b2b2b2;
                                        #raw-words {
                                            text-decoration: line-through;
                                        }
                                    }
                                    .job-payable {
                                        padding: 0 10px !important;
                                        float: left;
                                        text-decoration: underline;
                                        min-width: 105px;
                                        line-height: 30px;
                                        font-weight: 700;
                                        position: relative;
                                        top: 1px;
                                        &:hover {
                                            text-decoration: none;
                                        }
                                    }

                                    .split, .merge {
                                        font-family: Calibri, Arial, Helvetica, sans-serif;
                                        padding: 5px 10px;
                                        vertical-align: top;
                                        font-size: 16px;
                                        border: 1px solid #797979;
                                        border-radius: 2px;
                                        float: right;
                                        &:hover {
                                            text-decoration: none;
                                        }
                                    }
                                    .split {
                                        padding: 5px 18px;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }

    }
}

.analysis {
    .job-table-header {
        margin-top: 0px !important;
        margin-bottom: 0;

    }
    .chunk-analyze-container {
        margin-top: 0 !important;
        margin-bottom: 0;
        width: 103%;
    }
    .chunks-title-table, .chunks-pay-table, .chunk, .chunk-detail {
        .left-box {
            height: 1%;
            position: relative;
            float: left;
            text-align: left;
            width: 15%;
        }
        .single-analysis {
            display: inline-block;
            margin: 0 auto;
            width: 75%;
            position: relative;
            float: left;
            text-align: center;
            font-size: 15px;
            line-height: 35px;
            .single {
                display: inline-block;
                width: 60px;
                margin-left: 2px;
                margin-right: 2px;
                //background-color: pink;
                span {
                    font-size: 13px;
                    font-weight: 700;
                    vertical-align: top;
                }
                &.total {
                    width: 70px;
                }
                &.payable-words {
                }
                &.new {
                    width: 40px;
                }
                &.repetition {
                    width: 70px;
                }
                &.internal-matches {
                }
                &.p-50-74 {
                }
                &.p-75-84 {
                }
                &.p-85-94 {
                }
                &.p-95-99 {
                }
                &.tm-100 {
                    width: 40px;
                }
                &.tm-public {
                    width: 50px;
                }
                &.tm-context {
                    width: 55px;
                }
                &.machine-translation {
                    position: relative;
                    width: 70px;
                }
            }
        }
        .right-box {
            width: 10%;
            position: relative;
            float: right;
            .open-translate {
                font-family: Calibri, Arial, Helvetica, sans-serif;
                padding: 6px 15px;
                vertical-align: top;
                font-size: 16px;
                border: 1px solid #797979;
                border-radius: 2px;
                float: right;
                margin-top: 3px;
            }
        }

        @media only screen and (max-width: 1199px) and (min-width: 992px) {
            .left-box {
                width: 12%;
                .job-id {
                    min-width: 65px;
                }
                .file-details {
                    text-decoration: underline;
                    min-width: 25px;
                    line-height: 30px;
                    font-weight: 700;
                    position: relative;
                    top: 1px;
                    .details {
                        display: none;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
                .f-details-number {
                    display: inline-block;
                }
            }
            .single-analysis {
                display: inline-block;
                margin: 0 auto;
                width: 78%;
                position: relative;
                float: left;
                text-align: center;
                font-size: 14px;
                line-height: 35px;
                .single {
                    display: inline-block;
                    //line-height: 42px;
                    padding: 0;
                    width: 55px;
                    //background-color: yellow;
                    span {
                        font-size: 12px;
                        font-weight: 700;
                    }
                    &.total {
                    }
                    &.payable-words {
                        width: 50px;
                    }
                    &.new {
                        width: 40px;
                    }
                    &.repetition {
                        width: 65px;
                    }
                    &.internal-matches {
                        width: 55px;
                    }
                    &.p-50-74 {
                    }
                    &.p-75-84 {
                    }
                    &.p-85-94 {
                    }
                    &.p-95-99 {
                    }
                    &.tm-100 {
                        width: 35px;
                    }
                    &.tm-public {
                        width: 45px;
                    }
                    &.tm-context {
                        width: 45px;
                    }
                    &.machine-translation {
                        position: relative;
                        width: 70px;
                    }
                }
            }
        }

        @media only screen and (max-width: 991px) and (min-width: 768px) {
            .left-box {
                width: 12%;
                .job-id {
                    min-width: 65px;
                }
                .file-details {
                    text-decoration: underline;
                    min-width: 25px;
                    line-height: 30px;
                    font-weight: 700;
                    position: relative;
                    top: 1px;
                    .details {
                        display: none;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .single-analysis {
                display: inline-block;
                margin: 0 auto;
                width: 78%;
                position: relative;
                float: left;
                text-align: center;
                font-size: 14px;
                line-height: 35px;
                .single {
                    display: inline-block;
                    //line-height: 42px;
                    padding: 0;
                    width: 55px;
                    //background-color: yellow;
                    span {
                        font-size: 12px;
                        font-weight: 700;
                    }
                    &.total {
                    }
                    &.payable-words {
                        width: 50px;
                    }
                    &.new {
                        width: 40px;
                    }
                    &.repetition {
                        width: 65px;
                    }
                    &.internal-matches {
                        width: 55px;
                    }
                    &.p-50-74 {
                    }
                    &.p-75-84 {
                    }
                    &.p-85-94 {
                    }
                    &.p-95-99 {
                    }
                    &.tm-100 {
                        width: 35px;
                    }
                    &.tm-public {
                        width: 45px;
                    }
                    &.tm-context {
                        width: 45px;
                    }
                    &.machine-translation {
                        position: relative;
                        width: 70px;
                    }
                }
            }
        }

        @media only screen and (max-width: 767px) {
            .left-box {
                width: 12%;
                .job-id {
                    min-width: 65px;
                }
                .file-details {
                    text-decoration: underline;
                    min-width: 25px;
                    line-height: 30px;
                    font-weight: 700;
                    position: relative;
                    top: 1px;
                    .details {
                        display: none;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .single-analysis {
                display: inline-block;
                margin: 0 auto;
                width: 78%;
                position: relative;
                float: left;
                text-align: center;
                font-size: 14px;
                line-height: 35px;
                .single {
                    display: inline-block;
                    //line-height: 42px;
                    padding: 0;
                    width: 55px;
                    //background-color: yellow;
                    span {
                        font-size: 12px;
                        font-weight: 700;
                    }
                    &.total {
                    }
                    &.payable-words {
                        width: 50px;
                    }
                    &.new {
                        width: 40px;
                    }
                    &.repetition {
                        width: 65px;
                    }
                    &.internal-matches {
                        width: 55px;
                    }
                    &.p-50-74 {
                    }
                    &.p-75-84 {
                    }
                    &.p-85-94 {
                    }
                    &.p-95-99 {
                    }
                    &.tm-100 {
                        width: 35px;
                    }
                    &.tm-public {
                        width: 45px;
                    }
                    &.tm-context {
                        width: 45px;
                    }
                    &.machine-translation {
                        position: relative;
                        width: 70px;
                    }
                }
            }
        }

    }


    .chunks-title-table {
        box-shadow: none !important;
        padding-bottom: 0px !important;
        .single-analysis {
            .single {
                line-height: 25px;
                border-bottom: 1px solid gray;
                -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
                -moz-box-sizing: border-box;    /* Firefox, Gecko */
                box-sizing: border-box;         /* Opera/IE 8+ */
            }
        }
    }

    .chunks-pay-table {
        box-shadow: none !important;
        padding-top: 0px !important;
        padding-bottom: 3px !important;
    }

    .chunk, .chunk-detail {
        transition: 0.3s ease;
        background-color: #ffffff;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        text-align: center;
    }

    .chunk {
        z-index: 2;
        .job-id {
            display: inline-block;
            min-width: 65px;
            color: #969696;
            font-size: 13px;
            position: relative;
            line-height: 28px;
            top: 1px;
            text-align: left;

        }
        .file-details {
            display: inline-block;
            text-decoration: underline;
            min-width: 65px;
            line-height: 30px;
            font-weight: 700;
            position: relative;
            top: 1px;
            &:hover {
                text-decoration: none;
            }
        }
        .f-details-number {
            display: inline-block;
            position: relative;
            top: 1px;
        }
        .payable-words {
            background-color: #c4df9b;
            font-weight: 700;
            transition: 0.3s ease;
        }
        .payable-words.updated-count {
            background-color: #7cc576;
            transition: 0.3s ease;
        }

        .updated-count {
            background-color: #f9ffb5;
            transition: 0.4s ease;
        }
    }

    .chunk-detail {
        padding-top: 2px !important;
        padding-bottom: 2px !important;
        background-color: #e4e6e8;
        z-index: 0;
        transition: 0.3s ease;
        .left-box {
            padding-top: 8px;
            i {
                position: relative;
                top: -6px;
            }
            .file-title-details {
                display: inline-block;
                max-width: 82%;
                min-width: 30px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
    .updated-count {
        background-color: #f9ffb5;
        transition: 0.4s ease;
    }
}

@media only screen and (min-width: 1200px) {
    .ui.container {
        width: 1140px;
        margin-left: auto !important;
        margin-right: auto !important;
        transition: 0.3s ease;
    }
}

@media only screen and (min-width: 1380px) {
    .ui.container {
        width: 1280px;
        margin-left: auto !important;
        margin-right: auto !important;
        transition: 0.3s ease;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .ui.container {
        width: 991px;
        margin-left: auto !important;
        margin-right: auto !important;
        transition: 0.3s ease;
    }

}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .ui.container {
        min-width: 991px;
        margin-left: auto !important;
        margin-right: auto !important;
        transition: 0.3s ease;
    }
    .project-list {
        padding-top: 50px;

    }

}

@media only screen and (max-width: 767px) {
    .ui.container {
        margin-left: 1em !important;
        margin-right: 1em !important;
        min-width: 991px;
        transition: 0.3s ease;
    }
    .project-list {
        padding-top: 50px;

    }
}