@use './colors';
@use '../commons/variables';
// rewrite semantic CSS
html,
body {
  height: 100%;
}

body.analyze {
  min-width: 1024px;
  background-color: colors.$grey100;
  overflow-x: auto;
  overflow-y: hidden;
  font: variables.$font-style-base;
}

.analyze-page {
  height: 100%;
}

.project-list {
  height: 100%;
  positon: relative;
  overflow-y: auto;
}

.project-list {
  padding-top: 40px; /* was 62px with previous header */
  padding-bottom: 160px;

  .project {
    display: flex;
    flex-direction: column;
    gap: 16px;
    .scroll {
      background-color: colors.$grey300;
      width: 40px;
      height: 40px;
      position: fixed;
      bottom: 35px;
      left: 8px;
      border-radius: 5px;
      border: none;
      outline: none;
      opacity: 0.8;
      z-index: 3;

      &:hover {
        opacity: 1;
      }

      i {
        margin-left: -7px;
        font-size: 22px;
        margin-top: 11px;
      }
    }

    .project-header {
      display: flex;
      gap: 16px;

      .left-analysis {
        display: flex;
        padding: 16px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        flex: 1 0 0;
        border-radius: variables.$border-radius-big;
        border: 1px solid colors.$grey150;
        background: colors.$grey50;
        .project-name h5 {
          font-weight: 700;
          line-height: 28px;
        }
        .analysis-create {
          display: flex;
          align-items: center;
          font-size: 16px;
          width: 100%;
          .loader {
            margin-right: 5px;
          }
          .analysis-progressbar {
            width: 100%;
            .progress-wrapper {
              background-color: rgba(colors.$blue500, 0.24);
              .progress {
                background-color: colors.$blue500;
              }
            }
          }
          .not-complete.failed {
            padding-left: 15px;
            border-left: 1px solid colors.$grey300;
            margin-left: 15px;
          }
          .complete {
            display: flex;
            align-items: center;
            gap: 8px;

            .number {
              font-weight: 700;
            }

            a {
              font-weight: 700;
              text-decoration: underline;

              &:hover {
                text-decoration: none;
              }
            }
          }
          .not-complete {

          }

          .downloadAnalysisReport {
            display: flex;
            gap: 8px;
            border-left: 1px solid colors.$green700;
            color: colors.$linkBlue;
            text-decoration: underline;
            margin-left: 16px;
            cursor: pointer;
            padding-left: 16px;
            align-items: center;
            &:hover {
              text-decoration: none;
              color: colors.$linkBlueHover;
            }
          }
        }

      }

      .word-count {
        display: flex;
        width: 360px;
        //height: 100px;
        padding: 16px 24px;
        justify-content: space-between;
        align-items: center;
        border-radius: variables.$border-radius-big;
        border: 1px solid colors.$grey150;
        background: colors.$grey50;
        .percent {
          display: flex;
          align-items: center;
          gap: 12px;
          align-self: stretch;
          &.in-progress h2 {
            color: colors.$blue500;
          }
        }
        .content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          font: variables.$font-style-small;
          .work-hour {
            color: colors.$grey400;
          }
        }
        svg {
          color: colors.$grey800;
        }
        a {
          text-decoration: underline;
          font-weight: 700;
          cursor: pointer;

          &:hover {
            text-decoration: none;
          }

          &:active {
            text-decoration: none;
          }

          &:focus {
            text-decoration: none;
          }
        }


        .updated-count {
          background-color: colors.$orange50;
        }
      }

      .saving-count {
        background-color: white;
        position: relative;
        top: 10px;
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid green;
        border-radius: 0;

        .percent {
          vertical-align: middle;
          display: inline-block;
        }
      }
    }

    .project-top {

      &.type-mtqe {
        .title-total-words,
        .title-matecat-words {
          width: 50% !important;
        }
      }


    }

    .project-top.type-standard {
      display: flex;
      flex-direction: column;
      gap: 16px;
      .project-card {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        border-radius: variables.$border-radius-big;
        border: 1px solid colors.$grey150;
        overflow: hidden;
        .project-card__header, .project-card__content {
          display: flex;
          padding: 0 24px;
          align-items: center;
          gap: 32px;
          align-self: stretch;
        }
        .project-card__header-info {
          display: flex;
          width: 300px;
          flex-direction: column;
          align-items: flex-start;
          .project-card__chunkName {
            margin-bottom: 4px;
            font: variables.$font-style-small;
          }
          .project-card__header-link {
            display: flex;
            width: 100%;
            padding: 4px 8px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: variables.$border-radius-default;
            background: colors.$grey50;
            color: colors.$blue500;
            input {
              all: unset;
              overflow: hidden;
              text-overflow: ellipsis;
              font: variables.$font-style-xsmall;
              white-space: nowrap;
              width: 100%;
            }
          }
          .project-card__header-languages {
            display: flex;
            align-items: center;
            gap: 4px;
            span {
              font-weight: 700;
            }
            svg {
                color: colors.$grey700;
            }
          }
          .project-card__header-id {
            font: variables.$font-style-xsmall;
            color: colors.$grey700
          }
        }
        .project-card__header-actions {
          display: flex;
          width: 334px;
          justify-content: flex-end;
          align-items: center;
          gap: 4px;
        }
        .project-card__count {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 16px;
          flex: 1 0 0;
          > div {
            display: flex;
            width: 160px;
            justify-content: flex-end;
            align-items: center;
            gap: 4px;
            color: colors.$grey700;

            &:last-child {
               font-weight: 700;
               color: colors.$black;
            }
          }

        }
        @media screen and (max-width: 1300px) {
          .project-card__count > div {
            width: 140px
          }
          .project-card__header-info {
            width: 200px;
          }
        }
        @media screen and (max-width: 1200px) {
          .project-card__count > div {
            width: 140px
          }
          .project-card__header-info {
            width: 150px;
          }
        }
        .project-card__header {
          height: 64px;
          background: colors.$grey50;
        }
        .project-card__content {
          height: 80px;
          border-bottom: 1px solid colors.$grey100;
          background: colors.$white;
        }
      }
    }

    .project-body {
      background-color: colors.$grey50;
      display: flex;
      padding: 8px 16px 16px 16px;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      border-radius: variables.$border-radius-big;
      h5 {
        font-size: 16px;
      }
      .job {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        border-radius: variables.$border-radius-default;
        border: 1px solid colors.$grey150;
        overflow: hidden;
      }
    }
  }
}
