@use "../commons/colors";
/*SIZE*/
.ui.buttons .button,
.ui.buttons .or,
.ui.button {
  font-size: 16px;
}

.ui.button-modal {
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  padding: 0 22px;
  display: inline-block;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
  &.blue {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(colors.$blue500),
      to(colors.$blue500)
    );
    background: -moz-linear-gradient(top, colors.$blue500, colors.$blue500);
    background: linear-gradient(top, colors.$blue500, colors.$blue500);
    color: colors.$white;
    border: 1px solid colors.$grey500;
    text-decoration: none;
    border-radius: 2px;
    &.disabled {
      opacity: 0.5 !important;
      cursor: default;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      border: 1px solid colors.$grey700;
      background: colors.$grey200;
    }
  }
  &.grey {
    color: colors.$grey1300;
    background: colors.$grey50;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(colors.$grey50),
      to(colors.$grey100)
    );
    background: -moz-linear-gradient(top, colors.$grey50, colors.$grey100);
    background: linear-gradient(top, colors.$grey50, colors.$grey100);
    border: 1px solid colors.$grey500;
    text-decoration: none;
    border-radius: 2px;
  }
  &.orange {
    background-color: colors.$orange700;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(colors.$orange700),
      to(colors.$orange900)
    );
    background: -moz-linear-gradient(top, colors.$orange700, colors.$orange900);
    background: linear-gradient(top, colors.$orange700, colors.$orange900);
    color: colors.$white;
    border: 1px solid colors.$grey500;
    text-decoration: none;
    border-radius: 2px;
  }
  &:hover {
    box-shadow: 0 1px 2px colors.$grey200;
    -webkit-box-shadow: 0 1px 2px colors.$grey200;
    border: 1px solid colors.$black;
  }
  &:active {
    -moz-box-shadow: inset 0 0 1px 1px colors.$grey400;
    -webkit-box-shadow: inset 0 0 1px 1px colors.$grey400;
    box-shadow: inset 0 0 1px 1px colors.$grey400;
  }

  &.margin {
    &.left-10 {
      margin-left: 10px;
    }
    &.left-20 {
      margin-left: 20px;
    }
    &.left-30 {
      margin-left: 30px;
    }
    &.right-10 {
      margin-right: 10px;
    }
    &.right-20 {
      margin-right: 20px;
    }
    &.right-30 {
      margin-right: 30px;
    }
  }
}
