@use "../commons/colors";
/*SIZE*/
.ui.buttons .button,
.ui.buttons .or,
.ui.button {
  font-size: 16px;
}

.ui.button-modal {
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  padding: 0 22px;
  display: inline-block;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
  &.blue {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(colors.$translatedBlue),
      to(colors.$translatedBlue)
    );
    background: -moz-linear-gradient(top, colors.$translatedBlue, colors.$translatedBlue);
    background: linear-gradient(top, colors.$translatedBlue, colors.$translatedBlue);
    color: colors.$white;
    border: 1px solid colors.$grey1;
    text-decoration: none;
    border-radius: 2px;
    &.disabled {
      opacity: 0.5 !important;
      cursor: default;
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      border: 1px solid colors.$grey6;
      background: colors.$grey8;
    }
  }
  &.grey {
    color: colors.$grey1300;
    background: colors.$grey5;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(colors.$grey5),
      to(colors.$grey4)
    );
    background: -moz-linear-gradient(top, colors.$grey5, colors.$grey4);
    background: linear-gradient(top, colors.$grey5, colors.$grey4);
    border: 1px solid colors.$grey1;
    text-decoration: none;
    border-radius: 2px;
  }
  &.orange {
    background-color: colors.$warning;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(colors.$warning),
      to(colors.$rebuttedRedHover)
    );
    background: -moz-linear-gradient(top, colors.$warning, colors.$rebuttedRedHover);
    background: linear-gradient(top, colors.$warning, colors.$rebuttedRedHover);
    color: colors.$white;
    border: 1px solid colors.$grey1;
    text-decoration: none;
    border-radius: 2px;
  }
  &:hover {
    box-shadow: 0 1px 2px colors.$grey8;
    -webkit-box-shadow: 0 1px 2px colors.$grey8;
    border: 1px solid colors.$black;
  }
  &:active {
    -moz-box-shadow: inset 0 0 1px 1px colors.$grey7;
    -webkit-box-shadow: inset 0 0 1px 1px colors.$grey7;
    box-shadow: inset 0 0 1px 1px colors.$grey7;
  }

  &.margin {
    &.left-10 {
      margin-left: 10px;
    }
    &.left-20 {
      margin-left: 20px;
    }
    &.left-30 {
      margin-left: 30px;
    }
    &.right-10 {
      margin-right: 10px;
    }
    &.right-20 {
      margin-right: 20px;
    }
    &.right-30 {
      margin-right: 30px;
    }
  }
}
