$white: white;

$black: #000;
$black100: rgba(#1A1A29, 0.07);


// Grey scale (lightest → darkest)
$grey50: #f5f6f7;
$grey75: #f3f3f3;
$grey100: #eaebee;
$grey150: #d9e0e8;
$grey200: #d7d8db;
$grey300: #aebdcd;
$grey400: #9e9e9e;
$grey500: #788190;
$grey600: #6f6f6f;
$grey700: #666666;
$grey1300: #29292D;


// Orange scale (lightest → darkest)
$orange50: #fffed8;
$orange100: #fee47a;
$orange200: #ffcc01;
$orange300: #ebbf47;
$orange400: #efbf00;
$orange500: #ffaa8e;
$orange600: #ff8734;
$orange700: #f2711c;
$orange800: #df681a;
$orange900: #e9511f;

// Red scale (lightest → darkest)
$red100: #ffc8ca;
$red400: #ef4740;
$red500: #e02020;
$red600: #d31d1d;

// Blue scale (lightest → darkest)
$blue50: #e4f2fb;
$blue200: #63c3e3;
$blue300: #86aacd;
$blue400: #2a8cfc;
$blue500: #0099cc; //Translated blue
$blue600: #0889b3;
$blue700: #4184c4;
$blue800: #3174b4;
$blue900: #002b5a;
$blue950: #00254f;

// Purple scale (lightest → darkest)
$purple200: #b58dd2;
$purple500: #9352c1;
$purple1000: #7E22CE;

// Green scale (lightest → darkest)
$green50: #d1e0d1;
$green200: #80d5af;
$green300: #7cc576;
$green400: #4ADE80;
$green500: #1fbd1f;
$green600: #1c9f64;
$green700: #1ba61b;

// Color variables for translation status
$transparentBlue: $blue50;
$translatedBlueTransparent: $blue200;
$linkBlueTransparent: $blue300;
$translatedBlue: $blue500;
$translatedBlueHover : $blue600;
$linkBlue: $blue700;
$linkBlueHover : $blue800;
$darkBlue:$blue900;
$darkBlueHover:$blue950;

$greenDefaultTransparent2: $green50;
$approvedGreenTransparent:$green200;
$greenDefaultTransparent:$green300;
$approvedGreen:$green400;
$approvedGreenHover:$green500;
$greenDefault:$green500;
$approvedGreenHover: $green600;
$greenDefaultHover:$green700;

$approved2GreenTransparent: $purple200;
$approved2Green: $purple500;
$approved2GreenHover:$purple1000;

$warning: $orange700;
$warningHover:$orange800;
$rebuttedRedTransparent: $orange500;
$rebuttedRed:$orange600;

$redDefaultTransparent:$red100;
$redDefault: $red500;
$redDefaultHover:$red600;