
$grey1: #95A3B2;
$grey2: #DBDFE3;
$grey3: #F2F4F7;

$darkBlue: #002B5A;
$darkBlueHover: #000720;
$darkBlueTransparent: #7F95AC;

$linkBlue: #0055B8;
$linkBlueHover: #001C85;
$linkBlueActive: #00196b;
$linkBlueTransparent: #7FAADB;

$translatedBlue: #0099CC;
$translatedBlueHover: #005CA3;
$translatedBlueActive: #004789;
$translatedBlueTransparent: #7FCCE5;

$approvedGreen: #3CD264;
$approvedGreenHover: #0EAD27;
$approvedGreenTransparent: #9DE8B1;

$approved2Green: #D380ED;
$approved2GreenHover: #AF40DC;
$approved2GreenTransparent: #E9BFF6;

$rebuttedRed: #FF6633;
$rebuttedRedHover: #FF290A;
$rebuttedRedTransparent: #FFB299;

$greenDefault: #589c39;
$greenDefaultHover: #187905;
$greenDefaultTransparent: #A7D791;

$redDefault: #FF4233;
$redDefaultHover: #EA0A0A;
$redDefaultTransparent: #FFA099;

$orangeDefault: #FFBF24;
$orangeDefaultHover: #FF8F05;
$orangeDefaultTransparent: #FFDF91;
