@use "../commons/colors";
.xdsoft_datetimepicker {
  font-family: Calibri, Arial, Helvetica, sans-serif;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today {
  color: colors.$blue500;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current {
  background: colors.$blue500;
  box-shadow: none;
  color: colors.$white;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover {
  color: colors.$grey700 !important;
  background: colors.$grey200 !important;
  box-shadow: none !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td:active {
  color: colors.$white !important;
  background: colors.$blue500 !important;
  box-shadow: none !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td:focus {
  color: colors.$white !important;
  background: colors.$blue500 !important;
  box-shadow: none !important;
}

.xdsoft_datetimepicker
  .xdsoft_timepicker
  .xdsoft_time_box
  > div
  > div.xdsoft_current {
  background: colors.$blue500;
  box-shadow: none;
}

.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: colors.$grey700 !important;
  background: colors.$grey200 !important;
  box-shadow: none !important;
}

.xdsoft_datetimepicker .blue-gradient-button {
  background: colors.$blue500;
  color: white;
  font-family: Calibri;
  border: 1px solid colors.$grey600 !important;
  padding: 4px;
}

.xdsoft_datetimepicker .blue-gradient-button:hover {
  background: colors.$blue500;
  box-shadow: 0 0 0 colors.$grey200, 0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24) !important;
  color: colors.$white;
  border: 1px solid colors.$grey600 !important;
}
