.organization-dropdown {
	a {
		color: #888888;
		i {
			height: 0;
			line-height: .5em !important;		
		}
	}
	
	.header {
		font-size: 1em !important;
	}
	.organization-filter {
		
	}
}

.ui.active.dimmer {
	z-index: 999999999;
}