// rewrite semantic CSS

body.manage {
    //min-width: 1040px;
    //font-size: 14px;
    //box-sizing: content-box;
    //margin-top: 55px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    @media only screen and (min-width: 1380px) {
        .ui.container {
            width: 1280px;
        }
        .ui.grid.container {
            width: 1280px !important;
        }
    }
}

// Shadow - Transitions for buttons
.ui.button {
    transition: 0.3s ease !important;
    padding: 8px 15px 8px 15px;
}

.ui.icon.button {
    padding: 6px;
    font-size: 18px;
}

.ui.top.right.pointing.dropdown > .menu:after {
    top: -0.25em;
    left: auto;
    right: .5em;
    margin: 0em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #ffffff;
}

.item.cancel-item {
    position: absolute !important;
    left: -99999px;
}

// Closing Shadow - Transitions for buttons

.project-list {
    padding-top: 160px;
    padding-bottom: 160px;
    .project {
        margin-bottom: 30px !important;
        .ui.ribbon.label {
            position: absolute;
            top: 14px;
            z-index: 2;
            left: -15px;
        }
        .project-header {
            background-color: #dadada;
            padding-bottom: 22px !important;
            .project-id {
                padding: 10px 0 10px 15px;
            }
            .ui.form .field :disabled {
                opacity: 1 !important;
            }
            .project-name {
                .ui.icon.input {
                    transition: 0.3s ease !important;
                }
                .ui.icon.input.selected {
                        width: 627px;
                        z-index: 3;
                        transition: 0.3s ease !important;
                }
                .ui.form input[type="text"] {
                    background: #dadada;
                    border: 1px solid #bcbcbc;
                    font-weight: 600;
                    font-size: 16px;
                    padding: 8px 15px;
                    white-space: nowrap;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    -ms-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    transition: 0.3s ease !important;
                    &:hover {
                        background: #f0f0f0;
                    }
                    &:focus {
                        background: #ffffff;
                        width: 700px;
                        box-shadow: 0 0 0 #e0e0e0,
                        0 0 2px rgba(0, 0, 0, .12),
                        0 2px 4px rgba(0, 0, 0, .24) !important;
                        transition: 0.3s ease !important;
                    }
                }
            }
            .project-payable {
                padding: 23px 0;
                float: left;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .project-activity-icon {
                padding: 4px 15px 0px !important;
                font-family: Calibri, Arial, Helvetica, sans-serif;
                @media only screen and (max-width: 767px) {
                    padding: 0px !important;
                }
                .ui.circular.label, .ui.dropdown {
                    text-align: center;
                    border-radius: 30px;
                    &.project-menu {
                        border-radius: 4px;
                        padding: 0px;
                        font-size: 18px;
                        vertical-align: top;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                    }
                    &.project-assignee {
                        margin-right: 8px;
                        background-color: #59467a !important;
                        &:hover {
                            background-color: #67528c !important;
                            padding-right: 5px;
                        }
                        .text {
                            border-radius: 15px;
                            padding: 3px 15px 3px 3px;
                            color: #ffffff;
                            transition: 0.3s ease;
                        }
                        .menu {
                            z-index: 1;
                            .header {
                                font-size: 14px;
                                i {
                                    float: right;
                                    font-size: 18px;
                                }
                            }
                        }
                        .item .ui.cancel.label {
                            display: none;
                        }
                        &:hover .text {
                            padding-right: 30px;
                        }
                    }
                    &.project-not-assigned {
                        border: 1px dashed #868686;
                        padding: 0px 15px 0px 3px;
                        transition: 0.3s ease;
                        color: rgba(0, 0, 0, 0.6);
                        margin-right: 8px;
                        i {
                            transition: 0.3s ease;
                        }
                        &:hover {
                            border: .1em dashed deepskyblue;
                            color: deepskyblue;
                            .icon-user22 {
                                color: deepskyblue;
                            }
                        }
                        .not-assigned {
                            line-height: 13px;
                            margin-right: 0px;
                            padding-left: 10px;
                            background-color: transparent;
                        }
                        .menu {
                            .header {
                                font-size: 14px;
                                i {
                                    float: right;
                                    font-size: 18px;
                                }
                            }
                        }
                        .ui.cancel.label {
                            display: none;
                        }
                    }
                    &.project-assignee {
                        .ui.cancel.label {
                            padding: 4px;
                            background-color: rgba(255, 255, 255, 0.10);
                            margin: 0px;
                            border-radius: 15px;
                            position: absolute;
                            bottom: 3px;
                            line-height: 0px;
                            right: 3px;
                            visibility: hidden;
                            i {
                                font-size: 15px;
                                color: rgba(255, 255, 255, 0.39);
                            }
                            &:hover {
                                background-color: rgba(255, 255, 255, 0.18);
                            }
                        }

                        &:hover .ui.cancel.label {
                            visibility: visible;
                            z-index: 2;
                        }
                    }
                }
            }
        }

        .project-body {
            background-color: #f9f9f9;
            padding-bottom: 0 !important;
            .jobs {
                margin-top: -30px;
            }
            .job {
                padding: 0 15px;
                margin-bottom: 15px;
                .job-header {
                    background-color: #ffffff !important;
                    padding: 0 0 !important;

                    .split-merge {
                        padding: 10px 15px;
                        .merge {
                            font-family: Calibri, Arial, Helvetica, sans-serif;
                            padding: 5px 17px;
                            border: 1px solid #797979;
                            font-size: 16px;
                            transition: 0.3s ease !important;
                        }
                    }
                }
                .job-body {
                    .chunks {
                        .chunk {
                            background-color: #ffffff;
                            padding: 8px 15px;
                            .source-target {
                                padding: 5px 0 !important;
                                min-width: 150px;
                                .source-box {
                                    float: left;
                                    width: 60px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .in-to {
                                    float: left;
                                    margin-top: 2px;
                                    color: #5a5a5a;
                                }
                                .target-box {
                                    float: left;
                                    width: 60px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;

                                }
                            }
                            .creation-date{
                                padding: 5px 15px !important;
                            }

                            .job-id {
                                padding: 5px 0 !important;
                                float: left;
                                min-width: 80px;
                            }
                            .progress-bar {

                            }
                            .tm-job {
                                float: left;
                                width: 30px;
                                height: 30px;
                                margin-left: 5px;
                            }
                            .job-activity-icons {
                                float: left;
                                width: 30px;
                                height: 30px;
                                margin-left: 5px;
                                .comments {

                                }
                            }

                            .job-payable {
                                padding: 5px 15px !important;
                                float: left;
                            }
                            .due-to {
                                padding: 5px 0 !important;
                            }
                            .open-outsource {
                                .ui.button {
                                    margin-right: 8px;
                                }
                                .job-menu {
                                    margin-right: 0px !important;
                                }
                                .open-translate {
                                    font-family: Calibri;
                                    padding: 6px 15px;
                                    vertical-align: top;
                                    font-size: 16px;
                                    border: 1px solid #797979;
                                }
                                .creation-date {
                                    font-family: Calibri;
                                    padding: 6px 15px !important;
                                    vertical-align: top;
                                    font-size: 16px;
                                    border: 1px solid #797979;
                                    float: none;
                                }
                            }
                            .chunk-download-progress {
                                height: 2px;
                                background-color: #ffffff;
                                position: absolute;
                                bottom: 0px;
                                width: 100%;
                                left: 0;
                                &:after {
                                    content: '';
                                    opacity: 1;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    background: #000000;
                                    border-radius: .28571429rem;
                                    -webkit-animation: progress-active 1s ease infinite;
                                    animation: progress-active 1s ease infinite;
                                }
                            }
                        }
                    }
                }
            }
        }

        .project-footer {
            padding: 0 30px 5px !important;
            text-align: right;
            background-color: #f9f9f9;
            .activity-log {
                margin-top: -10px;
                margin-right: -15px;
                a {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
// closing rewrite semantic CSS

.no-results-found {
    .button {
        padding: 25px !important;
        transition: 0.3s ease !important;
        .content {
            .header {
                transition: 0.3s ease !important;
                .add-more {
                    font-size: 60px !important;
                    padding: 25px 0px 35px;
                }
            }
            .description {
                font-size: 20px;
                line-height: 30px;
            }
        }
        &:hover {
            background-color: #09beec;
            transition: 0.3s ease !important;
            .header {
                .add-more {
                    color: #ffffff;
                }
            }
            .description {
                color: #ffffff !important;
            }
        }
    }
}

/*.no-results-found span {
    text-align: center;
    display: block;
    font-size: 34px;
    margin-top: 20px;
}*/

.manage footer {
    background: #6d6e71;
    height: 27px;
    text-align: right;
    border-top: 1px solid #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}

.manage footer .wrapper {
    margin: 0px auto 0 auto;
    padding: 3px 0 0 0;
    width: 92%;
    font-size: 14px;
    position: relative;
    text-align: right;
}



footer ul {
    margin: -5px 0 0 0;
    padding: 0;
    float: left;
    list-style: none;
}

footer nav {
    background: none;
    float: right;
    display: block;
    line-height: 19px;
    box-shadow: none;
    text-align: right;
}

footer nav, footer nav a {
    font-size: 14px;
    color: #ffffff !important;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}


footer nav ul li {
    padding:7px 5px 5px 5px;
}

footer nav ul a, #welcomebox {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

footer nav ul a:hover {
    background: none!important;
    color: #ffffff;
}

.modal[data-type=view] {
    display: none;
}

