// rewrite semantic CSS

body.manage {
    //min-width: 1040px;
    //font-size: 14px;
    //box-sizing: content-box;
    //margin-top: 55px;
    font-family: Calibri, Arial, Helvetica, sans-serif;
    background-color: #e4e6e8;
    @media only screen and (min-width: 1380px) {
        .ui.container {
            width: 1280px;
        }
        .ui.grid.container {
            width: 1280px !important;
        }
    }
}

// Shadow - Transitions for buttons
//.ui.button {
//    transition: 0.3s ease !important;
//    padding: 8px 15px 8px 15px;
//}

.ui.icon.button {
    padding: 0px;
    font-size: 18px;
    margin: 0px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.ui.icon.button > .icon {
    opacity: 0.9;
    margin: 0em;
    vertical-align: inherit;
}

.ui.top.right.pointing.dropdown > .menu:after {
    right: .5em;
}

.item.cancel-item {
    position: absolute !important;
    left: -99999px;
}

// Closing Shadow - Transitions for buttons

.project-list {
    padding-top: 100px;
    padding-bottom: 160px;
    .project {
        margin-bottom: 30px !important;
        .ui.ribbon.label {
            position: absolute;
            top: 11px;
            z-index: 2;
            left: -15px;
            max-width: 505px;
            width: 100%;
            line-height: 17px;
            background-color: #d8d8d8;
            color: #000000;
        }
        .project-header {
            /*background-color: #e0e1e2;
            padding-bottom: 22px !important;*/
            background-color: #f3f3f3;
            padding-bottom: 10px !important;
            border-bottom: 1px solid #ccc;
            margin-bottom: -23px;
            //z-index: 0;
            position: relative;

            .project-name {
                font-size: 17px;
                white-space: nowrap;
                float: left;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 350px;
            }
            .project-id {
                float: right;
                font-size: 14px;
                font-weight: normal;
            }
            .ui.form .field :disabled {
                opacity: 1 !important;
            }
            .project-name {
                .ui.icon.input {
                    transition: 0.3s ease !important;
                }
                .ui.icon.input.selected {
                        width: 627px;
                        z-index: 3;
                        transition: 0.3s ease !important;
                }
                .ui.form input[type="text"] {
                    background: #dadada;
                    border: 1px solid #bcbcbc;
                    font-weight: 600;
                    font-size: 16px;
                    padding: 8px 15px;
                    white-space: nowrap;
                    overflow: hidden;
                    -o-text-overflow: ellipsis;
                    -ms-text-overflow: ellipsis;
                    text-overflow: ellipsis;
                    transition: 0.3s ease !important;
                    &:hover {
                        background: #f0f0f0;
                    }
                    &:focus {
                        background: #ffffff;
                        width: 700px;
                        box-shadow: 0 0 0 #e0e0e0,
                        0 0 2px rgba(0, 0, 0, .12),
                        0 2px 4px rgba(0, 0, 0, .24) !important;
                        transition: 0.3s ease !important;
                    }
                }
            }
            .project-payable {
                padding: 23px 0;
                float: left;
                a {
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .project-activity-icon {
                padding: 2px 12px 0px !important;
                font-family: Calibri, Arial, Helvetica, sans-serif;
                position: relative;
                top: 4px;
                @media only screen and (max-width: 767px) {
                    padding: 0px !important;
                }
                .ui.dropdown {
                    text-align: center;
                    border-radius: 30px;
                    .ui.icon.input input {
                        padding-right: 2.67142857em !important;
                        box-shadow: inset 0 1px 3px #ddd;
                    }
                    &.project-menu.ui.button {
                        box-shadow: none;
                    }
                    &.project-personal-assignee {
                        margin-right: 8px;
                        background-color: #e0e1e2 !important;
                        vertical-align: top;
                        border: 1px solid #bdbdbd;
                        cursor: default;
                        .text {
                            border-radius: 15px;
                            padding: 2px 14px 2px 3px;
                            color: black;
                            transition: 0.3s ease;
                            .ui.circular.label {
                                background-color: #cecece;
                                color: #888888;
                            }
                        }
                    }
                    &.project-team {
                        margin-right: 8px;
                        background-color: #8c97b9;
                        vertical-align: top;
                        height: 30px;
                        .text {
                            max-width: 170px;
                            min-width: 30px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            border-radius: 15px;
                            padding: 5px 15px;
                            color: #ffffff;
                            transition: 0.3s ease;
                        }
                        .menu {
                            z-index: 1;
                            .divider {
                                margin: 0;
                            }
                            .item {
                                max-width: 200px;
                                min-width: 170px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .header {
                                font-size: 14px;
                                margin: 0px;
                                padding: 15px;
                                cursor: pointer;

                                &:hover {
                                    background-color: #f3f3f3;
                                }
                            }
                        }
                        &:hover .text {
                            background-color: #838dad !important
                        }
                    }
                    &.project-assignee {
                        margin-right: 8px;
                        /*background-color: #59467a !important;*/
                        background-color: #ffffff !important;
                        vertical-align: top;
                        .text {
                            border-radius: 15px;
                            padding: 3px 15px 3px 3px;
                            color: #000000;
                            transition: 0.3s ease;
                            img {
                                max-height: 24px;
                            }
                        }
                        .menu {
                            z-index: 1;
                            .divider {
                                margin: 0;
                            }
                            .header {
                                font-size: 14px;
                                margin: 0px;
                                padding: 15px;
                                cursor: pointer;
                                a {
                                    color: #09beec;
                                }
                                i {
                                    float: right;
                                    font-size: 18px;
                                    color: #09beec;
                                }
                                &:hover {
                                    background-color: #f3f3f3;
                                }
                            }
                        }
                        .item .ui.cancel.label {
                            display: none;
                        }
                        &:hover .text {
                            background-color: #ffffff !important;
                            padding-right: 5px;
                            padding-right: 30px;
                        }
                        &.disabled {
                            background-color: #f4f4f4!important;
                            box-shadow: 0px 0px 1px #666!important;
                            opacity: 1;
                            &.text {
                                color: #666!important;
                            }
                        }
                    }

                    &.project-not-assigned {
                        border: 1px solid #868686;
                        padding: 0px 15px 0px 3px;
                        transition: 0.3s ease;
                        color: rgba(0, 0, 0, 0.6);
                        margin-right: 5px;
                        vertical-align: top;
                        i {
                            transition: 0.3s ease;
                        }
                        &:hover {
                            border: .1em solid deepskyblue;
                            color: deepskyblue;
                            .icon-user22 {
                                color: deepskyblue;
                            }
                        }
                        .not-assigned {
                            line-height: 13px;
                            margin-right: 0px;
                            padding-left: 10px;
                            background-color: transparent;
                        }
                        .menu {
                            .header {
                                font-size: 14px;
                                margin: 0px;
                                padding: 15px;
                                cursor: pointer;
                                a {
                                    color: #09beec;
                                }
                                i {
                                    float: right;
                                    font-size: 18px;
                                    color: #09beec;
                                }
                                &:hover {
                                    background-color: #f3f3f3;
                                }
                            }
                        }
                        .ui.cancel.label {
                            display: none;
                        }
                    }
                    &.project-assignee {
                        .ui.cancel.label {
                            padding: 4px;
                            background-color: #d6d6d6;
                            margin: 0px;
                            border-radius: 15px;
                            position: absolute;
                            bottom: 3px;
                            line-height: 0px;
                            right: 3px;
                            visibility: hidden;
                            i {
                                font-size: 15px;
                                color: #ffffff;
                            }
                            &:hover {
                                background-color: #cccccc !important;
                            }
                        }

                        &:hover .ui.cancel.label {
                            visibility: visible;
                            z-index: 2;
                        }
                    }
                }
            }
        }

        .project-body {
            background-color: #f9f9f9;
            /*padding-bottom: 0 !important; togliere per rimanere come prima */
            .jobs {
                /*margin-top: -30px;*/
                margin-top: 0px;
            }
            .job {
                padding: 0 15px;
                margin-bottom: 15px;
                .job-header {
                    background-color: #ffffff !important;
                    padding: 0 0 !important;

                    .split-merge {
                        padding: 10px 15px;
                        .merge {
                            font-family: Calibri, Arial, Helvetica, sans-serif;
                            padding: 5px 17px;
                            border: 1px solid #797979;
                            font-size: 16px;
                            transition: 0.3s ease !important;
                        }
                    }
                }
                .job-body {
                    .chunks {
                        .chunk {
                            background-color: #ffffff;
                            padding: 8px 15px;
                            .source-target {
                                padding: 5px 0 !important;
                                min-width: 150px;
                                float: left;
                                margin-right: 10px;

                                font-weight: bold;
                                .source-box {
                                    float: left;
                                    max-width: 70px;
                                    min-width: 70px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                .in-to {
                                    float: left;
                                    margin-top: 2px;
                                    color: #5a5a5a;
                                }
                                .target-box {
                                    float: left;
                                    width: 70px;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }


                            .job-id {
                                padding: 5px 0 !important;
                                float: left;
                                min-width: 70px;
                            }
                            .progress-bar {

                            }
                            .tm-job,
                            .activity-icon-single{
                                float: left;
                                width: 30px;
                                height: 30px;
                                //margin-left: 5px;
                            }
                            .job-activity-icons {
                                float: left;
                                width: 30px;
                                height: 30px;
                                margin-left: 5px;
                                .comments {

                                }
                                .group-activity-icons {
                                    .item {
                                        margin: 0;
                                        padding: 1px !important;
                                        a {
                                            padding: 0;
                                            width: 100%;
                                            border-radius: 0px;
                                            font-size: 15px;
                                            font-weight: normal;
                                            font-family: Calibri, Arial, Helvetica, sans-serif;
                                            text-align: left;
                                            margin: 0 15px 0 10px;
                                            background: transparent !important;
                                            box-shadow: none !important;
                                            i {
                                                margin-right: 10px;
                                            }
                                        }
                                    }
                                }
                            }
                            .tm-job.job-activity-icons {
                                a {
                                    i {
                                        vertical-align: inherit;
                                    }
                                }
                            }

                            .job-payable {
                                padding: 6px 10px !important;
                                float: left;
                                text-decoration: underline;
                                min-width: 105px;
                                text-align: right;
                                &:hover {
                                    text-decoration: none;
                                }
                            }
                            .translated-outsourced {
                                top: 4px;
                                vertical-align: text-bottom;
                                display: inline-block;
                                position: relative;
                                float: left;
                                img.outsource-logo {
                                    width: 100px;
                                    margin: 0 17px 0 0;
                                    vertical-align: middle;
                                }
                            }
                            .job-delivery {
                                display: inline-block;
                                margin-right: 8px;
                                vertical-align: text-bottom;
                                float: left;
                                margin-top: 5px;
                            }
                            .open-translate {
                                font-family: Calibri;
                                padding: 6px 15px;
                                vertical-align: top;
                                font-size: 16px;
                                border: 1px solid #797979;
                                border-radius: 2px
                            }
                            .open-outsource {
                                font-family: Calibri;
                                padding: 6px 15px;
                                vertical-align: top;
                                font-size: 16px;
                                border: 1px solid #797979;
                                border-radius: 2px
                                //background-color: #7eaf3e;
                            }
                            .open-outsourced {
                                font-family: Calibri;
                                padding: 6px 11px;
                                vertical-align: top;
                                font-size: 16px;
                                border: 1px solid #797979;
                                border-radius: 2px;
                                &:hover {
                                    box-shadow: 0 0 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24) !important;
                                }
                                &:focus {
                                    box-shadow: none !important;
                                }
                                &:active {
                                    box-shadow: none !important;
                                }
                            }
                            .job-menu {
                                i {
                                    vertical-align: inherit;
                                }
                                &.ui.button {
                                    background-color: transparent;
                                    border-radius: 2px;
                                    .divider {
                                        margin: 0;
                                    }
                                    .item {
                                        padding: 10px 15px !important;
                                    }
                                    &:hover {
                                        background-color: #ececec;
                                    }
                                    &:active {
                                        background-color: #e2e2e2;
                                    }
                                    &:focus {
                                        background-color: #e2e2e2;
                                    }
                                }
                            }

                            .chunk-download-progress {
                                height: 2px;
                                background-color: #ffffff;
                                position: absolute;
                                bottom: 0px;
                                width: 100%;
                                left: 0;
                                &:after {
                                    content: '';
                                    opacity: 1;
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    background: #000000;
                                    border-radius: .28571429rem;
                                    -webkit-animation: progress-active 1s ease infinite;
                                    animation: progress-active 1s ease infinite;
                                }
                            }

                        }
                    }
                }
            }
        }

        .project-footer {
            padding: 0 30px 5px !important;
            text-align: right;
            background-color: #f9f9f9;
            .activity-log {
                margin-top: -10px;
                margin-right: -15px;
                a {
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.no-results-teams .no-results-found {
    background: url(/public/img/matecat_teams.png) no-repeat!important;
    background-position: center center!important;
    background-size: 420px!important;
}

// closing rewrite semantic CSS
.notify-notfound {
    .no-results-found {
        /*.button {
            padding: 25px !important;
            transition: 0.3s ease !important;
            .content {
                .header {
                    transition: 0.3s ease !important;
                    .add-more {
                        font-size: 60px !important;
                        padding: 25px 0px 35px;
                    }
                }
                .description {
                    font-size: 20px;
                    line-height: 30px;
                }
            }
            &:hover {
                background-color: #09beec;
                transition: 0.3s ease !important;
                .header {
                    .add-more {
                        color: #ffffff;
                    }
                }
                .description {
                    color: #ffffff !important;
                }
            }
        }*/
        background: url(/public/img/jobnotfound.png) no-repeat;
        background-position: center center;
        height: 320px;
    }
    .message-nofound {
        text-align: center;
        display: block;
        font-size: 34px;
        margin-top: 20px;
    }

    .message-create {
        text-align: center;
        display: block;
        font-size: 25px;
        margin-top: 0px;
        p {
            padding: 20px;
            a {
                text-align: center;
                font-family: Calibri;
                padding: 16px 25px;
                vertical-align: top;
                font-size: 20px;
                border: 1px solid #797979;
                border-radius: 2px;
                margin: 0;
            }
        }
    }
}

/*.no-results-found span {
    text-align: center;
    display: block;
    font-size: 34px;
    margin-top: 20px;
}*/

.manage footer {
    background: #6d6e71;
    height: 27px;
    text-align: right;
    border-top: 1px solid #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
}

.manage footer .wrapper {
    margin: 0px auto 0 auto;
    padding: 3px 0 0 0;
    width: 92%;
    font-size: 14px;
    position: relative;
    text-align: right;
}



footer ul {
    margin: -5px 0 0 0;
    padding: 0;
    float: left;
    list-style: none;
}

footer nav {
    background: none;
    float: right;
    display: block;
    line-height: 19px;
    box-shadow: none;
    text-align: right;
}

footer nav, footer nav a {
    font-size: 14px;
    color: #ffffff !important;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}


footer nav ul li {
    padding:7px 5px 5px 5px;
}

footer nav ul a, #welcomebox {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

footer nav ul a:hover {
    background: none!important;
    color: #ffffff;
}

.modal[data-type=view] {
    display: none;
}

/* fix di daniele */

/*.matecat-modal-content .matecat-modal-middle .ui.members-list .ui.divided.list {
    position: relative!important;
    padding: 0 10px 0 0;
}*/

/*
.matecat-modal-content .modify-team-modal .ui.members-list {
    min-height: initial!important;
}*/
