// rewrite semantic CSS


body.manage {
    //min-width: 1040px;
    //font-size: 14px;
    //box-sizing: content-box;
    //margin-top: 55px;
    background-color: #f1f1f1;
    font-family: Calibri;
    @media only screen and (min-width: 1200px) {
        .ui.container {
            width: 1280px;
        }
        .ui.grid.container {
            width: 1280px !important;
        }
    }
}

// Shadow - Transitions for buttons
.ui.button {
    transition: 0.3s ease !important;
    padding: 8px 15px 8px 15px;
}

.ui.icon.button {
    padding: 6px;
    font-size: 18px;
}

// Closing Shadow - Transitions for buttons


.project {
    margin-bottom: 30px !important;
    .ui.ribbon.label {
        position: absolute;
        top: 15px;
        z-index: 2;
        left: -15px;
    }
    .project-header {
        background-color: #e8e8e8;
        padding-bottom: 22px !important;
        .project-id {
            padding: 10px 0 10px 15px;
        }
        .project-name {
            .ui.icon.input.selected {
                &:active {
                    width: 700px;
                    z-index: 3;
                }
            }
            .ui.form input[type="text"] {
                background: #d0d0d0;
                border: none;
                font-weight: 600;
                transition: 0.3s ease !important;
                &:hover {
                    background: #d8d8d8;
                }
                &:focus {
                    background: #ffffff;
                    width: 700px;
                    box-shadow: 0 -1px 0 #e0e0e0,
                    0 0 2px rgba(0, 0, 0, .12),
                    0 2px 4px rgba(0, 0, 0, .24) !important;
                }
            }
        }
        .project-payable {
            padding: 10px 0;
        }
        .project-activity-icon {
            padding: 0 15px !important;
            font-family: Calibri, Arial, Helvetica, sans-serif;
            @media only screen and (max-width: 767px) {
                    padding: 0px !important;
            }
            .ui.circular.label, .ui.dropdown {
                text-align: center;
                border-radius: 30px;
                &.project-menu {
                    border-radius: 4px;
                    padding: 0px;
                    font-size: 18px;
                    vertical-align: top;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                }
                &.project-assignee {
                    margin-right: 8px;
                    .text {
                        background-color: #10ccce !important;
                        border-radius: 15px;
                        padding: 3px 15px 3px 3px;
                        color: #ffffff;
                        transition: 0.3s ease;
                        &:hover {
                            background-color: #14bbbd !important;
                        }
                    }
                    .menu {
                        .header {
                            font-size: 14px;
                            i {
                                float: right;
                                font-size: 18px;
                            }
                        }
                    }
                }
                &.project-not-assigned {
                    border: 1px dashed #868686;
                    padding: 0px 15px 0px 3px;
                    transition: 0.3s ease;
                    color: rgba(0, 0, 0, 0.6);
                    margin-right: 8px;
                    i {
                        transition: 0.3s ease;
                    }
                    &:hover {
                        border: .1em dashed deepskyblue;
                        color: deepskyblue;
                        .icon-user22 {
                            color: deepskyblue;
                        }
                    }
                    .not-assigned {
                        line-height: 13px;
                        margin-right: 0px;
                        padding-left: 10px;
                        background-color: transparent;
                    }
                    .menu {
                        .header {
                            font-size: 14px;
                            i {
                                float: right;
                                font-size: 18px;
                            }
                        }
                    }
                }
                &.project-workspace {
                    vertical-align: top;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    margin-right: 8px;
                    transition: 0.3s ease;
                    padding: 0 15px !important;
                    font-size: 12px;
                    font-weight: 100;
                }
                &.no-workspace {
                    border: .1em dashed #868686;
                    vertical-align: top;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                    margin-right: 8px;
                    transition: 0.3s ease;
                    padding: 0 15px !important;
                    font-size: 12px;
                    font-weight: 100;
                    &:hover {
                        border: .1em dashed deepskyblue;
                        color: deepskyblue;
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .project-body {
        background-color: #f9f9f9;
        padding-bottom: 0 !important;
        .jobs {
            margin-top: -30px;
        }
        .job {
            padding: 0 15px;
            margin-bottom: 15px;
            .job-header {
                background-color: #ffffff !important;
                padding: 0 0 !important;
                .source-target {
                    padding: 15px 15px 35px !important;
                    .source-box {
                        float: left;
                    }
                    .in-to {
                        float: left;
                        margin-left: 0.25em;
                        margin-top: 2px;
                        color: #5a5a5a;
                    }
                    .target-box {
                        float: left;
                    }
                }
                .split-merge {
                    padding: 10px 15px;
                    button-split-merge {
                        padding: 7px 15px !important;
                    }
                }
            }
            .job-body {
                .chunks {
                    .chunk {
                        background-color: #ffffff;
                        padding: 8px 15px;
                        .job-id {
                            padding: 5px 0 !important;
                        }
                        .progress-bar {

                        }
                        .job-payable {
                            padding: 5px 15px !important;
                        }
                        .send-translator {
                            padding: 5px 0 !important;
                        }
                        .due-to {
                            padding: 5px 0 !important;
                        }
                    }
                }
            }
        }
    }

    .project-footer {
        padding: 0 30px 5px !important;
        text-align: right;
        background-color: #f9f9f9;
        .activity-log {
            margin-top: -10px;
        }
    }
}
// closing rewrite semantic CSS

.new-container {
    margin-top: 50px;
}



.no-results-found {
    background: url(/public/img/jobnotfound.png) no-repeat;
    background-position: center center;
    height: 400px;
}

.no-results-found span {
    text-align: center;
    display: block;
    font-size: 34px;
    margin-top: 20px;
}

.manage footer {
    background: #6d6e71;
    height: 27px;
    text-align: right;
    border-top: 1px solid #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.manage footer .wrapper {
    margin: 0px auto 0 auto;
    padding: 3px 0 0 0;
    width: 83%;
    font-size: 14px;
    position: relative;
    text-align: right;
}



footer ul {
    margin: -5px 0 0 0;
    padding: 0;
    float: left;
}

footer nav {
    background: none;
    float: right;
    display: block;
    line-height: 19px;
    box-shadow: none;
    width: 165px;
    text-align: right;
}

footer nav, footer nav a {
    font-size: 14px;
}


footer nav ul li {
    padding:5px;
}

footer nav ul a, #welcomebox {
    text-decoration: underline;
}

footer nav ul a:hover {
    background: none!important;
}