header {
    font-family: 'Calibri', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    z-index: 12;
    margin: 0;
    height: 48px;
    background-color: #4d4d4d;
    @media only screen and (max-width: 992px) {
        min-width: 992px;
        position: relative;
    }
    .nav-mc-bar {
        margin: 0px !important;
        height: 48px !important;
        //min-width: 992px;
        .navigation {
            padding: 5px 15px 5px 0px !important;
            background-color: #4d4d4d;
            height: 48px !important;
        }
        .ui.selection.dropdown,
        .ui.select-org.dropdown {
            font-family: 'Calibri', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: 600;
            &.org {
                float: right;
            }
            i {
                float: right;
            }
            .menu {
                .header {
                    font-size: 14px;
                    margin: 0px;
                    padding: 15px;
                    cursor: pointer;
                    color: #09beec;
                    &:hover {
                        background-color: #f3f3f3;
                    }
                    i {
                        float: right;
                        font-size: 24px;
                        margin-top: -3px;
                        margin-right: -3px;
                        color: #09beec;
                    }
                }
                .item > a > i {
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    border-radius: 50%;
                    top: 16%;
                    right: 10px;
                    bottom: 20%;
                    background-color: transparent;
                    color: #09beec;
                    font-size: 18px;
                    padding-left: 1px;
                    &:hover {
                        background-color: #dededc;
                        transition: 0.3s ease;
                    }
                }
                .item:first-child {
                    a > i {
                        display: none;
                    }
                }
                .divider {
                    margin: 0;
                }
            }
            .scrolling {
                .item.item.item {
                    padding-right: 40px !important;
                    width: 230px;
                    min-width: 150px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    &:hover .team-filter,
                    &.active.selected .team-filter{
                        visibility: visible;
                    }
                }
                .team-filter {
                    visibility: hidden;
                }

            }
        }
        .ui.selection.visible.dropdown > .text:not(.default),
        .ui.select-org.visible.dropdown > .text:not(.default) {
            font-weight: 600;
            //color: white;
        }
        .ui.user.label {
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            background: center/cover #9c9c9c;
            border-radius: 50%;
            box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #fff;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: relative;
            vertical-align: top;
            float: right;
            font-size: 14px;
            height: 36px;
            width: 36px;
            margin-left: 10px;
            margin-right: 10px;
            text-decoration: none;
            transition: 0.3s ease;
            cursor: pointer;
            &:hover {
                border: 3px solid #02ceff;
            }
        }
        .ui.user-nolog.label {
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            background: center/cover transparent;
            border-radius: 50%;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #fff;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: relative;
            vertical-align: top;
            float: right;
            font-size: 14px;
            height: 36px;
            width: 36px;
            margin-left: 10px;
            margin-right: 10px;
            text-decoration: none;
            cursor: pointer;
            border: 1px dashed;
            top: 2px;
            &:hover {
                border: 1px dashed #09beec !important;
                i {
                    color: #09beec;
                }
            }
        }

        .dropdown.select-org {
            color: #ffffff;
            font-size: 15px;
            float: right;
            margin-left: 10px;
            i.dropdown.icon {
                top: 12px;
                margin-left: 5px !important;
            }
            span.text {
                text-align: right;
                line-height: 35px;
                text-decoration: underline;
                min-width: 0px;
                max-width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:hover span.text {
                text-decoration: none;
                transition: 0.3s ease;
            }
            &.only-one-team .scrolling.menu {
                display: none;
            }
            &.disable-dropdown-team {
                pointer-events: none;
                cursor: default;
                .text {
                    text-decoration: none;
                }
            }
        }
    }
}

.user-teams {
    padding-right: 0px !important;
    .ui-user-top-image {
        margin-top: 2px;
        float: right;
    }
    .organization-name {
        color: #fff;
        font-size: 15px;
        font-family: 'Calibri', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-weight: 600;
        text-decoration: none;
        float: right;
        line-height: 37px;
        min-width: 0px;
        max-width: 110px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.logo {
    position: relative;
    float: left;
    border: 0;
    margin-top: 5px;
    background: url(../../img/logo.png) 0px 2px no-repeat;
    width: 145px;
    height: 31px;
    background-size: 130px 26px;
    left: 13px;
}

#menu-site {
    margin-top: 8px !important;
    float: right !important;
    margin-right: 12px;
    border-right: 1px solid #8a8a8a;
    height: 22px;
    @media only screen and (min-width: 1208px) {
        ul {
            li {
                a {
                    font-size: 14px;
                }
            }
        }

    }
}

.menu-site-right {
    float: right !important;
}

.upload-page-header .dropdown span {
    margin-right: 0!important;
}


.cta-create-team {
    position: fixed !important;
    .ui.primary.button {
        border: 1px solid #797979;
        float: right;
        border-radius: 2px;
        font-family: 'Calibri', 'Helvetica Neue', Arial, Helvetica, sans-serif;;
    }
    .content {
        p {
            font-size: 15px;
        }
        a {
            float: right;
            text-decoration: underline;
            color: #39699a;
            cursor: pointer;
            &:hover {
                text-decoration: none;
            }
        }
    }
}