header {
    font-family: 'Calibri', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    z-index: 4;
    margin: 0;
    .nav-mc-bar {
        margin: 0px !important;
        height: 48px !important;
        .navigation {
            padding: 5px 15px 5px 0px !important;
            background-color: #4d4d4d;
            height: 48px !important;
        }
        .ui.selection.dropdown,
        .ui.select-org.dropdown {
            font-family: 'Calibri', 'Helvetica Neue', Arial, Helvetica, sans-serif;
            font-weight: 600;
            &.org {
                float: right;
            }
            i {
                float: right;
            }
            .menu {
                .header {
                    font-size: 14px;
                    margin: 0px;
                    padding: 15px;
                    cursor: pointer;
                    color: #09beec;
                    &:hover {
                        background-color: #f3f3f3;
                    }
                    i {
                        float: right;
                        font-size: 18px;
                        margin-right: 0px;
                        color: #09beec;
                    }
                }
                .item > a > i {
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    line-height: 24px;
                    border-radius: 50%;
                    top: 16%;
                    right: 10px;
                    bottom: 20%;
                    background-color: transparent;
                    color: #09beec;
                    &:hover {
                        background-color: #dededc;
                        transition: 0.3s ease;
                    }
                }
                .divider {
                    margin: 0;
                }
            }
            .scrolling {
                .item.item.item {
                    padding-right: 40px !important;
                    &:hover .team-filter,
                    &.active.selected .team-filter{
                        visibility: visible;
                    }
                }
                .team-filter {
                    visibility: hidden;
                }

            }
        }
        .ui.selection.visible.dropdown > .text:not(.default),
        .ui.select-org.visible.dropdown > .text:not(.default) {
            font-weight: 600;
            //color: white;
        }
        .ui.user.label {
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            background: center/cover #9c9c9c;
            border-radius: 50%;
            box-shadow: inset 0 0 0 1px rgba(0,0,0,0.2);
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #fff;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: relative;
            vertical-align: top;
            float: right;
            font-size: 14px;
            height: 36px;
            width: 36px;
            margin-left: 10px;
            margin-right: 51px;
            text-decoration: none;
            transition: 0.3s ease;
            cursor: pointer;
            &:hover {
                border: 3px solid #02ceff;
            }
        }
        .ui.user-nolog.label {
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            background: center/cover transparent;
            border-radius: 50%;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            color: #fff;
            display: -webkit-inline-box;
            display: -webkit-inline-flex;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            position: relative;
            vertical-align: top;
            float: right;
            font-size: 14px;
            height: 36px;
            width: 36px;
            margin-left: 10px;
            margin-right: 51px;
            text-decoration: none;
            cursor: pointer;
            border: 1px dashed;
            //margin-top: 0;
            //float: right;
            &:hover {
                border: 1px dashed #09beec !important;
                i {
                    color: #09beec;
                }
            }
        }

        .dropdown.select-org {
            color: gray;
            font-size: 15px;
            i.dropdown.icon {
                top: 12px;
                margin-left: 0 !important;
            }
            span.text {
                text-align: right;
                line-height: 35px;
                text-decoration: underline;
            }
            &:hover span.text {
                color: #02ceff;
                text-decoration: none;
                transition: 0.3s ease;
            }
        }

    }
}


.logo {
    position: absolute;
    float: left;
    border: 0;
    margin-top: 5px;
    background: url(../../img/logo.png) 0px 2px no-repeat;
    width: 145px;
    height: 31px;
    background-size: 130px 26px;
    left: 81px;
}

#menu-site {
    margin-top: 0px !important;
    margin-left: 180px !important;
    float: right !important;
    @media only screen and (min-width: 1208px) {
        ul {
            li {
                a {
                    font-size: 14px;
                }
            }
        }

    }
}

.menu-site-right {
    float: right !important;
}