.nav-mc-bar {
    nav {
        font-family: 'Calibri', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        height: 62px;
        padding-right: 20px !important;
        color: white;
        background-color: #4d4d4d;
    }
    .ui.selection.dropdown {
        font-family: 'Calibri', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: 600;

        i {
            float: right;
        }
        .menu {
            .header {
                font-size: 14px;
                margin: 0px;
                padding: 15px;
                &:hover {
                    background-color: darkgrey;
                }
                i {
                    float: right;
                    font-size: 18px;
                    margin-right: 0px;
                    margin-top: 0px;
                }
            }
            .divider {
                margin: 0;
            }
        }
        .scrolling {
            .item.item.item {
                padding-right: 15px !important;
            }
        }
    }
    .ui.selection.visible.dropdown > .text:not(.default) {
        font-weight: 600;
        //color: white;
    }

}

.logo {
    position: absolute;
    float: left;
    border: 0;
    margin-top: 10px;
    background: url(../../img/logo.png) 0px 2px no-repeat;
    width: 145px;
    height: 31px;
    background-size: 130px 26px;
    left: 81px;
}

.middle-v {
    vertical-align: middle;
}
