.after-open-outsource {
    border-left: 2px solid;
    padding-left: 13px !important;

}
.outsource-container {
    padding: 0px !important;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    width: 107%;
    margin-left: -2% !important;
    margin-right: -2% !important;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.67);
    overflow: hidden;
    .outsource-header {
        padding: 8px 45px !important;
        z-index: 1;
    }
    &.transitionOutsource-enter {
        height: 0px;
    }

    &.showTranslator.transitionOutsource-enter.transitionOutsource-enter-active {
        height: 339px;
        -webkit-transition: all .3s ease;
    }

    &.no-outsource.transitionOutsource-enter.transitionOutsource-enter-active {
        height: 179px;
        -webkit-transition: all .3s ease;
    }

    &.showOutsource.transitionOutsource-enter.transitionOutsource-enter-active {
        height: 639px;
        -webkit-transition: all .3s ease;
    }

    &.transitionOutsource-leave.transitionOutsource-leave-active {
        height: 0px !important;
        margin: 0 !important;
        -webkit-transition: all .3s ease;
    }

    .gmt {
        padding-top: 23px;
        float: none;
        display: inline-block;
        .ui.selection.dropdown {
            min-width: 40px !important;
            width: auto;
            .text {
                .gmt-description {
                    display: none;
                }
            }
            .menu {
                min-width: 350px;
                .item {
                    .gmt-value {
                        display: inline-block;
                        margin-right: 5px;
                    }
                    .gmt-description {
                        display: inline-block;
                    }
                }
            }
        }
    }

    .outsource-header {
        .job-payable {
            display: inline-block;
            padding: 0 0 0 10px !important;
            line-height: 30px;
            position: relative;
            top: 1px;
            display: inline-block;
            color: #969696;
            a {
                text-decoration: underline;
                font-weight: 700;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .assign-job-translator {
        background-color: #d5d8dc;
        padding: 15px;
        width: 100%;
        .title {
            display: inline-block;
            padding: 15px 15px 15px 30px;
            font-size: 20px;
            font-weight: 700;
            width: 25%;
            position: relative;
            top: -38px;
        }
        .title-url {
            padding: 15px;
            width: 75%;
            display: inline-block;
            .job-url {
                display: inline-block;
                a {
                    text-decoration: underline;
                    font-weight: 700;
                    font-size: 16px;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .translator-assignee {
                width: 100%;
                display: inline-block;
                padding: 20px 0 0;
                .ui.form {
                    margin: 0;
                    display: inline-block;
                    width: 100%;
                    .fields {
                        margin: 0;
                        .field {
                            width: 25%;
                            display: inline-block;
                            vertical-align: bottom;
                            float: none;
                            label {
                                padding-left: 15px;
                            }
                            input[type="text"], input[type="email"] {
                                box-shadow: inset 0 1px 3px #ddd;
                                border: 1px solid #ccc;
                                font-family: Calibri, Arial, Helvetica, sans-serif;
                                &:focus {
                                    border-color: #85B7D9;
                                }
                                &:active {
                                    border-color: #85B7D9;
                                }
                            }
                            &.send-job-box {
                                padding: 0;
                                padding-top: 23px;
                                .send-job {
                                    font-family: Calibri, Arial, Helvetica, sans-serif;
                                    font-size: 16px;
                                    border: 1px solid #797979;
                                    border-radius: 2px;
                                    padding: 9px 15px;
                                    margin: 0;
                                    float: right;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
    .divider-or {
        position: absolute !important;
        top: 118px;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        z-index: 1;
        padding-left: 35px !important;
        .or {
            width: 30px;
            height: 30px;
            background-color: grey;
            text-align: center;
            line-height: 30px;
            border-radius: 50%;
            color: #ffffff;
        }
    }
    .background-outsource-vendor {
        background: #e9efec;
        width: 100%;
        padding-bottom: 15px;
        padding-top: 15px;
        .outsource-to-vendor {
            .payment-service {
                padding: 5px 15px 15px;
                .service-box {
                    width: 70%;
                    display: inline-block;
                    padding: 0 15px;
                    vertical-align: text-bottom;
                    font-size: 26px;
                    font-weight: 700;
                    font-family: calibri;
                    .service {
                        display: inline-block;
                        &.project-management {

                        }
                        &.translation, &.revision {
                            margin-left: 8px;
                        }

                    }
                }
                .fiducial-logo {
                    width: 30%;
                    display: inline-block;
                    text-align: right;
                    padding: 0 15px;
                    vertical-align: text-bottom;
                    .translated-logo {
                        display: inline-block;
                        .logo-t {
                            width: 125px;
                            position: relative;
                            top: 11px;
                            padding: 0;
                            margin: 0 0 0 5px;
                        }
                    }
                }
            }
            .payment-details-box {
                background-color: #ffffff;
                padding: 15px;
                position: relative;
                min-height: 270px;
                .translator-job-details {
                    padding-bottom: 10px;
                    .translator-details-box {
                        width: 40%;
                        border-right: 1px solid black;
                        display: inline-block;
                        vertical-align: middle;
                        padding: 2px 15px;
                        .left, .right {
                            display: inline-block;
                            margin: 0;
                        }
                        .left {
                            width: 45%;
                            .star {
                                position: relative;
                                left: -2px;
                                .icon {
                                    &.active {
                                        background: transparent !important;
                                        color: #7eaf3e !important;
                                        text-shadow: none !important;
                                    }
                                }
                            }
                        }
                        .right {
                            float: right;
                            width: 55%;
                            text-align: right;
                        }
                        .translator-no-found {
                            p {
                            }
                        }
                    }
                    .job-details-box {
                        display: inline-block;
                        width: 46% !important;
                        vertical-align: middle;
                        padding: 0 15px;
                        position: relative;
                        top: -9px;
                        .source-target-outsource {
                            display: inline-block;
                            width: 65%;
                            font-size: 20px;
                            font-weight: 700;
                            .source-box {
                                display: inline-block;
                            }
                            .in-to {
                                display: inline-block;
                                font-size: 18px;
                                i {
                                    position: relative;
                                    top: 2px;
                                }
                            }
                            .target-box {
                                display: inline-block;
                            }
                        }
                        .job-payment {
                            display: inline-block;
                            width: 30%;
                            text-align: center;
                            .not-payable {
                                text-decoration: line-through;
                                font-size: 16px;
                            }
                            .payable {
                                font-size: 18px;
                                font-weight: 700;
                            }
                        }
                    }
                    .job-price {
                        display: inline-block;
                        width: 10%;
                        text-align: right;
                        padding-right: 15px;
                        font-size: 20px;
                        font-weight: 700;
                    }
                }
                .revision-box {
                    padding: 5px 15px;
                    background-color: #e4e6e8;
                    margin-bottom: 10px;
                    .add-revision {
                        display: inline-block;
                        width: 81%;
                        text-align: right;
                        .checkbox {

                        }
                    }
                    .job-price {
                        display: inline-block;
                        font-size: 18px;
                        text-align: right;
                        font-weight: 700;
                        width: 15%;
                    }

                }
                .delivery-order {
                    width: 82%;
                    text-align: right;
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 22px;
                    padding-right: 25px;
                    .delivery-box {
                        text-align: right;
                        display: inline-block;
                        font-size: 28px;
                        font-weight: 700;
                        label {
                            font-size: 16px;
                            display: inline-block;
                            vertical-align: middle;
                            font-weight: 100;
                            padding: 5px;
                        }
                        span {
                            font-size: 22px;
                            font-weight: 100;
                        }
                        .delivery-date {
                            display: inline-block;
                            padding: 5px;
                        }
                        .delivery-time {
                            display: inline-block;
                            padding: 5px;
                        }
                        .gmt {
                            padding-top: 0;
                            .gmt-select {
                                top: -5px;
                            }
                        }
                        .need-it-faster {
                            font-size: 19px;
                            a {
                                text-decoration: underline;
                                cursor: pointer;
                                &:hover {
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
                .order-box-outsource {
                    display: inline-block;
                    width: 18%;
                    text-align: right;
                    .order-box {
                        background-color: #daeddf;
                        height: 84px;
                        text-align: center;
                        margin-bottom: 5px;
                        .outsource-price {
                            font-size: 32px;
                            font-weight: 700;
                            padding: 25px 0 10px;
                        }
                        .select-value {
                            .content {
                                font-family: Calibri, Arial, Helvetica, sans-serif;
                                a {
                                    text-decoration: underline;
                                    color: #000000;
                                    cursor: pointer;
                                    font-weight: 100;
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                    .order-button-outsource {
                        margin: 0;
                        .open-order {
                            font-family: Calibri, Arial, Helvetica, sans-serif;
                            padding: 10px;
                            margin: 0;
                            border: 1px solid #797979;
                            font-size: 18px;
                            border-radius: 2px;
                            width: 100%;

                        }
                    }
                }
            }
            .easy-pay-box {
                width: 100%;
                text-align: right;
                padding: 10px 15px 20px;
                .easy-pay {
                    font-weight: 700;
                    margin-bottom: 0;
                }
            }
            .customer-request {
                .customer-box {
                    padding: 15px;
                    .title-pointer {
                        h3 {
                            display: inline-block;
                            width: 50%;
                            padding-left: 30px;
                        }
                        .pointers {
                            display: inline-block;
                            text-align: right;
                            width: 50%;
                            .pointer {
                                width: 12px;
                                height: 12px;
                                background: #d5d8dc;
                                display: inline-block;
                                border-radius: 50%;
                                margin-right: 5px;
                                &.active {
                                    background: #7eaf3e;
                                }
                            }
                        }
                    }
                    .slider-box {
                        border: 1px solid #a8bbb2;
                        padding: 15px;
                        display: inline-block;
                        .appendix {
                            display: inline-block;
                            width: 10%;
                            vertical-align: top;
                            font-size: 36px;
                            position: relative;
                            top: 5px;
                            color: #a8bbb2;
                            padding-left: 15px;
                        }
                        .customer-box-info {
                            width: 90%;
                            display: inline-block;
                            vertical-align: middle;
                            padding-left: 15px;
                            .customer-text {
                                padding-bottom: 10px;
                                font-size: 13px;
                                line-height: 15px;
                            }
                            .customer-info {
                                width: 70%;
                                display: inline-block;
                                .customer-photo {
                                    display: inline-block;
                                    width: 40px;
                                    height: 40px;
                                    background: yellow;
                                    border-radius: 50%;
                                    vertical-align: middle;
                                }
                                .customer-name {
                                    display: inline-block;
                                    margin-left: 10px;
                                }
                                .customer-role {
                                    display: inline-block;
                                    margin-left: 3px;
                                    font-weight: 700;
                                }
                            }
                            .customer-corporate-logo {
                                display: inline-block;
                                width: 30%;
                                text-align: right;
                                vertical-align: middle;
                                img {
                                    width: auto;
                                    vertical-align: middle;
                                    padding: 6px;
                                    height: 40px;
                                }
                            }
                        }
                    }
                }
                .request-box {
                    vertical-align: middle;
                    .title-request {
                        h3 {
                            margin-bottom: 14px;
                            padding-left: 30px;
                        }
                    }
                    .request-info-box {
                        background-color: #d4dcd8;
                        padding: 16px 15px 15px;
                        .mobile-mail-box {
                            width: 50%;
                            display: inline-block;
                            padding: 0 15px;
                            vertical-align: top;
                            .call {
                                padding-bottom: 15px;
                                padding-top: 0;
                            }
                            .send-email {
                                padding-bottom: 0;
                                padding-top: 15px;
                            }
                        }
                        .account-box {
                            width: 50%;
                            display: inline-block;
                            padding: 0 15px;
                            .open-chat {
                                i {
                                    position: relative;
                                    top: -10px;
                                }
                                .content {
                                    .header, .description {
                                        font-family: Calibri, Arial, Helvetica, sans-serif;
                                    }
                                    .header {
                                        .online {
                                            color: #09beec;
                                        }
                                        .offline {
                                            color: gray;
                                        }
                                    }
                                    .button {
                                        font-family: Calibri, Arial, Helvetica, sans-serif;
                                        border: 1px solid #c1c1c1;
                                        background: #f3f3f3;
                                        padding-top: 13px;
                                        position: relative;
                                        top: 5px;
                                        width: 100%;
                                        .sign {
                                            width: 10px;
                                            height: 10px;
                                            display: inline-block;
                                            vertical-align: baseline;
                                            margin-right: 5px;
                                            border-radius: 50%;
                                            position: relative;
                                            top: 1px;
                                            &.online-item {
                                                background-color: #09beec;
                                            }
                                            &.offline-item {
                                                background-color: gray;
                                            }
                                        }
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }

        .outsource-to-vendor-reduced {
            padding-top: 30px !important;
            padding-left: 15px !important;
            padding-right: 15px !important;
            background-color: #e9efec;
            position: relative;
            min-height: 125px;
            .container-reduced {
                padding: 0 15px;
                .job-menu, .open-translate {
                    display: none;
                }
                .title-reduced {
                    width: 75%;
                    font-size: 24px;
                    font-weight: 700;
                    display: inline-block;
                }
                .payment-service {
                    display: inline-block;
                    width: 49%;
                    vertical-align: -webkit-baseline-middle;
                    .service-box {
                        display: inline-block;
                        font-size: 22px;
                        font-weight: 700;
                        .service {
                            display: inline-block;
                            &.project-management {

                            }
                            &.translation {
                                margin-left: 6px;
                            }
                            &.revision {
                                margin-left: 6px;
                            }
                        }
                    }
                    .fiducial-logo {
                        display: inline-block;
                        margin-left: 6px;
                        img {
                            width: 100px;
                            position: relative;
                            top: 9px;
                            margin-left: 4px;
                        }
                    }
                    .view-more {
                        a {
                            text-decoration: underline;
                            cursor: pointer;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
                .delivery-order {
                    display: inline-block;
                    padding: 0 10px;
                    width: 32%;
                    .delivery-box {
                        display: inline-block;
                        font-size: 18px;
                        font-weight: 700;
                        label {
                            padding: 5px;
                            font-size: 16px;
                            color: gray;
                            font-weight: 100;
                        }
                        .delivery-date, .delivery-time{
                            display: inline-block;
                            padding: 5px;
                        }
                        span {
                            display: inline-block;
                        }
                        .gmt {
                            padding: 0;
                            .gmt-select {
                                position: relative;
                                top: -3px;
                            }
                        }
                    }
                }
                .order-box-outsource {
                    display: inline-block;
                    width: 177px;
                    float: right;
                    text-align: center;
                    margin-top: -53px;
                    .order-box {
                        background-color: #daeddf;
                        padding: 25px 15px 15px;
                        margin-bottom: 5px;
                        .outsource-price {
                            font-size: 28px;
                            font-weight: 700;
                            margin-bottom: 10px;
                        }
                        .select-value {
                            .content {
                                font-family: Calibri, Arial, Helvetica, sans-serif;
                                a {
                                    text-decoration: underline;
                                    color: #000000;
                                    cursor: pointer;
                                    font-weight: 100;
                                    &:hover {
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                    .order-button-outsource {
                        .open-order {
                            width: 100%;
                            font-family: Calibri, Arial, Helvetica, sans-serif;
                            padding: 10px 22px;
                            vertical-align: top;
                            font-size: 16px;
                            border: 1px solid #797979;
                            border-radius: 2px;
                            margin: 0px;
                        }
                    }
                }
            }
        }
    }

    @media only screen and (min-width: 1200px) {

    }

    @media only screen and (min-width: 1380px) {

    }

    @media only screen and (max-width: 1199px) and (min-width: 992px) {
        .outsource-container {
            width: 105%;
        }
    }

    @media only screen and (max-width: 991px) and (min-width: 768px) {

    }

    @media only screen and (max-width: 767px) {

    }
}
