@use '../tokens/colors';
@use 'commons/variables';

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html, body {
  height: 100%;
  font-size: variables.$font-size-small;
}

body {
  min-width: 1024px;
  position: relative;
  text-align: center;
  margin: 0;
  font-family: calibri, Arial, Helvetica, sans-serif;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  font-size: variables.$font-size-small;
  line-height: 1.4285em;
  background: colors.$white;
  color: colors.$black;
  &.no-min-width {
    min-width: auto;
  }
  header {
    min-width: auto;
  }
}

a {
  color: colors.$blue700;
  &:hover,
  &:active {
    color: colors.$blue400;
  }
}