@use '../commons/colors';
@use '../commons/variables';
.sub-head {
  color: white;
  .ui.container.equal.width.grid {
    width: 1335px !important;
  }
  .projects-state {
    width: 40px !important;
  }
  .assigned-list {
    margin-right: 8px;
    margin-top: 1px;
    .switch {
      margin-top: 12px;
    }
  }
  .ws-settings {
    padding: 0px;
    width: 38px;
    height: 38px;
    margin: 0px;
    line-height: 19px;
    vertical-align: top;
    margin-left: 10px;
    i {
      line-height: 25px;
    }
  }
  .search-state-filters {
    input.search-projects {
      height: 40px;
      border-radius: variables.$border-radius-default;
      background-color: colors.$white;
      color: colors.$darkBlue;
      transition: 0.2s ease-in;
      font-size: 14px;
      max-width: 320px;
      width: 100%;
      padding: 12px 16px;
      box-shadow: none;
      border: none;
      &::placeholder {
        color: colors.$darkBlue;
      }

      &:focus {
        border: none !important;
        & + .dropdown {
          background-color: colors.$white;
        }
      }
    }
    .ui.dropdown {
      background-color: colors.$white;
      border-left: 1px solid colors.$darkBlue;
      /*transition: 0.2s ease-in;*/
      color: colors.$darkBlue;
      font-weight: 500;
      padding: 2px 16px 2px 8px;
      line-height: 1.21;
      border-radius: 0px 2px 2px 0px;
      font-size: 1em;
      min-width: 110px;
      display: grid;
      grid-template-columns: 36px auto;
      align-items: center;
      &:hover,
      &:active,
      &:focus {
        //opacity: 1;
      }
      .text {
        svg {
          display: none;
        }
      }
      .menu {
        min-width: 144px;
        padding: 8px 8px 12px 8px;
        border-radius: 2px;
        border: solid 1px colors.$grey3;
        right: 0 !important;
        left: auto !important;
        box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);

        &::after {
          left: 50% !important;
        }

        .item {
          border-radius: 2px;
          color: colors.$darkBlue;
          font-size: 15px;
          padding: 8px !important;
          font-weight: normal;
          display: grid;
          grid-template-columns: auto 16px;
          align-items: center;
          margin: 4px 0 0 0;

          &:hover {
            background-color: rgba(0, 0, 0, 0.03);
          }
          &.selected {
            background-color: colors.$darkBlue;
            color: colors.$white !important;
          }
        }
      }
    }
  }
}

.filter-project-status-dropdown-trigger {
  gap: 0 !important;
  border-radius: 0 8px 8px 0 !important;
  margin-left: 1px;

  //&:hover,
  //&[data-state='open'] {
  //  opacity: 1;
  //}
}
.filter-project-status-dropdown {
  min-width: 140px;

  .dropdownmenu-item {
    &:not([data-disabled]).selected {
      background-color: colors.$darkBlueHover !important;
      color: white !important;
    }
  }
}
