.sub-head {
	background-color: #ffffff;
	padding: 5px 0 5px 0 !important;
	box-shadow: rgba(0, 0, 0, 0.137255) 0px 2px 2px 0px, rgba(0, 0, 0, 0.117647) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px;
    .ui.container.equal.width.grid {
        width: 1335px !important;
		.no-workspace {
            padding-top: 10px !important;
            transition: 0.3s ease !important;
            a {
                color: #09beec;
                i {
                    vertical-align: text-bottom;
                }
                &:hover {
                    color: #4183C4
                }
            }
        }
    }
	.projects-state {
		width: 40px !important;
	}
	.assigned-list {
		margin-right: 8px;
		.switch {
			margin-top: 12px;
		}
		.list-organization {
			.select-dropdown {
				margin-bottom: 0px;
			}
			.caret {
				line-height: 10px;
				height: 0px;
			}
			.list-member-organization {

			}
		}
	}
	.workspace-dropdown {
		max-width: 300px;
	}
	.ws-settings {
		padding: 0px;
		width: 38px;
		height: 38px;
		margin: 0px;
		line-height: 19px;
		vertical-align: top;
		margin-left: 10px;
		i {
			line-height: 25px;
		}
	}
	.users-filter {
		display: flex;
		margin-top: 10px;
		justify-content: center;
		.input-field {
			margin-left: 10px;
			margin-top: -2px;
		}
		.list-organization{
			.ui.dropdown {
				.all {
					padding: 0px;
					width: 24px;
					height: 24px;
					line-height: 24px;
					border-radius: 50%;
					text-align: center;
					font-size: 12px;
					font-weight: 600;
				}
			}
		}
	}
	.search-state-filters {
		display: flex;
		justify-content: center;
		width: 100%;
		.projects-state {
			margin: 0 0 0 10px !important;
			padding: 0 !important;
			line-height: 35px;
			text-align: center;
			background-color: transparent;
		}
		.input-field {
			width: 100%;
		}
	}

}

