.fileinput-button,
.fileinput-button:hover,
.uploadbtn,
.uploadbtn:hover,
.splitbtn,
.mergebtn,
.splitbtn.done,
.splitbtn.done:hover {
    background-color: #E23AB6;
}

.mgmt-panel-tm .btn-ok,
.mgmt-panel-gl .btn-ok,
.popup .btn-ok,
.slide-panel .btn-ok,
.uploadtm.disabled,
.download-manage.btn-ok {

    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E23AB6), to(#E23AB6));
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;

}

/* application */
/* 8 march special */
.wrapper-claim {
    background-color: #ff8fe1 !important;
    background-image: none !important;
    background-size: cover !important;

}

.march {
    position: fixed;
    left: 64%;
    bottom: -39px;
    z-index: 1000000000000000000000000;
}

.special-message {
    position: absolute;
    background: #ff8fe1;
    height: 30px;
    color: #fff;
    border: 1px solid #666;
    width: 319px;
    top: 35px;
    height: 30px;
    font-weight: bold;
    font-size: 28px;
    border-radius: 4px;
    padding: 20px;
    right: 56%;
    z-index: -10000;
}

.march img {
    width: 50%;
}

.close-message {
    position: absolute;
    cursor: pointer;
    top: 42px;
    right: 62%;
    color: #9E9E9E;
    font-size: 15px;
}

.cattool .march {
    left: 69%;
}

.cattool .translated,
.cattool .next-untranslated,
.cattool .approved {
    background: -webkit-gradient(linear, left top, left bottom, from(#ff8fe1), to(#E23AB6));
    background: -moz-linear-gradient(top, #ff8fe1, #E23AB6);
    background: linear-gradient(top, #ff8fe1, #E23AB6);
}

.translated:hover, .next-untranslated:hover {
    background: #E23AB6 !important;
}

.submenu li.footerSwitcher {
    background: #E23AB6 url(../img/matches-down.png) 5px 9px no-repeat !important;
}
