Order deny,allow
deny from all
allow from 10.
allow from 192.168.
allow from 127.0.0.1
allow from 172.17.
allow from 172.18.

ErrorDocument 401 /lib/View/401.html
ErrorDocument 403 /lib/View/403.html
ErrorDocument 404 /lib/View/404.html
ErrorDocument 409 /lib/View/409.html
ErrorDocument 503 /lib/View/503.html
ErrorDocument 500 /lib/View/500.html