[server]
address = 0.0.0.0
port = 7788
path = /channel/comments

[queue]
name = /queue/matecat_sse_comments
host = localhost
port = 61613
login = login
passcode = passcode

[log]
file = log/server.log
level = debug
