[server]
address = localhost
port = 7788
path = /channel/updates

[queue]
name = /topic/matecat_sse_notifications
host = amq
port = 61613
login = login
passcode = passcode

[log]
file = log/server.log
level = debug

[cors]
allowedOrigins[] = https://localhost
allowedOrigins[] = http://localhost