@use "../../commons/colors";
.settingsPanel-notification {
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: space-between;
  padding: 15px 10px;
  border: 1px solid colors.$grey200;
  margin: 15px 0;
  > div {
    display: flex;
    gap: 4px;
  }
  p {
    text-align: left;
    margin: 0;
  }
  &.settingsPanel-notification_success {
    border-top: 3px solid colors.$green500;
    background-color: colors.$green50;
  }
  &.settingsPanel-notification_warning {
    border-top: 3px solid colors.$orange200;
    background-color: colors.$orange50;
  }
  &.settingsPanel-notification_error {
    border-top: 3px solid colors.$red500;
    background-color: colors.$red100;
  }
  .button-close {
    padding: 2px 4px;
  }
}
