@import '../../commons/colors';

.quality-framework-box-ept-threshold {
  display: flex;
  gap: 15px;

  > div {
    display: flex;
    align-items: center;
    width: 120px;
    gap: 15px;

    > label {
      font-weight: bold;
      font-size: 16px;
    }
  }
}

.quality-framework-categories-table {
  display: flex;
  flex-direction: row;
  margin-top: 20px;

  .scroll-area {
    display: flex;
    max-width: 900px;
    max-height: 400px;
    overflow-x: auto;
    overscroll-behavior: none;
    scrollbar-width: thin;
  }

  .categories {
    display: flex;
    position: sticky;
    left: 0;
    z-index: 2;
    flex-direction: column;
    min-width: 280px;

    .header {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 64px;
      background-color: $grey3;
      font-weight: bold;
    }

    .row {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 280px;
      /* height: 64px; */
      min-height: 64px;
      background-color: $white;
      border: 1px solid $grey3;
      border-left-width: 2px;
      padding: 0 10px;

      > :first-child {
        font-weight: bold;
      }

      .details {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        max-height: 50px;
      }

      &:last-child {
        border-bottom-width: 2px;
      }
    }

    .row-not-saved {
      color: $translatedBlue;
    }
  }

  .severities {
    display: flex;
    flex-direction: column;
    background-color: $white;

    .header {
      position: sticky;
      top: 0;
      background-color: $grey3;

      :first-child {
        display: block;
        font-weight: bold;
        text-align: center;
        padding: 6px;
      }
    }

    .row {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 124px;
      background-color: $white;

      .column {
        display: flex;
        justify-content: center;
        border: 1px solid $grey3;
        padding: 5px 0;
      }
      .column-not-saved {
        color: $translatedBlue;
      }

      .cell {
        display: flex;
        justify-content: center;
        border: 1px solid $grey3;
        padding: 10px;
        height: 64px;

        &:last-child {
          border-right-width: 2px;
        }
      }
      .cell-not-saved {
        input {
          color: $translatedBlue;
        }
      }

      &:last-child {
        .cell {
          border-bottom-width: 2px;
        }
      }
    }

    .row-columns {
      font-weight: bold;
    }
  }

  .add-new-severity {
    padding: 16px;
  }
}

.quality-framework-input {
  height: 40px;
  width: 100%;
  border: 1px solid $grey4;
  padding: 8px 12px 8px 12px;
  box-shadow: 2px 2px 4px 0px #00000014 inset;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
}

.quality-framework-add-category,
.quality-framework-add-severity {
  width: 520px;
  margin-top: 20px;

  .add-popover-content {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }

  .input {
    text-align: left;
  }
}

.quality-framework-add-category {
  .popover-component-top {
    bottom: 0;
    margin-bottom: 0;
  }
  button.add-description {
    gap: 0;
    font-weight: bold;
    height: auto;
  }
}

.quality-framework-add-severity {
  width: auto;
  margin-top: 40px;
  margin-left: 10px;
}
