@import '../../commons/colors';

.settings-panel {
  position: absolute;
  z-index: 12;
  width: 100%;
  min-width: 1024px;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;

  &.visible {
    display: block;
  }
}

.settings-panel-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s ease-in-out;
}

.settings-panel-overlay-visible {
  opacity: 1;
}

.settings-panel-overlay-hide {
  opacity: 0;
}

.settings-panel-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  background-color: white;
  transition: transform 0.5s ease-in-out;
}

.settings-panel-wrapper-visible {
  transform: translateX(0);
}

.settings-panel-wrapper-hide {
  transform: translateX(100%);
}

.settings-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 0 10px;
  background-color: $darkBlue;
  color: white;

  > span {
    font-size: 22px;
    font-weight: bold;
  }
}
.settings-panel-contentwrapper {
  height: 100%;

  > ul {
    padding: 15px 25px;
  }
}

.settings-panel-header-logo {
  background: url(../../img/logo_matecat_small_white.svg) no-repeat;
  background-position-y: center;
  background-size: contain;
  width: 35px;
  height: 35px;
}

.settings-panel-tab {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
  color: $white;
  font-weight: bold;
  font-size: 16px;
  opacity: 0.6;
}

.settings-panel-tab-active {
  background-color: rgba($grey3, 0.24);
  opacity: 1;
}

.settings-panel-tab-modifyng-icon {
  color: $translatedBlue;
  margin-right: 5px;
}

.settings-panel-contentwrapper {
  > ul {
    display: flex;
    gap: 1px;
    background-color: $darkBlue;
  }
}

.settings-panel-contentwrapper-container {
  font-size: 14px;
  padding: 20px;
  overflow-y: auto;
  max-height: calc(100vh - 340px);
  height: 100%;
  position: relative;
  h2 {
    text-align: left;
    padding: 15px 10px;
    font-size: 20px;
    margin: 0;
  }
  .buttonWide {
    padding: 0 16px;
    height: 40px;
    font-size: 16px;
  }
  input {
    font-size: 14px;
  }
}

.settings-panel-contentwrapper-active-tab {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 20px;

  h3 {
    font-size: 20px;
    margin-bottom: 4px;
  }

  span {
    font-size: 16px;
    color: $grey6;
  }
}

.settings-panel-button-icon {
  min-width: 120px;
  display: flex !important;
  gap: 10px !important;
  margin: 0 !important;
}

.settings-panel-project-template {
  display: flex;
  align-items: end;
  gap: 8px;

  padding: 16px 24px;
  background-color: $darkBlue;

  .select-with-label__wrapper {
    width: 240px;
  }
  .select-with-label__wrapper label {
    color: $white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .select-with-label__wrapper .select {
    font-size: 16px;
    padding: 9px 46px 9px 12px;
  }
  .dropdown__option {
    font-size: 16px;
    padding: 8px;
  }
  .select-unsaved {
    .select {
      color: $translatedBlue;
    }
  }
}

.settings-panel-project-template-button {
  height: 40px;
  background-color: unset;
  border: 1px solid $grey4;
  color: white;
  font-size: 16px;
  padding: 0 12px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.settings-panel-project-template-button-save-changes {
  background-color: $grey4;
  color: black;
}

.settings-panel-contentwrapper-tab-background {
  background-color: $grey5;
  padding: 20px;
  border-radius: 16px;
}
