@import '../../commons/colors';

.settings-panel {
  position: absolute;
  z-index: 12;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.settings-panel-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s ease-in-out;
}

.settings-panel-overlay-visible {
  opacity: 1;
}

.settings-panel-overlay-hide {
  opacity: 0;
}

.settings-panel-wrapper {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-width: 1024px;
  background-color: white;
  transition: transform 0.5s ease-in-out;
}

.settings-panel-wrapper-visible {
  transform: translateX(0);
}

.settings-panel-wrapper-hide {
  transform: translateX(100%);
}

.settings-panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  padding: 0 10px;
  background-color: $darkBlue;
  color: white;

  > span {
    font-size: 22px;
    font-weight: bold;
  }
}

.settings-panel-header-logo {
  background: url(../../img/logo_matecat_small_white.svg) no-repeat;
  background-position-y: center;
  background-size: contain;
  width: 35px;
  height: 35px;
}

.settings-panel-tab {
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 4px 4px 0 0;
  background-color: #cdd4de;
  color: $grey6;
  font-weight: bold;
  font-size: 16px;
}

.settings-panel-tab-active {
  background-color: white;
}

.settings-panel-contentwrapper {
  > ul {
    display: flex;
    gap: 1px;
    background-color: $darkBlue;
  }
}

.settings-panel-contentwrapper-container {
  font-size: 14px;
  padding: 20px;
  h2 {
    text-align: left;
    padding: 15px 10px;
    font-size: 20px;
    margin: 0;
  }
  .buttonWide {
    padding: 0 16px;
    height: 40px;
    font-size: 16px;
  }
  input {
    font-size: 14px;
  }
}

.settings-panel-button-icon {
  display: flex !important;
  gap: 10px !important;
}
