@import '../../commons/colors';

.translation-memory-glossary-tab {
  display: flex;
  flex-direction: column;
}

.translation-memory-glossary-tab-pre-translate {
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 4px;
  border: 1px dashed $grey8;
  padding: 10px;
  margin-bottom: 20px;
  background: $grey9;
}

.translation-memory-glossary-tab-table-title {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  justify-content: space-between;

  > span:first-of-type {
    flex-grow: 1;
    text-align: left;
  }
}

.translation-memory-glossary-tab {
  .settings-panel-table-rowHeading,
  .settings-panel-row-content {
    grid-template-columns: 8% 5% minmax(0, 1fr) 20% 5% 20%;
  }

  .settings-panel-table-rowHeading-column {
    text-align: center;
    padding: 0;
  }
}

.translation-memory-glossary-tab-inactive-table {
  > :first-child {
    display: none;
  }
}

.tm-key-lookup,
.tm-key-update {
  display: flex;
  justify-content: center;
}

.tm-key-row-name {
  width: 100%;
  background-color: unset;
  border: 1px solid $grey8;

  &:focus,
  &:hover {
    background-color: white;
  }
}

.tm-key-row-name-disabled {
  border: unset;
  &:focus,
  &:hover {
    background-color: unset;
  }
}

.tm-key-row-icons {
  color: $grey;
}

.translation-memory-glossary-tab-buttons-group {
  display: flex;
}

.tm-key-create-resource-row-input {
  width: 100%;
}

.settings-panel-row {
  .row-content-default-memory {
    grid-template-columns: 8% 5% minmax(0, 1fr) 0 5% 20%;
  }
}

.tm-key-create-resource-row-button {
  height: 32px;

  &:last-child {
    padding: 0 8px;
  }
}
