@use "../../commons/colors";

.files-menu-button {
  color: colors.$white !important;
  text-decoration: underline !important;
  &:hover {
    text-decoration: none !important;
  }
  .filename-label .name {
    max-width: 200px;
  }
}
.files-menu-header {
  max-height: 340px;
  .current-shortcut {
    visibility: hidden;
    &:hover {
      visibility: visible;
    }
  }
  .selected {
    background: colors.$darkBlue;
    color: colors.$white;
  }
  .file-icon {
    height: 33px;
    padding: 5px;
    margin: 0 8px 0 0;
    width: 30px;
    float: left;
    background-size: 25px !important;
  }
  .dropdownmenu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:first-child {
      justify-content: flex-start;
    }
    > div {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .file-name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 350px;
    }
  }
}
