.breadcrumbs {
  display: grid;
  grid-template-columns: 25px auto;
  padding: 14px 0 4px 0;

  .icon-container {
    position: relative;
    span#project-badge {
      position: absolute;
      left: -10px;
      top: -8px;
      font-family: Calibri, Arial, Helvetica, sans-serif !important;
      color: #fff;
    }
  }

  #pname {
    color: #fff;

    &::before {
      content: '' !important ;
    }
  }
}

.breadcrumbs a:hover {
  text-decoration: none;
}
#pname-container {
  margin: 0 10px 0 0;
  width: 70%;
  overflow: hidden;
}
.breadcrumbs #pname {
  word-break: break-all;
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.breadcrumbs #pname:hover {
  text-decoration: none;
}

.breadcrumbs #pname .details {
  float: left;
}
.breadcrumbs #pname {
  word-break: break-all;
  text-decoration: underline;
}

/*scrollbar*/
.topMenu ::-webkit-scrollbar {
  width: 16px;
}

.topMenu ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.topMenu ::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/*end-scrollbar*/
.topMenu {
  max-height: 64%;
  overflow-y: scroll;
  top: 48px !important;
  display: block;
  box-shadow: 0 0 4px #cecccc;
  width: 315px;
  background: $light-gray;
  z-index: 2;
  text-align: left;
  padding: 0;
  font-size: 14px;
  left: 135px;
  position: fixed;
  &.open {
    max-height: 64%;
    overflow-y: auto;
    top: 64px !important;
    display: block;
    box-shadow: 0px 1px 12px #999;
    border-radius: 2px;
    z-index: 13;
    border: solid 1px #cdd4de;

    &::after {
      content: '';
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #ffffff;
      bottom: 100%;
      left: 50%;
      right: auto;
      transform: translate(-90%, 0) !important;
      position: absolute;
      pointer-events: none;
    }
  }

  span {
    height: 30px;
    padding: 5px;
    margin: 0 8px 0 0;
    float: left;
    background-size: 25px !important;
  }

  .separator {
    width: 254px;
    height: 2px;
    background: $gray-2;
    align-items: center;
    margin-left: 15px;
  }

  ul.gotocurrentsegment {
    width: 100%;
    line-height: 24px;
    font-size: 16px;
    position: relative;
    .firstSegment {
      height: 35px;
      line-height: 35px;
      padding-left: 11px;
    }
    .currSegment {
      &:hover span {
        visibility: visible;
      }
      span {
        position: absolute;
        top: 4px;
        color: #757472;
        visibility: hidden;
        left: 200px;
      }
      a {
        background: $white;
        padding: 8px 16px;
        cursor: pointer;
        &::before {
          color: $medium-gray;
          font-size: 16px;
          margin-right: 10px;
          padding-right: 2px;
        }
      }
      .label {
        height: auto !important;
        margin: 0 !important;
        width: 224px !important;
        padding: 4px 8px !important;
        border-radius: 2px;
        float: none !important;
        display: inline-block;

        &:hover {
          background-color: $light-gray;
          color: $light-blue;
        }
      }
    }

    .firstSegment {
      a {
        padding: 4px 12px;
      }
      .label {
        height: auto !important;
        margin: 0 !important;
        width: 190px !important;
        padding: 4px !important;
        border-radius: 2px;
        float: none !important;
        font-size: 14px;
        cursor: default;
        pointer-events: none;
        &:hover {
          color: $light-blue;
        }
      }
    }
  }

  ul.jobmenu-list {
    span {
      padding: 4px 4px 0 2px;
      &.extdoc {
        margin: 0 !important;
      }
    }

    li {
      display: grid;
      grid-template-columns: 40px auto;
      grid-template-rows: 40px;
      align-items: center;

      font-weight: normal;
      border-left: none;
      font-size: 14px;
      color: #000;
      padding: 1px 8px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      div {
        border-radius: 3px;
        border-left: none;
        padding: 6px 8px;
        margin-right: 6px;
        display: grid;
        grid-template-columns: auto 18px;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: $light-blue;
        }

        svg {
          display: none;
        }
      }

      &.current {
        div {
          background: $matecat-blue;
          color: #ffffff;
          font-weight: normal;
          svg {
            display: block;
            width: 16px;
          }
        }
      }
    }
  }
}

.job-menu-files {
  max-height: 64%;
  overflow-y: scroll;
  top: 60px;
  display: block;
  box-shadow: 0 0 4px #cecccc;
  width: 315px;
  background: $light-gray;
  z-index: 2;
  padding: 0;
  font-size: 14px;
  left: 135px;
  position: fixed;
  .to-current {
    background: #fff;
    padding: 12px 16px;
    cursor: pointer;
    .icon-iconmoon:before {
      color: #acb3bd;
      font-size: 16px;
      margin-right: 10px;
      padding-right: 2px;
      font-size: 16px;
      content: '\f112';
      transform: rotate(180deg);
      display: inline-block;
    }

    .current-shortcut {
      visibility: hidden;
    }
    &:hover {
      .current-shortcut {
        visibility: visible;
      }
    }
  }
}
