@use "../../commons/colors";
header {
  .revision-mark {
    /*float: left;
      position: relative;*/
    width: 24px;
    height: 24px;
    left: -7px;
    top: 11px;

    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: white;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ffffff;

    &.revision-r1 {
      background: colors.$approvedGreen;
    }
    &.revision-r2 {
      background: colors.$approved2Green;
    }
  }
}

.markAsCompleteButton {
  width: 40px !important;
}

$icon-scale: 30px;

/* Default */

header {
  .wrapper {
    grid-template-columns:
      208px minmax(0, 48px) minmax(120px, max-content)
      auto max-content; /*208px minmax(0,48px) minmax(200px, max-content) auto 120px;*/
    align-items: center;

    .popover-component-container {
      margin-left: 15px;
    }
  }

  .logo-menu {
    display: grid;
    align-items: center;

    .logo {
      margin: 0;
      background: url(/public/img/logo_matecat_big_white.svg) 0 0 no-repeat;
      width: 190px;
      height: 40px;
      top: 1px;
      left: 6px;
    }
  }

  .header-menu {
    display: grid;
    /*grid-template-columns: repeat(9, auto);*/
    grid-auto-flow: column;
    align-items: center;
    justify-content: right;
    column-gap: 16px;
    z-index: 4;
    color: colors.$white ;
    button:not(.success) {
      color: colors.$white !important;
    }
    .button-badge {
      display: flex;
      width: 16px;
      height: 16px;
      padding: 2px 6px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      position: absolute;
      right: -6px;
      top: -4px;
      background-color: white;
      border-radius: 999px;
      &.button-badge-warning {
        background-color: colors.$orangeDefault;
        color: colors.$white;
      }
    }


    #action-comments,
    #mbc-history {
      width: $icon-scale !important;
      height: $icon-scale;
      padding: 0 !important;
      background-position: center;

      svg {
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
      &.open svg {
        opacity: 1;
      }

      .badge {
        position: absolute;
        margin: 0;
        top: 0;
        padding: 1px 6px;
        right: -4px;
        /*background: #e02020;*/
        background: #0bbeec;
        color: #fff;
        font-size: 10px;
        text-align: center;
        border-radius: 25px;
        vertical-align: middle;
        line-height: 16px;
        height: 17px;
      }

      .mbc-history-balloon-outer {
        background: #fff;
        margin-top: 5px;
        border-radius: 3px;
        right: -136px;
        z-index: 2;
        .mbc-triangle-top {
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #ffffff;
          bottom: 100%;
          left: 50%;
          right: auto;
          transform: translate(-90%, 0) !important;
          position: absolute;
          pointer-events: none;
        }

        .mbc-thread-wrap-active {
          border: none;
        }
      }
      .mbc-history-balloon {
        background: #fff;
        border-radius: 3px;
      }
      .mbc-thread-wrap {
        border-top: none;
      }
    }
    #action-search {
      svg {
        circle {
          fill: #fff;
        }

        .st1 {
          fill: #002b5c;
        }
      }
    }
    #action-filter {
      &.active,
      &.open {
        opacity: 1;
        #filter {
          fill: #fff;
        }
      }
    }
  }
}
