@use "../../commons/colors";
header {
  .revision-mark {
    /*float: left;
      position: relative;*/
    width: 24px;
    height: 24px;
    left: -7px;
    top: 11px;

    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    color: white;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #ffffff;

    &.revision-r1 {
      background: colors.$approvedGreen;
    }
    &.revision-r2 {
      background: colors.$approved2Green;
    }
  }
}

.markAsCompleteButton {
  width: 40px !important;
}

$icon-scale: 30px;

/* Default */

header {
  .wrapper {
    grid-template-columns:
      208px minmax(0, 48px) minmax(120px, max-content)
      auto max-content; /*208px minmax(0,48px) minmax(200px, max-content) auto 120px;*/
    align-items: center;

    .user-menu-popover {
      margin-left: 15px;
    }
  }

  .logo-menu {
    display: grid;
    align-items: center;

    .logo {
      margin: 0;
      background: url(/public/img/logo_matecat_big_white.svg) 0 0 no-repeat;
      width: 190px;
      height: 40px;
      top: 1px;
      left: 6px;
    }
  }

  .header-menu {
    display: grid;
    /*grid-template-columns: repeat(9, auto);*/
    grid-auto-flow: column;
    align-items: center;
    justify-content: right;
    column-gap: 16px;
    z-index: 4;
    color: colors.$white ;
    button.default {
      color: colors.$white !important;
      &:disabled {
      color: #{rgba(colors.$white, 0.5)} !important;
      }
    }
    .button-badge {
      display: flex;
      width: 16px;
      height: 16px;
      padding: 2px 6px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      position: absolute;
      right: -6px;
      top: -4px;
      background-color: white;
      border-radius: 999px;
      font-size: 12px;
      line-height: 14px;
      &.button-badge-left {
        right: unset;
        left: -4px;
      }
      &.button-badge-warning {
        background-color: colors.$orangeDefault;
        color: colors.$white;
      }
      &.button-badge-info {
        background-color: colors.$translatedBlue;
        color: colors.$white;
      }
      &.button-badge-error {
        background-color: colors.$redDefault;
        color: colors.$white;
      }
      &.button-badge-success {
        background-color: colors.$approvedGreen;
        color: colors.$white;
      }
    }
    #action-filter {
      &.active,
      &.open {
        opacity: 1;
        #filter {
          fill: #fff;
        }
      }
    }
  }
}
