@use '../../commons/colors';
/********** QA Component **********/
.qa-wrapper {
  position: relative;
  width: 100%;
  float: left;
  margin-top: 1px;
}

.qa-container {
  background-color: colors.$white;
  height: 50px;
  box-shadow: 0 1px 3px colors.$grey700;
  border-radius: 0 0 2px 2px;
  display: block;
  color: colors.$grey700;
}

.qa-container {
  .qa-container-inside {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 6.5% 0 5%;
    align-items: center;
    .label-issues {
      font-weight: 700;
      margin-right: 5px;

      &.labl {
        margin-left: 70px;
      }
    }
    @media (max-width: 1230px) {
      .label-issues.label-issues-segment {
        display: none;
      }
    }
    @media (max-width: 1060px) {
      .label-issues.labl {
        width: 0;
        overflow: hidden;
      }
      .qa-lexiqa-info {
        display: none;
      }
    }
    .qa-issues-list {
      display: flex;
      flex-grow: 3;
      align-items: center;
      > div {
        display: flex;
        gap: 8px;
      }
      .icon-cancel-circle {
        color: colors.$red400;
      }
      .icon-warning2 {
        color: colors.$orange600;
      }
      .ui.basic.buttons {
        button {
          font-size: 16px !important;
          padding: 10px;
          color: colors.$black !important;
          font-family: calibri;
          display: flex;
          gap: 4px;
          &.error svg {
            color: colors.$red400;
          }
          &.warning svg {
            color: colors.$orange200;
          }
          &:hover {
            background: colors.$grey50 !important;
          }
          &.mc-bg-gray {
            background: colors.$grey50 !important;
          }

        }
      }
      .qa-lexiqa-info {
        margin-left: 5px;
        font-weight: 700;
        a {
          margin: 0 3px;
          font-weight: 700;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .qa-issues-navigator {
      display: flex;
      flex-grow: 1;
      .qa-actions {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        .qa-arrows {
          display: flex;
          justify-content: center;
          gap: 10px;
        }
        .info-navigation-issues {
          display: flex;
          align-items: center;
          b {
            margin-right: 2px;
          }
        }
      }
    }
  }
}

.qa-arrows {
  .button {
    padding: 10px 13px;
    display: inline-block;
    width: 11px;
  }
}
