/********** QA Component **********/
.qa-wrapper {
  position: relative;
  width: 100%;
  float: left;
  margin-top: 1px;
}

.qa-container {
  background-color: #fff;
  height: 50px;
  box-shadow: 0 1px 3px #666;
  border-radius: 0 0 2px 2px;
  display: block;
  color: #4d4d4d;
}

.qa-issues-types {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content: flex-start;
}

.qa-issues-container,
.qa-lexiqa-container {
  width: 150px;
  height: 50px;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 15px;
  font-weight: normal;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

.qa-issues-container.segments-with-issues {
  width: 190px;
}

.qa-issues-container:hover,
.qa-lexiqa-container:hover {
  background-color: #d0d0d0;
}

.qa-issues-container.selected,
.qa-lexiqa-container.selected {
  box-shadow: inset 0px -3px 0px #4d4d4d;
}

.qa-counter {
  width: 125px;
  font-size: 16px;
  color: #333;
}

.icon-qa-issues,
.icon-qa-glossary,
.icon-conflicts,
.icon-qa-total-issues,
.icon-qa-lexiqa {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-top: 8px;
}

.icon-conflicts {
  margin-right: -2px;
  margin-left: 15px;
}

.icon-qa-total-issues:before {
  content: '\e903';
  font-size: 25px;
}

.icon-qa-glossary:before {
  content: '\ea4f';
  font-size: 25px;
}

.icon-conflicts:before {
  content: '\f071';
  font-size: 25px;
}

.icon-qa-issues:before {
  content: '\ea7f';
  font-size: 25px;
}

.icon-qa-lexiqa:before {
  content: '\f044';
  font-size: 25px;
  margin-top: 0px;
  display: block;
}

.qa-total-issues-counter {
  top: 10px;
  left: 10px;
}

.qa-issues-counter {
  top: 10px;
  left: 25px;
}

.qa-glossary-counter {
  top: 10px;
  left: 10px;
}

.qa-conflicts-issues-counter {
  top: 10px;
  left: 15px;
}

.qa-lexiqa-counter {
  top: 10px;
  left: 35px;
}

.icon-qa-right-arrow:before {
  content: '\ea3c';
  font-size: 18px;
}

.icon-qa-left-arrow:before {
  content: '\ea40';
  font-size: 18px;
}

.qa-move-up,
.qa-move-down {
  color: #797979;
}

.qa-move-down {
  margin-left: 15px;
}

.qa-move-up:hover,
.qa-move-down:hover {
  color: black;
}

.qa-move-up:active,
.qa-move-down:active {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  background-color: #eee;
  background-image: -webkit-linear-gradient(top, #eee, #e0e0e0);
}

.qa-arrows.qa-arrows-disabled .qa-move-up,
.qa-arrows.qa-arrows-disabled .qa-move-down,
.qa-arrows.qa-arrows-disabled .qa-move-up:hover,
.qa-arrows.qa-arrows-disabled .qa-move-down:hover {
  cursor: default;
  opacity: 0.5;
  color: #797979;
}

/************************************************/

.qa-container {
  .qa-container-inside {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 6.5% 0 5%;
    align-items: center;
    .label-issues {
      font-weight: 700;
      margin-right: 5px;
      &.labl {
        margin-left: 70px;
      }
    }
    @media (max-width: 1230px) {
      .label-issues.label-issues-segment {
        display: none;
      }
    }
    @media (max-width: 1060px) {
      .label-issues.labl {
        width: 0;
        overflow: hidden;
      }
      .qa-lexiqa-info {
        display: none;
      }
    }
    .qa-issues-list {
      display: flex;
      flex-grow: 3;
      align-items: center;
      .qa-issue {
      }
      .icon-cancel-circle {
        color: #e1565a;
      }
      .icon-warning2 {
        color: #ea862c;
      }
      .ui.basic.buttons {
        button {
          font-size: 16px !important;
          padding: 10px;
          color: #000000 !important;
          font-family: calibri;
          &:hover {
            background: #f2f4f7 !important;
          }
          &.mc-bg-gray {
            background: #f2f4f7 !important;
          }
          i {
            position: relative;
            top: 2px;
          }
        }
      }
      .qa-lexiqa-info {
        margin-left: 5px;
        font-weight: 700;
        a {
          margin: 0 3px;
          font-weight: 700;
          text-decoration: underline;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .qa-issues-navigator {
      display: flex;
      flex-grow: 1;
      .qa-actions {
        display: flex;
        flex-grow: 1;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        .info-navigation-issues {
          display: inline-block;
          margin: 0 15px 0 10px;
        }
      }
    }
  }
}

.qa-arrows {
  .button {
    padding: 10px 13px;
    display: inline-block;
    width: 11px;
  }
}
