@use "../../commons/colors";

.searchbox {
  position: relative;
  float: left;
  width: 100%;
  font-size: 12px;
  background: colors.$white;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.45);
}

.searchbox .block.buttons {
  margin-top: -6px !important;
}

.searchbox .search-inputs {
  height: 74px;
}

.searchbox #exec-filter {
  float: right;
}

.searchbox .block.right {
  margin-right: 0 !important;
}

.searchbox .btn {
  float: right;
  font-weight: bold;
  margin: 4px 0px 3px 10px;
  padding: 2px 10px;
  height: 28px;
  background: colors.$grey100;
  cursor: pointer;
  font-size: 14px;
  width: fit-content;
  text-transform: uppercase;

  &:disabled {
    cursor: not-allowed;
    background: colors.$white;
    color: colors.$grey200;
    border: 1px solid colors.$grey200;
    font-weight: 100;
  }
}

.searchbox input[type='button']:hover {
  border-width: 1px;
}

.searchbox .search-input {
  width: 200px;
  font-size: 12px !important;
  height: 23px;
  padding: 0 5px;
  border: 1px solid colors.$grey400;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
}

.searchbox .search-input:hover {
  -moz-box-shadow: inset 0 1px 1px colors.$grey100;
  -webkit-box-shadow: inset 0 1px 1px colors.$grey100;
}

.searchbox .search-input:focus {
  -moz-box-shadow: inset 0 1px 2px colors.$grey200;
  -webkit-box-shadow: inset 0 1px 2px colors.$grey200;
  color: colors.$black;
}

@media only screen and (max-width: 1200px) {
  .searchbox .search-input {
    width: 160px;
  }
}

@media only screen and (max-width: 1100px) {
  .searchbox .search-input {
    width: 140px;
  }
}

@media only screen and (max-width: 1050px) {
  .searchbox .search-input {
    width: 132px;
  }
}

.searchbox label {
  display: inline;
  width: auto !important;
  margin-right: 5px;
  text-transform: uppercase;
}

.searchbox input[type='button'],
.searchbox input[type='submit'] {
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.searchbox .block {
  float: left;
  margin-right: 10px;
  text-align: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.searchbox .block .field {
  width: 100%;
  text-align: right;
  margin-bottom: 5px;
}

.searchbox .block.right {
  float: right !important;
  margin-top: -5px !important;
}

.searchbox .block.right .block {
  margin-right: 0px;
  margin-left: 20px;
}

.searchbox .block.right .block .btn {
  margin-right: 0px;
  margin-left: 10px;
}

.searchbox .block.vcentered {
  padding-top: 7px !important;
}

.searchbox .search-options label {
  text-transform: capitalize;
}

input#exec-cancel,
input#exec-find,
input#exec-find,
button#exec-replace {
  width: 95px;
}

/////////// New Find
.ui.form {
  box-sizing: border-box;
}

.ui.form .find-wrapper .find-element input:not(.input--invisible), {
  border-radius: 2px !important;
  border: 1px solid rgba(34, 36, 38, 0.15) !important;
  box-shadow: inset 0 1px 3px colors.$grey200 !important;
  font-size: 1.2em !important;
  padding: 8px 16px 7px !important;

  &::-webkit-input-placeholder {
    color: colors.$grey400;
  }

  &:hover {
    border-color: rgba(34, 36, 38, 0.35) !important;
  }

  &:focus {
    border-color: colors.$blue300 !important;
    background: colors.$white !important;
    color: rgba(0, 0, 0, 0.8) !important;
    /*outline: none;*/
  }
}

.ui.form .find-wrapper .find-container {
  background-color: colors.$white;
  padding: 10px 0 0;
  margin-bottom: 0;
  box-shadow: 0 1px 3px colors.$grey700;
  border-radius: 0 0 0 0;
  display: block;
  color: colors.$grey700;
}

.ui.form .find-wrapper .find-container .find-container-inside {
  height: 100%;
  padding: 0 6.5% 0 5%;
  text-align: left;
  display: flex;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-list {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element {
  display: inline-block;
  width: 29%;
  margin-right: 10px;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element.find-dropdown-status {
  width: fit-content;
  margin-right: 0;
}

//TODO: Transform in SCSS Component for all DROPDOWN BUTTON
.ui.form .find-wrapper .find-container .find-container-inside .find-element.find-dropdown-status .find-dropdown {
  display: flex;
  align-items: center;
  font-weight: normal;
  height: 37px;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element.find-dropdown-status .find-dropdown .select {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  padding: 9px 46px 9px 12px;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element.find-dropdown-status .find-dropdown .ui.cancel.label {
  padding: 4px;
  background-color: colors.$grey200;
  border-radius: 15px;
  top: 8px;
  line-height: 0px;
  right: 0px;

  &:hover {
    background-color: colors.$grey200 !important;
  }
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element.find-dropdown-status .find-dropdown .ui.input input {
  box-shadow: inset 0 1px 3px colors.$grey200;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element.find-dropdown-status .find-dropdown.not-filtered .ui.basic.button.disabled {
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.25) inset !important;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element.find-dropdown-status .find-dropdown.disabled {
  background: unset;
  opacity: 0.5 !important;
  border: none;
  pointer-events: none;
  box-shadow: inherit !important;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element.find-dropdown-status .find-dropdown.disabled .active .menu.transition {
  visibility: hidden !important;

  &:after {
    display: none;
  }
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element.find-dropdown-status .find-dropdown .circular.label.new-color {
  box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.25) inset;
  background: colors.$white;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element.find-dropdown-status .find-dropdown .circular.label.draft-color {
  background: colors.$grey100;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element.find-dropdown-status .find-dropdown .circular.label.translated-color {
  background: colors.$blue500;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element.find-dropdown-status .find-dropdown .circular.label.approved-color {
  background: colors.$green800;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element.find-dropdown-status .find-dropdown .circular.label.approved-2ndpass-color {
  background: colors.$purple500;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element.find-dropdown-status .find-dropdown .circular.label.rejected-color {
  background: colors.$red400;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element.find-clear-all {
  width: fit-content;
  margin-right: 0;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element .find-in-source {
  margin-bottom: 5px;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element .find-exact-match {
  display: flex;
  gap: 12px;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element .find-exact-match .exact-match {
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 21px;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element .find-in-target {
  margin-bottom: 5px;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element .enable-replace-check {
  display: flex;
  align-items: center;
  gap: 4px;
  line-height: 21px;

  &.disable {
    opacity: 0.5;
  }
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element .find-in-replace input {
  margin-bottom: 5px;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element .find-in-replace button {
  padding: 5px 10px;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element .find-clear {
  margin-left: 13px;
  border-left: 1px solid colors.$grey200;
  padding-left: 15px;
  position: relative;
  top: 9px;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element .find-clear button {
  color: grey;
  text-decoration: underline;
  border: none;
  background: none;
  outline: none;

  &:hover {
    text-decoration: none;
  }
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element-container {
  display: inline-block;
  width: 29%;
  margin-left: 15px;
  margin-right: 10px;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-element-container .find-element {
  width: unset;
  display: block;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8px;
}

.ui.form .find-wrapper .find-container .find-container-inside .find-option {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 7px;
}

.ui.form .find-wrapper .find-container .search-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-size: 1.2em;
  padding: 15px 6.5% 15px 5%;
  text-align: left;
  background: colors.$grey50;
}

.ui.form .find-wrapper .find-container .search-display .found {
  margin: 0;
  margin-right: 20px;
}

.ui.form .find-wrapper .find-container .search-display .found span .param {
  font-weight: 700;
  color: colors.$black;
  background: yellow;
  margin: 0 3px;
  padding: 3px 3px;
  border-radius: 2px;
}

.ui.form .find-wrapper .find-container .search-display .search-result-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
}

.ui.form .find-wrapper .find-container .search-display .search-result-buttons p {
  padding: 8px 5px;
  margin-bottom: 0;
}

.ui.form .find-wrapper .find-container .search-display .search-result-buttons .ui.basic.button {
  width: 36px;
  height: 36px;
  padding: 0;
  margin: 0;
  line-height: 36px;
  margin-left: 10px;
  position: relative;
}

.ui.form .find-wrapper .find-container .search-display .search-result-buttons .ui.basic.button span {
  position: absolute;
  font-size: 12px;
  color: colors.$grey400;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  visibility: hidden;
  width: 160px;
  left: -50px;
  top: 26px;
}

.ui.form .find-wrapper .find-container .search-display .search-result-buttons .ui.basic.button.disabled {
  box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.15) inset !important;
}

.ui.form .find-wrapper .find-container .search-display .search-result-buttons .ui.basic.button.disabled span {
  display: none;
}

.ui.form .find-wrapper .find-container .search-display .search-result-buttons .ui.basic.button:hover span {
  visibility: visible;
}

.ui.form .select-with-icon__wrapper {
  height: 37px;
}

.ui.form .select__dropdown-wrapper {
  min-width: 180px;
  margin-top: 1px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  border: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.form .custom-dropdown.select__dropdown {
  background-color: colors.$white;
}

.ui.form ul.dropdown__list {
  min-height: 165px;
}

.ui.form li.dropdown__option {
  padding: 8px;
}

.ui.form .dropdown__option span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}
