body section.muted {
  background: #f2f4f7;
  cursor: not-allowed;
  .body {
    .text {
      opacity: 0.5;
      .wrap {
        .source {
        }
        .target {
          .editarea {
            border: none !important;
            &:hover {
              border: none !important;
            }
          }
        }
      }
      .status-container {
        .status {
          opacity: 0.2;
        }
      }
    }
  }
  .segment-side-buttons {
  }
}

.search-settings-panel {
  background: #efefef;
  padding: 10px;
  position: absolute;
  width: 205px;
  border: 1px solid #666;
  top: 48px;
}

/* advanced filtering */

header .filter:before {
  content: '\f0b0';
}

header .filter {
  display: block !important;
  text-decoration: none;
  color: #eee;
  box-shadow: none;
  border: 0;
  padding: 12px;
  font-size: 20px;
  text-align: center;
}

.advanced-filter-searchbox {
  display: none;
}

.advanced-filter-searchbox .search-select {
  margin-left: 5px;
}

.advanced-filter-searchbox {
  display: block;
  height: 48px;
}
/*.searchbox form {
    width: auto;
    padding: 11px 10px 0px 15px !important;
}*/

/*  .searchbox .block {
    margin-top: 5px;
}*/

.advanced-filter-searchbox {
  z-index: 1 !important;
}

/*.searchbox .search-settings {
    text-decoration: underline;
    float: left;
    cursor: pointer;
}*/

body.cattool .filter,
body.cattool .filter:hover {
  background: transparent !important;
  cursor: pointer;
}
body.cattool .filter:hover {
  color: #ccc;
}

.cattool header .filter {
  font-size: 25px;
  padding: 10px;
  padding: 0;
  padding-top: 5px;
  width: 45px;
  margin: 0;
}

#review-side-panel {
  top: 48px;
}

.search-settings-info {
  float: left;
  margin-right: 10px;
  color: #666;
}

.filter-segments-count {
  float: right !important;
  font-weight: bold;
  font-size: 14px;
}

#setStatus-filter {
  margin-right: 0;
}

section.muted .segment-side-buttons {
  zoom: 0.8;
}

.sf-segment-navigation-arrows {
  float: right;
  margin-right: 20px;
  margin-top: -3px;
}

///////////// New Filter Segments

#header-bars-wrapper {
  .filter-wrapper {
    position: relative;
    width: 100%;
    float: left;
    margin-top: 1px;
    .filter-container {
      background-color: #fff;
      height: 50px;
      box-shadow: 0 1px 3px #666;
      border-radius: 0 0 2px 2px;
      display: block;
      color: #4d4d4d;
      //TODO: Transform in SCSS Component for all INPUT TYPES
      input {
        border-radius: 2px !important;
        border: 1px solid rgba(34, 36, 38, 0.15) !important;
        box-shadow: inset 0 1px 3px #ddd !important;
        font-size: 1.2em !important;
        padding: 8px 16px 7px !important;
        &::-webkit-input-placeholder {
          color: rgba(0, 0, 0, 0.87);
        }
        &:hover {
          border-color: rgba(34, 36, 38, 0.35) !important;
        }
        &:focus {
          border-color: #85b7d9 !important;
          background: #ffffff !important;
          color: rgba(0, 0, 0, 0.8) !important;
          outline: none;
        }
      }
      .filter-container-inside {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 6.5% 0 5%;
        align-items: center;
        .filter-list {
          display: flex;
          flex-grow: 3;
          align-items: center;
          box-sizing: border-box;
          .filter-dropdown {
            display: flex;
            align-items: center;
            &:nth-child(2) {
              margin-left: 15px;
            }
            .ui.basic.button {
              font-family: 'calibri', Arial, Helvetica, sans-serif;
              font-size: 16px !important;
              padding: 10px 20px;
              border-radius: 2px;
              /*transition: 0.3s ease;*/
              box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.25) inset;

              &:hover,
              &.active {
                box-shadow: 0 0 0 1px #0055b8 inset;
                color: #0055b8 !important;
                background: #fff !important;
              }

              .text {
                /*transition: 0.3s ease;*/
                display: flex;
                align-items: center;
              }
              .ui.cancel.label {
                position: absolute;
                padding: 4px;
                background-color: #d6d6d6;
                border-radius: 15px;
                top: 8px;
                line-height: 0px;
                right: 0px;
                visibility: hidden;
                &:hover {
                  background-color: #cccccc !important;
                }
              }
            }
            .filter-status,
            .filter-activities,
            .filter-data-sample {
              &.not-filtered {
                .ui.basic.button {
                  /*&:hover, &.active {
                                        box-shadow: none;
                                        color: #0055b8 !important;
                                        border: 1px solid #0055b8;
                                        background: #fff !important;
                                    }*/
                  &.disabled {
                    box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.25) inset !important;
                    pointer-events: none;
                  }
                }
              }
              &.filtered {
                .ui.basic.button {
                  background-color: #ffffff !important;
                  box-shadow: 0 0 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12),
                    0 2px 4px rgba(0, 0, 0, 0.24) !important;
                  color: #000000 !important;
                  padding: 9px 20px 9px 15px;
                  &:hover {
                    width: fit-content;
                    .text {
                      margin-right: 15px;
                    }
                    .ui.cancel.label {
                      visibility: unset;
                      right: 5px;
                    }
                  }
                }
              }
              &.disabled {
                background: unset;
                opacity: 0.5 !important;
                box-shadow: unset;
                border: none;
                pointer-events: none;
              }
            }
            .filter-status {
              .circular.label {
                &.new-color {
                  box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.25) inset;
                  background: #ffffff;
                }
                &.draft-color {
                  background: $grey1;
                }
                &.translated-color,
                &.post-edited-color {
                  background: $translatedBlue;
                }
                &.approved-color {
                  background: $approvedGreen;
                }
                &.approved-2ndpass-color {
                  background: $approved2Green;
                }
                &.rejected-color {
                  background: $rebuttedRed;
                }
              }
            }
            .filter-activities {
            }
            .filter-toggle {
              .checkbox {
                left: 5px;
                top: 4px;
                margin: 0 !important;
                float: none;
                label {
                  &:before {
                    background: #dcdfe4 !important;
                  }
                  &:after {
                    box-shadow: inset 0 0 0 1px rgba(34, 36, 38, 0.25);
                    background: #ffffff;
                  }
                }
              }
            }
            .filter-data-sample {
              display: flex;
              align-items: center;
              .percent-item {
                margin-left: 5px;
              }
              .menu {
                width: 220px;
                .head-dropdown {
                  label {
                    display: inline-block;
                    width: 60%;
                    position: relative;
                    font-size: 12px;
                    top: 16px;
                  }
                  input {
                    width: 40%;
                    display: inline-block;
                    right: 0;
                    padding: 5px 10px;
                    margin-top: 10px;
                  }
                }
              }
              .item,
              .text {
                .type-item,
                .order-item {
                  display: inline-block;
                }
                .order-item {
                  float: right;
                }
              }
              .text {
                .order-item {
                  margin-left: 2px;
                }
              }
            }
          }
          .clear-filter-element {
            margin-left: 13px;
            border-left: 1px solid #d6d6d7;
            padding-left: 13px;
            color: black;
            display: flex;
            justify-content: space-between;
            .clear-filter,
            .select-all-filter {
              margin-right: 20px;
              display: inline;
              min-width: 65px;
              button {
                background: none;
                color: grey;
                text-decoration: underline;
                cursor: pointer;
                border: none;
                padding: 0;
                outline: none;
                &:hover {
                  text-decoration: none;
                }
              }
            }
          }
        }
        .filter-navigator {
          display: flex;
          flex-grow: 1;
          align-items: center;
          .filter-actions {
            display: flex;
            flex-grow: 1;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            .info-navigation-filters {
              display: inline-block;
              margin: 0 15px 0 10px;
            }
            .label-filters {
              display: inline-block;
              &.labl {
                margin-right: 10px;
                position: relative;
              }
              .loader {
                width: 20px;
                height: 20px;
                background: url(../../img/loading.gif) 0 0 no-repeat !important;
                position: absolute;
                bottom: 0px;
                display: block;
                left: 85px;
                background-size: 20px 20px !important;
              }
            }
          }
        }
      }
    }
  }
  .filter-arrows {
    .button {
      padding: 10px 13px;
      display: inline-block;
      width: 11px;
    }
  }
  .ui.dropdown .menu > .head-dropdown {
    padding: 0em 1.14285714rem;
    color: rgba(0, 0, 0, 0.85);
    font-size: 0.78571429em;
    font-weight: bold;
    text-transform: uppercase;
  }

  .ui.dropdown .menu {
    width: 200px;
    padding: 8px;
    .item {
      font-size: 16px;
      border-radius: 2px;
      padding: 8px !important;
      &:hover {
        color: #0055b8;
      }
    }
  }
}
