    section.muted {
        width: 99%;
        margin: 0px 1% 0 0 !important;
    }

    section.muted .editarea:hover,
    section.muted .editarea {
        border: none !important;
    }

    section.muted .status {
        opacity: 0.2;
    }

    section.muted .text,
    section.muted .status,
    section.muted .editarea {
        cursor: not-allowed;
    }

    .search-settings-panel h4 {
        text-transform: uppercase;
        font-size: 13px;
    }

    .data-sample-segment .sid,
    .data-sample-segment .sid .txt,
    .data-sample-segment p.split-shortcut {
        background: #BCBCBC !important;
    }

    /*
    section.muted .translation-issues-button {
      display: none;
    }
    */

    .search-settings-panel {
        background: #efefef;
        padding: 10px;
        position: absolute;
        width: 205px;
        border: 1px solid #666;
        top: 48px;
    }

    .advanced-sample-size {
        float: right;
    }

    .search-settings-panel .block {
        float: none;
    }

    .search-settings-panel .block label {
        text-transform: none !important;
        font-size: 13px;
        margin-left: 5px;
    }

    /* advanced filtering */

    header .filter:before {
        content: "\f0b0";
    }

    header .filter {
        display: block !important;
        text-decoration: none;
        color: #eee;
        box-shadow: none;
        border: 0;
        padding: 12px;
        font-size: 20px;
        text-align: center;
    }

    .advanced-filter-searchbox {
        display: none;
    }

    .advanced-filter-searchbox .search-select {
        margin-left: 5px;
    }

    .advanced-filter-searchbox {
        display: block;
        height: 50px;
    }
    .searchbox form {
        width: auto;
        padding: 11px 10px 0px 15px !important;
    }

  /*  .searchbox .block {
        margin-top: 5px;
    }*/

    .advanced-filter-searchbox {
        z-index: 1 !important;
    }

    .searchbox .search-settings {
        text-decoration: underline;
        float: left;
        cursor: pointer;
    }

    body.cattool .filter,
    body.cattool .filter:hover {
        background: transparent !important;
        cursor: pointer;
    }
    body.cattool .filter:hover {
        color: #ccc;
    }

    .cattool header .filter {
        font-size: 25px;
        padding: 10px;
        padding: 0;
        padding-top: 5px;
        width: 45px;
        margin: 0;
    }

    .mbc-history-balloon-outer {
        display: none;
    }

    #review-side-panel {
        top: 48px;
    }

    .search-settings-info {
        float: left;
        margin-right: 10px;
        color: #666;
    }

    .filter-segments-count {
        float: right !important;
        font-weight: bold;
        font-size: 14px;
        position: relative;
        top: 5px;
    }

    #setStatus-filter {
        margin-right: 0;
    }

    section.muted .segment-side-buttons {
        zoom: 0.8;
    }

    .sf-segment-navigation-arrows {
        float: right;
        margin-right: 20px;
        margin-top: -4px;
    }
