/*section.muted {
    zoom: 0.8;
    width: 94%;
    margin: 0 3% !important;
}*/
section.muted {
    width: 99%;
    margin: 0px 1% 0 0 !important;
}

section.muted .editarea:hover,
section.muted .editarea {
    border: none !important;
}

section.muted .status {
    opacity: 0.2;
}

section.muted .text,
section.muted .status,
section.muted .editarea {
    cursor: not-allowed;
}

.search-settings-panel h4 {
    text-transform: uppercase;
    font-size: 13px;
}

.data-sample-segment .sid,
.data-sample-segment .sid .txt,
.data-sample-segment p.split-shortcut {
    background: #BCBCBC !important;
}

/*
section.muted .translation-issues-button {
  display: none;
}
*/

.search-settings-panel {
    background: #efefef;
    padding: 10px;
    position: absolute;
    width: 205px;
    border: 1px solid #666;
    top: 48px;
}

.advanced-sample-size {
    float: right;
}

.search-settings-panel .block {
    float: none;
}

.search-settings-panel .block label {
    text-transform: none !important;
    font-size: 13px;
    margin-left: 5px;
}

/* advanced filtering */

header .filter:before {
    content: "\f0b0";
}

header .filter {
    display: block !important;
    text-decoration: none;
    color: #eee;
    box-shadow: none;
    border: 0;
    padding: 12px;
    font-size: 20px;
    text-align: center;
}

.advanced-filter-searchbox {
    display: none;
}

.advanced-filter-searchbox .search-select {
    margin-left: 5px;
}

.advanced-filter-searchbox {
    display: block;
    height: 48px;
}
.searchbox form {
    width: auto;
    padding: 11px 10px 0px 15px !important;
}

/*  .searchbox .block {
    margin-top: 5px;
}*/

.advanced-filter-searchbox {
    z-index: 1 !important;
}

.searchbox .search-settings {
    text-decoration: underline;
    float: left;
    cursor: pointer;
}

body.cattool .filter,
body.cattool .filter:hover {
    background: transparent !important;
    cursor: pointer;
}
body.cattool .filter:hover {
    color: #ccc;
}

.cattool header .filter {
    font-size: 25px;
    padding: 10px;
    padding: 0;
    padding-top: 5px;
    width: 45px;
    margin: 0;
}

.mbc-history-balloon-outer {
    display: none;
}

#review-side-panel {
    top: 48px;
}

.search-settings-info {
    float: left;
    margin-right: 10px;
    color: #666;
}

.filter-segments-count {
    float: right !important;
    font-weight: bold;
    font-size: 14px;
}

#setStatus-filter {
    margin-right: 0;
}

section.muted .segment-side-buttons {
    zoom: 0.8;
}

.sf-segment-navigation-arrows {
    float: right;
    margin-right: 20px;
    margin-top: -3px;
}



///////////// New Filter Segments

#header-bars-wrapper {
    .filter-wrapper {
        position: relative;
        width: 100%;
        float: left;
        margin-top: 1px;
        .filter-container {
            background-color: #fff;
            height: 50px;
            box-shadow: 0 1px 3px #666;
            border-radius: 0 0 2px 2px;
            display: block;
            color: #4d4d4d;
            .filter-container-inside {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 0 6.5% 0 5%;
                align-items: center;
                .filter-list {
                    display: flex;
                    flex-grow: 3;
                    align-items: center;
                    box-sizing: border-box;
                    .filter-dropdown {
                        display: flex;
                        align-items: center;
                        &:nth-child(2){
                        margin-left: 15px;
                        }
                        .ui.basic.button{
                            font-family: "calibri", Arial, Helvetica, sans-serif;
                            font-size: 16px !important;
                            padding: 10px 20px;
                            border-radius: 40px;
                            transition: 0.3s ease;
                            box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.25) inset;
                            .ui.cancel.label {
                                position: absolute;
                                padding: 4px;
                                background-color: #d6d6d6;
                                border-radius: 15px;
                                top: 8px;
                                line-height: 0px;
                                right: 6px;
                                visibility: hidden;
                                &:hover {
                                    background-color: #cccccc !important;
                                }
                            }
                            &.not-filtered {
                                &:hover {
                                    box-shadow: 0px 0px 0px 1px #09beec inset;
                                    color: #09beec !important;
                                }
                                &.disabled {
                                     box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.25) inset !important;
                                 }
                            }
                            &.filtered {
                                background-color: #ffffff !important;
                                box-shadow: 0 0 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24) !important;
                                color: #000000 !important;
                                &:hover {
                                    padding-right: 35px !important;
                                    .ui.cancel.label {
                                        visibility: unset;
                                    }
                                }
                            }
                        }
                        .filter-status {

                        }
                        .filter-activities {

                        }
                        .filter-toggle {
                            .checkbox {
                                left: 6px;
                                top: 4px;
                                margin: 0 !important;
                                float: none;
                                label {
                                    &:before {
                                        background: #dcdfe4 !important;
                                    }
                                    &:after {
                                        box-shadow: inset 0 0 0 1px rgba(34, 36, 38, 0.25);
                                        background: #FFFFFF;
                                    }
                                }
                            }
                            /*.checkbox.checked {
                                label {
                                    &:before {
                                        background: #dcdfe4 !important;
                                    }
                                }
                            }*/
                        }
                        .filter-data-sample {
                            .menu {
                                width: 220px;
                                .head-dropdown {
                                    label {
                                        display: inline-block;
                                        width: 60%;
                                        position: relative;
                                        font-size: 12px;
                                        top: 16px;
                                    }
                                    input {
                                        width: 40%;
                                        display: inline-block;
                                        right: 0;
                                        padding: 5px 10px;
                                        margin-top: 10px;
                                    }
                                }
                                .item {
                                    .type-item, .order-item {
                                        display: inline-block;
                                    }
                                    .order-item {
                                        float: right;
                                    }
                                }
                            }
                        }
                    }
                    .clear-filter-element {
                        margin-left: 13px;
                        border-left: 1px solid #d6d6d7;
                        padding-left: 15px;
                        color: black;
                        a {
                            color: grey;
                            text-decoration: underline;
                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
                .filter-navigator {
                    display: flex;
                    flex-grow: 1;
                    align-items: center;
                    .filter-actions {
                        display: flex;
                        flex-grow: 1;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: center;
                        .info-navigation-filters {
                            display: inline-block;
                            margin: 0 15px 0 10px;
                        }
                        .label-filters {
                            display: inline-block;
                            &.labl {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
    .filter-arrows {
        .button {
            padding: 10px 13px;
            display: inline-block;
            width: 11px;
        }
    }
    .ui.dropdown .menu > .head-dropdown {
        padding: 0em 1.14285714rem;
        color: rgba(0, 0, 0, 0.85);
        font-size: 0.78571429em;
        font-weight: bold;
        text-transform: uppercase;
    }
}

