// Top Margin

@each $divider in 1, 2, 3, 4, 5, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 26, 30, 40, 50, 60, 70, 80, 90, 100, 125, 150, 200, 300, 400, 500 {
  .top-#{$divider} {
    margin-top: $divider * 1px;
  }
  .pad-top-#{$divider} {
    padding-top: $divider * 1px;
  }
  .bottom-#{$divider} {
    margin-bottom: $divider *1px;
  }
  .pad-bottom-#{$divider} {
    padding-bottom: $divider *1px;
  }
  .left-#{$divider} {
    margin-left: $divider *1px;
  }
  .right-#{$divider} {
    margin-right: $divider *1px;
  }
}