@use '../../common-main';
@use '../../commons/reset';
@use '../../commons/aria-label-tooltip';
@use "../../common";
@use '../../commons/progress-mc-bar';
@use '../segment/SegmentComments';
@use '../../lexiqa';
@use '../segment/SegmentFooterTabMessages';
@use '../header/segmentsFilter';
@use '../ReviewExtendedPanel';
//components
@use '../segment/segment';
@use '../segment/SegmentBody';
@use '../segment/SegmentWarnings';
@use '../segment/SplitSegment';
@use '../segment/segmentFooter';
@use '../segment/segmentFooterTabGlossary';
@use '../segment/issuesContainer';
@use '../segment/tagsMenu';
@use '../segment/Tag';
@use '../segment/TooltipInfo';
@use '../segment/Glossary';
@use '../segment/Editor';
@use '../bulk-approve-bar/bulk_approve_bar';
@use '../header/search';
@use '../header/qaComponent';
@use '../header/header';
@use '../SegmentsContainer';
@use '../header/FilesMenu';
@use '../header/ActionMenu';
@use '../segment/segmentFooterTabAiAssistant';
@use '../segment/segmentFooterTabIcu';
@use '../CattolFooter';
@use '../signin/OnBoarding';

@use '../../cattool';

@use '../../speech2text';

@use '../../commons/tooltip';

@use '../SettingsPanel';









body #outer {
  //overflow: hidden;
  position: relative;
  height: 100%;
  width: 100%;
}

#outer {
  #file {
    z-index: 2;
  }
  #loader-getMoreSegments {
    display: none;
    position: fixed;
    background: url(/public/img/loading.gif) 48% top no-repeat !important;
    background-size: 30px 30px !important;
    width: 30px;
    height: 30px;
    z-index: 2;
  }
  &.loadingBefore {
    #loader-getMoreSegments {
      display: block;
      top: 70px;
      left: 50%;
    }
  }
  &.loadingAfter #loader-getMoreSegments {
    display: block;
    bottom: 100px;
    left: 50%;
  }
}

#outer.loading {
  display: block;
  background: url(/public/img/loading.gif) 48% center no-repeat;
  background-size: 30px 30px !important;
  float: left;
  position: relative;
  height: 100vh;
}
