.qaCheckGlossaryItem {
  display: inline-block;
  position: relative;
  background-color: #ff8734;
  cursor: pointer;
}

.blacklistItem {
  background-color: #fffa8b;
  border-bottom: 2px solid purple;
  display: inline-block;
  position: relative;
}
