@use '../../commons/colors';

.qaCheckGlossaryItem {
  display: inline-block;
  position: relative;
  background: rgba(255, 169, 2, 0.24);
  border-bottom: 2px solid colors.$orangeDefaultHover;
  cursor: pointer;
}

.glossaryItem {
  display: inline-block;
  position: relative;
  border-bottom: 2px solid colors.$translatedBlue;
  cursor: pointer;
}

.blacklistItem {
  background: rgba(255, 47, 34, 0.24);
  border-bottom: 2px solid colors.$redDefault;
  display: inline-block;
  position: relative;
}
