.qaCheckGlossaryItem {
    display: inline-block;
    position: relative;
    background-color: #ff8734;
    cursor: pointer;
}

.blacklistItem {
    background-color: #FFFA8B;
    border-bottom: 2px solid purple;
    display: inline-block;
    position: relative;
}