@use '../../commons/colors';


.icuItem {
  display: inline-block;
  position: relative;
  color: colors.$blue700;
  &.icuItem-error {
    color: colors.$red500;
    cursor: pointer;
  }
}

.icu-tooltip {
  padding: 6px;
  max-width: 400px;
  h3 {
    font-size: 16px;
    margin: 0;
    margin-bottom: 8px;
  }
  p {
    white-space: normal;
    margin-bottom: 4px !important;
  }
}

