@use '../../tokens/colors';
@use 'commons/variables';

.tm-match-note-tooltip-content {
  text-align: left;
}

.sub-editor {
  &.concordances {
    &.extended.have-results {
      .overflow {
        max-height: 280px;
      }
    }
    .cc-search {
      form {
        display: inline-block;
        width: 100%;
        .input-group {
          box-sizing: border-box;
          display: inline-block;
          width: 50%;
          padding: 20px;
        }
        input {
          display: inline-block;
          width: 100%;
          border: 1px solid colors.$grey400;
          padding: 2px 0.4%;
          border-radius: 2px;
          box-shadow: inset 0 1px 2px colors.$grey200;
          -webkit-box-shadow: inset 0 1px 2px colors.$grey200;
          text-align: left;
          min-height: 20px;
        }
      }
    }
  }

  &.lara-styles,
  &.ai-alternatives,
  &.ai-feedback {
    .ai-feature-content {
      padding: 24px;
      display: flex;
      flex-direction: row;
      gap: 80px;
      text-align: left;
      font-size: 16px;
      > div.content {
        display: flex;
        gap: 16px;
        flex-direction: column;
      }
      h4 {
        font-size: 16px;
        margin: 0;

        .ai-feature-grey-label {
          color: colors.$grey400;
        }
      }

      p {
        margin: 0;
      }

      .ai-feature-options,
      .ai-alternative-options {
        display: grid;
        gap: 8px;
        grid-auto-flow: column;
        grid-template-columns: minmax(0, 600px);
        grid-auto-columns: minmax(0, 600px);

        > div {
          display: flex;
          justify-content: space-between;
          gap: 16px;
          padding: 8px 12px 8px 16px;
          border: 1px solid colors.$grey150;
          border-radius: 6px;
        }
        > div > div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }
      }

      @media screen and (max-width: 1180px) {
        .ai-alternative-options {
          &:has(> :nth-child(4)):not(:has(> :nth-child(5))) {
            grid-auto-flow: unset;
            grid-template-columns: repeat(2, minmax(0, 600px));
          }
        }
      }
    }

    .ai-feature-button {
      padding: 0 8px;
      height: 32px;
    }

    .ai-feature-option-alternative-highlight {
      font-weight: bold;
    }

    .ai-feature-option-alternative-description {
      font-size: 12px;
      color: colors.$grey400;
    }

    .ai-feature-alternatives-for {
      p {
        color: colors.$grey700;
      }
    }

    .ai-feature-button-retry {
      width: 100px;
    }

    .ai-feature-content-error {
      color: colors.$grey700;

      > span {
        font-weight: bold;
        color: colors.$black;
      }
    }
  }

  &.ai-feedback {
    p {
      max-width: 700px;
    }
  }
}
/*submenu*/
.submenu {
  background: colors.$white;
  text-align: left;
  width: 100%;
}

.submenu:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

section.loaded .submenu {
  display: block;
  border-bottom-left-radius: variables.$border-radius-default;
  border-bottom-right-radius: variables.$border-radius-default;
  overflow: hidden;

  &:has(.active) {
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
  }
}

.loaded {
  overflow: visible !important;
}

.submenu li {
  float: left;
  position: relative;
  width: auto !important;
  background: colors.$grey100;
  z-index: 1;
  border-bottom: 1px solid colors.$grey150;
  cursor: pointer;
  user-select: none;

  &:last-child {
    border-top-right-radius: variables.$border-radius-default;

    > a {
      border-top-right-radius: variables.$border-radius-default;
    }
  }
  .notLoading {
    color: colors.$orange400;
    margin-left: 12px;
  }
}

.submenu li.active {
  border-bottom: 1px solid white;
  background-color: colors.$white;
}

.submenu a {
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  padding: 5px 20px;
  display: block;
  color: colors.$grey500;
  font-size: 16px;
  float: left;
  text-decoration: none;
  border-right: 2px solid colors.$grey150;
  border-top: 2px solid colors.$grey150;
}

.submenu .notification:hover {
  border: 0;
}

.submenu a:hover {
  background: colors.$grey50;
  color: colors.$grey500;
  -moz-box-shadow: none;
  //position: relative;
  -webkit-box-shadow: none;
}

.submenu .on {
  background: colors.$white;
  color: colors.$black;
  font-size: 14px;
  text-shadow: none;
}

.tab-switcher.loading-tab a {
  color: colors.$grey400;
  padding-right: 36px;
}

.loading-tab .loader.loader_on {
  left: unset;
  right: 12px;
  top: 6px;
}

.submenu li a {
  outline: none;
  display: flex;
  align-items: center;

  .number {
    margin-left: 4px;
  }
}

.submenu li.active a {
  //background: #fff !important;
  outline: none;
  color: colors.$black;
}

.submenu li.modified a {
  color: red;
}

.sub-editor {
  display: none;
  float: left;
  width: 100%;
  background: colors.$white;
}

.sub-editor.open {
  display: block;
}

.sub-editor.matches .overflow {
  min-height: 50px;
  max-height: 424px;
  overflow-y: auto;
}
.sub-editor.matches .overflow span.loader {
  bottom: 20px;
}

.addtmx-tr .open-popup-addtm-tr {
  height: 13px;
  width: 140px;
  position: absolute;
  bottom: -24px;
  right: 0px;
  border-radius: 0 0 0 2px;
  color: colors.$white;
  padding: 3px 10px 7px 4px;
  font-size: 12px;
  background: colors.$blue500;
  box-shadow: 0px 2px 4px 0px colors.$grey600;
  z-index: 2;
}

.sub-editor.concordances .results {
  float: left;
  width: 100%;
}

.concordances .more {
  display: inline-block;
  text-decoration: none;
  color: colors.$white;
  padding: 0 10px;
  background: colors.$grey400;
  font-size: 14px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  min-width: 40px;
  line-height: 20px;
  position: relative;
  top: 2px;
  cursor: pointer;
}

.sub-editor .cc-search {
  background: none;
  clear: both;
}

.sub-editor .cc-search.loading {
  background: url(/public/img/loading.gif) 50% 22px no-repeat;
  float: left;
  width: 100%;
  background-size: 20px 20px;
}

.sub-editor .cc-search.loading {
  background-position-x: 49.8%;
}

.footer-message {
  margin-left: 20px;
  background: colors.$orange200 !important;
  padding: 2px 10px;
}

.sub-editor .cc-search .search-target {
  width: 44.2%;
}