@use '../../commons/colors';

.tm-match-note-tooltip-content {
  text-align: left;
}

.submenu {
  .icon-warning2 {
    color: #ea862c;
    position: absolute;
    top: 8px;
    right: 10px;
  }
}

.sub-editor {
  &.concordances {
    &.extended.have-results {
      .overflow {
        max-height: 280px;
      }
    }
    .cc-search {
      form {
        display: inline-block;
        width: 100%;
        .input-group {
          box-sizing: border-box;
          display: inline-block;
          width: 50%;
          padding: 20px;
        }
        input {
          display: inline-block;
          width: 100%;
          border: 1px solid #aaa;
          padding: 2px 0.4%;
          border-radius: 2px;
          box-shadow: inset 0 1px 2px #ddd;
          -webkit-box-shadow: inset 0 1px 2px #ddd;
          text-align: left;
          min-height: 20px;
        }
      }
    }
  }

  &.lara-styles,
  &.ai-alternatives,
  &.ai-feedback {
    .ai-feature-content {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      text-align: left;
      font-size: 16px;

      h4 {
        font-size: 16px;
        margin: 0;

        .ai-feature-grey-label {
          color: colors.$grey7;
        }
      }

      p {
        margin: 0;
      }

      .ai-feature-options,
      .ai-alternative-options {
        display: grid;
        gap: 8px;
        grid-auto-flow: column;
        grid-template-columns: minmax(0, 600px);
        grid-auto-columns: minmax(0, 600px);

        > div {
          display: flex;
          justify-content: space-between;
          gap: 16px;
          padding: 8px 12px 8px 16px;
          border: 1px solid colors.$grey3;
          border-radius: 6px;

          > div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }

      @media screen and (max-width: 1180px) {
        .ai-alternative-options {
          &:has(> :nth-child(4)):not(:has(> :nth-child(5))) {
            grid-auto-flow: unset;
            grid-template-columns: repeat(2, minmax(0, 600px));
          }
        }
      }
    }

    .ai-feature-button {
      padding: 0 8px;
      height: 32px;
    }

    .ai-feature-option-alternative-highlight {
      font-weight: bold;
    }

    .ai-feature-option-alternative-description {
      font-size: 12px;
      color: colors.$grey7;
    }

    .ai-feature-alternatives-for {
      p {
        color: colors.$grey6;
      }
    }

    .ai-feature-button-retry {
      width: 100px;
    }
  }

  &.ai-feedback {
    p {
      max-width: 700px;
    }
  }
}
