.tm-match-note-tooltip-content {
  text-align: left;
}

.submenu {
  .icon-warning2 {
    color: #ea862c;
    position: absolute;
    top: 8px;
    right: 10px;
  }
}

.sub-editor {
  &.concordances {
    &.extended.have-results {
      .overflow {
        max-height: 280px;
      }
    }
    .cc-search {
      form {
        display: inline-block;
        width: 100%;
        .input-group {
          box-sizing: border-box;
          display: inline-block;
          width: 50%;
          padding: 20px;
        }
        input {
          display: inline-block;
          width: 100%;
          border: 1px solid #aaa;
          padding: 2px 0.4%;
          border-radius: 2px;
          box-shadow: inset 0 1px 2px #ddd;
          -webkit-box-shadow: inset 0 1px 2px #ddd;
          text-align: left;
          min-height: 20px;
        }
      }
    }
  }
}
