@use '../../commons/colors';

.tm-match-note-tooltip-content {
  text-align: left;
}

.submenu {
  .icon-warning2 {
    color: #ea862c;
    position: absolute;
    top: 8px;
    right: 10px;
  }
}

.sub-editor {
  &.concordances {
    &.extended.have-results {
      .overflow {
        max-height: 280px;
      }
    }
    .cc-search {
      form {
        display: inline-block;
        width: 100%;
        .input-group {
          box-sizing: border-box;
          display: inline-block;
          width: 50%;
          padding: 20px;
        }
        input {
          display: inline-block;
          width: 100%;
          border: 1px solid #aaa;
          padding: 2px 0.4%;
          border-radius: 2px;
          box-shadow: inset 0 1px 2px #ddd;
          -webkit-box-shadow: inset 0 1px 2px #ddd;
          text-align: left;
          min-height: 20px;
        }
      }
    }
  }

  &.lara-styles {
    .lara-styles-content {
      padding: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      text-align: left;
      font-size: 16px;

      h4 {
        font-size: 16px;
        margin: 0;

        > span {
          color: colors.$grey7;
        }
      }

      .lara-styles-options {
        display: flex;
        gap: 8px;

        > div {
          width: 33%;
          display: flex;
          justify-content: space-between;
          gap: 16px;
          padding: 8px 12px 8px 16px;
          border: 1px solid colors.$grey3;
          border-radius: 6px;
        }
      }
    }

    .lara-style-switch-button {
      padding: 0 8px;
      height: 32px;
    }
  }
}
