@use '../../tokens/colors';
@use '../../commons/variables';
.segment-selected-inBulk:not(.opened) {
  .segment-add-inBulk {
    display: block;
  }
}

#file section {
  &:not(.readonly):not(.muted):hover .segment-add-inBulk {
    display: block;
  }

  .segment-add-inBulk,
  &.muted .segment-add-inBulk,
  .muted:hover .segment-add-inBulk,
  .readonly:hover .segment-add-inBulk {
    display: none;
  }
  &:not(.editor):not(.muted):hover {
    background: colors.$grey100;
    color: colors.$black;
  }
  &.segment-selected {
    background: colors.$grey200 !important;
    border: 1px solid colors.$grey400;
  }
}

body.cattool {
  #file section {
    &:not(.editor) {
      .buttons {
        display: none;
      }
      &.segment-selected-inBulk :hover {
        background: colors.$blue50 !important;
      }
    }

    .editor.segment-selected-inBulk {
      background: colors.$blue50;
      &:hover {
        background: colors.$blue50 !important;
      }
    }
  }
}

section {
  &.editor {
    z-index: 2;
    position: relative;
    width: 89%;
    margin-left: 4.5%;
  }
  &.opened {
    .target .buttons {
      display: flex;
      align-items: center;
      margin-right: 0;
      text-align: right;
      z-index: 0;
      position: relative;
      gap: 16px;
      justify-content: flex-end;
      button {
        text-transform: uppercase;
      }
    }
  }
  .actions {
    visibility: hidden;
  }
  &.split-action .actions {
    visibility: visible;
  }
  &:hover .actions {
    visibility: visible;
  }
  &.slide-right {
    width: 70%;
  }
}

.segment-side-container {
  position: absolute;
  text-align: left;
  width: 31%;
  left: 102%;
  top: 0;
  display: flex;
  flex-direction: column;
}
.collection-type-separator {
  color: colors.$grey600;
  font-size: variables.$font-size-small;
  float: left;
  width: 100%;
  box-shadow: none !important;
  padding: 20px 116px 10px 5%;
  text-align: left;
  &.first-segment {
    padding-top: 5px;
  }
  &.slide-right {
    width: 75%;
  }
}

.toggle {
  display: none;
}

.editor .toggle {
  display: block;
}
.sid {
  position: absolute;
  left: -5.5%;
  text-align: center;
  display: block;
  font-size: 11px;
  color: colors.$grey300;
  text-decoration: none;
  cursor: default;
  height: 100%;
  padding-bottom: 1px;
  width: 4.5%;
}

.sid .txt {
  padding: 0px 3px;
  margin: 2px 0px 0 0px;
  background: colors.$grey50;
  display: contents;
}

section.readonly .txt input {
  display: none !important;
}

section.segment-selected-inBulk .sid .txt input {
  display: unset;
}
/*section.editor .sid .txt input {
    display: unset;
}*/

section.editor.segment-selected-inBulk .sid .txt.segment-add-inBulk {
  display: unset;
}

section.editor .txt.segment-add-inBulk {
  display: block;
}

p.split-shortcut {
  padding: 1px 0px;
  width: 55px;
  margin: 0 auto;
  margin-top: 5px;
}

section:hover .sid {
  color: colors.$grey500;
}

.editor .sid {
  height: 100%;
}
section {
  position: relative;
  float: left;
  width: 88%;
  margin-left: 5%;
  min-width: 700px;
  //height: 100%;
  /*-webkit-transition: all 100ms ease-in;*/
  /*transition: all 100ms ease-in;*/
  //box-shadow: 0 0 0 #e0e0e0, 0 0 0px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24) !important;
  //border: 1px solid $grey100;
}

strong:first-child {
  margin-right: 0px !important;
}
.editor {
  width: 100%;
  position: relative;
  z-index: 999;
  -moz-border-radius: 2px;
}

.editor,
.editor .text {
  background: colors.$white;
}

section.editor .sid {
  color: black;
  left: -5%;
}
.slide-right .sid {
  left: -6%;
}
section.editor.slide-right .sid {
  left: -6%;
}
.editarea.rtl,
.source.rtl,
.graysmall li.rtl {
  direction: rtl !important;
  text-align: right !important;
}
.rtl-target .editor .editarea span {
  display: inline-block;
}
section.rtl-source .source,
section.rtl-target .targetarea,
.rtl-source .footer .sugg-source,
.rtl-target .footer .sugg-target {
  direction: rtl !important;
  text-align: right !important;
}
section.ice-locked.rtl-target .target {
  text-align: right;
}
.edit-distance {
  display: none;
  position: absolute;
  top: 4px;
  right: 6px;
  font-size: 0.8rem;
  color: colors.$grey400;
}
/*Editor Toggle*/
.editor .toggle {
  //display: inline-block;
  margin-right: 0;
  z-index: 0;
  position: relative;
}
@media screen and (max-width: 1380px) {
  p.split-shortcut,
  .sid .txt {
    font-size: 10px;
  }
  .sid {
    width: 5.3%;
    left: -5.7%;
  }
  section.editor .sid {
    left: -5.1%;
    width: 4.5%;
  }
  section.slide-right .sid {
    left: -6.5%;
  }
  section.editor.slide-right .sid {
    left: -6%;
  }
}
@media screen and (max-width: 1180px) {
  .number {
    left: -40px;
  }

  .number {
    left: -52px;
  }

  section.editor {
    width: 87%;
    margin-left: 6%;
  }

  .sid {
    width: 6%;
    left: -6.5%;
  }
  section.editor .sid {
    left: -6.5%;
    width: 6%;
  }
  section {
    width: 86%;
    margin-left: 6%;
  }
  section.editor.slide-right .sid {
    left: -7%;
    width: 6%;
  }
  section.editor.slide-right {
    width: 70% !important;
  }
  section.slide-right {
    width: 68% !important;
  }
  section.slide-right .sid {
    left: -8%;
  }
}

section mark {
  background: transparent;
}

section .graysmall mark {
  background: yellow !important;
}

section mark.searchMarker {
  background: yellow;
}

section mark.searchMarker.currSearchItem {
  background: colors.$orange200;
}

body.cattool .pointer-first-segment {
  height: 36px;
  width: 36px;
  background: colors.$blue900 url('/public/img/icons/arrow-up.svg') no-repeat
    center center;
  background-size: 24px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  display: inline-block;
  left: 15px;
  bottom: 8px;
  cursor: pointer;
  &:hover {
    background-color: colors.$blue950;
  }
}

.segment-side-buttons {
  cursor: default;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding-bottom: 1px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  right: -7%;
  width: 7%;
  top: 0;
  height: calc(100% - 8px);
  gap: 4px;
  margin-top: 8px;

  > div {
    height: 24px;
  }
  .icon-warning-sign.qa-icon {
    background-color: colors.$red400;
    color: colors.$white;
    display: flex;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    cursor: pointer;
    border-radius: variables.$border-radius-default;
    width: 18px;
    height: 18px;
    margin-left: 8px;
  }
  .badge-icon {
    display: flex;
    padding: 2px 5px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 999px;
    position: absolute;
    right: -8px;
    top: -8px;
    color: colors.$white;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    &.badge-red {
      color: colors.$white;
      background-color: colors.$red400;
    }
    &.badge-orange {
      color: colors.$black;
      background-color: colors.$orange600;
    }
    &.badge-blue {
      color: colors.$white;
      background-color: colors.$blue400;
    }
  }
}

.ice-locked,
.readonly {
  .footer,
  .buttons,
  .copy,
  .loader,
  .warnings,
  .toolbar {
    display: none !important;
  }
}
