@use '../../commons/colors';
@use '../../commons/variables';
.segment-selected-inBulk:not(.opened) {
  .body > .text {
    background-color: #edf4fd !important;
  }
  .segment-add-inBulk {
    display: block;
  }
  &:hover .body > .text {
    background-color: #edf4fd !important;
  }
}

#file section {
  &:not(.readonly):not(.muted):hover .segment-add-inBulk {
    display: block;
  }

  .segment-add-inBulk,
  &.muted .segment-add-inBulk,
  .muted:hover .segment-add-inBulk,
  .readonly:hover .segment-add-inBulk {
    display: none;
  }
  &:not(.editor):not(.muted):hover {
    background: colors.$grey4;
    color: #000;
  }
  &.segment-selected {
    background: #c8cbd5 !important;
    border: 1px solid #989898;
  }
}

body.cattool {
  #file section {
    &:not(.editor) {
      .buttons {
        display: none;
      }
      &.segment-selected-inBulk :hover {
        background: #edf4fd !important;
      }
    }

    .editor.segment-selected-inBulk {
      background: #edf4fd;
      &:hover {
        background: #edf4fd !important;
      }
    }
  }
}

section {
  .header {
    height: 24px;
    width: 100%;
    color: colors.$grey1;
    font-size: 12px;
    background: colors.$grey4 !important;
    margin-bottom: 0px;
    .percentuage {
      position: relative;
      display: none;
      width: 45px;
      color: #fff;
      font-size: 12px;
      text-decoration: none;
      font-weight: 100;
      margin: 0 auto;
      text-align: center;
      line-height: 20px;
    }
    &.header-closed {
      background: transparent !important;
      position: absolute;

      span {
        z-index: 1;
        padding: 2px 6px;
        font-size: 11px;
        top: -2px;
      }
    }
    .repetition {
      margin: 0 auto;
      text-transform: uppercase;
      color: #fff;
      font-size: 12px;
      background: colors.$grey2;
      padding: 4px 8px;
      position: relative;
      z-index: 12;
      max-width: 102px;
    }
    .header-segment-saving {
      display: flex;
      justify-content: space-between;
      width: 55px;
      align-items: center;
      float: right;
      padding-right: 15px;
      position: absolute;
      right: 0;
      top: 0;
      span {
        font-size: 14px;
        padding: 0;
      }
      .header-segment-saving-loader {
        width: 16px;
        height: 16px;
        background: url(/public/img/loading.gif);
        background-size: cover;
      }
    }
  }
  &.opened .target{
    .buttons {
      display: flex;
      align-items: center;
      margin-right: 0;
      text-align: right;
      z-index: 0;
      position: relative;
      gap: 16px;
      justify-content: flex-end;
      button {
        text-transform: uppercase;
      }
    }
    .segment-body-content {
      .warnings-block {
        display: inline-block;
      }
    }
  }
  .actions {
    visibility: hidden;
  }
  &.split-action .actions {
    visibility: visible;
  }
  &:hover .actions {
    visibility: visible;
  }
  .segment-body-content {
    .warnings-block {
      display: none;
      width: 103%;
      box-sizing: content-box;
      margin-top: 10px;
      margin-left: -20px;
      font-size: 14px;
      .alert-block {
        display: inline-block;
        width: 48%;
        margin: 0 1%;
        color: #6a6a69;
        min-height: 41px;
        &.error-alert {
          background: #fdeae2;
          .icon-column {
            background-color: colors.$redDefaultTransparent;
            color: colors.$redDefault;
          }
        }
        &.warning-alert {
          background: #fff4e3;
          .icon-column {
            background-color: colors.$orangeDefaultTransparent;
            color: colors.$orangeDefault;
          }
        }
        &.info-alert {
          background: colors.$grey3;
          .icon-column {
            background-color: colors.$grey2;
            color: colors.$grey1;
          }
        }
        .icon {
          padding: 8px 8px 10px 8px;
          font-size: 18px;
          margin: 0;
        }
      }
      ul {
        width: 100%;
        display: table;
        min-height: 41px;
        li {
          display: table-cell;
          height: 100%;
        }
        .icon-column {
          width: 10%;
          position: relative;
          vertical-align: middle;
          text-align: center;
        }
        .content-column {
          width: 90%;
          position: relative;
          padding: 5px 8px;
          vertical-align: middle;
          p:first-child {
            margin-top: 0em;
            margin-bottom: 0;
            line-height: 13px;
          }
          p:last-child {
            margin-bottom: 0em;
            line-height: 13px;
          }
          .error-solution {
            margin-top: 5px;
            font-size: 96%;
          }
        }
      }
    }
  }
  &.slide-right {
    width: 70%;
  }
}

.segment-side-container {
  position: absolute;
  text-align: left;
  width: 31%;
  left: 102%;
  top: 0;
  display: flex;
  flex-direction: column;
}
.collection-type-separator {
  color: #777;
  font-size: 16px;
  float: left;
  width: 100%;
  box-shadow: none !important;
  padding: 20px 116px 10px 5%;
  text-align: left;
  &.first-segment {
    padding-top: 5px;
  }
  &.slide-right {
    width: 75%;
  }
}

.projectbar.slide-right {
  width: 70%;
}

.segment-counter {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  line-height: 16px;
  font-size: 15px;
  margin-top: 4px;
  margin-right: 2%;
  font-size: 14px;

  display: flex;
  gap: 30px;

  > div > span:first-of-type {
    font-weight: bold;
  }

  .segment-counter-limit {
    margin-left: 2px;
  }

  &.segment-counter-limit-warning {
    .segment-counter-current {
      color: variables.$notification-warning;
      margin-right: 2px;
    }
  }

  &.segment-counter-limit-error {
    .segment-counter-current {
      color: variables.$notification-error;
      background-color: rgba(variables.$notification-error, 0.2);
      border-radius: 4px;
      padding: 2px;
    }
  }
}
