.tag-container{
  position: relative;
  display: inline-block;
  .tag {
    position: relative;
    display: inline-block;
    padding: 0 2px;
    background: #002b5c;
    /*box-shadow: inset 0 0 0 2px #E5E9F1;*/
    /*border-radius: 7px;*/
    font-size: 12px;
    line-height: 1.2;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    word-break: break-all;

    &.tag-open {
      margin: 0 8px 0 1px;
      &:before {
        content: "";
        position: absolute;
        right: -8px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 8px solid #002b5c;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
      }
    }

    &.tag-close {
      margin: 0 1px 0 8px;
      &:after {
        content: "";
        position: absolute;
        left: -8px;
        top: 0;
        width: 0;
        height: 0;
        border-right: 8px solid #002b5c;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
      }
    }

    &.tag-selfclosed {
      margin: 0 8px 0 8px;
      &:after {
        content: "";
        position: absolute;
        left: -8px;
        top: 0;
        width: 0;
        height: 0;
        border-right: 8px solid #002b5c;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
      }
      &:before {
        content: "";
        position: absolute;
        right: -8px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 8px solid #002b5c;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
      }
    }

    &.tag-inactive {
      background: #95A3B2;
      &:before {
        border-left-color: #95A3B2;
      }
      &:after {
        border-right-color: #95A3B2;
      }
    }

    &.tag-mismatch-error {
      background-color: #FF4233;
      &:before {
        border-left-color: #FF4233;
      }
      &:after {
        border-right-color: #FF4233;
      }
    }

    &.tag-mismatch-warning {
      background-color: #FFBF24;
      &:before {
        border-left-color: #FFBF24;
      }
      &:after {
        border-right-color: #FFBF24;
      }
    }

    &.clicked {
      background-color: #6BD3BD;
      &:before {
        border-left-color: #6BD3BD;
      }
      &:after {
        border-right-color: #6BD3BD;
      }
    }

    span{
      &::selection{
        color: #fff;
        background-color: transparent;
      }
    }
    &:hover{
      /*background: #E5E9F1;*/
      cursor: pointer;
    }
  }
}

.tag {
  position: relative;
  display: inline-block;
  padding: 0 2px;
  background: #002b5c;
  /*box-shadow: inset 0 0 0 2px #E5E9F1;*/
  /*border-radius: 7px;*/
  font-size: 13px;
  line-height: 1.3;
  color: #fff;
  vertical-align: middle;
  cursor: pointer;
  word-break: break-all;

  &.tag-open {
    margin: 0 8px 0 1px;
    &:before {
      content: "";
      position: absolute;
      right: -8px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 8px solid #002b5c;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }
  }

  &.tag-close {
    margin: 0 1px 0 8px;
    &:after {
      content: "";
      position: absolute;
      left: -8px;
      bottom: 0;
      width: 0;
      height: 0;
      border-right: 8px solid #002b5c;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }
  }

  &.tag-selfclosed {
    margin: 0 8px 0 8px;
    &:after {
      content: "";
      position: absolute;
      left: -8px;
      top: 0;
      width: 0;
      height: 0;
      border-right: 8px solid #002b5c;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }
    &:before {
      content: "";
      position: absolute;
      right: -8px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 8px solid #002b5c;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }
  }

  &.tag-inactive {
    background: #95A3B2;
    &:before {
      border-left-color: #95A3B2;
    }
    &:after {
      border-right-color: #95A3B2;
    }
  }

  &.tag-mismatch-error {
    background-color: #FF4233;
    &:before {
      border-left-color: #FF4233;
    }
    &:after {
      border-right-color: #FF4233;
    }
  }

  &.tag-mismatch-warning {
    background-color: #FFBF24;
    &:before {
      border-left-color: #FFBF24;
    }
    &:after {
      border-right-color: #FFBF24;
    }
  }

  &.clicked {
    background-color: #6BD3BD;
    &:before {
      border-left-color: #6BD3BD;
    }
    &:after {
      border-right-color: #6BD3BD;
    }
  }

  &.small {
    font-size: 10px;
    &:after {
      left: -7px;
      border-right-width: 7px;
      border-top-width: 6.5px;
      border-bottom-width: 6.5px;
    }
    &:before {
      right: -7px;
      border-left-width: 7px;
      border-top-width: 6.5px;
      border-bottom-width: 6.5px;
    }
  }

  span{
    &::selection{
      color: #fff;
      background-color: transparent;
    }
  }
  &:hover{
    /*background: #E5E9F1;*/
    cursor: pointer;
  }
}

.tag-tooltip{
  position: absolute;
  width: 140px;
  height: 32px;
  background-color: #ccc;
  top: -35px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  .tooltip-txt{

  }
}

.common-tooltip {
  position: absolute;
  z-index: 1001;
  padding: 0 4px;
  bottom: 32px;
  left:50%;
  transform: translateX(-50%);
  width: max-content; //240px;
  background-color: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    box-shadow: 4px 4px 4px 0px rgba(34, 36, 38, 0.12), 8px 8px 10px 0px rgba(34, 36, 38, 0.15); //1px 1px 2px 0px rgba(34, 36, 38, 0.12)
    width: 14px;
    height: 14px;
    transform: rotate(45deg) translateX(-50%);
    background: #ffffff;
  }

  .tooltip-error-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
  .tooltip-error-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    line-height: 1.45;
    /*border-bottom: 1px solid #fff;*/
    .tooltip-error-category {
      padding: 0.5rem;
      max-width: 148px;
      &::first-letter {
        text-transform: capitalize;
      }
    }
    .tooltip-error-ignore {
      color: #757575;
      text-decoration: none;
      cursor: pointer;
      border-radius: 0 4px 4px 0;
      padding-left: 10px;
      height: 40px;
      &:hover {
        color: #525252;
      }
      .icon-cancel-circle:before {
        line-height: 40px;
        float: left;
        font-size: 18px;
      }
      .tooltip-error-ignore-text {
        margin-left: 5px;
        margin-right: 10px;
        float: left;
        line-height: 40px;
      }
    }
    &:not(:first-child) {
      border-top: 1px solid rgba(255, 255, 255, 0.36);
    }

  }
}


.tag-box {
  .tag-box-heading {
    width: 100%;
    padding: 1rem 0;
    font-weight: 700;
    line-height: 17px;
    border-bottom: 1px solid #e0e3e8;
    background: #fff;
    align-items: center;
    cursor: default;
  }

  .all {
    .tag-menu-suggestion {
      &:last-child {
        border-bottom: none;
      }
    }
  }

  .tag-menu-suggestion {
    border-bottom: 1px solid #e0e3e8;
    padding: 8px 0;
    color: rgb(0, 85, 184);
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    &.active {
      font-weight: 700;
    }
    .tag-menu-suggestion-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;

      .tag {
        max-width: 128px;
        &.tag-close {
          margin: 0 0 0 12px;
        }
        &.tag-open {
          margin: 0 12px 0 0;
        }
        .tag-placeholder {
          display: block;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
      &:hover {
        background-color: #f2f5f7;
        font-weight: 700;
      }

      .place-here-tips {
        border: 1px solid #08BEEC;
        color: #08BEEC;
        border-radius: 2px;
        padding: 1px 2px;
        line-height: 1.1;
        max-height: 17px;
      }
    }
  }
}


