@use '../../commons/colors';
.target {
  .tags-auto-complete-menu {
    background: colors.$white;
    box-sizing: border-box;
    max-width: 300px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
    border: 1px solid colors.$grey8;
    .ui.vertical.menu {
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      border: none;
      width: 18rem;
      .menu-container {
      }
      .head-tag-list {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 1rem 1.14rem;
        font-weight: bold;
        line-height: 17px;
        border-top: 1px solid colors.$grey4;
        border-bottom: 1px solid colors.$grey3;
        z-index: 1;
        background: colors.$white;
        pointer-events: none;
        display: flex;
        align-items: center;
        .style-tag {
          padding: 4px 7px;
          margin: 0 5px;
          &.mismatch {
            color: colors.$red800;
          }
        }
      }
      .item {
        text-overflow: ellipsis;
        overflow: hidden;
        padding: 0.78rem 1.14rem;
        width: 100% !important;
        font-size: 14px;
        white-space: nowrap;
        cursor: pointer;

        &:before {
          background: colors.$white;
        }
        &:hover {
          background: rgba(0, 0, 0, 0.05) !important;
        }
        &.added-tag {
          color: colors.$grey !important;

          & a {
            color: colors.$grey !important;
          }
        }
        &.missing-tag {
          color: colors.$black !important;
          font-size: 16px;
          & a {
            color: colors.$black !important;
          }
        }
        mark {
          background: colors.$orangeDefault;
        }
        &.no-results {
          cursor: default;
          pointer-events: none;
          height: 100%;
          padding: 13px !important;
        }
      }
    }
  }
  .head-tag-list .locked.mismatch {
    background-color: colors.$grey9;
    color: colors.$red800;
    box-shadow: inset 0 0px 0 2px colors.$red800;
    font-weight: 100;
    padding: 4px 6px;
    position: relative;
    top: -1px;
  }
}

.style-tag {
  display: inline-flex;
  background: colors.$grey5;
  box-shadow: inset 0 0 0 2px colors.$grey4;
  border-radius: 7px;
  font-size: 15px;
  color: colors.$grey;
  font-style: italic;
  padding: 0 6px 0 3px;
  vertical-align: middle;
  margin: 1px;
  cursor: pointer;
  word-break: break-all;
  &::selection {
    background: transparent !important;
  }
  &:hover {
    background: colors.$grey4;
    cursor: pointer;
  }
  a {
    color: colors.$grey1300;
    font-weight: 700;
  }
  &.mismatch {
    background-color: colors.$grey9;
    box-shadow: inset 0 0 0 2px colors.$redDefaultTransparent;
    &:hover {
      background-color: colors.$redDefaultTransparent;
    }
    &.selected {
      box-shadow: inset 0 0 0 2px colors.$red800;
      background: colors.$redDefaultTransparent;
    }
    &,
    a {
      color: colors.$red800;
    }
  }
  &.highlight {
    box-shadow: inset 0 0 0 2px colors.$grey1300;
    color: colors.$grey1300;
  }
  &.selected {
    cursor: grab;
    &:active {
      cursor: grabbing;
      position: relative;
      -moz-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      -webkit-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1);
      transition: 0.1s ease;
    }
  }
  .tag-html-container-open,
  .tag-html-container-close {
    display: none !important;
  }
  &::selection,
  & a::selection {
    background-color: transparent;
    color: inherit;
  }
}
.rtl-target {
  .targetarea .locked,
  .spliArea .locked,
  .translation .locked {
    direction: ltr;
    display: inline-block;
  }
}
.rtl-source {
  .suggestion_source .locked,
  .source .locked {
    direction: ltr;
    display: inline-block;
  }
}


//Quality report
.qr-wrapper {
  .style-tag {
    cursor: default;
  }
  .added {
    background: rgba(158, 255, 0, 0.2);
    span.locked {
      background: rgba(158, 255, 0, 0.2) !important;
    }
  }
  .deleted {
    background: rgba(255, 46, 0, 0.1);
    text-decoration: line-through;
    span.locked {
      background: rgba(255, 46, 0, 0.1) !important;
      text-decoration: line-through !important;
    }
  }
}
