@mixin linear-gradient($fallback, $params...) {
  background-color: $fallback;
  background-image: -webkit-linear-gradient($params);
  background-image: -moz-linear-gradient($params);
  background-image: -o-linear-gradient($params);
  background-image: linear-gradient($params);
}

@mixin box-shadow($params...) {
  -webkit-box-shadow: $params;
  -moz-box-shadow: $params;
  box-shadow: $params;
}

@mixin animation-duration($time) {
  -webkit-animation-duration: $time;
  -moz-animation-duration: $time;
  animation-duration: $time;
}

@mixin animation-name($name) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  animation-name: $name;
}

@mixin animation-iteration-count($count) {
  -webkit-animation-iteration-count: $count;
  -moz-animation-iteration-count: $count;
  animation-iteration-count: $count;
}

@mixin animation-play-state($play) {
  -webkit-animation-play-state: $play;
  -moz-animation-play-state: $play;
  animation-play-state: $play;
}

@mixin animation-timing-function($function) {
  -webkit-animation-timing-function: $function;
  -moz-animation-timing-function: $function;
  animation-timing-function: $function;
}

@mixin animation-direction($direction) {
  -webkit-animation-direction: $direction;
  -moz-animation-direction: $direction;
  animation-direction: $direction;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin toolbar-button-background($icon, $iconSize, $background) {
  background-image: $icon, $background;
  background-size: $iconSize $iconSize, auto auto;
  background-position: center center, 0% 0%;
  background-repeat: no-repeat, repeat;
}
