@use 'commons/mixins';
@use 'commons/_colors';
@use 'components/segment/IcuHighlight';
body.cattool {
  //display: flex;
  height: 100vh;
  //flex-direction: column;
  overflow-y: hidden !important;
  padding: unset;
  background-color: colors.$grey5;

  .page-content {
    display: flex;
    flex-direction: column;
  }

  /*header*/
  header {
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    z-index: 6;
    padding: 0;
    transition: margin-top 200ms ease-out;
    -webkit-transition: margin-top 200ms ease-out;
    box-sizing: content-box;
    min-width: 1024px;
  }

  .main-container {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    //overflow: hidden;

    .freezing-overlay {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  .pointer-first-segment {
    height: 36px;
    width: 36px;
    background: colors.$darkBlue url('/public/img/icons/arrow-up.svg') no-repeat
      center center;
    background-size: 24px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    display: inline-block;
    left: 15px;
    bottom: 8px;
    cursor: pointer;
    &:hover {
      background-color: colors.$darkBlueHover;
    }
  }
}

.segment-side-buttons {
  /* styles based on .sid line 376 style.css */
  cursor: default;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  padding-bottom: 1px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  right: -7%;
  width: 7%;
  top: 0;
  height: 100%;
  gap: 6px;
  > div {
    height: 24px;
  }
  .icon-warning-sign.qa-icon {
    background-color: colors.$red800;
    color: #fff;
    display: flex;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    align-self: stretch;
    cursor: pointer;
    border-radius: 8px;
    width: 18px;
    height: 18px;
    margin-left: 8px;
  }
  .badge-icon {
    display: flex;
    padding: 2px 5px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 999px;
    position: absolute;
    right: -8px;
    top: -8px;
    color: colors.$white;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    &.badge-red {
      color: colors.$white;
      background-color: colors.$red800;
    }
    &.badge-orange {
      color: colors.$black;
      background-color: colors.$orange600;
    }
    &.badge-blue {
      color: colors.$white;
      background-color: colors.$blue800;
    }
  }
}

//ICE MATCH
.ice-locked,
.readonly {
  .footer,
  .buttons,
  .copy,
  .loader,
  .warnings,
  .toolbar {
    display: none !important;
  }
}

.segment-target-toolbar {
  display: flex;
  gap: 8px;
  margin-left: -11px;
  margin-top: 8px;

  .segment-target-toolbar-icon {
    width: 32px !important;
    height: 32px !important;
    padding: 0 !important;

    &:disabled {
      color: colors.$grey8 !important;
      box-shadow: inset 0 0 0 1px colors.$grey8 !important;

      svg {
        color: colors.$grey8 !important;
      }
    }
  }

  .segment-target-toolbar-dropdown-trigger {
    height: 32px !important;
    padding: 0 16px !important;
    font-weight: bold;
    font-size: 14px !important;
  }
}

.lara-styles-dropdown {
  width: 320px;

  .lara-styles-dropdown-item {
    font-size: 14px;
    color: colors.$grey7;
    padding: 12px;
    border-radius: 6px;
    text-wrap: auto;
    text-align: left;

    > span {
      font-weight: 500;
      color: black;
    }

    &.lara-styles-dropdown-item-active,
    &:hover {
      background-color: rgba(#0588f9, 0.16);
      color: #0099cc;
      > span {
        color: #017cac;
      }
    }
  }

  .dropdownmenu-item {
    padding: 0;
    gap: 0;
  }
}
