/*
This file contains styles that are specific to the Cattool page.
Styles from other css files should be ported over time.
*/
.statusmenu li a {
  text-transform: uppercase;
  cursor: pointer ;
}

.segment-side-buttons {
  /* styles based on .sid line 376 style.css */
  color: #999;
  cursor: default;
  display: block;
  font-size: 12px;
  height: inherit;
  padding-bottom: 1px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  right: -8%;
  width: 8%;
  z-index: 999;
}





section:hover .segment-side-buttons {
  /* styles based on .sid line 460 style.css */
  color: #6d6e71
}






