@import '_mixins';
/*
This file contains styles that are specific to the Cattool page.
Styles from other css files should be ported over time.
*/
.statusmenu li a {
  text-transform: uppercase;
  cursor: pointer ;
}

.segment-side-buttons {
  /* styles based on .sid line 376 style.css */
  color: #999;
  cursor: default;
  display: block;
  font-size: 12px;
  height: inherit;
  padding-bottom: 1px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  right: -8%;
  width: 8%;
  z-index: 999;
}


.segmentButton, .toolbar a {
  height: 20px;
  zoom: 0.8;
  min-width: 20px;
  cursor: pointer;
  border-radius: 3px;
  padding: 2px;
  border: 1px solid #C6C6C6;
  @include box-shadow(0 1px 1px rgba(0,0,0,.1));
  @include linear-gradient(#f8f8f8, top, #f8f8f8, #f1f1f1);

  &:hover {
    color: #000000;
  }

  &:active {
    background-color: #fff;
    background-image: -webkit-linear-gradient(top, #fff, #f4f4f4);
  }
}


section:hover .segment-side-buttons {
  /* styles based on .sid line 460 style.css */
  color: #6d6e71
}






