@use 'commons/mixins';
@use 'commons/_colors';
@use 'components/segment/IcuHighlight';
body.cattool {
  //display: flex;
  height: 100vh;
  //flex-direction: column;
  overflow-y: hidden !important;
  padding: unset;
  background-color: colors.$grey5;

  .page-content {
    display: flex;
    flex-direction: column;
  }

  /*header*/
  header {
    top: 0;
    left: 0;
    width: 100%;
    position: relative;
    z-index: 6;
    padding: 0;
    transition: margin-top 200ms ease-out;
    -webkit-transition: margin-top 200ms ease-out;
    box-sizing: content-box;
    min-width: 1024px;
  }

  .main-container {
    position: relative;
    width: 100%;
    height: 100%;
    flex: 1;
    //overflow: hidden;

    .freezing-overlay {
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(255, 255, 255, 0.4);
    }
  }

  .pointer-first-segment {
    height: 36px;
    width: 36px;
    background: colors.$darkBlue url('/public/img/icons/arrow-up.svg') no-repeat center
      center;
    background-size: 24px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    display: inline-block;
    left: 15px;
    bottom: 8px;
    cursor: pointer;
    &:hover {
      background-color: colors.$darkBlueHover;
    }
  }
}


.segment-side-buttons {
  /* styles based on .sid line 376 style.css */
  cursor: default;
  display: block;
  font-size: 12px;
  padding-bottom: 1px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  right: -7%;
  width: 7%;
  top: 0;
  height: 100%;
}

//ICE MATCH
.ice-locked,
.readonly {
  .footer,
  .buttons,
  .copy,
  .loader,
  .warnings,
  .toolbar {
    display: none !important;
  }
}