@use 'commons/colors';
html,
body {
  height: 100%;
  font-size: 14px;
}

body {
  min-width: 1024px;
  position: relative;
  text-align: center;
  margin: 0;
  /*padding: 75px 0 120px 0;*/
  font-family: calibri, Arial, Helvetica, sans-serif;
  -webkit-transition: all 100ms ease-in;
  -moz-transition: all 100ms ease-in;
  font-size: 14px;
  line-height: 1.4285em;
  background: colors.$white;
  color: colors.$black;
  &.no-min-width {
    min-width: auto;
  }
  header {
    min-width: auto;
  }
}

input,
textarea {
  font-family: calibri, Arial, Helvetica, sans-serif;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  min-width: 910px;
  margin: 0 auto;
  padding: 5px 0 0 0;
  width: 92%;
  font-size: 14px;
  position: relative;
  text-align: left;
}

.logo {
  float: left;
  border: 0;
  background: url(/public/img/logo_matecat_big_white.svg) 0px 0px no-repeat;
  width: 190px;
  height: 40px;
  //margin-top: 5px;
  position: relative;
}
.offline .logo {
  margin-left: 13px;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.iepopup .logoblack {
  background-size: 200px auto;
  width: 200px;
  height: 50px;
}

.iepopup {
  width: 800px;
  margin: 30px auto;
  padding: 30px 0 30px 0;
  display: block;
  z-index: 999999;
  background: colors.$white;
  box-shadow: 0px 0px 5px colors.$grey200;
  border-radius: 2px;
  font-size: 18px;
  border: 1px solid colors.$grey200;
}

.iepopup img {
  border: 0;
}

.iepopup ul a {
  padding: 0px 0 0 0;
  color: colors.$blue400;
  text-decoration: underline;
}

.iepopup a:hover {
  text-decoration: none;
}

.logoblack {
  border: 0;
  background: url(/public/img/logo_matecat_big.svg) 0px 2px no-repeat;
  display: block;
  width: 145px;
  height: 31px;
  background-size: 130px 28px;
  clear: both;
  margin: 0 auto 10px auto;
}

.iepopup p {
  line-height: 27px;
}

.hide {
  display: none;
}

.clear {
  clear: both;
}

/* Tabs */
section mark {
  background: transparent;
}

section .graysmall mark {
  background: yellow !important;
}

section mark.searchMarker {
  background: yellow;
  /*	background: #9ef5f5; */
}

section mark.searchMarker.currSearchItem {
  background: colors.$orange200;
  /*	background: #00c1e6; */
}

.offline {
  padding: 0;
  padding-top: 80px;
}
.offline span.msg span {
  vertical-align: middle;
}
.offline .claim {
  text-align: center;
  margin: 0 auto;
  padding-top: 70px;
}

.offline .cat {
  height: 215px;
  background: url(/public/img/offline.png) no-repeat center center;
}

.offline header {
  background: colors.$grey600;
  border-bottom: 1px solid colors.$grey1300;
  padding: 0px 0 2px 0;
  margin-bottom: 20px;
  height: 45px;
}

.offline h1 {
  font-size: 35px;
}
.offline h2 {
  font-size: 30px;
}

.offline h2 {
  color: colors.$grey400 !important;
  font-weight: normal !important;
}

.claim span {
  font-weight: bold;
  color: colors.$blue400;
}

@font-face {
  font-family: Calibri;
  src:
    local(Calibri),
    url('/public/css/fonts/calibri-webfont.woff') format('woff'),
    url('/public/css/fonts/calibri-webfont.ttf') format('truetype'),
    url('/public/css/fonts/calibri-webfont.eot'),
    url('/public/css/fonts/calibri-webfont.eot?#iefix')
      format('embedded-opentype');
}

@font-face {
  font-family: Calibri;
  font-weight: bold;
  src:
    local('Calibri Bold'),
    url('/public/css/fonts/calibri_bold-webfont.woff') format('woff'),
    url('/public/css/fonts/calibri_bold-webfont.ttf') format('truetype'),
    url('/public/css/fonts/calibri_bold-webfont.eot'),
    url('/public/css/fonts/calibri_bold-webfont.eot?#iefix')
      format('embedded-opentype');
}

#menu-site li {
  display: inline-block;
  /*padding-top: 8px;*/
}

#menu-site li a {
  color: colors.$white;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  line-height: 22px;
  padding: 10px 15px;
  font-weight: 200;
  font-size: 18px;
}

#menu-site li a.bigblue {
  font-size: 17px !important;
  border: none !important;
  color: colors.$blue900 !important;
  border-radius: 18px;
  background-color: colors.$white;
  padding: 4px 18px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 6px;
}

#menu-site li a.bigred:hover {
  color: colors.$blue950 !important;
}

#menu-site li a:hover {
  color: colors.$blue500;
}

/*****************************/

body svg {
  padding: 0 !important;
}

.language-dropdown-item-container {
  display: grid;
  grid-template-columns: 70px auto;
  gap: 10px;
  align-items: center;
  overflow: hidden;

  .code-badge {
    min-width: 60px;
    font-weight: normal;

    > span {
      display: block;
      text-align: center;
      background-color: colors.$grey400;
      border-radius: 4px;
      padding: 2px 4px;
      color: colors.$white;
      font-size: 14px;
      white-space: nowrap;
    }
  }
}

a {
  color: colors.$blue700;
  &:hover, &:active {
    color: colors.$blue400;
  }
}
