#current_page {
  font-weight: bold;
  font-size: 1.1em;
}

#pagination_box {
  position: absolute;
  left: 35%;
  width: 30%;
}

#pagination_box nav {
  float: none;
  text-align: center;
}

#pagination_box nav ul {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

#pagination_box nav li {
  border: 0;
  text-align: center;
  display: inline-block;
  float: none;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

#pagination_box nav li a {
  text-decoration: none;
}

#sort_box {
  padding: 20px 10px 30px 10px;
}

#sort_box label {
  padding-right: 20px;
  font-size: 18px;
}

.translate-box select,
.mgmt-table-mt select {
  width: 257px;
  height: 37px;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #ccc;
  margin: 0 0 5px 0;
}

.article.msg {
  width: 100%;
  margin: 20px auto;
  font-size: 26px;
  font-style: italic;
  color: #999;
}

.invalid_td {
  background-color: #ee6633;
  border: 2px solid #ee6633;
}

.ui.user.label {
  top: 1px;
}
