body {
  padding-top: 30px;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  text-align: center;
}

header {
  top: 0;
  left: 0;
  text-align: left;
  width: 100%;
  position: fixed;
  z-index: 999999999;
  /*border-bottom: 1px solid #5F5F5F;
    padding: 4px 0 5px 0;*/
  height: 77px; /* was 38px for previous header*/
  margin-top: 0;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  margin: 0;
}

h3 {
  margin: 0px 0 0 0;
  padding: 0;
  font-size: 18px;
  color: #999999 !important;
  font-weight: normal !important;
}

.tablestats {
  border-right: 1px solid #ccc;
}

.tablestats th {
  background-color: #efefef;
}

.tablestats td,
.tablestats th {
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 6px 8px;
  margin: 1px 0;
  text-align: center;
}

.tablestats tr:hover {
  background: #f7f8f9;
}

.tablestats {
  border-top: 1px solid #ccc;
  margin-bottom: 40px;
  -moz-box-shadow: 0 1px 2px #ccc;
  background: #fff;
}

.tablestats.continue {
  margin-bottom: 4px !important;
}

.error-symbol {
  position: absolute;
  margin: 42px 0 0 -30px;
  display: block;
  width: 23px;
  height: 23px;
}

.field {
  float: left;
  width: 35%;
  margin: 10px 0 20px 0;
}

.field h3 {
  float: left;
  width: auto;
  margin-right: 40px;
  font-weight: bold !important;
  font-family: Calibri, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #000 !important;
}

table .btn {
  width: auto !important;
  padding: 0px 20px 0 20px !important;
}

th.header {
  background: #efefef url(../../img/bg.gif) right center no-repeat !important;
}

th.headerSortUp,
th.tablesorter-headerAsc {
  background: #efefef url(../../img/asc.gif) right center no-repeat !important;
}

th.headerSortDown,
th.tablesorter-headerDesc {
  background: #efefef url(../../img/desc.gif) right center no-repeat !important;
}

.searchbox {
  margin-top: 18px !important;
}

.searchbox .block {
  margin-bottom: 8px;
}

.api .block-swagger {
  margin-top: -20px;
  background: #fafafa;
}

/* Bruteforce Override style.css and legacy.min.css */
section {
  float: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.swagger-ui .wrapper {
  padding: 20px !important;
}
.scheme-container {
  padding: 12px 0 !important;
}
/* Bruteforce Override style.css and legacy.min.css */

.api a {
  color: #39699a;
}

.api .menu {
  line-height: 26px;
}

.api a:hover {
  text-decoration: none;
}

#contentBox pre.literal-block {
  word-wrap: break-word;
}

.apidesc td {
  padding: 8px;
  text-align: center;
}

.api dt {
  float: left;
  text-align: left;
  color: #666666;
  width: 100px;
  padding-right: 20px;
}

.api .menu ul {
  padding-left: 30px;
}

.api .menu a {
  text-decoration: underline;
  cursor: pointer;
}

.api dd {
  margin-left: 120px;
}

.api dl {
  margin-left: 40px;
  line-height: 30px;
}

.api {
  padding-top: 0;
}

.api header {
  position: relative;
}

.api h1,
.api h2 {
  color: #000 !important;
  margin-top: 20px;
}

.api h3 {
  color: #000 !important;
  font-weight: bold !important;
  font-size: 22px !important;
  margin-bottom: 20px;
  padding-top: 20px;
}

.gototop {
  text-align: right;
  margin: 10px 0;
  display: block;
  padding-bottom: 20px;
  border-bottom: 1px dashed #ccc;
}

.api .gototop.last {
  border-bottom: none;
}

.api .fileformat {
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-count: 2;
}

.api .tablestats tr:hover {
  background: none;
}

/*.api .fileformat li:nth-child(2n+1) {
background: #efefef;
}*/
ul.office {
  -webkit-column-count: 3;
  column-count: 3;
  -moz-column-count: 3;
}

.api table ul.lang-list {
  -webkit-column-count: 5;
  column-count: 5;
  -moz-column-count: 5;
  text-align: left;
  line-height: 30px;
}

.fileformat th {
  padding-left: 15px;
}

.api .tablestats th,
.api .tablestats td {
  text-align: left;
  vertical-align: top;
}

table {
  table-layout: fixed;
  width: 100%;
}

.api .colsx {
  float: left;
  position: fixed;
  padding-right: 1%;
  width: 13%;
}

.api .coldx {
  float: right;
  width: 80%;
  margin: 20px 2% 2%;
}

.menuscroll {
  margin-top: -30px;
}

.logosmall {
  display: none;
}

.menuscroll .logosmall {
  display: block;
}

.logosmall {
  background: url(../../img/logo_matecat_small.svg) no-repeat;
  padding-top: 30px;
  background-size: 45px;
}

.block {
  height: auto;
}

.menu a.active {
  font-weight: bold;
}

.api dd {
  margin-left: 120px;
  margin-bottom: 10px;
}

.api .top {
  display: block;
}

.param {
  font-weight: 600;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #39699a;
  background-color: #f4f4f4;
  white-space: nowrap;
  border-radius: 4px;
}

.req,
.opt {
  font-family: inherit;
  color: #c7254e;
  background-color: #f9f2f4;
  white-space: nowrap;
  padding: 2px 4px;
  border-left: 2px solid #c7254e;
  border-radius: 4px;
}

.opt {
  background-color: #dff0d8;
  border-left: 2px solid #3c763d;
  color: #3c763d;
}

.api p {
  margin: 0;
  font-size: 16px;
  line-height: 1.6em;
}

.missing-outsource-data {
  background: url(../../img/loading-black.gif) 40px 10px no-repeat;
  background-size: 20px;
  background-position: center;
}

.outsource-btn {
  border: 1px solid #666;
  border-radius: 4px;
  color: white;
  outline: 0;
  opacity: 0.9;
  padding: 0px !important;
  border: 1px solid #ccc;
  cursor: pointer;
}

.outsource-btn:hover {
  -moz-box-shadow: 0 0px 2px #666;
  -webkit-box-shadow: 0 0px 2px #666;
  box-shadow: 0 0px 2px #666;
}

.outsource-btn:active .outsource-price {
  -moz-box-shadow: inset 0 0 5px 2px #888;
  -webkit-box-shadow: inset 0 0 5px 2px #888;
  box-shadow: inset 0 0 5px 2px #888;
}

.outsource-btn:active .outsource-delivery {
  -moz-box-shadow: inset 0 -1px 2px 1px #888;
  -webkit-box-shadow: inset 0 -1px 2px 1px #888;
  box-shadow: inset 0 -1px 2px 1px #888;
}

.outsource-price {
  text-align: center;
  display: block;
  font-size: 18px;
  background: #7eaf3e;
  font-weight: bold;
  padding: 10px;
}

.outsource-delivery {
  background: #f4f4f4;
  display: block;
  padding: 5px;
  margin-top: -5px;
  line-height: 18px;
  font-size: 12px;
  border-radius: 4px;
  color: #333;

  border-top: 1px solid #ccc;
}

.outsource-delivery strong {
  font-size: 14px;
}

/* revise page */

.lang-info {
  margin-top: 40px;
  margin-left: 10px;
  color: #666;
  font-size: 20px;
}

.revision-info tr[data-vote='Excellent'],
.revision-info tr[data-vote='Verygood'],
.revision-info tr[data-vote='Good'],
td[data-vote='Excellent'],
td[data-vote='Verygood'],
td[data-vote='Good'] {
  background: #d8ead3;
}

.revision-info tr[data-vote='Poor'],
td[data-vote='Poor'] {
  background: #fdd7a4;
}

.revision-info tr[data-vote='Acceptable'],
td[data-vote='Acceptable'] {
  background: #fff3cd;
}

.revision-info tr[data-vote='Fail'],
td[data-vote='Fail'] {
  background: #f4cdcc;
}

.tablestats.revision {
  font-size: 18px;
}

.tablestats.revision td,
.tablestats.revision th {
  padding: 20px;
}

.vote-howto p {
  font-size: 18px;
  line-height: 30px;
}

.reviselog .percent {
  font-size: 14px;
}

.details-anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

#details-link {
  font-size: 16px;
  color: #999;
  text-shadow: none;
  margin-top: 15px;
  display: block;
  clear: both;
  cursor: pointer;
}

#ribbon {
  padding: 0.34em 2em;
  margin: 5% -7px 0;
  position: relative;
  color: black;
  font-size: 24px;
  z-index: 100000000;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  /*box-shadow: inset 0px 1px 0px rgba(255,255,255,.3),
       inset 0px 0px 20px rgba(0,0,0,0.0),
       0px 1px 1px rgba(0, 0, 0, 0.65); */
  /* background: #09beec; */
  display: inline-block;
}

#vote-box {
  width: 217px;
  background: #f7f7f7;
  height: 85px;
  position: absolute;
  right: 0px;
  top: 30px;
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  padding: 50px 5px 10px;
  z-index: 100000000;
  border-radius: 4px;
  border: 1px solid #ececec;
  box-shadow: 1px 1px 0px #e6e6e6;
}

.vote-area {
  margin: 0 auto;
  width: 100%;
  float: left;
  padding: 20px 0 30px 0;
}

.vote-area h3 {
  clear: both;
}

.blueline {
  width: 100%;
  height: 1px;
  background: #09beec;
  float: left;
  box-shadow: 0px 1px 0px #ccc;
}

#vote-box[data-vote='Excellent'],
#vote-box[data-vote='Verygood'],
#vote-box[data-vote='Good'] {
  color: #3c9423;
}

#vote-box[data-vote='Acceptable'] {
  color: #eaba22;
}

#vote-box[data-vote='Poor'] {
  color: #ffa935;
}

#vote-box[data-vote='Fail'] {
  color: #e7504d;
}

table.tablestats.revision-info td,
table.tablestats.revision-info th {
  padding: 15px;
  font-size: 16px;
}

/* Table Equivalent Translated Score Highlight */
.qa_eq_tr[data-vote='Excellent'] td,
.qa_eq_tr[data-vote='Verygood'] td,
.qa_eq_tr[data-vote='Good'] td {
  border-color: #3c9423 !important;
}

.qa_eq_tr[data-vote='Acceptable'] td {
  border-color: #e5b007 !important;
}

.qa_eq_tr[data-vote='Poor'] td {
  border-color: #ffa935 !important;
}

.qa_eq_tr[data-vote='Fail'] td {
  border-color: #e7504d !important;
}

.qa_eq_tr {
  font-weight: bold;
}

.qa_eq_td {
  font-size: 18px !important;
  border-top: 1px solid;
  border-bottom: 1px solid !important;
  border-left: 0 !important;
}

.qa_eq_td_first {
  border-left: 4px solid !important;
}

.qa_eq_td_last {
  border-right: 4px solid !important;
}

/* Table Equivalent Translated Score Highlight */

.vote-howto h3 {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: bold !important;
  color: #333 !important;
}

.vote-howto h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

blockquote {
  padding: 10px 20px;
  margin: 20px 30px 30px 30px;
  background: #eee;
  font-size: 16px;
  border-left: 5px solid #aaa;
  width: 700px;
}

/**
	QUALITY REPORT
**/
.qa-job-title {
  margin-bottom: 0;
}

.weight-normal {
  font-weight: normal;
}

.tablestats.revision th.issue {
  width: 440px;
}

.tablestats.revision th.score {
  width: 200px;
}

.tablestats.revision td,
.tablestats.revision-info td {
  text-align: left;
}

/********* PEE Page ***************/
.pee-page {
  min-width: 1000px;
  overflow: scroll;
}
.pee-page header {
  border-bottom: 1px solid #5c5c5c;
  background-color: #4d4d4d;
  padding: 0px 0 2px 0;
  margin-bottom: 20px;
  height: 45px;
}
#tablePEE {
  width: 92%;
  margin: 0 auto;
  margin-bottom: 50px;
  clear: both;
}
.pee-page h1 {
  margin-bottom: 30px;
  margin-top: 60px;
  font-size: 40px;
}
.pee-page h2 {
  margin-bottom: 30px;
}
.pee.progressbar {
  height: 20px;
  position: relative;
  width: 80%;
  float: right;
  padding-left: 20px;
}
.pee .progress {
  background: url(https://www.matecat.com/public/img/progressbar.gif);
  display: block;
  height: 20px;
}
.labelpee {
  position: relative;
  float: left;
  width: 4%;
  text-shadow: 0px 0px 2px #fff;
  text-align: left;
}

.pee-page .tablestats.revision td,
.tablestats.revision th {
  padding: 15px 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pee-page .tablesorter-filter-row input {
  width: 100%;
}
.pee-page tr.tablesorter-headerRow th {
  padding: 15px 0 !important;
}
.pee-page th.tablesorter-headerUnSorted {
  background: #efefef url(https://www.matecat.com/public/img/bg.gif) right
    center no-repeat !important;
}

.pee-page .tablesorter-filter-row {
  background: #f4f4f4;
}

.pee-page select {
  width: 100%;
  height: 23px;
  background: #fff;
}

.pee-page div.selectContainer {
  width: 92%;
  margin: 0 auto;
}

.pee-page div.selectContainer .dropdown {
  width: 200px !important;
}

.pee-page .notfound {
  width: 100%;
  margin: 20px auto;
  font-size: 26px;
  font-style: italic;
  color: #999;
}

.chart-container {
  width: 1200px;
  margin: 0 auto;
  /*height: 500px;*/
  margin-bottom: 40px;
  text-align: center;
}

.chart-container .ui.segment {
  /*height: 500px;*/
  border: none;
  box-shadow: none;
}

.chart-container span {
  font-size: 18px;
}

.chart-container text {
  font-size: 12px;
}

.filter-chart-container {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 40px;
  /*background: #eee;*/
  /*border: 1px solid #ccc;*/
  /*padding: 20px;*/
}
.pee-page .dropdown input {
  display: inline-block;
}
.filter-chart-container .ui.grid {
  width: 100%;
  height: 100%;
  margin: 0;
}
.pee-page .ui.styled.accordion {
  width: 100%;
  background: #eee;
}
.pee-page .accordion .title {
  text-align: right;
}
.pee-page .error {
  float: none;
}
/**********************************/
