@use './commons/colors';
/*
 ==============================
        Tooltip STYLING
 ==============================
 */
.lexiqa-tooltip {
  width: max-content; //240px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 12px;

  .tooltip-error-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  .tooltip-error-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    line-height: 1.45;

    .tooltip-error-category {
      padding: 0.5rem;
      max-width: 148px;
      &::first-letter {
        text-transform: capitalize;
      }
    }
    .tooltip-error-ignore {
      color: colors.$grey;
      text-decoration: none;
      cursor: pointer;
      border-radius: 0 4px 4px 0;
      padding-left: 10px;
      height: 40px;
      &:hover {
        color: colors.$grey6;
      }
      .icon-cancel-circle:before {
        line-height: 40px;
        float: left;
        font-size: 18px;
      }
      .tooltip-error-ignore-text {
        margin-left: 5px;
        margin-right: 10px;
        float: left;
        line-height: 40px;
      }
    }
    &:not(:first-child) {
      border-top: 1px solid rgba(255, 255, 255, 0.36);
    }
  }
}
/*
 ==============================
        Highlight STYLING
 ==============================
 */
.lexiqahighlight {
  display: inline-block;
  position: relative;
  /*
     ******
     Display and visibility helpers
     ******
     */
  .lxq-hide {
    display: none !important;
  }

  .lxq-visible {
    display: block !important;
  }

  .n0 {
    background-color: colors.$rebuttedRedTransparent;
  }

  .p0 {
    background-color: colors.$greenDefaultTransparent;
  }

  .c0 {
    background-color: colors.$greenDefaultTransparent;
  }

  .u0 {
    background-color: colors.$orange600;
  }

  .s0 {
    background-color: colors.$translatedBlueTransparent;
  }

  .l0 {
    background-color: colors.$approved2GreenTransparent;
  }

  .b0 {
    text-decoration: line-through;
  }

  .g0 {
    text-decoration: underline;
  }

  .d0 {
    border-bottom: 2px red dotted;
  }

  .o0 {
    background-color: rgba(colors.$translatedBlueTransparent, 0.75);
  }

  .m {
    background-color: colors.$redDefaultTransparent;
  }

  .m,
  .l0,
  .p0,
  .c0,
  .u0,
  .s0 .g0 {
    padding: 0.1rem 0.2rem;
  }

  /*.m, .l1, .l2, .l3, .l4, .n1, .n2, .n3, .n4, .p1, .p2, .p2sub1, .p2sub2, .p3, .p3sub1, .p4, .p5, .p6, .p7, .p8,
    .c1, .c2, .c3, .c2sub1, .c3sub1, .c4, .c5, .u1, .u2, .u3, .u4, .u5, .s1, .s2, .s3, .s3sub1, .s3sub1, .s4, .s5 {
        padding: 0.1rem 0.2rem;
    }*/
}
