/*
 ==============================
        Tooltip STYLING
 ==============================
 */
.lexiqa-tooltip {
  position: absolute;
  z-index: 1001;
  padding: 0 4px;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  width: max-content; //240px;
  background-color: #fff;
  border-radius: 4px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12),
    0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12),
    0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12),
    0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -10px;
    box-shadow: 4px 4px 4px 0px rgba(34, 36, 38, 0.12),
      8px 8px 10px 0px rgba(34, 36, 38, 0.15); //1px 1px 2px 0px rgba(34, 36, 38, 0.12)
    width: 14px;
    height: 14px;
    transform: rotate(45deg) translateX(-50%);
    background: #ffffff;
  }

  .tooltip-error-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
  }
  .tooltip-error-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    line-height: 1.45;
    /*border-bottom: 1px solid #fff;*/
    .tooltip-error-category {
      padding: 0.5rem;
      max-width: 148px;
      &::first-letter {
        text-transform: capitalize;
      }
    }
    .tooltip-error-ignore {
      color: #757575;
      text-decoration: none;
      cursor: pointer;
      border-radius: 0 4px 4px 0;
      padding-left: 10px;
      height: 40px;
      &:hover {
        color: #525252;
      }
      .icon-cancel-circle:before {
        line-height: 40px;
        float: left;
        font-size: 18px;
      }
      .tooltip-error-ignore-text {
        margin-left: 5px;
        margin-right: 10px;
        float: left;
        line-height: 40px;
      }
    }
    &:not(:first-child) {
      border-top: 1px solid rgba(255, 255, 255, 0.36);
    }
  }
}
/*
 ==============================
        Highlight STYLING
 ==============================
 */
.lexiqahighlight {
  display: inline-block;
  position: relative;
  /*
     ******
     Display and visibility helpers
     ******
     */
  .lxq-hide {
    display: none !important;
  }

  .lxq-visible {
    display: block !important;
  }

  .n0 {
    background-color: #d08053;
  }

  .p0 {
    background-color: #65c783;
  }

  .c0 {
    background-color: #65c783;
  }

  .u0 {
    background-color: #b8a300;
  }

  .s0 {
    background-color: #38c0c5;
  }

  .l0 {
    background-color: #b792e6;
  }

  .b0 {
    text-decoration: line-through;
  }

  .g0 {
    text-decoration: underline;
  }

  .d0 {
    border-bottom: 2px red dotted;
  }

  .o0 {
    background-color: rgba(#209faa, 0.75);
  }

  .m {
    background-color: #ea92b8;
  }

  .m,
  .l0,
  .p0,
  .c0,
  .u0,
  .s0 .g0 {
    padding: 0.1rem 0.2rem;
  }

  /*.m, .l1, .l2, .l3, .l4, .n1, .n2, .n3, .n4, .p1, .p2, .p2sub1, .p2sub2, .p3, .p3sub1, .p4, .p5, .p6, .p7, .p8,
    .c1, .c2, .c3, .c2sub1, .c3sub1, .c4, .c5, .u1, .u2, .u3, .u4, .u5, .s1, .s2, .s3, .s3sub1, .s3sub1, .s4, .s5 {
        padding: 0.1rem 0.2rem;
    }*/
}
