
$approved-color: #639d5e;
$translated-color: #0798bc;
$rejected-color: #b02429;

@import 'common';
@import 'style';
@import 'mbc-style';
@import 'segment-notes';
@import 'project-completion-feature';
@import 'editlog';
@import 'review_improved' ;

@import 'remodal';
@import 'remodal-default-theme';

@import 'cattool';
