@import 'vendor_mc/semantic/matecat_semantic';
@import 'commons/colors';
@import 'commons/matecat_fonts';
@import 'commons/icons';
@import 'commons/buttons';
@import 'commons/aria-label-tooltip';
@import 'common-main';
@import 'style';
@import 'commons/progress-mc-bar';
@import 'mbc-style';
@import 'lexiqa';
@import 'segment-notes';
@import 'project-completion-feature';
@import 'editlog';
@import 'components/header/segmentsFilter';
@import 'review_extended';
//components
@import 'commons/nav-bar';
@import 'components/segment/segment';
@import 'components/segment/segmentFooter';
@import 'components/segment/segmentFooterTabGlossary';
@import 'components/segment/issuesContainer';
@import 'components/segment/tagsMenu';
@import 'components/segment/Tag';
@import 'components/segment/TooltipInfo';
@import 'components/segment/Glossary';
@import 'components/segment/Editor';
@import 'components/bulk-approve-bar/bulk_approve_bar';
@import 'components/header/search';
@import 'components/header/qaComponent';
@import 'components/header/header';
@import 'components/SegmentsContainer.scss';
@import 'components/header/FilesMenu';
@import 'components/common/FilenameLabel';
@import 'components/common/Select';
@import 'components/common/Dropdown';
@import 'components/common/SegmentedControl';
@import 'components/common/CookieConsent';
@import 'components/common/Switch';
@import 'components/common/MenuButton';
@import 'components/common/Tooltip';
@import 'components/segment/segmentFooterTabAiAssistant';
@import 'components/common/Button';
@import 'components/common/Popover';
@import 'components/common/LabelWithTooltip';
@import 'components/CattolFooter';

@import 'cattool';

@import 'speech2text';

@import 'commons/tooltip';

@import 'settingsPanel';
