@import 'vendor_mc/semantic/matecat_semantic';
@import 'vendor_mc/jquery.atwho';
@import 'commons/colors';
@import 'commons/matecat_fonts';
@import 'commons/icons';
@import 'commons/buttons';
@import 'common-main';
@import 'style';
@import 'mbc-style';
@import 'lexiqa';
@import 'segment-notes';
@import 'project-completion-feature';
@import 'editlog';
@import 'components/header/segmentsFilter';
@import 'revise';
//components
@import 'components/segment/segment';
@import 'components/segment/segmentFooter';
@import 'components/segment/issuesContainer';
@import 'components/segment/tagsMenu';
@import 'components/segment/Tag';
@import 'components/segment/TooltipInfo';
@import 'components/segment/Glossary';
@import 'components/segment/Editor';
@import 'components/bulk-approve-bar/bulk_approve_bar';
@import 'components/header/search';
@import 'components/header/qaComponent';
@import 'components/header/header';
@import 'components/SegmentsContainer.scss';

@import 'cattool';

@import 'speech2text';

@import 'commons/tooltip';
