@import 'vendor_mc/semantic/matecat_semantic';

@import 'commons/colors';
@import 'commons/matecat_fonts';
@import 'commons/filter-teams';
@import 'commons/nav-bar';
@import 'commons/icons';
@import 'commons/project';
@import 'commons/shadows';
@import 'commons/divider';
@import 'commons/progress-mc-bar';
@import 'commons/buttons';
@import 'popup';

//libs: move it?
@import '../libs/calendar.css';

@import 'common-modals';
@import 'modals/split_modal';
@import 'notifications';
@import 'commons/sub-header';
@import 'commons/team-member';
@import 'commons/manage';
@import 'commons/outsource';
@import 'commons/date-picker-translator';
@import 'components/common/CookieConsent';
@import 'components/common/Tooltip';
@import 'components/common/Button';
@import 'components/common/LabelWithTooltip';
@import 'components/common/Switch';
@import 'components/common/EmailsBadge';
@import 'components/common/TeamModal';
