@import 'commons/colors';
/*
 ******
 ******
 Balloon basic layout
 ******
 ******
 */

.mbc-comment-balloon-inner {
  background: #ffffff;
  box-shadow: 0 1px 2px 0px rgba(0, 0, 0, 0.3);
}

/*section.editor .mbc-comment-balloon-inner {
  margin-top: -25px;
}*/

/* Give breathing space to the last comment ballon in page */
//.mbc-comment-balloon-outer:last-of-type {
//  margin-bottom: 100px;
//}

/*
 ******
 Post new comment
 ******
 */
.mbc-reply-input {
  background: #ffffff;
}

/*
 ******
 Past comments wrap
 ******
 */

.mbc-comments-wrap {
  min-height: 100%;
  max-height: 200px;
  overflow-y: auto;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  bottom: 0;
}

/*
 ******
 Past comment wrap common
 ******
 */
.mbc-thread-wrap {
  padding: 0 10px 10px 10px;
  border-top: 1px solid #f2f4f7;
}

/*
 ******
 Past comment thread wrap status active in history balloon
 ******
 */
.mbc-history-balloon .mbc-thread-wrap-active {
  border-bottom: 2px solid #dadada;
}

/*
 ******
 Past comment thread wrap status resolved
 ******
 */
.mbc-thread-wrap-resolved {
  background: rgba(124, 197, 118, 0.15);
  border-bottom: 2px solid rgba(124, 197, 118, 0.6); /* $approvedGreen */
}

/*
 ******
 Show past comment
 ******
 */
.mbc-show-comment:not(:first-of-type) {
  margin-top: 14px;
}

.mbc-comments-wrap .mbc-show-comment:not(:last-of-type) {
  border-bottom: 1px solid #dadada;
}

/*
 ******
 Past comment details
 ******
 */
.mbc-comment-info-wrap {
  clear: both;
  margin: 4px 0;
}

.mbc-comment-info {
  color: #7f7f7f;
  display: inline-block;
  font-size: 11px;
  font-weight: lighter;
  padding-bottom: 2px;
}

/*
 Email past comment details
 */
.mbc-comment-email-label {
  color: #7f7f7f;
  font-weight: normal;
  width: 90%; /* set width below 100% and allow truncation */
}

/*
 Message past comment details
 */
.mbc-comment-body {
  color: #323232;
  font-size: 14px;
  margin: 12px 0 16px;
  word-wrap: break-word;
}

/*
 ******
 New incoming message notification
 ******
 */

.mbc-new-message-notification {
  background-color: #fff9cc;
  color: #6d6e71;
  font-size: 14px;
  left: 0;
  line-height: 2.2;
  position: absolute;
  text-align: center;
  top: -31px;
  width: 100%;
}

/* New message link  */
a.mbc-new-message-link:link,
a.mbc-new-message-link:visited {
  color: #6d6e71;
  text-decoration: underline;
}

a.mbc-new-message-link:hover {
  text-decoration: none;
}

.mbc-new-message-icon {
  font-size: 14px;
  font-weight: bold;
  padding: 0 6px 0 0;
}

/*
 ******
 ******
 Comment input
 ******
 ******
 */

.mbc-comment-input {
  border-radius: 2px;
  outline-width: 0;
  width: 100%;
}

.mbc-comment-textarea {
  position: relative;
  word-break: normal;
  outline: none;
  color: #000;
  border: 1px solid #dedede;
  box-shadow: inset 0 1px 2px #ccc;
  -webkit-box-shadow: inset 0 1px 2px #ccc;
  min-height: 40px;
  overflow-y: auto !important;
  max-height: 160px;
  border-radius: 20px;

  .mbc-comment-input__highlighter,
  textarea {
    border: unset !important;
    outline: unset !important;
    padding: 10px;
    line-height: 1.5;
  }
}

.mbc-comment-textarea:hover {
  border-color: rgba(34, 36, 38, 0.35);
  box-shadow: none;
}
.mbc-comment-textarea:focus {
  border: 1px solid #96c8da;
  box-shadow: inset 0px 0px 2px 2px #96c8da;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mbc-comment-textarea:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: #999;
  position: absolute;
  top: 10px;
  pointer-events: none;
}

.mbc-comment-input__suggestions {
  z-index: 2 !important;
}

.mbc-comment-input__suggestions__list {
  background-color: $white;
  border: 1px solid $grey8;
}

.mbc-comment-input__suggestions__item {
  padding: 5px 15px;
  border-bottom: 1px solid $grey9;
}

.mbc-comment-input__suggestions__item--focused {
  background-color: rgba($grey9, 0.6);
  color: $translatedBlue;
}

.tagging-item {
  color: $translatedBlue;
}

.tagging-item-textarea {
  background-color: rgba($translatedBlue, 0.3);
  border-radius: 10px;
  padding: 2px 0;
}

.mbc-comment-textinput {
  background: #fff;
  border: 1px solid #999;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 2px #ddd;
  box-shadow: inset 0 1px 2px #ddd;
  font-size: 14px;
  height: auto;
  margin: 0 0 2px;
  outline: 0;
  overflow: initial;
  padding: 2px 5px;
  text-overflow: initial;
  white-space: initial;
}

.mbc-comment-textinput:hover {
  box-shadow: 0px 0px 0px 1px #ccc;
  cursor: text;
}

/*
 ******
 ******
 Labels
 ******
 ******
 */

/*
 ******
 Common label
 ******
 */
.mbc-comment-label {
  display: block;
  font-size: 14px;
}

/*
 Username label
 */
.mbc-comment-username-label {
  color: #323232;
  font-weight: bold;
  margin-bottom: 4px;
  padding: 5px 5px 2px 0;
}
/*
 Anonymous label
 Account for inline edit functionality and state
 */
.mbc-comment-anonymous-label {
  padding: 2px 5px 2px 0;
}

//.mbc-comment-anonymous-label:hover {
//  box-shadow: 0px 0px 0px 1px #ccc;
//  cursor: text;
//}

/*
 ******
 Resolved labels
 ******
 */
.mbc-resolved-comment {
  margin-top: 10px;
}

.mbc-comment-resolvedby {
  /*width: 110px;*/
}

.mbc-comment-resolved-label {
  color: $approvedGreen; /* per-green line 2350 style.css */
  font-size: 12px;
  font-weight: bold;
}

/*
 ******
 ******
 Buttons
 ******
 ******
 */

/*
 ******
 Common button
 ******
 */
a:link.mbc-comment-btn,
a:visited.mbc-comment-btn,
a.ui.button {
  &.mbc-comment-btn {
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #848689;
    padding: 8px 10px;
  }
}
/*
 ******
 Button default
 ******
 */
a:link.mbc-comment-default-btn,
a:visited.mbc-comment-default-btn {
  background: #dcdedf;
  border: 1px solid #999;
  color: #333;
}

a:hover.mbc-comment-default-btn {
  border: 1px solid #666;
}

a:active.mbc-comment-default-btn {
  border: 1px solid #000; /* .btn:active line 643 style.css */
}

/*
 ******
 Comment button in comment balloon
 Now follows translated button common.css line 1188
 ******
 */
a.mbc-comment-send-btn:link,
a.mbc-comment-send-btn:visited {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($translatedBlue),
    to(#119ec4)
  );
  background: -moz-linear-gradient(top, $translatedBlue, #119ec4);
  background: linear-gradient(top, $translatedBlue, #119ec4);
  border: 1px solid #848689;
  color: #fff;
}

a.mbc-comment-send-btn:hover {
  background: #12b4df;
  border: 1px solid #000;
  -webkit-box-shadow: 0 1px 2px #ccc;
  box-shadow: 0 1px 2px #ccc;
}

a.mbc-comment-send-btn:active {
  -moz-box-shadow: inset 0 0 1px 1px #888;
  -webkit-box-shadow: inset 0 0 1px 1px #888;
  box-shadow: inset 0 0 1px 1px #888;
}

/*
 ******
 Resolve button in comment balloon
 ******
 */
a.mbc-comment-resolve-btn,
a.mbc-comment-resolve-btn:visited {
  background: #dcdedf;
  border: 1px solid #999;
  color: #333;
}

a.mbc-comment-resolve-btn:hover,
a.mbc-comment-resolve-btn:active {
  box-shadow:
    0 0 0 #e0e0e0,
    0 0 2px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.24) !important;
}

a.ui.button.mbc-comment-delete-btn {
  margin-right: 8px;
}

/*
 ******
 ******
 Link in comment balloon
 ******
 ******
 */
a.mbc-comment-link-btn,
a.mbc-comment-link-btn:visited {
  color: #7f7f7f;
  display: inline-block;
  font-size: 14px;
  text-decoration: underline;
}

a.mbc-comment-link-btn:hover,
a.mbc-comment-link-btn:active {
  text-decoration: none;
}

/*
 ******
 Login invitation link in comment balloon
 ******
 */
a.mbc-login-link:link,
a.mbc-login-link:visited {
  padding: 0 4px 10px 0;
}

/*
 ******
 View link in history balloon
 ******
 */
a.mbc-view-link:link,
a.mbc-view-link:visited {
  color: #0798bc;
  padding: 0 4px 6px 0;
}

/*
 ******
 View comment ordinal number
 ******
 */
.mbc-nth-comment-label {
  display: block;
  border-bottom: 1px solid #cccccc;
  font-size: 16px;
  color: #9a9a9a;
  line-height: 1.8;
  margin-bottom: 6px;
}

/*
 ******
 ******
 Close icon duplicate
 ******
 ******
 */

/* style.css line 1612 */
a.mbc-close-icon:link,
a.mbc-close-icon:visited {
  background: #fff;
  border-radius: 20px;
  color: #aeaeae;
  display: block;
  font-size: 15px;
  height: 14px;
  padding: 0;
  position: absolute;
  right: 8px;
  text-decoration: none;
  top: 0;
  vertical-align: middle;
  width: 14px;
}

a.mbc-close-icon:hover {
  background: red;
  color: #fff;
  text-align: center;
}

.mbc-close-icon:before {
  content: '\ea0d';
  display: block;
  margin-left: -1px;
  margin-top: 0px;
  text-align: center;
  vertical-align: middle;
}

/*
 ******
 ******
 Comment intent next to each segment
 ******
 ******
 */

/*
 ******
 Txt in comment intent element
 ******
 */
.segment-side-buttons .txt {
  /* styles based on .sid 401 style.css */
  cursor: pointer;
  padding-left: 7px;
  position: absolute;
  width: 50px;
  display: block !important;
  top: 0px;
}

/*
 ******
 Icon in comment intent element
 ******
 */
.mbc-comment-icon {
  font-size: 23px;
}

/*
 ******
 ******
 Notification elements
 ******
 ******
 */

/*
 ******
 Common highlight element properties
 ******
 */
.mbc-comment-notification {
  border: 1px solid #fff;
  border-radius: 14px;
  display: block;
  font-size: 11px;
  font-weight: bold;
  padding: 0px 7px;
  text-align: center;
  width: 8px;
  height: 15px;
  line-height: 1.5;
}

/*
 Highlight element unique properties
 */
.mbc-comment-highlight {
  background: #ffe400;
}

/*
 Invitation element unique properties
 */
.mbc-comment-highlight-invite {
  background: $darkBlue;
  color: $grey3;
  position: absolute;
}

/*
 Highlight element in segment unique properties
 */
.mbc-comment-highlight-segment {
  left: 35px;
  position: absolute;
  top: 5px;
}

/*
 Highlight element in header unique properties
 */
.mbc-comment-highlight-history {
  color: #6d6e71;
  position: absolute;
  right: 7px;
  top: 10px;
}

.mbc-comment-highlight-history:hover {
  color: #6d6e71;
}

/*
 Highlight element in history balloon unique properties
 */
.mbc-comment-highlight-balloon-history {
  color: #6d6e71;
  float: right;
}

/*
 ******
 ******
 Article state follwing comment balloon activation
 ******
 ******
 */

/*
 ******
 Commenting opened. Article width reduced and room made for comment ballon
 ******
 */
article section {
  //-webkit-backface-visibility: hidden;
  //-webkit-transition: width .2s ease;
  //transition: width .2s ease;
}

/*
 ******
 Commenting opened. Draw comment ballon
 ******
 */
article .mbc-comment-balloon-outer {
  display: block;
  padding-right: 15px;
  margin-bottom: 30px;
  position: absolute;
  bottom: -70px;
  width: 100%;
  z-index: 1;
  cursor: auto;
}
/*
 ******
 ******
 Ajax error messages
 ******
 ******
 */

.mbc-ajax-message-wrap {
  padding: 6px 4px;
}
/* Warnings style.css line 136 */
.mbc-warnings {
  color: #d65959;
  font-size: 14px;
}

/*
 ******
 ******
 Header list item history balloon icon
 ******
 ******
 */

#mbc-history {
  /* #filterSwitch line 71 style.css */
  cursor: pointer;
  font-size: 23px;
  height: 27px;
  padding-top: 12px;
  position: relative;
  text-align: center;
  width: 45px;
  &.open svg {
    opacity: 1;
  }
  &.mbc-history-balloon-icon-has-no-comments {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }
}

#mbc-history:hover {
  /* #filterSwitch:hover line 86 style.css */
  color: #ccc;
}

.mbc-badge-container {
  position: absolute;
  top: -3px;
  right: -4px;
  display: flex;
  .mbc-badge,
  .mbc-badge-resolved {
    padding: 1px 6px;
    background: #0bbeec;
    color: #fff;
    font-size: 10px;
    text-align: center;
    border-radius: 25px;
    vertical-align: middle;
    line-height: 16px;
    height: 17px;
    display: block;
  }
  .mbc-badge-resolved {
    background-color: $greenDefaultTransparent;
  }
}

/*
 ******
 ******
 History ballon
 ******
 ******
 */

.mbc-history-balloon-outer {
  background-color: rgba(247, 247, 247, 1); /* #f7f77f */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  padding-top: 10px;
  position: absolute;
  right: 10px;
  width: 300px;
  text-align: left;
}

.mbc-view-comment-wrap {
  margin-bottom: 10px;
}

.mbc-comment-segment-number-label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.mbc-history-balloon {
  background-color: rgba(247, 247, 247, 1); /* #ffffff */
  padding: 0;
  position: relative;
}

.mbc-history-balloon .mbc-thread-wrap {
  padding: 14px 0;
}

.mbc-history-balloon .mbc-show-comment {
  padding: 0 24px;
}

.mbc-history-balloon .mbc-thread-wrap:not(:last-of-type) .mbc-show-comment {
  /*border-bottom: 1px solid #dadada;*/
}

.mbc-history-balloon-has-comment {
  max-height: 500px;
  overflow-y: auto;
}

/*
 ******
 ******
 Helpers
 ******
 ******
 */

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/*
  Truncate text in label
 */
.mbc-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/*
  Set box model to border and account for border's width
 */
.mbc-comment-balloon-outer *,
.mbc-history-balloon-outer * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.divider {
  background-color: #dadada;
  display: block; /* for use on default inline elements like span */
  height: 1px;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

/*
 ******
 Triangle in balloon
 ******
 */
.mbc-triangle {
  height: 0;
  width: 0;
}

/*
 Triangle top top in history balloon
 */
.mbc-triangle-top {
  border-right: 14px solid rgba(247, 247, 247, 1); /* #f7f77f */
  border-top: 14px solid transparent;
  -webkit-filter: drop-shadow(-3px -1px 2px rgba(0, 0, 0, 0.1));
  filter: drop-shadow(-3px -1px 2px rgba(0, 0, 0, 0.1));
  float: right;
  margin-right: 20px;
  margin-top: -24px;
}

/*
 Triangle top left in comment balloon
 */
.mbc-triangle-topleft {
  border-top: 12px solid #ffffff;
  border-left: 14px solid transparent;
  -webkit-filter: drop-shadow(-1px 0px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(-1px 0px 0px rgba(0, 0, 0, 0.2));
  margin-left: -12px;
  float: left;
  top: 15px;
  position: absolute;
}
section.editor .mbc-triangle.mbc-triangle-topleft {
  top: -10px;
}

.mbc-open-view {
  border-top: 12px solid #ffffff;
  border-left: 14px solid transparent;
  -webkit-filter: drop-shadow(-1px 0px 0px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(-2px 0px 1px rgba(0, 0, 0, 0.2));
  margin-left: -14px;
  position: absolute;
}

.mbc-open-view.mbc-re-messages {
  bottom: 0px;
  border-top: unset;
  border-left: unset;
  border-bottom: 12px solid #ffffff;
  border-left: 14px solid transparent;
  filter: drop-shadow(-1px 2px 1px rgba(0, 0, 0, 0.2));
}

/*
**********
Close icon ballon - Right panel
**********
*/

.re-close-balloon {
  width: 24px;
  height: 24px;
  background: #fff;
  position: absolute;
  z-index: 1;
  right: 0px;
  top: -14px;
  border-radius: 50%;
  color: #7b7b7b;
  cursor: pointer;
}

.re-close-balloon:hover {
  color: #000000;
}

.re-close-balloon i {
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  position: relative;
  top: 4px;
  left: 4px;
  font-size: 16px;
}

.re-close-balloon.re-close-err {
  top: -15px;
  right: -15px;
}

/*
 ******
 Clearfix helpers
 ******
 */
.mbc-clearfix {
  *zoom: 1;
}
.mbc-clearfix:before,
.mbc-clearfix:after {
  display: table;
  content: '';
  line-height: 0;
}

.mbc-clearfix:after {
  clear: both;
}

/*
 ******
 Display and visibility helpers
 ******
 */
.mbc-hide {
  display: none !important;
}

.mbc-visible {
  display: block !important;
}
/*
 ******
 Pure css solution to hide and unhide the button
 ******
 */

.mbc-comment-icon-button {
  visibility: hidden;
  display: block;
}
.mbc-comment-icon-button.has-object {
  visibility: visible;
  display: block;
}

section:hover .mbc-comment-icon-button,
.segment-side-buttons:hover .mbc-comment-icon-button,
.mbc-comment-icon-button:hover {
  visibility: visible;
}
