@import 'variables';
/******* Notifications ************/

.notifications-position {
  font-family: inherit;
  position: fixed;
  width: $notifications-width;
  padding: 0 10px 10px 10px;
  z-index: 99999999;
  @include box-sizing(border-box);
  height: auto;
}
.notifications-position-bl {
  @extend .notifications-position;
  top: auto;
  bottom: 30px;
  left: 20px;
  right: auto;
}
.notifications-position-bc {
  @extend .notifications-position;
  top: auto;
  bottom: 30px;
  margin: 0 auto;
  left: 50%;
  margin-left: -($notifications-width / 2);
}
.notifications-position-br {
  @extend .notifications-position;
  top: auto;
  bottom: 30px;
  left: auto;
  right: 0px;
}
.notifications-position-tl {
  @extend .notifications-position;
  top: 60px;
  bottom: auto;
  left: 0px;
  right: auto;
}
.notifications-position-tc {
  @extend .notifications-position;
  top: 60px;
  bottom: auto;
  margin: 0 auto;
  left: 50%;
  margin-left: -($notifications-width / 2);
}
.notifications-position-tr {
  @extend .notifications-position;
  top: 60px;
  bottom: auto;
  left: auto;
}

.notification-type {
  position: relative;
  width: 100%;
  text-align: left;
  background-color: #fff;
  @include border-radius(2px);
  font-size: 16px;
  margin: 10px 0 0;
  padding: 15px;
  box-shadow: 0 1px 10px #666;
  display: block;
  @include box-sizing(border-box);
  opacity: 0;
  @include transition(0.3s ease-in-out);
  .notification-message {
    word-wrap: break-word;
  }
}

.notification-type-success {
  @extend .notification-type;
  border-top: 3px solid $notification-success;
}

.notification-type-error {
  @extend .notification-type;
  border-top: 3px solid $notification-error;
}

.notification-type-warning {
  @extend .notification-type;
  border-top: 3px solid $notification-warning;
}

.notification-type-info {
  @extend .notification-type;
  border-top: 3px solid $notification-info;
}

.notifications-position-bl {
  .notifications-cat-smiling {
    background: url('/public/img/matecat_smiling.png') no-repeat 90% bottom;
    padding-top: 64px;
    background-size: 60px;
    margin-bottom: -10px;
    @include transition(0.3s ease-in-out);
    position: absolute;
    top: -67px;
    right: 40px;
    width: 60px;
    display: none;
  }
  .notification-type-info:first-child {
    .notifications-cat-smiling {
      display: block;
    }
  }
}
.notification-message {
  .warning-call-to {
    text-transform: uppercase;
    margin: 5px 0 0;
    text-align: right;
    a {
      text-decoration: underline;
      color: #4183c4;
      font-weight: 700;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.notification-close-button {
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 14px;
  background-color: #333;
  color: #ffffff;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: #666;
  }
}

.notification-title {
  font-size: 18px;
  margin: 0 0 7px 0;
  padding: 0;
  font-weight: bold;
}

.notification-title-success {
  @extend .notification-title;
  color: $notification-success;
}
.notification-title-error {
  @extend .notification-title;
  color: $notification-error;
}
.notification-title-warning {
  @extend .notification-title;
  color: $notification-warning;
}
.notification-title-info {
  @extend .notification-title;
  color: $notification-info;
}

.notifications-wrapper-inside {
  .translator-notification-sent {
    font-weight: bold;
    line-height: 28px;
    span {
      color: #4183c4;
    }
  }
}
