/*popup*/
.modal,
#modal {
  .popup-outer {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    opacity: 0.4;
  }
  .popup {
    overflow: hidden;
    line-height: 30px;
    border-radius: 0 0 4px 4px;
    //-webkit-box-shadow: 0 1px 20px #000;
    //box-shadow: 0 1px 20px #000;
    min-width: 600px;
    background: $grey5;
    margin: -200px 0 0 -250px;
    padding: 0 0px 20px 0px;
    position: fixed;
    left: 46%;
    max-width: 400px;
    z-index: 999999999;
  }

  .popup p.text-container-top {
    font-size: 18px;
    margin-top: 20px;
    padding: 0 30px;
    text-align: left;
  }

  p.button-aligned-right {
    text-align: right !important;
  }

  .popup h1 {
    overflow: visible;
    max-height: inherit;
    font-size: 24px;
    padding: 10px 10px 7px 58px;
    border-bottom: 1px solid #000;
    color: #fff;
    margin: 0 !important;
    text-align: left;
  }

  .popup h2 {
    font-weight: normal;
    font-size: 16px;
    color: black;
    display: block;
    margin: 20px 0 20px 0;
  }

  .popup a.anonymous {
    padding: 8px 18px;
    font-size: 12px;
  }

  .popup a.anonymous:visited,
  .popup a.anonymous:active {
    color: black;
  }

  .popup h1 {
    overflow: visible;
    max-height: inherit;
    font-size: 24px;
    //background: #002b5c url(../../img/logo-onlycat-white.svg) 12px 12px no-repeat;
    padding: 10px 10px 7px 64px;
    background-size: 40px;
    /* border-bottom: 1px solid #000; */
    color: #fff;
    margin: 0 !important;
    text-align: left;
    font-family: 'calibri', Arial, Helvetica, sans-serif;
  }

  .popup .x-popup {
    color: #fff;
    text-decoration: none;
    display: block;
    height: 30px;
    font-size: 20px;
    padding-top: 10px;
    float: right;
    margin: 0 10px 0 0;
    background-size: 22px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .x-popup:before {
    content: '\f057';
  }

  .inner {
    width: 45px;
    border-right: 1px solid #003366;
    border-radius: 0 0 0 6px;
  }

  .login-google .outer,
  .login-google-drive .outer {
    margin-top: 10px;
  }

  .login-google .popup-box,
  .login-google-drive .popup-box {
    width: 100%;
    min-height: 100px;
  }

  /* SPLIT JOB POPUP */

  /* .popup-confirm,*/
  /* .popup-alert {*/
  /*margin:-200px 0 0 -250px;*/
  /*position:fixed;*/
  /*}*/

  .btn-ok,
  .btn-cancel {
    color: #fff;
    background: $translatedBlue;
    font-weight: bold;
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 2px;
    font-size: 18px;
    margin-right: 3px;
    cursor: pointer;
  }
  .btn-ok:hover {
    background-color: $translatedBlueHover;
  }
  .btn-ok:active {
    background-color: $translatedBlueActive;
  }

  .btn-cancel {
    color: $grey1 !important;
    background: white !important;
    border: 1px solid $grey1 !important;
  }

  .btn-cancel:hover {
    cursor: pointer;
    background-color: $grey3 !important;
  }

  /* outsource popup */

  &.outsource .popup {
    width: 100%;
    margin: 0 !important;
    padding-bottom: 10px;
    box-sizing: content-box;
    top: 25%;
    left: 50%;
    font-family: 'Calibri', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    position: static !important;
  }

  &.outsource .popup-box {
    text-align: left;
    padding: 0 20px;
    margin: 0 auto;
    width: auto !important;
    overflow: hidden;
    font-family: 'Calibri', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  &.outsource .out-email,
  &.outsource .out-date {
    padding: 0.7em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 15px;
    color: #333;
    width: 70%;
    margin: 2%;
  }

  &.outsource .out-email:focus,
  &.outsource .out-date:focus {
    border-color: #85b7d9;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    outline: none;
  }

  select:focus {
    border-color: #85b7d9 !important;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.8);
    outline: none;
  }

  select:active {
    border-color: #85b7d9;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.8);
    outline: none;
  }

  &.outsource .out-link {
    padding: 0.7em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 15px;
    color: #777;
    width: 70%;
    margin: 2%;
    background-color: #f1f1f1;
  }

  &.outsource .out-link.from-manage {
    padding: 0.7em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 15px;
    color: #333;
    width: 95.4%;
    margin: 2%;
    background-color: #f1f1f1;
    box-shadow: inset 0 1px 3px #ddd;
  }

  &.outsource .out-email,
  &.outsource .out-date {
    width: 33%;
    float: left;
  }

  &.outsource p {
    margin: 0;
    font-size: 16px;
  }

  .translator_info p {
    text-align: left;
    font-size: 15px !important;
  }

  p.translator_name {
    font-size: 16px !important;
  }

  .addrevision h4,
  .addrevision span {
    display: inline-block;
    margin: 0;
  }

  .translator_bio {
    width: 100%;
    float: left;
  }

  &.outsource h2 {
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    margin: 15px 0;
    font-family: 'calibri', Arial, Helvetica, sans-serif;
  }

  .onyourown h2,
  .contact_box h2 {
    width: 100%;
    padding: 1% 0%;
  }

  .onyourown a.uploadbtn.in-popup {
    margin: 2% 2.5% 2% 2% !important;
    width: 160px;
  }

  &.outsource.loading .delivery {
    background: url(../../img/loader.gif) #f6f6f6 center center no-repeat;
    background-size: 20px;
  }

  &.outsource.loading .tprice {
    background: url(../../img/loader.gif) #f6f6f6 center 30px no-repeat;
    background-size: 20px;
    padding-top: 47px;
  }

  &.outsource.loading .translator_info_box {
    background: url(../../img/loader.gif) center 20px no-repeat;
    background-size: 20px;
    padding-top: 45px;
    border-left: none;
  }

  .outsourced .delivery_details .time,
  .outsourced .tprice .displayprice,
  .outsourced .tprice .euro:not(.currency_per_word) {
    color: green !important;
  }

  &.outsource .standardbtn.checkstatus {
    float: left;
    background: #fff !important;
    color: #333;
    width: 160px !important;
    margin: 10px 20px 0 !important;
  }

  .outsourced .outsource_notify {
    float: right;
    color: green;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
  }

  &.outsource.loading .tprice.compress {
    padding: 133px 1% 6px 1%;
  }

  .pricebox .tprice.compress {
    padding: 20px 1% 5px 1%;
  }

  &.outsource.loading .delivery_details,
  &.outsource.loading .displayprice,
  &.outsource.loading .euro,
  &.outsource.loading .addrevision .revision_delivery,
  &.outsource.loading .addrevision .revision_price_box,
  &.outsource.loading .translator_info,
  &.outsource.loading .displaypriceperword,
  &.outsource.loading .more {
    display: none;
  }

  &.outsource.loading .outsourceto:not(.translatorNotAvailable) .trustbox1 {
    margin-bottom: 22px !important;
  }

  &.outsource.loading .outsourceto.translatorNotAvailable .trustbox1 {
    display: none;
  }

  .outs h2 {
    background-size: 180px;
    height: 41px;
    margin-top: 20px;
    margin-bottom: -10px;
    width: 180px;
  }

  .revealprices .uploadbtn {
    background: #7eaf3e;
    width: auto;
    float: left;
    margin: -10px 0 5px 40% !important;
  }

  .revealprices img {
    width: 140px;
  }

  body.showingOutsourceTo {
    overflow: hidden !important;
  }

  .split-box3 .total:hover {
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

  .paylater,
  .gmt {
    font-size: 14px;
    font-weight: normal;
    float: left;
    clear: both;
    margin-top: -10px;
  }

  .delivery span {
    font-size: 25px;
    font-weight: bold;
  }

  .delivery {
    font-size: 16px !important;
    font-weight: normal;
  }

  .tprice span {
    font-weight: bold;
    font-size: 40px;
    padding-top: 10px;
  }

  .tprice span.currency_per_word {
    font-size: 15px !important;
    font-weight: normal !important;
  }

  .tprice {
    font-size: 22px !important;
    font-weight: bold;
  }

  .pricebox .heading {
    margin-top: 15px;
    text-align: left;
    padding: 5px 2%;
    margin: 0 auto;
    overflow: hidden;
    background: #efefef;
    border-bottom: 1px solid #ccc;
  }

  .guaranteed_by {
    background-color: #fff;
    padding: 3px 2% 2px 2%;
    text-align: left;
    width: 33%;
    float: left;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-flex;
    display: flex;
    height: 136px;
  }

  .guaranteed_by p {
    font-size: 14px !important;
    line-height: 22px;
    padding: 0;
  }

  .pricebox .outsourceto .guaranteed_by img {
    width: 115px;
    margin: 0 5px;
    vertical-align: middle;
  }

  .pricebox .outsourceto .guaranteed_by img {
    width: 115px;
    margin: 0 5px;
    vertical-align: middle;
  }

  &.outsource .standardbtn {
    background: #f4f4f4 !important;
    color: #333;
  }

  &.outsource a:hover {
    text-decoration: none !important;
    /*color: red;*/
  }

  .contact_box h3 {
    font-size: 18px;
  }

  .contact_box p {
    float: left;
    margin-top: 3px !important;
  }

  .contact_box .standardbtn {
    margin: 10px 2% !important;
    width: 160px !important;
  }

  .revision_price_box {
    width: 26%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }

  div.modal-outsource-datepicker .x-popup2 {
    color: #666;
    position: absolute;
    right: 8px;
    top: 0;
    text-decoration: none;
  }

  div.modal-outsource-datepicker .x-popup2:hover {
    color: red;
  }

  span.revision_delivery {
    width: 38%;
    text-align: center;
  }

  .addrevision h4 {
    font-size: 20px;
    margin: 0 10px;
    width: 31%;
  }

  .pricebox .copytext p:first-child {
    margin-top: 0 !important;
  }

  .pricebox .copytext {
    float: left;
    width: 58%;
    padding-right: 2%;
  }

  .outsourceto {
    float: left;
    width: 100%;
    border-top: 1px solid #ccc;
    text-align: center;
    margin-top: 15px !important;
  }

  .pricebox .tprice,
  .pricebox .delivery {
    text-align: center;
  }

  .pricebox .tprice {
    padding: 20px 1% 12px 1%;
  }

  .pricebox .delivery {
    padding: 2.5% 2% 2% 2%;
  }

  .delivery.compress {
    padding: 0;
  }

  .offer {
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    background: #f8f8f8;
  }

  .border {
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
    overflow: hidden;
  }

  .heading img {
    float: right;
    height: 25px;
    padding: 2px;
  }

  .delivery_label {
    font-size: 19px;
  }

  .contact_box {
    border-top: 1px dashed #ccc;
    margin: 15px auto 0;
    overflow: hidden;
    padding: 1% 2% 0;
  }

  .onyourown,
  .outsourceto {
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 auto;
    overflow: hidden;
  }

  .onyourown.opened-send-translator {
    border-radius: 3px 3px 0px 0px;
  }

  .outsource .heading h3 {
    float: left;
    font-size: 20px;
    margin-bottom: 0;
    line-height: 30px;
    font-family: 'Calibri', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  .onyourown h2,
  .contact_box h2 {
    border-bottom: 1px solid #ccc;
    width: 97%;
    padding: 1% 2%;
  }

  .contact_box h3 {
    float: left;
    margin-right: 10px;
    font-family: 'Calibri', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  .pricebox .continuebtn {
    clear: both;
    float: none;
    width: 160px;
    margin: 10px auto 0 auto !important;
    overflow: hidden;
  }

  .paymentinfo p {
    font-size: 15px;
  }

  .translator_info a,
  .delivery a,
  .contact_box p a {
    color: #0d8fb2 !important;
    text-decoration: underline;
    cursor: pointer;
  }

  .guaranteed_by a.more {
    color: #333 !important;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal !important;
    float: right;
  }

  .guaranteed_by a.more span {
    font-weight: normal !important;
    text-decoration: underline !important;
  }

  .pricebox.compress #forceDeliveryContainer {
    top: 500px;
  }

  .guaranteed_by a {
    color: #333;
  }

  a.needitfaster {
    font-weight: bold;
    display: block;
  }

  .translator_info a {
    float: left;
  }

  a.hide_translator {
    float: right;
  }

  .outsourceto:not(.outsourced) .blink {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: blinker;
    -moz-animation-duration: 0.4;
    -moz-animation-timing-function: linear;
    animation-name: blinker;
    animation-duration: 0.4;
    animation-timing-function: linear;
  }

  @-moz-keyframes blinker {
    0% {
      background: transparent;
    }
    50% {
      background: rgb(255, 255, 153);
    }
    100% {
      background: transparent;
    }
  }

  @-webkit-keyframes blinker {
    0% {
      background: transparent;
    }
    50% {
      background: rgb(255, 255, 153);
    }
    100% {
      background: transparent;
    }
  }

  @keyframes blinker {
    0% {
      background: transparent;
    }
    50% {
      background: rgb(255, 255, 153);
    }
    100% {
      background: transparent;
    }
  }

  .translator_info_box {
    width: 46%;
    padding: 0% 0% 0% 3%;
    float: left;
    margin-top: 0%;
    border-left: 1px solid #ececec;
    margin-left: 4%;
  }

  .pricebox .translator_info,
  .pricebox .tprice,
  .pricebox .delivery,
  .pricebox .torder {
    float: left;
  }

  .guaranteed_by.expanded {
    width: 70%;
  }

  .guaranteed_by.expanded .trust_text {
    float: left;
    width: 46%;
  }

  .pricebox .tprice {
    width: calc(24% - 1px);
  }

  .pricebox .torder {
    width: 20%;
    margin-top: 15px;
    padding: 1%;
  }

  .pricebox .delivery {
    width: 33%;
    min-height: 100px;
    border-right: 1px solid #ccc;
  }

  .guaranteed_by.expanded {
    width: 70%;
    border-right: 1px solid #ccc;
    height: auto;
    min-height: 194px;
    padding-bottom: 21px !important;
    padding-top: 7px !important;
  }

  .pricebox .delivery.compress {
    width: 94%;
    line-height: 24px;
    background: transparent;
    border-top: 1px solid #ccc;
    margin: 6px;
    padding: 6px 0px;
    min-height: 10px;
    line-height: 22px;
  }

  .delivery.compress .delivery_label {
    font-size: 15px;
  }

  .revision_delivery,
  .revision_price_box {
    opacity: 0.4;
  }

  .addrevision h4 {
    opacity: 0.6;
    font-family: 'Calibri', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  }

  .addrevision.noopacity {
    opacity: 1;
    background-color: #f8f8f8;
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
  }

  .addrevision.noopacity h4 {
    opacity: 1 !important;
  }

  .noopacity .revision_delivery,
  .noopacity .revision_price_box {
    opacity: 0;
  }

  .delivery.compress span {
    font-size: 17px;
  }

  .delivery.compress {
    border-right: none;
  }

  .pricebox .tprice .tpricetitle {
    border-bottom: 1px solid #ccc;
    font-size: 22px !important;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  .tpricedesc {
    margin-top: -10px;
  }

  .references,
  .paymentinfo {
    text-align: center;
    padding: 5px 0;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    text-align: left;
    padding-left: 20px;
  }

  .references > img {
    width: 23%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
  }

  .translator_bio a {
    font-size: 13px;
  }

  .translator_bio p {
    border-bottom: 1px dashed #ccc;
    padding: 5px 0px 5px 0;
    margin-right: 20px !important;
    width: 100%;
    float: left;
    line-height: 20px;
  }

  .translator_bio p:last-child {
    border-bottom: none;
  }

  .translator_name {
    border-bottom: 1px solid #ccc;
    font-size: inherit !important;
    display: inline-block;
    float: left;
    width: 100%;
    text-align: left;
  }

  .references > img:hover {
    width: 23%;
    padding-left: 1.5%;
    padding-right: 1.5%;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }

  span.label_info {
    float: left;
    width: 76%;
    font-weight: bold;
    /* color: #7A7A7A; */
  }

  span.subjects {
    width: 74% !important;
  }

  span.subjects,
  span.experience,
  span.translated_words,
  span.score_number {
    float: right;
    width: 24%;
    text-align: right;
  }

  .translator_bio > p:nth-child(3) > span.label_info {
    width: 24%;
  }

  .tprice span.displaypriceperword {
    font-weight: normal !important;
    font-size: 15px !important;
    margin: -13px 0 -5px;
    display: block;
  }

  .tprice span.displaypriceperword .price_p_word {
    font-size: 15px;
    font-weight: normal;
  }

  .addrevision {
    float: left;
    width: 98%;
    border-top: 1px solid #ccc;
    text-align: left;
    padding: 5px 0% 5px 2%;
    background: #fff;
  }

  span.zone,
  span.zone2 {
    font-size: 14px;
    font-weight: normal;
  }

  span.zone2 {
    font-size: 12px;
  }

  .pricebox .tprice .euro,
  .pricebox .tprice .displayprice {
    display: inline;
  }

  .pricebox .tprice,
  .pricebox delivery {
    line-height: 30px;
  }

  .tprice.compress .delivery_container {
    display: block;
  }

  .tprice .delivery_container {
    display: none;
  }

  .compress .offer > .delivery_container {
    display: none;
  }

  .showpricesloading {
    float: right;
    width: 160px;
    height: 23px;
    margin: 2% 2.5% 2% 2% !important;
    padding: 5px 10px !important;
  }

  .uploadbtn.showprices {
    margin: 2% 2.5% 2% 2% !important;
    width: 160px;
  }

  .paybox {
    font-size: 13px !important;
    margin-bottom: 0;
    margin-top: 0;
  }

  a.changeTimezoneTrigger {
    float: right;
    font-weight: normal;
    margin-left: 10px;
  }

  a.changeTimezoneTrigger,
  a.changecurrency {
    color: #666;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0px 12px;
    border-radius: 4px;
  }

  select#changeTimezone,
  #changecurrency,
  a.changecurrency {
    float: right;
  }

  select#changeTimezone,
  #changecurrency {
    width: 14%;
    margin-right: 1%;
    border: 1px solid #ccc;
    height: 30px;
    font-size: 13px;
    font-family: Arial;
  }

  select#changeTimezone {
    width: 90px;
    margin-right: 10px;
  }

  .hide {
    display: none;
  }

  &.outsource .hide {
    display: none !important;
  }

  .revision_currency {
    margin-right: 5px !important;
  }

  .tprice [data-currency='RUB'],
  .tprice [data-currency='BRL'],
  .tprice [data-currency='JPY'],
  .tprice [data-currency='KRW'] {
    font-size: 30px !important;
  }

  /* end outsource */

  table.chunks {
    overflow: hidden;
    border: 2px solid #ccc;
    background: #fefefe;
    width: 100%;
    border-collapse: collapse;
  }

  table.chunks th,
  table.chunks td {
    padding: 0.5em 1em;
    border: 1px solid #ccc;
  }

  .thead {
    background: #f6f6f6;
  }

  table.chunks th:last-child {
    width: 15%;
  }

  table.chunks tr:last-child {
    background: #fff;
  }

  table.chunks td.last {
    border-right: none;
  }

  table.chunks td {
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
  }

  table .chunks tr:first-child {
    background: #e7e7e7;
  }

  .footer-popup ul li {
    display: inline;
  }

  .footer-popup a {
    font-size: 13px;
    padding-right: 20px;
  }

  .footer-popup {
    border-top: 1px solid #ccc;
    clear: both;
    margin-top: 30px;
    padding: 4px 0px 0px;
  }

  /* scroll pop-up
    .outsourcemodal .popup-box {
        overflow-y: auto;
    max-height: 525px;
    }
    */

  .noselect {
    -webkit-appearance: none;
    border: none;
    pointer-events: none;
    background: transparent !important;
  }

  .deliverychange,
  .currencychange {
    font-size: 12px;
    text-decoration: underline;
    color: blue;
    display: block;
    cursor: pointer;
  }

  @media screen and (min-height: 715px) {
    .contact_box {
      margin-bottom: 10px;
    }
  }

  @media screen and (max-height: 715px) and (min-height: 600px) {
    &.outsource .popup {
      top: 25%;
    }
    &.outsource .popup-box {
      overflow-y: visible;
      max-height: 590px;
    }
  }

  @media screen and (max-height: 650px) and (min-height: 600px) {
    &.outsource .popup-box {
      overflow-y: visible;
      max-height: 540px;
    }

    &.outsource .popup {
      top: 27%;
    }
  }

  @media screen and (max-height: 600px) {
    &.outsource .popup {
      zoom: 0.8;
      top: 2%;
      /*margin: 0 0 0 -400px;   */
    }

    #forceDeliveryContainer {
      top: 425px !important;
    }

    .guaranteed_by.expanded {
      width: calc(70% - 1px);
    }
    .guaranteed_by {
      width: calc(32% - 1px);
    }
    &.outsource .popup-box {
      overflow-y: visible;
      max-height: 560px;
    }

    &.outsource .popup p {
      background-size: 200px;
      background-position: 300px 35px;
      padding: 0 !important;
    }
    .pricebox .total {
      margin-top: -40px;
    }
  }

  .tooltip span {
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    /* background-color: #f8f8f8; */
  }

  .compress .tooltip.gray span {
    left: -197px;
  }

  .compress .tooltip span:before,
  .compress .tooltip span:after {
    left: 87%;
  }

  .tooltip:hover span {
    opacity: 1;
    top: -150px;
  }

  a.tooltip.gray {
    background: #eee;
    text-decoration: none;
    color: #333;
  }

  a.tooltip.gray span {
    background: #eee;
    font-size: 15px;
  }

  a.tooltip.gray span:after {
    border-top: 10px solid #eee;
  }

  /* force delivery */

  .modal-outsource-datepicker {
    height: 215px;
    width: 520px;
    background: #ffffff;
    border: 5px solid #f4f4f4;
    border-radius: 4px;
    position: absolute;
    z-index: 10001;
    color: #fff;
    padding: 20px;
    top: 120px;
    left: 435px;
    zoom: 0.9;
    z-index: 99999999999999999999;
    text-align: left;
    -moz-box-shadow: 0 0px 11px #888;
    -webkit-box-shadow: 0 0px 11px #888;
  }

  #forceDeliveryContainer {
    top: 385px;
    left: 465px;
  }

  .modal-outsource-datepicker .title {
    font-size: 220%;
    margin: 0px 0 10px 0px;
    color: #002f65;
    border-bottom: 1px solid #ccc;
    padding: 5px 0 8px 11px;
    background: #b1c7d6;
    float: none;
    line-height: 1;
  }

  #SnapABug_WP {
    z-index: 100000000000000000000000000000000 !important;
  }

  .modal-outsource-datepicker .delivery-auto {
    width: 635px;
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px 10px 0px 10px;
    border-radius: 3px;
    background-color: #cedbe5;
    color: #999;
  }

  .modal-outsource-datepicker tbody:nth-child(3) tr td:not(.empty) {
    border-top: 0 !important;
  }

  .modal-outsource-datepicker .delivery-auto h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
    color: #002f65;
  }

  .modal-outsource-datepicker .delivery-auto h2 label {
    cursor: pointer;
  }

  .modal-outsource-datepicker .delivery-auto p {
    font-size: 16px;
    margin: -5px 0 0 10px;
  }

  .modal-outsource-datepicker .delivery-manual {
    vertical-align: baseline;
    line-height: 1;
    color: #999;
  }

  .modal-outsource-datepicker .delivery-manual br {
    line-height: 1.15;
  }

  .modal-outsource-datepicker .delivery-manual h2 {
    font-size: 24px;
    margin: 0 0 10px 0;
    color: #002f65;
  }

  .modal-outsource-datepicker .delivery-manual h2 label {
    cursor: pointer;
  }

  .modal-outsource-datepicker .delivery-manual-date {
    float: left;
    width: 240px;
    height: 200px;
  }

  .modal-outsource-datepicker .delivery-manual-date h3 {
    text-align: left;
    margin-left: 20px;
    font-size: 19px;
    font-weight: normal;
    margin: 0px 0 10px 15px;
    line-height: 100%;
  }

  .modal-outsource-datepicker .delivery-manual-time {
    float: left;
    width: 255px;
    height: 200px;
    margin: 0px 10px 0px 0;
  }

  .modal-outsource-datepicker .delivery-manual-time h3 {
    text-align: left;
    margin-left: 20px;
    font-size: 17px;
    font-weight: normal;
    margin: 0px 0 6px 12px;
    line-height: 100%;
    color: #333;
  }

  .modal-outsource-datepicker .delivery-manual-time select {
    width: 250px;
    margin-left: 12px;
    color: #333;
  }

  .modal-outsource-datepicker .delivery_manual_error,
  .modal-outsource-datepicker .delivery_not_available,
  .modal-outsource-datepicker .delivery_before_time {
    opacity: 0.87;
    color: red;
    margin-left: 12px;
    text-align: right;
    font-weight: bold;
    font-size: 14px;
    margin-top: 5px;
    position: absolute;
    padding-bottom: 13px;
    z-index: 100000;
  }

  .modal-outsource-datepicker .delivery_manual_error div,
  .modal-outsource-datepicker
    .delivery_not_available
    div
    .modal-outsource-datepicker
    .delivery_before_time
    div {
    width: 225px;
    text-align: left;
    font-size: 13px;
    font-weight: bold;
    border-radius: 6px;
  }

  .modal-outsource-datepicker #delivery_before_time {
    color: green;
  }

  .modal-outsource-datepicker select {
    border: 1px solid #ccc;
    height: 30px;
    font-size: 12px;
    font-family: Arial;
  }

  .modal-outsource-datepicker .clear {
    clear: both;
  }

  .modal-outsource-datepicker input[type='button'],
  .modal-outsource-datepicker .btn-cancel {
    width: auto !important;
    float: right !important;
    margin-top: 25px !important;
    margin-right: 35px;
  }

  a.btn-cancel.in-popup.cancelForceDelivery {
    margin-right: 40px !important;
    height: 15px;
  }

  a.btn-cancel.in-popup.cancelForceDelivery:hover {
    margin-right: 40px !important;
    color: #333333;
  }

  .modal-outsource-datepicker .delivery-selected {
    color: #000 !important;
  }

  .modal-outsource-datepicker .tprice {
    width: 250px;
    box-shadow: none;
  }

  .updatedprice {
    font-size: 20px !important;
    margin-bottom: 5px;
    padding: 0 10px 5px;
    font-weight: normal;
  }

  .deliverybuttons {
    margin: 0 auto;
    overflow: hidden;
    width: 250px;
    height: auto;
    color: #333;
    padding-bottom: 15px;
  }

  .modal-outsource-datepicker .datepickerMonths,
  .modal-outsource-datepicker .datepickerYears {
    display: none;
  }

  .modal-outsource-datepicker td.datepickerSpecial a {
    border: 1px solid;
    color: $translatedBlue;
    background-color: #f3f3f3 !important;
  }

  .modal-outsource-datepicker .datepickerDoW th {
    padding: 5px 0;
  }

  .modal-outsource-datepicker .datepickerDoW th:first-child,
  .modal-outsource-datepicker th.datepickerWeek {
    display: none;
  }

  .modal-outsource-datepicker .datepickerNotInMonth {
    visibility: hidden;
  }

  .modal-outsource-datepicker .datepicker table {
    background-color: transparent;
    border: none;
    font-size: 16px;
    text-align: right;
    font-weight: normal !important;
    border-collapse: collapse;
  }

  .modal-outsource-datepicker .datepicker table tr td a {
    background-color: #e1e1e1;
    text-decoration: none;
  }

  .modal-outsource-datepicker .datepicker table td.datepickerDisabled a,
  .modal-outsource-datepicker .datepicker table a.datepickerDisabled,
  .modal-outsource-datepicker .datepickerGoPrev a,
  .modal-outsource-datepicker .datepickerGoNext a {
    background-color: transparent;
    color: #333;
  }

  .modal-outsource-datepicker .datepickerGoPrev a,
  .modal-outsource-datepicker .datepickerGoNext a {
    font-size: 13px;
    background-color: transparent !important;
  }

  .modal-outsource-datepicker .datepickerDisabled a {
    color: #666 !important;
    font-weight: normal;
    cursor: default;
  }

  .modal-outsource-datepicker .datepicker table .datepickerDoW {
    font-size: 12px;
  }

  .modal-outsource-datepicker .datepicker a {
    text-decoration: none;
    padding: 4px;
    outline: none;
    display: block;
    color: #333;
  }

  .modal-outsource-datepicker .datepickerDays a {
    line-height: 20px;
    height: 16px;
    margin: 1px;
    background: #d6e7f4;
    padding: 4px;
  }

  .modal-outsource-datepicker .datepickerDays a:hover {
    background-color: $translatedBlue;
    color: #fff;
  }

  .modal-outsource-datepicker td.datepickerSpecial a:hover {
    background-color: $translatedBlue !important;
    color: #fff;
  }

  .modal-outsource-datepicker .datepickerWeek a {
    font-weight: normal;
  }

  .modal-outsource-datepicker .datepickerMonth a,
  .modal-outsource-datepicker .datepickerDoW span {
    text-decoration: none;
    font-weight: normal;
    text-align: center;
  }

  .modal-outsource-datepicker .datepicker table td.datepickerDisabled a {
    opacity: 0.5;
  }

  .modal-outsource-datepicker .datepickerSelected a {
    background-color: #7eaf3e !important;
    color: #fff;
  }

  .forceNotAvailable {
    position: absolute;
    text-align: center;
    width: 332px;
    margin-top: 10%;
  }

  .forceNotAvailable > p > span.title {
    font-size: 22px;
  }

  .forceNotAvailable > p > span.description {
    font-size: 15px;
  }

  .link-needfaster {
    font-weight: bold;
  }

  #forceDeliveryContainer td.datepickerSaturday:not(.datepickerDisabled) a,
  #forceDeliveryContainer td.datepickerSunday:not(.datepickerDisabled) a {
    cursor: not-allowed !important;
    background-color: #e7e7e7 !important;
    color: #c2c2c2 !important;
  }

  #fasterDeliveryContainer {
    overflow: hidden;
    height: 180px;
    width: 470px;
    border: 1px solid rgb(177, 199, 214);
    position: absolute;
    z-index: 10001;
    left: 564px;
    top: 455px;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    text-align: left;
    border-radius: 6px;
  }

  #fasterDeliveryContainer h1 {
    font-size: 30px;
    width: 100%;
    margin: 0px 0 10px 0px;
    color: #002f65;
    border-bottom: 1px solid #ccc;
    padding: 5px 0 0px 11px;
    background: #b1c7d6;
  }

  #fasterDeliveryContainer p {
    font-size: 16px;
    margin: 0px 10px;
    line-height: 20px;
    padding: 0;
    border: 0;
    outline: 0;
  }

  #fasterDeliveryContainer input[type='button'] {
    margin-right: 10px;
    float: right;
    width: 167px !important;
    border: 1px double #ccc;
    border-radius: 4px;
    background: linear-gradient(
      to bottom,
      #fefefe 23%,
      #fefefe 35%,
      #cfcfcf 100%
    );
    height: 36px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
  }

  /* errors outsource */

  .ErrorMsg {
    width: 96%;
    height: 60px;
    padding: 2% 4%;
    text-align: left;
    font-weight: normal;
  }

  .tprice .ErrorMsgQuoteError,
  .tprice .ErrorMsg a {
    color: #333 !important;
  }

  .delivery .ErrorMsg.ErrorMsgQuoteError {
    margin-top: 16px;
  }

  .ErrorMsg,
  .ErrorMsg h3,
  .ErrorMsg a {
    color: red !important;
    font-weight: normal;
  }

  .quoteError {
    margin-bottom: 20px;
  }

  .ErrorMsgquoteNotAvailable .delivery a {
    margin-bottom: 0 !important;
  }

  .ErrorMsgquoteNotAvailable p {
    font-size: 15px !important;
    line-height: 20px;
    color: red;
  }

  .ErrorMsgquoteNotAvailable {
    margin-top: -8px;
  }

  .quoteNotAvailable .tprice {
    min-height: 109px;
  }

  .quoteError .delivery {
    padding: 0.5% 2% 4% 2%;
  }

  /******** Outsource Modal *******/
  &.outsource .uploadbtn.in-popup,
  &.outsource .continuebtn,
  &.outsource .standardbtn,
  &.outsource .send-to-translator-btn.in-popup {
    background: $translatedBlue;
    font-weight: bold;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    font-size: 20px !important;
    cursor: pointer;
    color: #fff;
    -moz-box-shadow: 0 1px 2px #ccc;
    -webkit-box-shadow: 0 1px 2px #ccc;
    box-shadow: 0 1px 2px #ccc;
    border: 1px solid #666;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    opacity: 0.9;
    text-align: center;
    padding: 5px 10px !important;
    float: right;
    margin: 2% 2.5% 2% 2%;
    width: 160px;
  }

  &.outsource .send-to-translator-btn.in-popup {
    margin-left: 30px;
  }

  &.outsource .uploadbtn:hover,
  &.outsource .continuebtn:hover,
  &.outsource .standardbtn:hover,
  &.outsource .send-to-translator-btn.in-popup:hover {
    -moz-box-shadow: 0 1px 2px #666;
    -webkit-box-shadow: 0 1px 2px #666;
    box-shadow: 0 1px 2px #666;
    background: #12b4df;
  }

  &.outsource .continuebtn {
    clear: both;
    float: none;
    width: 160px;
    margin: 10px auto 0 auto !important;
    overflow: hidden;
    background: #7eaf3e;
    display: block;
  }

  &.outsource .continuebtn:hover {
    background: #7eaf3e;
  }

  &.outsource .more:before {
    content: '\f196';
    margin-right: 7px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
  }

  &.outsource .trustbox2 a {
    text-decoration: underline;
  }

  &.outsource .tooltip {
    cursor: help;
    position: absolute;
    border: 1px solid #717171;
    border-radius: 20px;
    width: 13px !important;
    font-size: 13px;
    height: 11px;
    font-weight: bold;
    padding-left: 0px;
    padding-top: 2px;
    margin-top: -3px;
    line-height: 11px;
    margin-left: 5px;
    color: #717171;
    box-shadow: 1px 1px 1px #999;
  }

  &.outsource .tooltip span {
    width: 200px;
    height: auto;
    line-height: 22px;
    color: #333;
    padding: 10px;
    left: -98px;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    border: 1px solid #727272;
    text-indent: 0px;
    border-radius: 5px;
    position: absolute;
    pointer-events: none;
    top: -110px;
    opacity: 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    -moz-box-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 1000000000000000;
  }

  &.outsource .tooltip:hover span {
    opacity: 1;
    top: -165px;
  }

  &.outsource .tooltip span:after {
    bottom: -10px;
    margin-left: -1px;
    border-top: 10px solid #eee;
  }

  &.outsource .tooltip span:before,
  .tooltip span:after {
    content: '';
    position: absolute;
    bottom: -11px;
    left: 43%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #727272;
  }

  &.outsource .disabled {
    cursor: default;
    opacity: 0.45 !important;
    background-image: none !important;
    box-shadow: none !important;
    pointer-events: none !important;
  }

  &.outsource input.error {
    border: 1px solid red !important;
  }

  div#open-translator {
    float: right;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
    margin-right: 52px;
    color: #0d8fb2;
  }

  div#open-translator:hover {
    text-decoration: none;
  }

  &.outsource .send-to-translator {
    border: 1px solid #ccc;
    border-radius: 0px 0px 3px 3px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: -2px;
    background: #f8f8f8;
  }

  &.outsource .outsource-divider {
    width: 230px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: 20px;
    line-height: 20px;
    margin-top: 15px;
  }

  &.outsource .divider-line {
    height: 2px;
    width: 100px;
    background-color: #c5c5c5;
    margin-top: 10px;
    display: block;
    float: left;
  }

  &.outsource .outsource-divider span {
    float: left;
    width: 30px;
  }

  span.title-source {
    margin-left: 5px;
  }

  .popup.popup-confirm.confirm_checkbox,
  .popup.popup-alert {
    text-align: right;
  }

  .popup.popup-confirm.confirm_checkbox p.text-container-top,
  .popup.popup-alert p.text-container-top {
    text-align: left;
    padding: 20px;
  }

  .popup.popup-confirm.confirm_checkbox .btn-ok,
  .popup.popup-alert .btn-ok {
    margin-right: 20px;
  }
}
