/* PowerTip Plugin */

$primary-color: rgb(77, 77, 77);


#matecatTip {
  cursor: default;
  background-color: $primary-color;
  border-radius: 4px;
  color: #fff;
  display: none;
  padding: 10px;
  position: absolute;
  white-space: nowrap;
  z-index: 2147483647;
}
#matecatTip:before {
  content: "";
  position: absolute;
}
#matecatTip.n:before, #matecatTip.s:before {
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  left: 50%;
  margin-left: -5px;
}
#matecatTip.e:before, #matecatTip.w:before {
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  margin-top: -5px;
  top: 50%;
}
#matecatTip.n:before {
  border-top: 10px solid #333;
  border-top: 10px solid $primary-color;
  bottom: -10px;
}
#matecatTip.e:before {
  border-right: 10px solid #333;
  border-right: 10px solid $primary-color;
  left: -10px;
}
#matecatTip.s:before {
  border-bottom: 10px solid #333;
  border-bottom: 10px solid $primary-color;
  top: -10px;
}
#matecatTip.w:before {
  border-left: 10px solid #333;
  border-left: 10px solid $primary-color;
  right: -10px;
}
#matecatTip.ne:before, #matecatTip.se:before {
  border-right: 10px solid transparent;
  border-left: 0;
  left: 10px;
}
#matecatTip.nw:before, #matecatTip.sw:before {
  border-left: 10px solid transparent;
  border-right: 0;
  right: 10px;
}
#matecatTip.ne:before, #matecatTip.nw:before {
  border-top: 10px solid #333;
  border-top: 10px solid $primary-color;
  bottom: -10px;
}
#matecatTip.se:before, #matecatTip.sw:before {
  border-bottom: 10px solid #333;
  border-bottom: 10px solid $primary-color;
  top: -10px;
}
#matecatTip.nw-alt:before, #matecatTip.ne-alt:before,
#matecatTip.sw-alt:before, #matecatTip.se-alt:before {
  border-top: 10px solid #333;
  border-top: 10px solid $primary-color;
  bottom: -10px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  left: 10px;
}
#matecatTip.ne-alt:before {
  left: auto;
  right: 10px;
}
#matecatTip.sw-alt:before, #matecatTip.se-alt:before {
  border-top: none;
  border-bottom: 10px solid #333;
  border-bottom: 10px solid $primary-color;
  bottom: auto;
  top: -10px;
}
#matecatTip.se-alt:before {
  left: auto;
  right: 10px;
}

/*****  Tips Tm options panel ************/
.powerTip-options-tm {
  text-align: left;
  line-height: 18px;
  font-size: 15px;
}

.powerTip-options-tm ul {
  list-style-type: initial;
  margin: 8px 15px 4px 27px;
}

.powerTip-options-tm-title {
  font-size: 17px;
}
