#markAsCompleteButton.isMarkableAsComplete {
  background: $translatedBlue;
  color: #fff !important;
  width: auto !important;
  border-radius: 2px 0 0 2px;
  padding: 0 5px !important;
  text-transform: uppercase;
  margin: 0 !important;
}
