@import "vendor_mc/semantic/matecat_semantic";
@import "commons/icons";
@import "commons/shadows";
@import "commons/progress-mc-bar";
@import "commons/buttons";

$color-red: #FB2A0D;
$color-orange: #FBAA0D;
$color-green: #83FD97;
$color-yellow: #FFE600;

body.reviselog {
    font-family: Calibri, Arial, Helvetica, sans-serif;
    text-align: left;
    background: #f2f4f7;
    font-size: 16px;
}
.qr-wrapper {
    position: relative;
    width: 100%;
    height: auto;
    padding-bottom: 60px;
    .qr-container {
        display: block;
        .qr-container-inside {
            height: 100%;
            display: flex;
            .qr-job-summary-container {
                width: 100%;
                .qr-bg-head {
                    height: 200px;
                    background: #E0E3E7;
                    position: absolute;
                    width: 100%;
                    z-index: -1;
                }
                .ui.table thead th {
                    background: #f2f4f7 !important;
                    border-bottom: 1px solid #f2f4f7 !important;
                }
                .ui.celled.table tr th, .ui.celled.table tr td {
                    border-left: 1px solid #f2f4f7;
                }
                .qr-job-summary {
                    max-width: 1366px;
                    min-width: 1024px;
                    margin: 0 auto;
                    padding: 15px 15px 0;
                    h3 {}
                    .qr-label {
                        font-weight: 100;
                        font-size: 12px;
                        line-height: 12px;
                    }
                    .qr-production-quality {
                        .qr-production {
                            display: flex;
                            background: white;
                            justify-content: space-between;
                            width: 100%;
                            padding: 15px;
                            align-items: center;
                            .job-id {
                                font-size: 14px;
                            }
                            .source-to-target {
                                display: flex;
                                align-items: center;
                                .qr-to {
                                    display: flex;
                                    i {
                                        font-size: .8em;
                                        color: gray;
                                        margin: 0 3px;
                                    }
                                }
                            }
                            .progress-percent {
                                display: flex;
                                align-items: center;
                                .progress-bar {
                                    margin: 0;
                                    min-width: 130px;
                                }
                                .percent {
                                    padding-left: 5px;
                                }
                            }
                        }
                        .qr-quality {
                            padding-top: 20px;
                            table.ui.celled {
                                border-radius: 0;
                                border: none;
                                position: relative;
                                thead {
                                    background: #F2F4F7;
                                    tr {
                                        .qr-title {
                                            background: none;
                                            padding: 5px;
                                            &:first-child {
                                                padding-left: 15px;
                                            }
                                            &.critical {
                                                border-bottom: 4px solid $color-red
                                            }
                                            &.major {
                                                border-bottom: 4px solid $color-orange;
                                            }
                                            &.enhacement {
                                                border-bottom: 4px solid $color-yellow;
                                            }
                                            &.qr-total-score {
                                                padding: 15px 0 !important;
                                                &.qr-pass {
                                                    background: $color-green;
                                                    .qr-info {
                                                        font-size: 24px;

                                                    }
                                                }
                                                &.qr-warning {
                                                    background: $color-orange;
                                                }
                                                &.qr-fail {
                                                    background: $color-red;
                                                }
                                            }
                                        }
                                    }
                                }
                                tbody {}
                            }
                        }
                    }
                    .qr-segment-details-container {
                        background: #e7e9ef;
                        padding: 15px;
                        .qr-segments-summary {
                            h3{}
                            .filters-qr {}
                            .qr-segments {
                                .qr-segments-list {
                                    .qr-single-segment {
                                        padding-top: 10px;
                                        padding-bottom: 10px;
                                        table.ui.celled {
                                            thead {
                                                .segment-id {
                                                    font-weight: 100;
                                                }
                                                .segment-production {
                                                    display: flex;
                                                    justify-content: flex-end;
                                                    .production {
                                                        padding: 0 10px;
                                                    }
                                                }
                                                .status-translated {

                                                }
                                                .status-revised {

                                                }
                                            }
                                            tbody {
                                                .qr-issue {
                                                    display: flex;
                                                    align-items: center;
                                                    width: fit-content;
                                                    padding: 3px 10px;
                                                    &.automated {
                                                        background: #eaeaea;
                                                        border-radius: 15px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}