#review-side-panel h4 {
	margin: unset;
}

h1, h2, h3, h4, h5, a, input {
	font-family: Calibri, Arial, Helvetica, sans-serif !important;
}
.review-extended-panel {
	position: absolute !important;
	background: #efeef4 !important;
	h4 {
		padding: 10px;
	}
	.re-wrapper{
		.re-version-diff {
			box-shadow: 0 0 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24) !important;
			position: relative;
			background: #f3f3f3;
			padding: 10px;
			.re-header-track {

				.explain-selection {
					padding: 5px 10px 0;
				}
			}

		}
		.re-create-issue {
			padding: 10px;
			background: #FFFFFF;
			.accordion {
				h4{
					cursor: pointer;
					-webkit-touch-callout: none;
					-webkit-user-select: none;
					-khtml-user-select: none;
					-moz-user-select: none;
					-ms-user-select: none;
					user-select: none;
				}
				.create-issue-title {
					i.icon-sort-up.icon {
					position: relative;
					top: 5px;
					}
				}

				.error-list {
					.error-item {
						border-bottom: 1px solid rgba(34, 36, 38, 0.15);
						line-height: 40px;
						padding: 0 10px;
						transition: background .2s ease-in;
						.error-name {
							width: 75%;
							display: inline-block;
							line-height: 20px;
							vertical-align: middle;
						}
						.error-level {
							display: none;
						}
						&:hover{
							.error-level {
								display: inline-block;
								width: 25%;
								text-align: right;
								.ui.dropdown {
									min-width: 105px;
									padding: 6px 6px 6px 15px;
									margin: 0;
									border: none;
									height: 100%;
									box-shadow: 0 0 1px 1px #c6c6c6;
									min-height: unset;
									vertical-align: middle;
									.text {
										box-shadow: unset;
										background: unset;
									}
									.dropdown.icon {
										margin: 0;
										padding: 0;
										height: 0;
										min-height: 0;
										line-height: 8px;
									}
								}
							}
						}
						&:last-child {
							border-bottom: none;
						}
					}
				}
			}
		}
		.re-issues {
			padding: 10px;
			.issues-list {
				position: relative;
				.issue-item {
					&:last-child {
						padding-bottom: 50px;
					}

					.issue {
						background: #FFFFFF;
						padding: 5px 5px 5px 10px;
						box-shadow: 0 0 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24) !important;
						&.in-transition{
							background: #0000ff;
						}
						.issue-head {
							width: 50%;
							display: inline-block;
							vertical-align: middle;
							.issue-number, .issue-title, .issue-severity {
								display: inline-block;
							}
							.issue-title {
								font-weight: 700;
							}
						}
						.issue-activity-icon {
							width: 50%;
							display: inline-block;
							vertical-align: top;
							text-align: right;
							button {
								padding: 3px;
								text-align: center;
								margin-right: 5px;
								background: transparent;
								box-shadow: 0 0 0 1px #BCBCBC inset;
								border: none;
								color: grey;
								outline: none;
								&.re-active {
									background: #e9e9e9;
									color: #333333;
								}
								&:hover {
									box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.35) inset;
									color: #333333;
								}
								&:active {
									background: #e3e3e3;
								}
								&:focus {
									box-shadow: 0 0 0 1px #96C8DA inset;
								}
								&:last-child {
									margin-right: 0;
								}
								i {
									margin-right: 0;
								}
							}

							.trash {

							}
							.message {

							}
							.view-changes {

							}
						}
						.selected-text {
							padding: 5px 0;
						}
					}
					.issue-date {
						text-align: right;
						padding-right: 5px;
						margin: 5px 0;
						color: gray;
						font-size: 12px;
					}
				}
			}
		}
	}
	.re-track-changes, .re-add-comment {
		padding: 5px 10px;
		font-size: 18px;
		box-shadow: 0 0 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24) !important;
		background: #FFFFFF;
		color: #787878;
	}
    .re-track-changes {
        .added {
            background: #b0ffb3;
            text-decoration: none;
            color: #000;
        }
        .deleted {
            background: #ffc7ca;
            text-decoration: line-through;
            color: #000;
        }
        &::selection {
            background-color: #FFFF00;
        }
        &.no-select {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        &.head {
            min-height: 65px;
            box-shadow: none !important;
			padding: 10px;
        }
    }
	.re-comment-input {
		border-radius: 20px;
		padding: 5px;
		&:focus {
			border-radius: 20px;
		}
	}
    .selected {
		display: inline-block;
		background-color: #FFFF00;
		padding: 0 1px;
		margin: 0 5px;
    }
}