.tab.review {
    .track-changes {
        .segment-diff-container::selection, span::selection, br::selection {
            background-color: #FFFF00;
        }
    }
    .error-list {
        float: left;
        padding: 10px;
        .error-list-item {
            padding: 5px;
            cursor: pointer;
            border: 1px solid grey;
        }
    }
}

#review-side-panel .segment-diff-container {
    padding: 4px;
    width: 96%;
    background: #efefef;
    border-bottom: 1px solid #ccc;
    outline: 0;
    font-size: 1em;
    color: #000;
    margin: 10px 0;
    border: 1px solid #727272;
    box-shadow: 0 1px 2px #ccc;
    -webkit-box-shadow: 0 1px 2px #ccc;
    word-break: normal;

    .added {
        background: #b0ffb3;
        text-decoration: none;
    }
    .deleted {
        background: #ffc7ca;
        text-decoration: line-through;
    }
    &::selection {
        background-color: #FFFF00;
    }
}