@import "commons/divider";
@import "commons/shadows";

h1, h2, h3, h4, h5, a, input {
    font-family: Calibri, Arial, Helvetica, sans-serif !important;
}

.review-balloon-container {
    padding-right: 15px;
    .re-wrapper {
        height: 100%;
        position: relative;
        .re-warning-not-added-issue {
            p {
                background: #ff5f5f;
                color: #fff;
                padding: 5px 10px;
            }
        }
        .re-issues-box {
            .re-issues-box-title {}
            .re-list {
                overflow-y: auto;
                max-height: 250px;
                padding-bottom: 5px;
                .re-item-head {
                    text-transform: uppercase;
                    border-bottom: 1px solid #f2f4f7;
                    margin-top: 10px;
                }
                .re-item {
                    .re-item-box {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        background: #ffffff;
                        padding: 5px 5px 5px 7px;
                    }
                    .re-issue {
                        .issue-activity-icon {
                            .icon-buttons {
                                display: flex;
                            }
                        }
                    }
                    .re-error {
                        padding: 5px 10px;
                        &:hover {
                            background: #f2f4f7 !important;
                        }
                        .error-name {
                            padding-right: 10px;
                        }
                    }
                    .comments-view {
                        .re-add-comment {
                            padding: 7px 5px;
                            .re-comment-input {
                                border-radius: 20px !important;
                            }
                        }
                        .re-comment-list {
                            .re-comment {
                                background: #FFF;
                                padding: 5px 10px;
                                margin-bottom: 0;
                                .re-revisor {
                                    font-weight: 700;
                                }
                                .re-comment-date {
                                    color: lightslategray;
                                }
                            }
                        }
                    }
                }
            }
        }
        .re-item.issue-comments-open {
            margin: 20px 0 20px;
            transition: 0.3s ease;
            background: #f2f4f7;
            &:nth-child(2) {
                margin-top: 5px !important;
            }
        }
        .re-created {
            background: #E5E9F1;
            padding: 0 10px 10px;
            margin-bottom: 0;
            .issues {}
        }
        .re-to-create {
            background: #ffffff;
            padding: 5px 0;
            .errors {
                max-height: 290px;
                .re-category-item {
                    background: #fff;
                    &:hover {
                        background: gray;
                    }
                }
            }
        }
    }
}