.review-extended-panel {
    position: absolute;
    background: #efeef4 !important;
    padding: 15px;
	.re-wrapper{
		.re-version-diff {
			.re-header-track {

				.explain-selection {

				}
			}

		}
		.re-create-issue {
			.accordion {
				.title {
					&.active {

					}
					&.issues-scroll {

					}
				}
				.error-list {
					.error-item {
						border-top: 1px solid rgba(34, 36, 38, 0.15);
						line-height: 44px;
						.error-name {
							display: inline-block;
							width: 50%;
						}
						.error-level {
							display: none;
						}
						&:hover {
							.error-level {
								display: inline-block;
								cursor: pointer;
								width: 50%;
								text-align: right;
								.ui.dropdown {
									min-width: 88px;
									padding: 6px 6px 6px 15px;
									margin: 0;
									border: none;
									height: 100%;
									box-shadow: 0 0 1px 1px #c6c6c6;
									min-height: unset;
									vertical-align: middle;
									.text {
										box-shadow: unset;
										background: unset;
									}
									.dropdown.icon {
										margin: 0;
										padding: 0;
										height: 0;
										min-height: 0;
										line-height: 8px;
									}
								}
							}
						}
						&:first-child {
							border-top: none;
						}
					}
				}
			}
		}
		.re-issues {
			.issues-list {
				.issue {
					background: #FFFFFF;
					padding: 5px 5px 5px 10px;
					box-shadow: 0 0 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24) !important;
					.issue-head {
						width: 50%;
						display: inline-block;
						vertical-align: middle;
						.issue-number, .issue-title, .issue-severity {
							display: inline-block;
						}
						.issue-title {
							font-weight: 700;
						}
					}
					.issue-activity-icon {
						width: 50%;
						display: inline-block;
						vertical-align: top;
						text-align: right;
						button {
							padding: 3px;
							text-align: center;
							margin-right: 5px;
							background: transparent;
							box-shadow: 0px 0px 0px 1px #BCBCBC inset;
							border: none;
							color: grey;
							outline: none;
							&:hover {
								box-shadow: 0px 0px 0px 1px rgba(34, 36, 38, 0.35) inset;
								color: #333333;
							}
							&:active {
								background: #e3e3e3;
							}
							&:focus {
								box-shadow: 0px 0px 0px 1px #96C8DA inset;
							}
							&:last-child {
								margin-right: 0;
							}
							i {
								margin-right: 0;
							}
						}

						.trash {

						}
						.message {

						}
						.view-changes {

						}
					}
					.selected-text {
						padding: 5px 0;
					}
				}
			}
		}
	}
    .re-track-changes {
        padding: 5px 10px;
        font-size: 18px;
        box-shadow: 0 0 0 #e0e0e0, 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24) !important;
        background: #FFFFFF;
        color: #787878;
        .added {
            background: #b0ffb3;
            text-decoration: none;
            color: #000;
        }
        .deleted {
            background: #ffc7ca;
            text-decoration: line-through;
            color: #000;
        }
        &::selection {
            background-color: #FFFF00;
        }
        &.no-select {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        &.head {
            min-height: 65px;
            box-shadow: none !important;
            margin-bottom: 15px;
        }
    }
    .selected {
        display: inline-block;
        background-color: #FFFF00;
        padding: 0 5px;
        &.start-end {
            border-right: 1px solid red;
            border-left: 1px solid red;
        }
    }
}