
.tab.review {
    .track-changes {
        .segment-diff-container::selection, span::selection, br::selection {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .segment-diff-container {
            width: 100%;
            line-height: 27px;
            margin: 36px auto 17px auto;
            min-height: 70px;
            text-align: left;
            height: 96% !important;
            padding: 5px;
            font-size: 18px;
            cursor: default !important;
            background: #efefef;
            border-radius: 2px;
            border: 1px solid #727272;
            box-shadow: 0 1px 2px #DFDFDF;
            -webkit-box-shadow: 0 1px 2px #DFDFDF;
            word-wrap: break-word;
            word-break: normal;
        }
    }
    .error-list {
        float: left;
        padding: 10px;
        .error-list-item {
            padding: 5px;
            cursor: pointer;
            border: 1px solid grey;
        }
    }

}

#review-side-panel.review-extended-panel {
    .review-issues-overview-panel {
        .segment-diff-container {


            .added {
                background: #b0ffb3;
                text-decoration: none;
            }
            .deleted {
                background: #ffc7ca;
                text-decoration: line-through;
            }
            &::selection {
                background-color: #FFFF00;
            }
            &.locked {

            }
        }

        .review-version-wrapper {
            .review-version-header {

            }
            .collapsable {
                .muted {
                }
                .review-issues-container {

                }
            }
        }
    }
}
