@import 'commons/divider';
@import 'commons/shadows';

h1,
h2,
h3,
h4,
h5,
a,
input {
  font-family: Calibri, Arial, Helvetica, sans-serif !important;
}

.review-balloon-container {
  padding-right: 15px;
  position: absolute;
  top: 80px;
  width: 100%;
  .re-wrapper {
    height: 100%;
    position: relative;
    .re-warning-not-added-issue {
      p {
        background: $notification-error;
        color: #fff;
        padding: 5px 10px;
        a {
          color: #fff;
          font-weight: bolder;
          cursor: pointer;
          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }
    .re-warning-selected-text-issue {
      p {
        background: #ffeb3b;
        color: #000;
        padding: 5px 10px;
      }
    }
    .re-issues-box {
      .re-issues-box-title {
      }
      .re-list {
        overflow-y: auto;
        max-height: 250px;

        &.no-scroll {
          overflow-y: hidden;
        }
        .re-item-head {
          border-bottom: 1px solid #f2f4f7;
          padding-top: 10px;
          margin-right: 1px;
          font-size: 16px;
          font-weight: bold;
          padding-bottom: 3px;
        }
        &.issues {
          .re-item-head {
            margin-top: 3px;
            padding-bottom: 5px;
          }
        }
        .re-item {
          &:hover,
          &.active {
            background: #f2f4f7 !important;
          }
          .re-item-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding: 5px 5px 5px 7px;
          }
          .re-issue {
            .issue-head {
              max-width: 85%;
              min-width: 30px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              display: flex;
              .re-category-issue-head {
                overflow: hidden;
                text-overflow: ellipsis;
                margin-right: 3px;
              }
            }
            .issue-activity-icon {
              .icon-buttons {
                display: flex;
              }
            }
          }
          .re-error {
            padding: 0 10px;
            height: 100%;
            min-height: 45px;
            min-width: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .error-name {
            }
          }
          .comments-view {
            .re-add-comment {
              padding: 7px 5px;
              .re-comment-input {
                border-radius: 20px !important;
              }
            }
            .re-comment-list {
              .re-comment {
                background: #fff;
                padding: 5px 10px;
                margin-bottom: 0;
                .re-revisor {
                  color: $approvedGreen;
                }
                .re-revisor2 {
                  color: $approved2Green;
                }
                .re-translator {
                  color: $translatedBlue;
                }
                .re-comment-date {
                  color: lightslategray;
                }
                .re-selected-text {
                  color: #000;
                }
              }
              .re-highlighted {
                padding: 10px;
                border-bottom: 1px solid #797979;
              }

              span.re-selected-text {
                margin-right: 5px;
              }
            }
          }
          .re-severities-buttons {
            display: none;
          }
          &.severity-buttons:hover,
          &.active {
            .re-severities-buttons {
              display: flex;
              button {
                padding: 7px 10px;
                background-color: #f2f4f7;
                @media only screen and (max-width: 1450px) {
                  padding: 7px 7px;
                }
                @media only screen and (max-width: 1260px) {
                  padding: 7px 5px;
                }
                @media only screen and (max-width: 1140px) {
                  padding: 7px 3px;
                }

                &:hover,
                &.active {
                  background-color: #cacbcd;
                }
              }
            }
            .error-name {
              padding-right: 10px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            @media only screen and (max-width: 1260px) {
              .error-name {
                max-width: 55% !important;
              }
            }
            @media only screen and (max-width: 1024px) {
              .error-name {
                max-width: 53% !important;
              }
            }
          }
        }
      }
      &.re-issues-box-empty {
        display: none;
      }
    }
    .re-item.issue-comments-open {
      margin: 20px 0 20px;
      transition: 0.3s ease;
      background: #f2f4f7;
      &:nth-child(2) {
        margin-top: 5px !important;
      }
    }
    .re-created {
      background: $grey3;
      padding: 10px 10px 10px;
      margin-bottom: 0;
      .issues {
        .re-item-box {
          background: #ffffff;
        }
      }
    }
    .re-to-create {
      background: #ffffff;
      .errors {
        max-height: 450px;
        .re-category-item {
        }
      }
    }
  }
}
article {
  &.comment-opened-0 {
    margin-top: 270px;
  }
  &.comment-opened-1 {
    margin-top: 180px;
  }
  &.comment-opened-2 {
    margin-top: 120px;
  }
  &.comment-opened-empty-0 {
    margin-top: 110px;
  }
}
//article:first-child {
//    section {
//        &:nth-child(-n+3) {
//            .segment-side-container {
//                position: absolute;
//                text-align: left;
//                width: 29%;
//                left: 106%;
//                display: flex;
//                flex-direction: column;
//                .mbc-comment-balloon-outer {
//                    position: relative;
//                    bottom: -11px !important;
//                    margin-bottom: -30px;
//                    .mbc-open-view.mbc-re-messages {
//                        top: 1px;
//                        border-top: 12px solid #ffffff;
//                        border-left: 14px solid transparent;
//                        border-bottom: unset;
//                    }
//                }
//                .review-balloon-container {
//                    position: relative;
//                    margin-top: 25px;
//                }
//            }
//        }
//    }
//}

.re-abb-issue {
  background: #e5e9f1;
  padding: 0 4px;
  margin-right: 5px;
  color: black;
  width: fit-content;
  height: fit-content;
  min-width: 25px;
  text-align: center;
}

.re-open-view.re-issues {
  top: 0px;
  border-top: 12px solid #fff;
  border-left: 14px solid transparent;
  filter: drop-shadow(-1px 0px 1px rgba(0, 0, 0, 0.2));
  margin-left: -14px;
  position: absolute;
  &.error {
    border-top: 12px solid $notification-error;
  }
  &.warning {
    border-top: 12px solid #ffeb3b;
  }
}

.re-wrapper.thereAreIssues .re-open-view.re-issues {
  top: -1px;
  border-top: 12px solid $grey3;
}

section {
  &.editAreaLocked.opened {
    .outersource .copy {
      display: none;
    }
    .segment-text-area-container {
      position: relative !important;
      width: 100% !important;
      float: right !important;
      .textarea-container {
        padding: 0 5px;
        font-size: 18px;
        margin: 3px 0 2px;
      }
    }
    .buttons {
      .left {
        float: left;
      }

      .right {
        float: right;
      }
    }
  }
  &.editAreaLocked .errorTaggingArea {
    line-height: 27px;
    padding: 4px 0 0 0;
  }
  .errorTaggingArea,
  .editableTarget,
  .trackChanges {
    font-family: 'calibri', Arial, Helvetica, sans-serif;
    padding: 3px;
    line-height: 27px;
    padding: 4px 0 0 0;
  }

  .errorTaggingArea {
    .highlight {
      background-color: #7eb30c;
    }
  }

  .errorTaggingArea::selection {
    background-color: #ffeb3b;
  }

  .toolbar {
    .revise-lock-editArea {
      float: left;
      font-size: 60%;
      min-width: 20px;
      cursor: pointer;
      border-radius: 3px;
      //padding: 2px;
      border: 1px solid #c6c6c6;
      margin-right: 10px;
      color: $grey1 !important;

      background: #fff url(../../img/highlighter_icon.png) center center
        no-repeat;
      background-color: white;
      width: 20px;
      height: 20px;
      background-size: cover;
      opacity: 0.7;
    }
    .revise-lock-editArea.active {
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      background-color: #eee;
      //background-image: -webkit-linear-gradient(top, #eee, #e0e0e0);
      margin-top: 18px;
    }
    .revise-qr-link {
      float: left;
      min-width: 20px;
      cursor: pointer;
      border-radius: 3px;
      //padding: 2px;
      border: 1px solid #c6c6c6;
      margin-right: 10px;
      color: #333 !important;
      font-size: 16px;
      line-height: 20px;
      font-weight: bold;
      background: #ffffff;
      width: 20px;
      height: 20px;
      opacity: 0.7;
      white-space: nowrap;
    }
    .revise-qr-link.hover {
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
      color: #222;
      //background-image: -webkit-linear-gradient(top, #eee, #e0e0e0);
      margin-top: 18px;
    }
    //.revise-lock-editArea:before {
    //    font-size: 19px;
    //    display: block;
    //}
  }

  .segment-side-buttons .revise-button {
    text-decoration: none !important;
    font-size: 28px;
    color: $grey1;
    font-weight: bold;
  }

  .translation-issues-button {
    cursor: pointer;
    padding: 5px 7px 5px;
    width: 50px;
    position: absolute;
    top: 50px;
  }

  .translation-issues-button .revise-button {
    visibility: hidden;
    display: block;
    &.has-object {
      visibility: visible;
    }
  }

  &:hover .translation-issues-button .revise-button,
  .translation-issues-button:hover .revise-button,
  .segment-side-buttons:hover .translation-issues-button .revise-button {
    visibility: visible;
  }

  .revise-button-counter {
    left: 35px;
    position: absolute;
    top: 2px;
    background: $redDefault;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 14px;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 0 7px;
    text-align: center;
    width: 8px;
    height: 15px;
    line-height: 1.5;
  }

  .revise-button-2 {
    background: $approved2Green;
  }
}

.undo-issue-deleted {
  cursor: pointer;
}
//*******************************************************/

//Download Button
.downloadtr-button.approved-2ndpass {
  background: $approved2Green;
  color: #fff !important;
}
