
.tab.review {
    .track-changes {
        .segment-diff-container::selection, span::selection, br::selection {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        .segment-diff-container {
            width: 100%;
            line-height: 27px;
            margin: 36px auto 17px auto;
            min-height: 70px;
            text-align: left;
            height: 96% !important;
            padding: 5px;
            font-size: 18px;
            cursor: default !important;
            background: #efefef;
            border-radius: 2px;
            border: 1px solid #727272;
            box-shadow: 0 1px 2px #DFDFDF;
            -webkit-box-shadow: 0 1px 2px #DFDFDF;
            word-wrap: break-word;
            word-break: normal;
            &.no-select {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            .added {
                background: #b0ffb3;
                text-decoration: none;
            }
            .deleted {
                background: #ffc7ca;
                text-decoration: line-through;
            }
        }
    }
    .error-list {
        float: left;
        padding: 10px;
        .error-list-item {
            padding: 5px;
            cursor: pointer;
            border: 1px solid grey;
        }
    }

}

#review-side-panel.review-extended-panel {
    h4 {
        margin: 0 0 0 15px;
    }
    .review-issues-overview-panel {
        .segment-diff-container {
            padding: 10px 15px;
            border-radius: 0;
            .added {
                background: #b0ffb3;
                text-decoration: none;
            }
            .deleted {
                background: #ffc7ca;
                text-decoration: line-through;
            }
            &::selection {
                background-color: #FFFF00;
            }
            &.no-select {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
        }

        .review-version-wrapper {
            &:nth-child(2) {
                margin-top: 0;
            }
            .review-version-header {

            }
            .collapsable {
                .muted {
                }
                .review-issues-container {
                    .review-issue-detail h4 {
                        margin-left: 0 !important;
                    }
                }
                .review-issue-selection-panel {
                    padding: 0 0 40px 0;
                    h4 {
                        padding-left: 0;
                    }
                }
            }
        }
    }
}
