.noselect {
    user-select: none;
}

.segment-footer-panel {
    h3 {
        margin: 20px 0 0 1px;
        padding-bottom: 4px;
        text-align: left;
    }

}

.translation-issues-area {
    max-height: 200px;
    overflow-y: auto;
    text-align: left;
    padding: 10px 0;
    margin: 0 0 10px;

    .issue-container {
        border-bottom: 1px solid #d4d4d1;
        padding: 8px 4px;

    }

    .issue-container:hover {
        background-color: #eee;
    }

    .issue-comment-container {
        padding: 4px 0;
    }
}

.trackChanges {
    .deleted {
        background: #ffc7ca;
        text-decoration: line-through;
    }

    .added  {
        background: #b0ffb3;
        text-decoration: none;
    }
}

section .muted-text-box {
    padding: 4px;
    width: 100%;
    background: #efefef;
    border-bottom: 1px solid #ccc;
    outline: 0;
    text-align: left;
    font-size: 18px;
    color: #000;
    border: 1px solid #727272;
    box-shadow: 0 1px 2px #ccc;
    -webkit-box-shadow: 0 1px 2px #ccc;
    word-break: normal;
    word-break: normal !important;
}

section .version-picker-container {
    text-align: left;
    margin: 10px 0;
}


.error-selection-modal {

    #error-selection-form table {
        margin-bottom: 20px;

        tr.start td.first {
            font-weight: bold;
        }
    }

    .error-message-container textarea {
       width: 100%;
    }
    text-align: left;

    table {
        width: 100%;
    }
}
.segment-footer-left-panel {
    width: 45.6%;
    padding: 0 1%;
    margin: 0 0 2% 0;
    float: left;
    border: 3px solid #fff;
}

.segment-footer-right-panel {
    float: right;
    width: 45%;
    margin-right: 2.9%;
    margin-top: 2px;
}

section.reviewImproved.reverted {

    .tab {
        background-color: #eee;
    }

}

section.reviewImproved.opened {
    .buttons {
        width: 100%;

        .left {
            float: left;
        }

        .right {
            float: right;
        }
    }
}

section.reviewImproved.opened .outersource .copy {
    display: none;
}

section.reviewImproved.opened .textarea-container {
    width: 100%;
    padding: 0 4px;
}

section.reviewImproved .errorTaggingArea {
    padding: 3px;
    line-height: 27px;
    padding: 4px 0 0 0 ;
}

section.reviewImproved.opened {
    .errorTaggingArea, .editableTarget, .trackChanges {
        font-family: "calibri, Arial, Helvetica, sans-serif";
        padding: 3px;
        line-height: 27px;
        padding: 4px 0 0 0 ;
    }

    .errorTaggingArea {
        .highlight {
            background-color: #7EB30C;
        }
    }

    .errorTaggingArea::selection {
        background-color: #FFFF00;
    }
}

section.reviewImproved.opened.reverted {
    .errorTaggingArea::selection {
        background-color: #FFFF00;
    }
}

section.opened {
    .issuesHighlightArea::selection {
        background-color: #FFFF00;
    }
}

section.reviewImproved .textarea-container .tab-content.errorTaggingArea {
    display: block;
}

section.reviewImproved .textarea-container {
    margin: 0 0 20px 0;
}

section.reviewImproved .textarea-container .tabs-menu {
    display:none;
}

section.reviewImproved .textarea-container {
    .tab-content {
        display: none ;
    }

}

section.reviewImproved.opened .textarea-container {

    .tabs-menu {
        display: inline ;
        font-size: 12px;
    }

    .tabs-menu a {
        float: left;
    }

    .tabs-menu {
        float: left;
        clear: both;
    }

    .tabs-menu li {
        float: left;
        margin-right: 10px;
        background-color: #efefef;
        border-bottom: 1px solid #d4d4d1;
        border-right: 1px solid #d4d4d1;
        border-left: 1px solid #d4d4d1;
    }

    .tabs-menu li.current {
        position: relative;
        background-color: #fff;
        border-top: 1px solid #fff;
        z-index: 5;
        margin-top: -1px;
    }

    .tabs-menu li a {
        padding: 2px;

        color: #555;
        text-decoration: none;
    }

    .tabs-menu .current a {
        color: #2e7da3;
    }

    .tab {
        border: 1px solid #d4d4d1;
        float: left;
        width: 100%;
        padding: 0 4px;
    }

}
