.noselect {
    user-select: none;
}

article.review-panel-opened {
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transition: width .2s ease;
    transition: width .2s ease;
    width: 71.5%;
}

section.reviewImproved.opened {
    .buttons {
        width: 100%;

        .left {
            float: left;
        }

        .right {
            float: right;
        }
    }
}

section.reviewImproved.opened .outersource .copy {
    display: none;
}

section.reviewImproved.opened .textarea-container {
    width: 100%;
    padding: 0 4px;
    font-size:18px;
}

body.sampling-enabled section.reviewImproved.opened .edit-distance {
    display: block;
}

section.reviewImproved .errorTaggingArea {
    padding: 3px;
    line-height: 27px;
    padding: 4px 0 0 0 ;
}

section.reviewImproved.opened {
    .errorTaggingArea, .editableTarget, .trackChanges {
        font-family: "calibri", Arial, Helvetica, sans-serif;
        padding: 3px;
        line-height: 27px;
        padding: 4px 0 0 0 ;
    }

    .errorTaggingArea {
        .highlight {
            background-color: #7EB30C;
        }
    }

    .errorTaggingArea::selection {
        background-color: #FFFF00;
    }
}

span.review-issue-label:hover {
    cursor: help;
}

.review-version-wrapper .muted-text-box::selection {
    background-color: #FFFF00;
}

section.reviewImproved.opened.reverted {
    .errorTaggingArea::selection {
        background-color: #FFFF00;
    }
}

section.opened {
    .issuesHighlightArea::selection {
        background-color: #FFFF00;
    }
}

section.reviewImproved .textarea-container .tab-content.errorTaggingArea {
    display: block;
}

section.reviewImproved .textarea-container {
    margin: 0 0 20px 0;
}

section.reviewImproved .textarea-container .tabs-menu {
    display:none;
}

section.reviewImproved .textarea-container {
    .tab-content {
        display: none ;
    }

}

section.reviewImproved.opened .textarea-container {

    .tabs-menu {
        display: inline ;
        font-size: 12px;
    }

    .tabs-menu a {
        float: left;
    }

    .tabs-menu {
        float: left;
        clear: both;
    }

    .tabs-menu li {
        float: left;
        margin-right: 10px;
        background-color: #efefef;
        border-bottom: 1px solid #d4d4d1;
        border-right: 1px solid #d4d4d1;
        border-left: 1px solid #d4d4d1;
    }

    .tabs-menu li.current {
        position: relative;
        background-color: #fff;
        border-top: 1px solid #fff;
        z-index: 5;
        margin-top: -1px;
    }

    .tabs-menu li a {
        padding: 2px;

        color: #555;
        text-decoration: none;
    }

    .tabs-menu .current a {
        color: #2e7da3;
    }

    .tab {
        border: 1px solid #d4d4d1;
        float: left;
        width: 100%;
        padding: 0 4px;
    }

}

.fx {
    position:relative;
}

.fx:after {
      position: absolute;
    content: "";
    width: 9px;
    right: 0;
    top: 0;
    height: 29px;
    background: 
    repeating-linear-gradient( 135deg, transparent, transparent 11px, #fff 10px, #fff 18px ), 
    linear-gradient( to bottom, #7cc576, #7cc576  )
}

.rb {
    position:relative;
}

.rb:after {
      position: absolute;
    content: "";
    width: 9px;
    right: 0;
    top: 0;
    height: 29px;
    background: 
    repeating-linear-gradient( 135deg, transparent, transparent 11px, #fff 10px, #fff 18px ), 
    linear-gradient( to bottom, #dc2e34, #dc2e34  )
}

section.status-fixed .status {
    background: #7cc576 url(../img/stripes.png) repeat !important;
        background-size: 200% !important;
}

section.status-rebutted .status {
    background: #dc2e34 url(../img/stripes.png) repeat !important;
        background-size: 200% !important;
}

section.status-rebutted .status {
    background: #D300FF;
}

section {

    .buttons {
        .button {
            padding: 8px 18px;
            border-radius: 2px;
            border-radius: 2px;
            font-weight: bold;
            font-size: 18px;
            color: #fff;
            text-transform: uppercase;
            margin: 0 0 0 10px;
            text-decoration: none;
        }

        .button-default {
            border:1px solid #848689;
            background: #d0d1d1 ;
        }

        .status-rebutted {
            background: $rejected-color ;
            border:1px solid #848689;
        }

        .status-fixed {
            background: $approved-color;
            border:1px solid #848689;

            &[disabled] {
                background: $disabled-color;
                border: 1px solid $disabled-border-color;
                cursor: default;
            }
        }
    }

}

#review-side-panel {
    background-color: #fff;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    width: 22%;
    z-index: 999;
    min-width:215px;
    margin-top: 49px;
    text-align: left ;
    overflow: scroll; 

    .muted-text-box {
        padding: 4px;
        width: 96%;
        background: #efefef;
        border-bottom: 1px solid #ccc;
        outline: 0;
        font-size: 1em;
        color: #000;
        margin: 10px 0;
        border: 1px solid #727272;
        box-shadow: 0 1px 2px #ccc;
        -webkit-box-shadow: 0 1px 2px #ccc;
        word-break: normal;
    }

}

.review-issues-overview-panel {
    padding: 10px 10px 40px 10px;
}

.review-current-version-container {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.review-issue-comment-buttons-right {
   text-align: right ;
}

.review-issue-comment-reply textarea {
    width: 95%;
    margin-top: 10px;
}

.review-previous-versions-wrapper {
    .review-version-header {
    }
    position: fixed;
    margin-bottom: 40px;
    bottom: 0;
}

.review-side-panel-close {
  font-size: 13px;
  position: absolute;
  top: 10px;
  right: 10px;
  line-height: 16px;
  background-color: #333;
  color: #ffffff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: #666;
  }
}
/*
.review-version-wrapper .collapsed .collapsable {
    display: none; 
}
*/

.review-track-changes-toggle {
    position: absolute;
    right: 4%;
    border: 1px solid #727272;
    color: #333;
    font-size: 14px;
    background: #fff;
    padding: 2px 4px;
    text-decoration: none !important;
    margin-top: -11px;
    border-radius: 0px 0px 0px 4px;
    -webkit-box-shadow: inset 0px 1px 2px #666;
    box-shadow: inset 0px 1px 2px #666;
}

.review-version-wrapper .collapsable .muted-text-box {
    position: relative;
}

.review-issues-container {
    margin-top: 23px;
}

.segment-side-buttons .revise-button {
    text-decoration: none!important;
    font-size: 28px;
    color: #666;
    font-weight: bold;
}

.segment-side-buttons {
  color: #666!important;
}


.translation-issues-button {
    cursor: pointer;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
    width: 80px;
}

section:not(.opened) .translation-issues-button {
        padding: 0 0 5px;
}

.translation-issues-button .revise-button {
    opacity:0;
    -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}


section:hover .translation-issues-button .revise-button,
.translation-issues-button:hover .revise-button,
.segment-side-buttons:hover .translation-issues-button .revise-button,
.has-object

 {
    opacity:1!important;
    display:block;
}

.revise-button-counter {
    left: 44px;
    position: absolute;
    top: 10px;
    background: #dc2e34;
    color: #fff;
     border: 1px solid #fff;
    border-radius: 14px;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 0px 6px;
    text-align: center;
}

section:not(.opened) .revise-button-counter {
    top:2px;
}

.review-version-wrapper {
    border-top: 1px solid #ccc;
    margin-top: 20px;
}



.review-triangle {
    display:none;
    border-top: 10px solid #f7f7f7;
    border-left: 12px solid transparent;
    -webkit-filter: drop-shadow(-1px 0px 0px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(-1px 0px 0px rgba(0, 0, 0, 0.2));
        margin-left: 8px;
    margin-top: 10px;
}

.review-side-panel-opened section.opened .review-triangle  {
     display:block;
}

/* code to hide scroll of the body */
.review-side-panel-opened {
    overflow-y: hidden!important;
}

.review-side-panel-opened .mbc-comment-balloon-outer {
    display:none!important;
}

#review-side-panel h3 {
    margin: 10px 0 5px;
}

#review-side-panel h4 {
    margin: 10px 0 0;
}

.review-issue-detail h4 {
    float:left;
}

span.review-issue-label {
    font-size: 12px;
    color: #999;
    float: left;
}

.review-issue-severity {
    float: left;
    clear: both;
    margin-right: 5px;
    font-size: 12px;
    color: #999;
}

.review-issue-date {
    float: right;
    margin: 10px 0 5px;
    font-size: 12px;
}

.review-issue-detail {
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 1px solid #f4f4f4;
    padding: 0px 0 10px 0;
    margin-left: -10px;
    padding-left: 15px;
}

.segment-side-buttons .txt {
    margin: -10px auto 0;
}

.review-issue-detail:hover {
    box-shadow: inset 3px 0px 0px yellow;
}

.review-issue-comment, .review-issue-comment-container {
    width: 100%;
    float: left;
    padding: 4px 0 0;
    font-size: 15px;
}

a.cancel-project {
    float: left;
    text-decoration: none;
    font-size: 13px;
    color: #999;
    margin-top: -18px;
}

a.cancel-project:hover {
    color: #333;
}

.review-issue-comment-buttons {
    margin: 15px 0;
}

.review-issue-selection-panel {
    padding: 10px 10px 40px 10px;
}

.mc-resizable-textarea {
    width:96%;
}

table.review-issue-category-list tr td:first-child {
    font-size: 14px;
    width: 82%;
}

table.review-issue-category-list tr td {
    border-bottom: 1px solid #efefef;
}

table.review-issue-category-list tr:hover {
    background:#efefef;
}

table.review-issue-category-list {
    margin: 20px 0;
}

.review-issue-buttons-right {
    margin-top: 15px;
    margin-right: 10px;
    height: 50px;

    .mc-button {
        float: right;
    }
}

.review-side-inner1 {
    margin-bottom: 70px;
}

.review-issue-detail:last-child {
    border-bottom:0;
}
.review-track-changes-box {
    .added {
        background: #b0ffb3;
        text-decoration: none;
    }

    .deleted {
        background: #ffc7ca;
        text-decoration: line-through;
    }

}


.review-side-panel-opened a.cancel-project:before {
    margin-right: 5px;
}


/**
 * TODO: move this to mbc styles?
 */
/*.mbc-history-balloon-outer {
    right: 145px;
}*/
.error-selection-highlight {
    background: yellow;
}


body.tagModes:not(.tagmode-default-extended) .errorTaggingArea .locked.startTag,
body.tagModes:not(.tagmode-default-extended) .errorTaggingArea .locked.selfClosingTag,
body.tagModes:not(.tagmode-default-extended) .errorTaggingArea .locked.endTag
{
/*visibility: hidden;*/
text-indent: -10000px;
display: inline-block;
overflow: hidden;
position: relative;
margin: 0px 4px;
width: 7px;
height: 8px;
padding-top: 0px;
}


body.rtl-target.tagModes:not(.tagmode-default-extended) .errorTaggingArea .locked.startTag,
body.tagModes:not(.tagmode-default-extended) .errorTaggingArea .locked.endTag
{
 -ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
}
body.rtl-target.tagModes:not(.tagmode-default-extended) .errorTaggingArea .locked.endTag
{
 -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

body.tagModes:not(.tagmode-default-extended) .errorTaggingArea .locked.startTag:before,
body.tagModes:not(.tagmode-default-extended) .errorTaggingArea .locked.endTag:before
{
content: "\f04b";
visibility: visible;
position: absolute;
font-size: 7px;
transform: scaleY(1.4);
 -webkit-transform: scaleY(1.4);
 -ms-transform: scaleY(1.4);
left: 10000px;
}

body.tagModes:not(.tagmode-default-extended) .errorTaggingArea .locked.selfClosingTag:before {
content: "\e604";
visibility: visible;
position: absolute;
font-size: 10px;
top: -2px;
left: 9999px;
}

section:not(.editor).highlighted1 .targetarea {
    color: #00C1E6;
}

section:not(.editor).highlighted2 .targetarea {
    -moz-transition: color 3s;
    -webkit-transition: color 3s !important;
    -o-transition: color 3s;
    transition: color 3s !important;
    color: #4d4d4f;
}



