
section.muted .text {
    zoom: 0.8;
    width: 94%;
    margin: 0 3%!important;
}

section.muted .editarea:hover,
section.muted .editarea {
    border:none!important;
}

section.muted .status {
    opacity: 0.2;
}

section.muted .text,
section.muted .status,
section.muted .editarea {
    cursor: not-allowed;
}

.search-settings-panel h4 {
    text-transform: uppercase;
    font-size: 13px;
}

.data-sample-segment .sid,
.data-sample-segment .sid .txt,
.data-sample-segment p.split-shortcut
 {
    background: #BCBCBC !important;
}

/*
section.muted .translation-issues-button {
  display: none; 
}
*/

.search-settings-panel {
    background: #efefef;
    padding: 10px;
    position: absolute;
    width: 205px;
    border: 1px solid #666;
    top: 48px;
}

.advanced-sample-size {
    float:right;
}

.search-settings-panel .block {
    float:none;
}

.search-settings-panel .block label {
    text-transform: none!important;
    font-size: 13px;
    margin-left: 5px;
}


/* advanced filtering */

header .filter:before {
    content: "\f0b0";
}

header .filter {
    display: block !important;
    text-decoration: none;
    color: #eee;
    box-shadow:none;
    border:0;
    padding: 12px;
    font-size: 20px;
    text-align: center;
}

.advanced-filter-searchbox {
    display:none;
}

.advanced-filter-searchbox .search-select {
    margin-left:5px;
}

.filtering .advanced-filter-searchbox {
    display:block;
    height: 48px;
}

.filtering {padding-top:120px!important;}

body.filtering .advanced-filter-searchbox input[type=button], body.filtering .advanced-filter-searchbox input[type=submit] {
    width: 80px !important;
    background: #dcdedf!important;
}

body.filtering .searchbox form {
    width: 91%;
    padding: 11px 5% 0 4% !important;
}

body.filtering .searchbox .block {
    margin-top:5px;
}

.advanced-filter-searchbox {
    z-index:1!important;
}

body.filtering .searchbox .search-settings {
    text-decoration: underline;
    float: left;
    cursor:pointer;
}

body.cattool .filter, 
body.cattool .filter:hover {
    background:transparent!important;
    cursor:pointer;
}
body.cattool .filter:hover {
    color: #ccc;
}

.cattool header .filter {
    font-size: 25px;
    padding: 10px;
    padding: 0;
    padding-top: 5px;
    width: 45px;
    margin: 0;
}


body.filtering .mbc-history-balloon-outer {
    display:none;
}

#data-sample-checkbox {
    margin: 0 5px!important;
}

body.filtering #review-side-panel {
    top: 48px;
}

.search-settings-info {
    float: left;
    margin-right: 10px;
    color: #666;
}

.filter-segments-count {
    float: right!important;
    font-weight: bold;
    font-size: 14px;
}

.filtering section.muted .segment-side-buttons {
    zoom: 0.8;
}
