@import '_mixins';

.micSpeech {
    display: none;
    position: absolute;
    height: 20px;
    bottom: 26px;
    left: -6px;
    cursor: default;
    z-index: 9999999;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid transparent;
    z-index: 9999;

    &:hover {
        @include box-shadow(0 1px 1px rgba(0,0,0,.1));
        @include linear-gradient(#f8f8f8, top, #f8f8f8, #f1f1f1);
        border-color: #C6C6C6;

        svg g {
            fill: #000000;
        }
    }

    &.micSpeechActive,
    &:active {
        @include box-shadow(inset 0 1px 2px rgba(0,0,0,.1));
        @include linear-gradient(#eee, top, #eee, #e0e0e0);
        border-color:#ccc;

        svg g {
            fill: #000000;
        }
    }

    svg g {
        fill: #737373;
    }
}

.editor .editarea {
    padding-bottom: 40px;
}

.editor .editarea-separator {
    position: absolute;
    width: 45.9%;
    height: 1px;
    bottom: 112px;
    right: 25px;
    z-index: 998;
    border-top: 1px dotted #969696;
}

section.opened .micSpeech,
section.opened .micSpeechActive,
section.opened svg.micBgSpeechActive,
section.opened svg.micBgSpeechReceiving {
    display: block;
}

.bg-circle {
    position: absolute;
    bottom: 20px;
    left: -14px;
    width: 40px;
    height: 40px;
    z-index: 999;

    svg {
        display: none;
        transform: scale(0.6);

        @include animation-duration(2s);
        @include animation-name(speaking);
        @include animation-iteration-count(0);
        @include animation-play-state(running);

        &.micBgSpeechActive {
            display: none;
            @include animation-iteration-count(infinite);
        }

        &.micBgSpeechReceiving {
            display: none;
            circle {
                stroke: #FF5555;
                fill: #FF5555;
            }

            @include animation-duration(0.5s);
            @include animation-iteration-count(infinite);
        }
    }
}

@include keyframes(speaking) {
    0% {
        transform: scale(0.6);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(0.6);
    }
}